---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.5005/jp/books/12414_3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,3,30]],"date-time":"2022-03-30T03:38:02Z","timestamp":1648611482713},"reference-count":0,"publisher":"Jaypee
        Brothers Medical Publishers (P) Ltd.","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.5005\/jp\/books\/12414_3","type":"book-chapter","created":{"date-parts":[[2016,1,20]],"date-time":"2016-01-20T23:44:05Z","timestamp":1453333445000},"page":"27-27","source":"Crossref","is-referenced-by-count":0,"title":["Physical
        Examinations"],"prefix":"10.5005","author":[{"given":"Ashis","family":"Saha","sequence":"first","affiliation":[]}],"member":"2914","published-online":{"date-parts":[[2015]]},"container-title":["Clinical
        Methods and Interpretation in Medicine"],"original-title":[],"deposited":{"date-parts":[[2019,8,3]],"date-time":"2019-08-03T10:10:08Z","timestamp":1564827008000},"score":1,"resource":{"primary":{"URL":"https:\/\/www.jaypeedigital.com\/book\/9789351526285\/chapter\/ch2"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2015]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.5005\/jp\/books\/12414_3","relation":{},"published":{"date-parts":[[2015]]}}}'
  recorded_at: Sun, 19 Mar 2023 17:34:15 GMT
- request:
    method: get
    uri: https://api.crossref.org/members/2914
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1679185413856,"primary-name":"Jaypee
        Brothers Medical Publishing","counts":{"current-dois":5611,"backfile-dois":111409,"total-dois":117020},"breakdowns":{"dois-by-issued-year":[[2013,12227],[2014,10363],[2016,9960],[2015,9527],[2012,7708],[2018,7385],[2011,7232],[2017,7204],[2010,6640],[2007,5803],[2008,5682],[2009,5384],[2006,3928],[2022,3118],[2005,3012],[2004,2465],[2021,2147],[2003,1991],[2020,1935],[2019,1736],[2002,609],[2023,346],[2001,302],[2000,105],[1999,95],[1998,88],[1995,28]]},"prefixes":["10.5005"],"coverage":{"affiliations-current":0.0,"similarity-checking-current":0.9745143468187489,"descriptions-current":0.0,"ror-ids-current":0.0,"funders-backfile":4.487967758439623E-5,"licenses-backfile":0.002692780655063774,"funders-current":0.0,"affiliations-backfile":0.0,"resource-links-backfile":0.002692780655063774,"orcids-backfile":8.975935516879248E-6,"update-policies-current":0.0,"ror-ids-backfile":0.0,"orcids-current":0.0,"similarity-checking-backfile":0.1673383658411798,"references-backfile":0.134468489978368,"descriptions-backfile":0.0,"award-numbers-backfile":2.692780655063774E-5,"update-policies-backfile":0.001148919746160544,"licenses-current":0.0,"award-numbers-current":0.0,"abstracts-backfile":0.06748108321589819,"resource-links-current":0.0,"abstracts-current":0.01087150240598824,"references-current":0.9078595615754766},"prefix":[{"name":"Jaypee
        Brothers Medical Publishing","value":"10.5005"}],"id":2914,"tokens":["jaypee","brothers","medical","publishing"],"counts-type":{"all":{"journal-article":25640,"book":3230,"journal":67,"book-chapter":88150},"backfile":{"journal-article":20029,"book":3230,"book-chapter":88150},"current":{"journal-article":5611}},"coverage-type":{"all":{"journal-article":{"last-status-check-time":1679185413856,"affiliations":0.0,"abstracts":0.2955928237129485,"orcids":3.90015600624025E-5,"licenses":0.01170046801872075,"references":0.7829563182527302,"funders":1.950078003120125E-4,"similarity-checking":0.9403666146645866,"award-numbers":1.170046801872075E-4,"ror-ids":0.0,"update-policies":0.00499219968798752,"resource-links":0.01170046801872075,"descriptions":0.0},"book":{"last-status-check-time":1679185413856,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.0,"descriptions":0.0},"journal":{"last-status-check-time":1679185413856,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.1044776119402985,"funders":0.0,"similarity-checking":0.1044776119402985,"award-numbers":0.0,"ror-ids":0[...]
- request:
    method: get
    uri: https://doi.org/ra/10.5005
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "DOI": "10.5005",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 19 Mar 2023 17:34:16 GMT
recorded_with: VCR 6.1.0
