---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.5005/jp/books/12414_3
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,3,30]],"date-time":"2022-03-30T03:38:02Z","timestamp":1648611482713},"reference-count":0,"publisher":"Jaypee
        Brothers Medical Publishers (P) Ltd.","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.5005\/jp\/books\/12414_3","type":"book-chapter","created":{"date-parts":[[2016,1,20]],"date-time":"2016-01-20T23:44:05Z","timestamp":1453333445000},"page":"27-27","source":"Crossref","is-referenced-by-count":0,"title":["Physical
        Examinations"],"prefix":"10.5005","author":[{"given":"Ashis","family":"Saha","sequence":"first","affiliation":[]}],"member":"2914","published-online":{"date-parts":[[2015]]},"container-title":["Clinical
        Methods and Interpretation in Medicine"],"original-title":[],"deposited":{"date-parts":[[2019,8,3]],"date-time":"2019-08-03T10:10:08Z","timestamp":1564827008000},"score":1,"resource":{"primary":{"URL":"https:\/\/www.jaypeedigital.com\/book\/9789351526285\/chapter\/ch2"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2015]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.5005\/jp\/books\/12414_3","relation":{},"published":{"date-parts":[[2015]]}}}'
  recorded_at: Thu, 05 Oct 2023 19:47:31 GMT
- request:
    method: get
    uri: https://api.crossref.org/members/2914
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1696465684506,"primary-name":"Jaypee
        Brothers Medical Publishing","counts":{"current-dois":7702,"backfile-dois":111402,"total-dois":119104},"breakdowns":{"dois-by-issued-year":[[2013,12254],[2014,10364],[2016,10004],[2015,9550],[2012,7694],[2018,7310],[2011,7232],[2017,7145],[2010,6640],[2007,5803],[2008,5682],[2009,5384],[2006,3928],[2022,3519],[2005,3012],[2004,2465],[2021,2252],[2003,1991],[2020,1968],[2023,1931],[2019,1749],[2002,609],[2001,302],[2000,105],[1999,95],[1998,88],[1995,28]]},"prefixes":["10.5005","10.59556"],"coverage":{"affiliations-current":0.005842638275772527,"similarity-checking-current":0.9779278109581927,"descriptions-current":0.0,"ror-ids-current":0.0,"funders-backfile":4.488249762122763E-5,"licenses-backfile":0.005125581228344195,"funders-current":1.298364061282784E-4,"affiliations-backfile":0.002145383386294681,"resource-links-backfile":0.002980197842049514,"orcids-backfile":2.692949857273658E-5,"update-policies-current":0.01454167748636718,"ror-ids-backfile":0.0,"orcids-current":9.088548428979486E-4,"similarity-checking-backfile":0.168102906590546,"references-backfile":0.1322238379921366,"descriptions-backfile":0.0,"award-numbers-backfile":2.692949857273658E-5,"update-policies-backfile":0.002540349365361484,"licenses-current":0.00714100233705531,"award-numbers-current":1.298364061282784E-4,"abstracts-backfile":0.06941527082099065,"resource-links-current":0.0,"abstracts-current":0.03349779278109582,"references-current":0.8896390547909634},"prefix":[{"name":"Jaypee
        Brothers Medical Publishing","value":"10.5005"},{"name":"Journal of Association
        of Physicians of India","value":"10.59556"}],"id":2914,"tokens":["jaypee","brothers","medical","publishing"],"counts-type":{"all":{"journal-article":27694,"book":3230,"journal":85,"book-chapter":88150,"journal-issue":29,"edited-book":1},"backfile":{"journal-article":19999,"book":3230,"book-chapter":88150,"journal-issue":23},"current":{"journal-article":7695,"journal-issue":6,"edited-book":1}},"coverage-type":{"all":{"journal-article":{"last-status-check-time":1696465684506,"affiliations":0.01025492886545822,"abstracts":0.2885101466021521,"orcids":3.610890445583881E-4,"licenses":0.02260417418935509,"references":0.7793023759659132,"funders":2.166534267350329E-4,"similarity-checking":0.947136563876652,"award-numbers":1.444356178233552E-4,"ror-ids":0.0,"update-policies":0.01426301726005633,"resource-links":0.01198815627933848,"descriptions":0.0},"book":{"last-status-check-time":1696465684506,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.0,"descriptions":0.0},"journal":{"last-status-check-time":1696465684506,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.08235294117647059,"funders":0.0,"similarity-checking":0.09411764705882353,"award-numbers":0.0,"ror-ids"[...]
- request:
    method: get
    uri: https://doi.org/ra/10.5005
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "DOI": "10.5005",
            "RA": "Crossref"
          }
        ]
  recorded_at: Thu, 05 Oct 2023 19:47:31 GMT
recorded_with: VCR 6.2.0
