---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.5517
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "DOI": "10.5517",
            "RA": "DataCite"
          }
        ]
  recorded_at: Sun, 19 Mar 2023 17:34:23 GMT
- request:
    method: get
    uri: https://api.datacite.org/dois/10.5517/cc8h01s?include=media,client
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"26c11cc771ec7cae03164874d8fd81ce"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"10.5517/cc8h01s","type":"dois","attributes":{"doi":"10.5517/cc8h01s","prefix":"10.5517","suffix":"cc8h01s","identifiers":[{"identifier":"252744","identifierType":"CCDC"}],"alternateIdentifiers":[{"alternateIdentifierType":"CCDC","alternateIdentifier":"252744"}],"creators":[{"name":"Gao,
        Shan","nameType":"Personal","givenName":"Shan","familyName":"Gao","affiliation":[],"nameIdentifiers":[]},{"name":"Lu,
        Zhen-Zhong","nameType":"Personal","givenName":"Zhen-Zhong","familyName":"Lu","affiliation":[],"nameIdentifiers":[]},{"name":"Huo,
        Li-Hua","nameType":"Personal","givenName":"Li-Hua","familyName":"Huo","affiliation":[],"nameIdentifiers":[]},{"name":"Zhang,
        Xian-Fa","nameType":"Personal","givenName":"Xian-Fa","familyName":"Zhang","affiliation":[],"nameIdentifiers":[]},{"name":"Zhao,
        Hui","nameType":"Personal","givenName":"Hui","familyName":"Zhao","affiliation":[],"nameIdentifiers":[]}],"titles":[{"title":"CCDC
        252744: Experimental Crystal Structure Determination"}],"publisher":"Cambridge
        Crystallographic Data Centre","container":{},"publicationYear":2004,"subjects":[{"subject":"Crystal
        Structure"},{"subject":"Experimental 3D Coordinates"},{"subject":"Crystal
        System"},{"subject":"Space Group"},{"subject":"Cell Parameters"},{"subject":"Crystallography"},{"subject":"(Diacetato-O,O'')-bis(3-hydroxypyridine)-copper(ii)"}],"contributors":[],"dates":[{"date":"2004","dateType":"Issued"}],"language":"en","types":{"ris":"DATA","bibtex":"misc","citeproc":"dataset","schemaOrg":"Dataset","resourceTypeGeneral":"Dataset"},"relatedIdentifiers":[{"relationType":"IsSupplementTo","relatedIdentifier":"10.1107/s1600536804021154","relatedIdentifierType":"DOI"}],"relatedItems":[],"sizes":[],"formats":["CIF"],"version":null,"rightsList":[],"descriptions":[{"description":"Related
        Article: Shan Gao, Zhen-Zhong Lu, Li-Hua Huo, Xian-Fa Zhang, Hui Zhao|2004|Acta
        Crystallogr.,Sect.E:Struct.Rep.Online|60|m1353|doi:10.1107/S1600536804021154","descriptionType":"Other"},{"description":"An
        entry from the Cambridge Structural Database, the world’s repository for small
        molecule crystal structures. The entry contains experimental data from a crystal
        diffraction study. The deposited dataset for this entry is freely available
        from the CCDC and typically includes 3D coordinates, cell parameters, space
        group, experimental conditions and quality measures.","descriptionType":"Abstract"}],"geoLocations":[],"fundingReferences":[],"xml":"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxyZXNvdXJjZSB4bWxuczp4c2Q9Imh0dHA6Ly93d3cudzMub3JnLzIwMDEvWE1MU2NoZW1hIiB4bWxuczp4c2k9Imh0dHA6Ly93d3cudzMub3JnLzIwMDEvWE1MU2NoZW1hLWluc3RhbmNlIiB4c2k6c2NoZW1hTG9jYXRpb249Imh0dHA6Ly9kYXRhY2l0ZS5vcmcvc2NoZW1hL2tlcm5lbC0zIGh0dHA6Ly9zY2hlbWEuZGF0YWNpdGUub3JnL21ldGEva2VybmVsLTMvbWV0YWRhdGEueHNkIiB4bWxucz0iaHR0cDovL2RhdGFjaXRlLm9yZy9zY2hlbWEva2VybmVsLTMiPg0KICA8aWRlbnRpZmllciBpZGVudGlmaWVyVHlwZT0iRE9JIj4xMC41NTE3L2NjOGgwMXM8L2lkZW50aWZpZXI+DQogIDx[...]
