---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.3390/publications6020015
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,3,29]],"date-time":"2022-03-29T20:40:55Z","timestamp":1648586455265},"reference-count":23,"publisher":"MDPI
        AG","issue":"2","license":[{"start":{"date-parts":[[2018,4,9]],"date-time":"2018-04-09T00:00:00Z","timestamp":1523232000000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Publications"],"abstract":"<jats:p>Gigantic
        particle accelerators, incredibly complex detectors, an antimatter factory
        and the discovery of the Higgs boson\u2014this is part of what makes CERN
        famous. Only a few know that CERN also hosts the world largest Open Access
        initiative: SCOAP3. The Sponsoring Consortium for Open Access Publishing in
        Particle Physics started operation in 2014 and has since supported the publication
        of 20,000 Open Access articles in the field of particle physics, at no direct
        cost, nor burden, for individual authors worldwide. SCOAP3 is made possible
        by a 3000-institute strong partnership, where libraries re-direct funds previously
        used for subscriptions to \u2018flip\u2019 articles to \u2018Gold Open Access\u2019.
        With its recent expansion, the initiative now covers about 90% of the journal
        literature of the field. This article describes the economic principles of
        SCOAP3, the collaborative approach of the partnership, and finally summarizes
        financial results after four years of successful operation.<\/jats:p>","DOI":"10.3390\/publications6020015","type":"journal-article","created":{"date-parts":[[2018,4,10]],"date-time":"2018-04-10T17:06:08Z","timestamp":1523379968000},"page":"15","source":"Crossref","is-referenced-by-count":2,"title":["Converting
        the Literature of a Scientific Field to Open Access through Global Collaboration:
        The Experience of SCOAP3 in Particle Physics"],"prefix":"10.3390","volume":"6","author":[{"ORCID":"http:\/\/orcid.org\/0000-0002-3836-8885","authenticated-orcid":false,"given":"Alexander","family":"Kohls","sequence":"first","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0003-0762-2235","authenticated-orcid":false,"given":"Salvatore","family":"Mele","sequence":"additional","affiliation":[]}],"member":"1968","published-online":{"date-parts":[[2018,4,9]]},"reference":[{"key":"ref1","unstructured":"CERN
        Convention for the Establishment of a European Organization for Nuclear Researchhttps:\/\/council.web.cern.ch\/en\/content\/convention-establishment-european-organization-nuclear-research"},{"key":"ref2","unstructured":"CERN
        Member Stateshttp:\/\/www.webcitation.org\/6xNGDH2oU"},{"key":"ref3","unstructured":"CERN
        Distribution of all CERN Users by Location of Institutes on 5 July 2017https:\/\/cds.cern.ch\/record\/2290407"},{"key":"ref4","doi-asserted-by":"publisher","DOI":"10.3233\/ISU-2008-0570"},{"key":"ref5","unstructured":"Communication
        Patterns in High-Energy Physicshttp:\/\/webzine.web.cern.ch\/webzine\/6\/papers\/1\/index.html"},{"key":"ref6","doi-asserted-by":"publisher","DOI":"10.1038\/nphys3862"},{"key":"ref7","unstructured":"Information
        Management: A Proposalhttps:\/\/cds.cern.ch\/record\/369245"},{"key":"ref8","series-title":"Open
        Access","first-page":"1","article-title":"What is Open Access","author":"Suber","year":"2012"},{"key":"ref9","doi-asserted-by":"publisher","DOI":"10.1007\/s11192-009-0111-1"},{"key":"ref10","unstructured":"Towards
        Open Access Publishing in High Energy Physics: Report of the SCOAP3 Working
        Partyhttps:\/\/scoap3.org\/files\/Working_Party_Report.pdf"},{"key":"ref11","unstructured":"SCOAP3
        Invitation to Tender\u2014Technical Specificationhttps:\/\/scoap3.org\/files\/Technical_Specification.pdf"},{"key":"ref12","unstructured":"RCUK
        Policy on Open Accesshttp:\/\/www.rcuk.ac.uk\/documents\/documents\/rcukopenaccesspolicy-pdf\/"},{"key":"ref13","unstructured":"FWF
        Open Access Policyhttp:\/\/www.webcitation.org\/6xNFwtASf"},{"key":"ref14","unstructured":"Quantitative
        Study of the Geographical Distribution of the Authorship of High-Energy Physics
        Journalshttps:\/\/cds.cern.ch\/record\/1033099"},{"key":"ref15","unstructured":"SCOAP3
        Participating Countrieshttp:\/\/www.webcitation.org\/6xNFlBz9R"},{"key":"ref16","unstructured":"What
        is SCOAP3: Governancehttp:\/\/www.webcitation.org\/6xNFpARKE"},{"key":"ref17","doi-asserted-by":"publisher","DOI":"10.2314\/CERN\/C26P.W9DT"},{"key":"ref18","unstructured":"SCOAP3
        Phase 1 Journalshttp:\/\/www.webcitation.org\/6xNG2CUt1"},{"key":"ref19","doi-asserted-by":"publisher","DOI":"10.4119\/UNIBI\/UB.2014.18"},{"key":"ref20","unstructured":"Article
        Processing Charges (APCs) and Subscriptions\u2014Monitoring Open Access Costshttps:\/\/www.jisc.ac.uk\/sites\/default\/files\/apc-and-subscriptions-report.pdf"},{"key":"ref21","unstructured":"SCOAP3
        Forum 2017 Presentationhttps:\/\/scoap3.org\/wp-content\/uploads\/2017\/12\/Webinar-Dec-2017.pdf"},{"key":"ref22","unstructured":"InspireHEPhttp:\/\/inspirehep.net\/?ln=en"},{"key":"ref23","unstructured":"SCOAP3
        News: APS Joins SCOAP3http:\/\/www.webcitation.org\/6xNFQb5iD"}],"container-title":["Publications"],"original-title":[],"language":"en","link":[{"URL":"https:\/\/www.mdpi.com\/2304-6775\/6\/2\/15\/pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2021,7,22]],"date-time":"2021-07-22T10:05:05Z","timestamp":1626948305000},"score":1,"resource":{"primary":{"URL":"https:\/\/www.mdpi.com\/2304-6775\/6\/2\/15"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2018,4,9]]},"references-count":23,"journal-issue":{"issue":"2","published-online":{"date-parts":[[2018,6]]}},"alternative-id":["publications6020015"],"URL":"http:\/\/dx.doi.org\/10.3390\/publications6020015","relation":{},"ISSN":["2304-6775"],"issn-type":[{"value":"2304-6775","type":"electronic"}],"subject":["Computer
        Science Applications","Media Technology","Communication","Business and International
        Management","Library and Information Sciences"],"published":{"date-parts":[[2018,4,9]]}}}'
  recorded_at: Sun, 18 Jun 2023 15:24:30 GMT
- request:
    method: get
    uri: https://api.crossref.org/members/1968
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1687044506357,"primary-name":"MDPI
        AG","counts":{"current-dois":720612,"backfile-dois":505832,"total-dois":1226444},"breakdowns":{"dois-by-issued-year":[[2022,311452],[2021,251411],[2020,175741],[2023,157749],[2019,115030],[2018,74980],[2017,41713],[2016,25867],[2015,18979],[2014,13528],[2013,10353],[2012,8248],[2011,5893],[2010,5297],[2009,3144],[2008,1977],[2007,1121],[2006,712],[2000,610],[2005,577],[2004,426],[2003,403],[2001,339],[2002,324],[1999,212],[1997,167],[1998,144],[1996,47]]},"prefixes":["10.1989","10.32545","10.20944","10.3390","10.35995"],"coverage":{"affiliations-current":0.184258657918547,"similarity-checking-current":0.9636128735019678,"descriptions-current":0.0,"ror-ids-current":0.0,"funders-backfile":0.277060367869174,"licenses-backfile":0.9749462272058707,"funders-current":0.5572499486547546,"affiliations-backfile":0.001352227617074444,"resource-links-backfile":0.007638899871894226,"orcids-backfile":0.5618347593667463,"update-policies-current":0.001690229971191154,"ror-ids-backfile":0.0,"orcids-current":0.8646997274538863,"similarity-checking-backfile":0.9381711714561356,"references-backfile":0.8994349902734505,"descriptions-backfile":0.0,"award-numbers-backfile":0.2742036881810562,"update-policies-backfile":0.001860301443957678,"licenses-current":0.9924924924924925,"award-numbers-current":0.5351964718877843,"abstracts-backfile":0.6738185800819244,"resource-links-current":6.661004812575977E-5,"abstracts-current":0.9848337246673661,"references-current":0.9561858531359456},"prefix":[{"name":"MDPI","value":"10.1989"},{"name":"MDPI
        AG - Encyclopedia","value":"10.32545"},{"name":"MDPI AG","value":"10.20944"},{"name":"MDPI
        AG","value":"10.3390"},{"name":"Journal and Article Management System","value":"10.35995"}],"id":1968,"tokens":["mdpi","ag"],"counts-type":{"all":{"monograph":4,"journal-article":1159184,"book":6299,"proceedings-article":19625,"journal":103,"component":100,"book-chapter":248,"posted-content":41046,"journal-issue":40,"dataset":1,"edited-book":1},"backfile":{"journal-article":470472,"book":2569,"proceedings-article":12602,"book-chapter":138,"posted-content":20011,"journal-issue":40},"current":{"monograph":4,"journal-article":688712,"book":3730,"proceedings-article":7023,"book-chapter":107,"posted-content":21035,"edited-book":1}},"coverage-type":{"all":{"monograph":{"last-status-check-time":1687044506357,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.0,"descriptions":0.0},"journal-article":{"last-status-check-time":1687044506357,"affiliations":0.1142441579593921,"abstracts":0.8710860398349184,"orcids":0.7505840315256249,"licenses":0.9972083810680618,"references":0.9830380681582906,"funders":0.4671380902427915,"similarity-checking":0.9976440323537937,"award-numbers":0.4521905064252095,"ror-ids":0.0,"update-policies":0.001859066377727781,"resource-links":0.003374787781749921,"descriptions":0.0},"book":{"last-status-check-time":1687044506357,"affiliations":0.0,[...]
- request:
    method: get
    uri: https://doi.org/ra/10.3390
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "DOI": "10.3390",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 18 Jun 2023 15:24:31 GMT
recorded_with: VCR 6.1.0
