---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.1186
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "DOI": "10.1186",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 18 Jun 2023 15:24:25 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.1186/s13742-015-0103-4
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,4,1]],"date-time":"2023-04-01T10:15:13Z","timestamp":1680344113658},"reference-count":31,"publisher":"Oxford
        University Press (OUP)","issue":"1","license":[{"start":{"date-parts":[[2015,12,1]],"date-time":"2015-12-01T00:00:00Z","timestamp":1448928000000},"content-version":"unspecified","delay-in-days":0,"URL":"http:\/\/www.springer.com\/tdm"}],"content-domain":{"domain":["link.springer.com"],"crossmark-restriction":false},"short-container-title":["GigaSci"],"published-print":{"date-parts":[[2015,12]]},"DOI":"10.1186\/s13742-015-0103-4","type":"journal-article","created":{"date-parts":[[2015,12,24]],"date-time":"2015-12-24T04:26:40Z","timestamp":1450931200000},"update-policy":"http:\/\/dx.doi.org\/10.1007\/springer_crossmark_policy","source":"Crossref","is-referenced-by-count":21,"title":["Discovery,
        genotyping and characterization of structural variation and novel sequence
        at single nucleotide resolution from de novo genome assemblies on a population
        scale"],"prefix":"10.1093","volume":"4","author":[{"given":"Siyang","family":"Liu","sequence":"first","affiliation":[]},{"name":"The
        Genome Denmark Consortium","sequence":"first","affiliation":[]},{"given":"Shujia","family":"Huang","sequence":"additional","affiliation":[]},{"given":"Junhua","family":"Rao","sequence":"additional","affiliation":[]},{"given":"Weijian","family":"Ye","sequence":"additional","affiliation":[]},{"given":"Anders","family":"Krogh","sequence":"additional","affiliation":[]},{"given":"Jun","family":"Wang","sequence":"additional","affiliation":[]}],"member":"286","published-online":{"date-parts":[[2015,12,24]]},"reference":[{"key":"103_CR1","doi-asserted-by":"publisher","first-page":"53","DOI":"10.1038\/nature07517","volume":"456","author":"DR
        Bentley","year":"2008","unstructured":"Bentley DR, Balasubramanian S, Swerdlow
        HP, Smith GP, Milton J, Brown CG, et al. Accurate whole human genome sequencing
        using reversible terminator chemistry. Nature. 2008;456:53\u20139.","journal-title":"Nature"},{"key":"103_CR2","doi-asserted-by":"publisher","first-page":"491","DOI":"10.1038\/ng.806","volume":"43","author":"MA
        DePristo","year":"2011","unstructured":"DePristo MA, Banks E, Poplin R, Garimella
        KV, Maguire JR, Hartl C, et al. A framework for variation discovery and genotyping
        using next-generation DNA sequencing data. Nat Genet. 2011;43:491\u20138.","journal-title":"Nat
        Genet"},{"key":"103_CR3","doi-asserted-by":"publisher","first-page":"912","DOI":[...]
- request:
    method: get
    uri: https://api.crossref.org/members/286
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1687044209527,"primary-name":"Oxford
        University Press (OUP)","counts":{"current-dois":303881,"backfile-dois":4263920,"total-dois":4567801},"breakdowns":{"dois-by-issued-year":[[2011,259215],[2007,218889],[2018,152726],[2020,134015],[2017,130811],[2021,130604],[2022,122869],[2019,121560],[2016,119175],[2015,112102],[2013,108376],[2014,101293],[2012,98369],[2009,92088],[2003,89815],[2001,89251],[2010,80653],[2008,80478],[2004,78965],[2000,74148],[2006,72072],[2005,70450],[2002,69113],[1999,55308],[1997,51088],[1998,50550],[2023,50394],[1996,49536],[1995,49347],[1993,46950],[1994,44404],[1991,43015],[1992,41972],[1990,41168],[1988,39484],[1989,38280],[1987,35579],[1986,[...]
- request:
    method: get
    uri: https://doi.org/ra/10.1186
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "DOI": "10.1186",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 18 Jun 2023 15:24:27 GMT
recorded_with: VCR 6.1.0
