---
http_interactions:
- request:
    method: get
    uri: https://api.rogue-scholar.org/posts/1c578558-1324-4493-b8af-84c49eabc52f
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Fly-Request-Id:
      - 01HC0P3KB675RC42SF5RFDB4FJ-fra
    body:
      encoding: UTF-8
      string: '{"archive_url":null,"authors":[{"name":"Heinz Pampel","url":"https://orcid.org/0000-0003-3334-2771"}],"blog_name":"wisspub.net","blog_slug":"wisspub","doi":"https://doi.org/10.59350/kz04m-s8z58","id":"1c578558-1324-4493-b8af-84c49eabc52f","image":"https://wisspub.files.wordpress.com/2023/05/bildschirmc2adfoto-2023-05-23-um-11.05.39.png?w=723","indexed_at":1689006804,"language":"de","published_at":1684833413,"reference":[],"relationships":[],"summary":"Die
        EU-Wissenschaftsministerien haben sich auf ihrer heutigen Sitzung in Br\u00fcssel
        unter dem Titel \u201cCouncil conclusions on high-quality, transparent, open,
        trustworthy and equitable scholarly publishing\u201d (PDF der englischen Version,
        PDF der deutschen Version)\u00a0mit den aktuellen Herausforderungen des wissenschaftlichen
        Publikationswesens befasst.","tags":["Open Access","Open Access Transformation","Open
        Science"],"title":"EU-Mitgliedstaaten betonen die Rolle von wissenschaftsgeleiteten
        Open-Access-Modellen jenseits von APCs","updated_at":1684833413,"url":"https://wisspub.net/2023/05/23/eu-mitgliedstaaten-betonen-die-rolle-von-wissenschaftsgeleiteten-open-access-modellen-jenseits-von-apcs"}

        '
  recorded_at: Thu, 05 Oct 2023 19:47:48 GMT
recorded_with: VCR 6.2.0
