---
http_interactions:
- request:
    method: get
    uri: https://api.rogue-scholar.org/posts/a163e340-5b3c-4736-9ab0-8c54fdff6a3c
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Fly-Request-Id:
      - 01HC0P3QQ7Y0PH4N1N1QZMRXBN-fra
    body:
      encoding: UTF-8
      string: '{"archive_url":null,"authors":[{"name":"Mathias G\u00f6bel","url":null}],"blog_name":"lab.sub
        - Articles","blog_slug":"lab_sub","doi":"https://doi.org/10.59350/33es7-fqz31","id":"a163e340-5b3c-4736-9ab0-8c54fdff6a3c","image":"https://lab.sub.uni-goettingen.de/assets/images/Bibliothek_der_UNI_Goettingen-wikiCommons-Suhaknoke.webp","indexed_at":1689006804,"language":"en","published_at":1483228801,"reference":[],"relationships":[],"summary":"Welcome
        everyone!  This is the place to read about projects, resources and all the
        things we deal with at our work on digital collections, databases, APIs, tools
        and esoteric programming languages we prefer to write in. It is <em>not</em>
        meant for a single subject, but covers all topics we \ud83d\udc96. So I hope
        you don\u2019t mind if the next post is about one of my adorable cute rabbits.","tags":["Meta"],"title":"Welcome
        to the Lab","updated_at":1483228801,"url":"https://lab.sub.uni-goettingen.de/welcome.html"}

        '
  recorded_at: Thu, 05 Oct 2023 19:47:53 GMT
recorded_with: VCR 6.2.0
