---
http_interactions:
- request:
    method: get
    uri: https://api.rogue-scholar.org/posts/8a4de443-3347-4b82-b57d-e3c82b6485fc
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Fly-Request-Id:
      - 01HC0TA6473D3M0B99JVSFFFHX-fra
    body:
      encoding: UTF-8
      string: '{"archive_url":null,"authors":[{"name":"Martin Fenner","url":"https://orcid.org/0000-0003-1419-2405"}],"blog":{"api":true,"archive_prefix":null,"authors":null,"backlog":0,"canonical_url":null,"category":"computerAndInformationSciences","created_at":"2023-01-02","current_feed_url":"https://blog.front-matter.io/atom/","description":"The
        Front Matter Blog covers the intersection of science and technology since
        2007.","favicon":"https://blog.front-matter.io/favicon.png","feed_format":"application/atom+xml","feed_url":"https://blog.front-matter.io/atom-complete/","filter":null,"funding":null,"generator":"Ghost
        5.52","home_page_url":"https://blog.front-matter.io","id":"f0m0e38","issn":"2749-9952","language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","modified_at":"2023-10-04T10:36:32+00:00","plan":"Team","prefix":"10.53731","relative_url":null,"slug":"front_matter","status":"active","title":"Front
        Matter","use_api":true,"use_mastodon":true,"user_id":"8498eaf6-8c58-4b58-bc15-27eda292b1aa","version":"https://jsonfeed.org/version/1.1"},"blog_name":"Front
        Matter","blog_slug":"front_matter","doi":"https://doi.org/10.53731/r79v4e1-97aq74v-ag578","id":"8a4de443-3347-4b82-b57d-e3c82b6485fc","image":"https://blog.front-matter.io/content/images/2023/09/cat_and_dog-1.png","indexed_at":1694106996,"language":"en","published_at":1442534400,"reference":[{"doi":"https://doi.org/10.5281/ZENODO.30799","key":"ref1"}],"relationships":[{"type":"IsIdenticalTo","url":"https://doi.org/10.5438/bc11-cqw1"},{"type":"HasAward","url":"https://doi.org/10.3030/654039"}],"summary":"One
        of the first tasks for DataCite in the European Commission-funded THOR project,
        which started in June, was to contribute to a comparison of the ORCID and
        DataCite metadata standards.","tags":["Feature"],"title":"Differences between
        ORCID and DataCite Metadata","updated_at":1694074485,"url":"https://blog.front-matter.io/posts/differences-between-orcid-and-datacite-metadata"}

        '
  recorded_at: Thu, 05 Oct 2023 21:01:18 GMT
- request:
    method: get
    uri: https://doi.org/10.5281/ZENODO.30799
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://data.crosscite.org/10.5281%2FZENODO.30799
    body:
      encoding: UTF-8
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="https://data.crosscite.org/10.5281%2FZENODO.30799">https://data.crosscite.org/10.5281%2FZENODO.30799</a></body></html>
  recorded_at: Thu, 05 Oct 2023 21:01:19 GMT
- request:
    method: get
    uri: https://data.crosscite.org/10.5281%2FZENODO.30799
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"808492baef8e3e4af0fa6812bc25a08c"
    body:
      encoding: UTF-8
      string: |-
        {
          "type": "report",
          "id": "https://doi.org/10.5281/zenodo.30799",
          "categories": [
            "persistent identifier",
            "pid",
            "orcid",
            "doi",
            "datacite"
          ],
          "author": [
            {
              "family": "Fenner",
              "given": "Martin"
            },
            {
              "family": "Demeranville",
              "given": "Tom"
            },
            {
              "family": "Kotarski",
              "given": "Rachael"
            },
            {
              "family": "Vision",
              "given": "Todd"
            },
            {
              "family": "Rueda",
              "given": "Laura"
            },
            {
              "family": "Dasler",
              "given": "Robin"
            },
            {
              "family": "Haak",
              "given": "Laure"
            },
            {
              "family": "Cruse",
              "given": "Patricia"
            }
          ],
          "issued": {
            "date-parts": [
              [
                2015,
                9,
                11
              ]
            ]
          },
          "abstract": "This document identifies gaps in existing PID infrastructures, with a focus on ORCID and DataCite Metadata and links between contributors, organizations and artefacts. What prevents us from establishing interoperability and overcoming barriers between PID platforms for contributors, artefacts and organisations, and research solutions for federated attribution, claiming, publishing and direct data access? It goes on to propose strategies to overcome these gaps.",
          "DOI": "10.5281/ZENODO.30799",
          "publisher": "Zenodo",
          "title": "D2.1: Artefact, Contributor, And Organisation Relationship Data Schema",
          "URL": "https://zenodo.org/record/30799",
          "copyright": "Creative Commons Attribution 4.0"
        }
  recorded_at: Thu, 05 Oct 2023 21:01:19 GMT
- request:
    method: head
    uri: https://doi.org/10.5438/bc11-cqw1
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://datacite.org/blog/differences-between-orcid-and-datacite-metadata/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 05 Oct 2023 21:01:19 GMT
recorded_with: VCR 6.2.0
