---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/5d14ffac-b9ac-4e20-bdc0-d9248df4e80d
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"xxryc79e8o1f0"'
      X-Matched-Path:
      - "/api/posts/[[...params]]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::w29f8-1689055406778-6dd79d460a8c
    body:
      encoding: UTF-8
      string: '{"id":"5d14ffac-b9ac-4e20-bdc0-d9248df4e80d","doi":"https://doi.org/10.54900/n6dnt-xpq48","url":"https://upstream.force11.org/attempts-at-automating-journal-subject-classification","title":"Attempts
        at automating journal subject classification","summary":"Traditionally, journal
        subject classification was done manually at varying levels of granularity,
        depending on the use case for the institution. Subject classification is done
        to help collate resources by subject enabling the user to discover publications
        based on different levels of subject specificity. It can also be used to help
        determine where to publish and the direction a particular author may be pursuing
        in their research if one wants to track where their work is being published....","published_at":1684834305,"updated_at":1687862553,"indexed_at":1688982864,"authors":[{"url":"https://orcid.org/0000-0001-9165-2757","name":"Esha
        Datta"}],"image":"https://upstream.force11.org/content/images/2023/05/esha-subject-blog.jpg","tags":["Original
        Research"],"language":"en","reference":[],"blog_id":"pm0p222","blog_name":"Upstream","blog":{"id":"pm0p222","title":"Upstream","description":"The
        community blog for all things Open Research.","language":"en","favicon":"https://upstream.force11.org/favicon.png","feed_url":"https://upstream.force11.org/atom-complete/","home_page_url":"https://upstream.force11.org","user_id":"8498eaf6-8c58-4b58-bc15-27eda292b1aa","created_at":"2023-05-31T07:23:49+00:00","indexed_at":"2023-01-13","feed_format":"application/atom+xml","license":"https://creativecommons.org/licenses/by/4.0/legalcode","generator":"Ghost
        5.25","category":"Humanities","prefix":"10.54900","modified_at":"2023-07-04T21:15:51+00:00","version":"https://jsonfeed.org/version/1.1","backlog":false,"current_feed_url":"https://upstream.force11.org/atom/","expired":null}}'
  recorded_at: Tue, 11 Jul 2023 06:03:27 GMT
recorded_with: VCR 6.2.0
