---
http_interactions:
- request:
    method: get
    uri: https://api.rogue-scholar.org/posts/e58dc9c8-b870-4db2-8896-238b3246c551
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Fly-Request-Id:
      - 01HC0TA77BSXT261F1JN9901GD-fra
    body:
      encoding: UTF-8
      string: '{"archive_url":null,"authors":[{"name":"Martin Fenner","url":"https://orcid.org/0000-0003-1419-2405"}],"blog":{"api":true,"archive_prefix":null,"authors":null,"backlog":0,"canonical_url":null,"category":"computerAndInformationSciences","created_at":"2023-01-02","current_feed_url":"https://blog.front-matter.io/atom/","description":"The
        Front Matter Blog covers the intersection of science and technology since
        2007.","favicon":"https://blog.front-matter.io/favicon.png","feed_format":"application/atom+xml","feed_url":"https://blog.front-matter.io/atom-complete/","filter":null,"funding":null,"generator":"Ghost
        5.52","home_page_url":"https://blog.front-matter.io","id":"f0m0e38","issn":"2749-9952","language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","modified_at":"2023-10-04T10:36:32+00:00","plan":"Team","prefix":"10.53731","relative_url":null,"slug":"front_matter","status":"active","title":"Front
        Matter","use_api":true,"use_mastodon":true,"user_id":"8498eaf6-8c58-4b58-bc15-27eda292b1aa","version":"https://jsonfeed.org/version/1.1"},"blog_name":"Front
        Matter","blog_slug":"front_matter","doi":"https://doi.org/10.53731/r79s4nh-97aq74v-ag4t1","id":"e58dc9c8-b870-4db2-8896-238b3246c551","image":"https://blog.front-matter.io/content/images/2022/08/download-19-.jpeg","indexed_at":1694117129,"language":"en","published_at":1561939200,"reference":[{"doi":"https://doi.org/10.14454/3BPW-W381","key":"ref1"},{"doi":"https://doi.org/10.53731/r79sa71-97aq74v-ag4vc","key":"ref2"},{"doi":"https://doi.org/10.5438/JWVF-8A66","key":"ref3"}],"relationships":[{"type":"IsIdenticalTo","url":"https://doi.org/10.5438/bv9z-dc66"},{"type":"HasAward","url":"https://doi.org/10.3030/777523"}],"summary":"The
        connections between scholarly resources generated by persistent identifiers
        (PIDs) and associated metadata form a graph: the PID Graph [Fenner &amp; Aryani
        (2019)]. We developed this PID Graph concept in the EC-funded FREYA project,
        and have identified important use cases and technical requirements.","tags":["Feature"],"title":"Tracking
        the Growth of the PID Graph","updated_at":1694087432,"url":"https://blog.front-matter.io/posts/tracking-the-growth-of-the-pid-graph"}

        '
  recorded_at: Thu, 05 Oct 2023 21:01:20 GMT
- request:
    method: get
    uri: https://doi.org/10.14454/3BPW-W381
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://data.crosscite.org/10.14454%2F3BPW-W381
    body:
      encoding: UTF-8
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="https://data.crosscite.org/10.14454%2F3BPW-W381">https://data.crosscite.org/10.14454%2F3BPW-W381</a></body></html>
  recorded_at: Thu, 05 Oct 2023 21:01:20 GMT
- request:
    method: get
    uri: https://data.crosscite.org/10.14454%2F3BPW-W381
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"e5a505a4330ff4865cb47565f20f9119"
    body:
      encoding: UTF-8
      string: |-
        {
          "type": "article",
          "id": "https://doi.org/10.14454/3bpw-w381",
          "categories": [
            "pid graph",
            "graphql",
            "kpi",
            "freya",
            "eosc",
            "FOS: Computer and information sciences"
          ],
          "author": [
            {
              "family": "Fenner",
              "given": "Martin"
            }
          ],
          "issued": {
            "date-parts": [
              [
                2019,
                6,
                30
              ]
            ]
          },
          "DOI": "10.14454/3BPW-W381",
          "publisher": "DataCite",
          "title": "Jupyter Notebook FREYA PID Graph Key Performance Indicators (KPIs)",
          "URL": "https://github.com/datacite/pidgraph-notebooks-r/tree/master/kpi",
          "copyright": "MIT License",
          "version": "1.1.0"
        }
  recorded_at: Thu, 05 Oct 2023 21:01:20 GMT
- request:
    method: get
    uri: https://doi.org/10.53731/r79sa71-97aq74v-ag4vc
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://api.crossref.org/v1/works/10.53731%2Fr79sa71-97aq74v-ag4vc/transform
    body:
      encoding: UTF-8
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="https://api.crossref.org/v1/works/10.53731%2Fr79sa71-97aq74v-ag4vc/transform">https://api.crossref.org/v1/works/10.53731%2Fr79sa71-97aq74v-ag4vc/transform</a></body></html>
  recorded_at: Thu, 05 Oct 2023 21:01:20 GMT
- request:
    method: get
    uri: https://api.crossref.org/v1/works/10.53731%2Fr79sa71-97aq74v-ag4vc/transform
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json
      Link:
      - <http://dx.doi.org/10.53731/r79sa71-97aq74v-ag4vc>; rel="canonical", <https://blog.front-matter.io/posts/the-datacite-graphql-api-is-now-open-for-pre-release-business>;
        version="vor"; type="text/html"; rel="item", <https://creativecommons.org/licenses/by/4.0/legalcode>;
        version="vor"; rel="license", <https://creativecommons.org/licenses/by/4.0/legalcode>;
        version="tdm"; rel="license", <http://orcid.org/0000-0003-1419-2405>; title="Martin
        Fenner"; rel="author"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"institution":[{"name":"Front Matter"}],"indexed":{"date-parts":[[2023,9,7]],"date-time":"2023-09-07T21:20:54Z","timestamp":1694121654343},"posted":{"date-parts":[[2019,5,15]]},"group-title":"Engineeringandtechnology","reference-count":1,"publisher":"Front
        Matter","license":[{"start":{"date-parts":[[2019,5,15]],"date-time":"2019-05-15T00:00:00Z","timestamp":1557878400000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/legalcode"},{"start":{"date-parts":[[2019,5,15]],"date-time":"2019-05-15T00:00:00Z","timestamp":1557878400000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/legalcode"}],"content-domain":{"domain":[],"crossmark-restriction":false},"abstract":"<p>DataCite
        DOIs describe resources such as datasets, samples, software and publications
        with rich metadata. An important part of this metadata is the description
        of connections between resources that use persistent identifiers (PIDs) provided
        by DataCite and others (Crossref, ORCID, ROR, ISNI, IGSN, etc.). Together
        these resources and their connections form a graph, the PID Graph (Fenner
        &amp;amp; Aryani, 2019).Accessing information available in this PID Graph,
        while preserving the rich connections...<\/p>","DOI":"10.53731\/r79sa71-97aq74v-ag4vc","type":"posted-content","created":{"date-parts":[[2021,10,17]],"date-time":"2021-10-17T19:03:27Z","timestamp":1634497407000},"source":"Crossref","is-referenced-by-count":2,"title":"The
        DataCite GraphQL API is now open for (pre-release) business","prefix":"10.53731","author":[{"ORCID":"http:\/\/orcid.org\/0000-0003-1419-2405","authenticated-orcid":false,"given":"Martin","family":"Fenner","sequence":"first","affiliation":[]}],"member":"31795","reference":[{"key":"ref1","doi-asserted-by":"publisher","article-title":"Introducing
        the PID Graph","year":"2019","DOI":"10.5438\/jwvf-8a66"}],"container-title":[],"original-title":[],"link":[{"URL":"https:\/\/blog.front-matter.io\/posts\/the-datacite-graphql-api-is-now-open-for-pre-release-business","content-type":"text\/html","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2023,8,4]],"date-time":"2023-08-04T10:35:54Z","timestamp":1691145354000},"score":1,"resource":{"primary":{"URL":"https:\/\/blog.front-matter.io\/posts\/the-datacite-graphql-api-is-now-open-for-pre-release-business"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2019,5,15]]},"references-count":1,"URL":"http:\/\/dx.doi.org\/10.53731\/r79sa71-97aq74v-ag4vc","relation":{},"published":{"date-parts":[[2019,5,15]]},"subtype":"other"}'
  recorded_at: Thu, 05 Oct 2023 21:01:21 GMT
- request:
    method: get
    uri: https://doi.org/10.5438/JWVF-8A66
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://data.crosscite.org/10.5438%2FJWVF-8A66
    body:
      encoding: UTF-8
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="https://data.crosscite.org/10.5438%2FJWVF-8A66">https://data.crosscite.org/10.5438%2FJWVF-8A66</a></body></html>
  recorded_at: Thu, 05 Oct 2023 21:01:21 GMT
- request:
    method: get
    uri: https://data.crosscite.org/10.5438%2FJWVF-8A66
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"9f25c07c85d932482bc11873f11231a1"
    body:
      encoding: UTF-8
      string: |-
        {
          "type": "article-journal",
          "id": "https://doi.org/10.5438/jwvf-8a66",
          "categories": [
            "pid graph",
            "freya",
            "FOS: Computer and information sciences"
          ],
          "author": [
            {
              "family": "Fenner",
              "given": "Martin"
            },
            {
              "family": "Aryani",
              "given": "Amir"
            }
          ],
          "issued": {
            "date-parts": [
              [
                2019
              ]
            ]
          },
          "abstract": "<em>This post has been cross-posted from the FREYA blog.</em> Persistent identifiers (PIDs) are not only important to uniquely identify a publication, dataset, or person, but the metadata for these persistent identifiers can provide unambiguous linking between...",
          "DOI": "10.5438/JWVF-8A66",
          "publisher": "DataCite",
          "title": "Introducing the PID Graph",
          "URL": "https://datacite.org/blog/introducing-the-pid-graph/",
          "copyright": "Creative Commons Attribution 4.0 International",
          "version": "1.0"
        }
  recorded_at: Thu, 05 Oct 2023 21:01:22 GMT
- request:
    method: head
    uri: https://doi.org/10.5438/bv9z-dc66
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://datacite.org/blog/tracking-the-growth-of-the-pid-graph/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 05 Oct 2023 21:01:22 GMT
recorded_with: VCR 6.2.0
