---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/954f8138-0ecd-4090-87c5-cef1297f1470
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"csqqekh4bt204"'
      X-Matched-Path:
      - "/api/posts/[[...params]]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::mkjvf-1689055407511-42bce5ea8d58
    body:
      encoding: UTF-8
      string: '{"id":"954f8138-0ecd-4090-87c5-cef1297f1470","doi":"https://doi.org/10.54900/zwm7q-vet94","url":"https://upstream.force11.org/the-research-software-alliance-resa","title":"The
        Research Software Alliance (ReSA)","summary":"Research software is a key part
        of most research today. As University of Manchester Professor Carole Goble
        has said, \"software is the ubiquitous instrument of science.\" Creating and
        maintaining research software is a human effort, and as Yanina Bellina, rOpenSci
        Community Manager, has said, \"the work of the people who develop and maintain
        research software is often hidden and needs to be recognized.\"Studies of
        researchers at leading UK universities [1] and of postdoctoral researchers
        in the US...","published_at":1681814212,"updated_at":1681814212,"indexed_at":1688982864,"authors":[{"url":"https://orcid.org/0000-0001-5934-7525","name":"Daniel
        S. Katz"},{"url":null,"name":"Michelle Barker"}],"image":"https://upstream.force11.org/content/images/2023/04/resa-logo-7.png","tags":["News"],"language":"en","reference":[{"key":"ref1","url":"https://software.ac.uk/blog/2014-12-04-its-impossible-conduct-research-without-software-say-7-out-10-uk-researchers"},{"doi":"https://doi.org/10.6084/m9.figshare.5328442.v3","key":"ref2"},{"doi":"https://doi.org/10.54900/9akm9y5-5ject5y","key":"ref3"},{"doi":"https://doi.org/10.5281/zenodo.7740084","key":"ref4"},{"doi":"https://doi.org/10.5281/zenodo.6859709","key":"ref5"},{"doi":"https://doi.org/10.5281/zenodo.7179892","key":"ref6"},{"doi":"https://doi.org/10.5281/zenodo.3884311","key":"ref7"},{"doi":"https://doi.org/10.15497/rda00052","key":"ref8"},{"doi":"https://doi.org/10.15497/rda00068","key":"ref9"},{"doi":"https://doi.org/10.5281/zenodo.6239373","key":"ref10"},{"doi":"https://doi.org/10.5281/zenodo.3699950","key":"ref11"}],"blog_id":"pm0p222","blog_name":"Upstream","blog":{"id":"pm0p222","title":"Upstream","description":"The
        community blog for all things Open Research.","language":"en","favicon":"https://upstream.force11.org/favicon.png","feed_url":"https://upstream.force11.org/atom-complete/","home_page_url":"https://upstream.force11.org","user_id":"8498eaf6-8c58-4b58-bc15-27eda292b1aa","created_at":"2023-05-31T07:23:49+00:00","indexed_at":"2023-01-13","feed_format":"application/atom+xml","license":"https://creativecommons.org/licenses/by/4.0/legalcode","generator":"Ghost
        5.25","category":"Humanities","prefix":"10.54900","modified_at":"2023-07-04T21:15:51+00:00","version":"https://jsonfeed.org/version/1.1","backlog":false,"current_feed_url":"https://upstream.force11.org/atom/","expired":null}}'
  recorded_at: Tue, 11 Jul 2023 06:03:27 GMT
- request:
    method: head
    uri: https://software.ac.uk/blog/2014-12-04-its-impossible-conduct-research-without-software-say-7-out-10-uk-researchers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Drupal-Dynamic-Cache:
      - UNCACHEABLE
      Content-Language:
      - en
      Last-Modified:
      - Tue, 11 Jul 2023 05:54:03 GMT
      Etag:
      - '"1689054843"'
      X-Generator:
      - Drupal 9 (https://www.drupal.org)
      X-Drupal-Cache:
      - HIT
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 11 Jul 2023 06:03:28 GMT
- request:
    method: get
    uri: https://doi.org/10.6084/m9.figshare.5328442.v3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://data.crosscite.org/10.6084%2Fm9.figshare.5328442.v3
    body:
      encoding: UTF-8
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="https://data.crosscite.org/10.6084%2Fm9.figshare.5328442.v3">https://data.crosscite.org/10.6084%2Fm9.figshare.5328442.v3</a></body></html>
  recorded_at: Tue, 11 Jul 2023 06:03:28 GMT
- request:
    method: get
    uri: https://data.crosscite.org/10.6084%2Fm9.figshare.5328442.v3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"a7071f51b1eb40a8f30e8b154cbb14d8"
    body:
      encoding: UTF-8
      string: |-
        {
          "type": "article-journal",
          "id": "https://doi.org/10.6084/m9.figshare.5328442.v3",
          "categories": [
            "80699 Information Systems not elsewhere classified",
            "FOS: Computer and information sciences",
            "FOS: Computer and information sciences",
            "160511 Research, Science and Technology Policy",
            "FOS: Political science",
            "FOS: Political science"
          ],
          "author": [
            {
              "literal": "Udit Nangia"
            },
            {
              "family": "Katz",
              "given": "Daniel S."
            }
          ],
          "issued": {
            "date-parts": [
              [
                2017
              ]
            ]
          },
          "abstract": "This paper reports on the results of a 2017 survey conducted by email and web of members of the U.S. National Postdoctoral Association regarding their use of software in research and their training regarding software development. The responses show that that 95% of respondents use research software. Of all the respondents, 63% state they could not do their research without research software, 31% could do it but with more effort, and 6% would not find a significant difference in their research without research software. In addition, 54% of respondents have not received any training in software development, though all respondents who develop software for researchers have received either self-taught or formal software development training.",
          "container-title": "figshare",
          "DOI": "10.6084/M9.FIGSHARE.5328442.V3",
          "publisher": "figshare",
          "title": "Track 1 Paper: Surveying the U.S. National Postdoctoral Association Regarding Software Use and Training in Research",
          "URL": "https://figshare.com/articles/journal_contribution/Track_1_Paper_Surveying_the_U_S_National_Postdoctoral_Association_Regarding_Software_Use_and_Training_in_Research/5328442/3",
          "copyright": "Creative Commons Attribution 4.0 International"
        }
  recorded_at: Tue, 11 Jul 2023 06:03:28 GMT
- request:
    method: get
    uri: https://doi.org/10.54900/9akm9y5-5ject5y
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://api.crossref.org/v1/works/10.54900%2F9akm9y5-5ject5y/transform
    body:
      encoding: UTF-8
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="https://api.crossref.org/v1/works/10.54900%2F9akm9y5-5ject5y/transform">https://api.crossref.org/v1/works/10.54900%2F9akm9y5-5ject5y/transform</a></body></html>
  recorded_at: Tue, 11 Jul 2023 06:03:29 GMT
- request:
    method: get
    uri: https://api.crossref.org/v1/works/10.54900%2F9akm9y5-5ject5y/transform
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json
      Link:
      - <http://dx.doi.org/10.54900/9akm9y5-5ject5y>; rel="canonical", <https://upstream.force11.org/defining-the-roles-of-research-software>;
        version="vor"; type="text/html"; rel="item", <https://creativecommons.org/licenses/by/4.0/legalcode>;
        version="vor"; rel="license", <https://creativecommons.org/licenses/by/4.0/legalcode>;
        version="tdm"; rel="license", <http://orcid.org/0000-0001-5934-7525>; title="Daniel
        S. Katz"; rel="author"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"institution":[{"name":"Upstream"}],"indexed":{"date-parts":[[2023,7,5]],"date-time":"2023-07-05T21:28:24Z","timestamp":1688592504537},"posted":{"date-parts":[[2023,3,14]]},"group-title":"Humanities","reference-count":0,"publisher":"Front
        Matter","license":[{"start":{"date-parts":[[2023,3,14]],"date-time":"2023-03-14T00:00:00Z","timestamp":1678752000000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/legalcode"},{"start":{"date-parts":[[2023,3,14]],"date-time":"2023-03-14T00:00:00Z","timestamp":1678752000000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/legalcode"}],"content-domain":{"domain":[],"crossmark-restriction":false},"abstract":"<p>In
        November of 2022, the Research Software Alliance (ReSA) and the Netherlands
        eScience Center organized a two-day international workshop titled \u201cThe
        Future of Research Software.\u201d In the workshop, funding organizations
        joined forces to explore how they could effectively contribute to making research
        software sustainable. The workshop had many participants from all continents
        and was a huge success. A tangible outcome was a draft of the \"Amsterdam
        Declaration on Funding Research Software...<\/p>","DOI":"10.54900\/9akm9y5-5ject5y","type":"posted-content","created":{"date-parts":[[2023,3,14]],"date-time":"2023-03-14T10:39:07Z","timestamp":1678790347000},"source":"Crossref","is-referenced-by-count":2,"title":"Defining
        the roles of research software","prefix":"10.54900","author":[{"given":"Rob","family":"van
        Nieuwpoort","sequence":"first","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0001-5934-7525","authenticated-orcid":false,"given":"Daniel
        S.","family":"Katz","sequence":"additional","affiliation":[]}],"member":"31795","container-title":[],"original-title":[],"link":[{"URL":"https:\/\/upstream.force11.org\/defining-the-roles-of-research-software","content-type":"text\/html","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2023,6,17]],"date-time":"2023-06-17T23:14:22Z","timestamp":1687043662000},"score":1,"resource":{"primary":{"URL":"https:\/\/upstream.force11.org\/defining-the-roles-of-research-software"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2023,3,14]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.54900\/9akm9y5-5ject5y","relation":{},"published":{"date-parts":[[2023,3,14]]},"subtype":"other"}'
  recorded_at: Tue, 11 Jul 2023 06:03:29 GMT
- request:
    method: get
    uri: https://doi.org/10.5281/zenodo.7740084
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://data.crosscite.org/10.5281%2Fzenodo.7740084
    body:
      encoding: UTF-8
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="https://data.crosscite.org/10.5281%2Fzenodo.7740084">https://data.crosscite.org/10.5281%2Fzenodo.7740084</a></body></html>
  recorded_at: Tue, 11 Jul 2023 06:03:30 GMT
- request:
    method: get
    uri: https://data.crosscite.org/10.5281%2Fzenodo.7740084
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"a6451de9eb23725373223d1fdf4bc634"
    body:
      encoding: UTF-8
      string: |-
        {
          "type": "article",
          "id": "https[...]
[...]
- request:
    method: get
    uri: https://data.crosscite.org/10.5281%2Fzenodo.7179892
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"f5b7902dce814b3d03598f37990ce8f0"
    body:
      encoding: UTF-8
      string: |-
        {
          "type": "article",
          "id": "https://doi.org/10.5281/zenodo.7179892",
          "categories": [
            "research software",
            "landscape",
            "ReSA",
            "report"
          ],
          "language": "en",
          "author": [
            {
              "family": "Martinez",
              "given": "Paula Andrea"
            }
          ],
          "contributor": [
            {
              "family": "Barker",
              "given": "Michelle"
            },
            {
              "family": "Kibet",
              "given": "Caleb"
            },
            {
              "family": "Upani",
              "given": "Jessica"
            },
            {
              "family": "Mbunzama",
              "given": "Narcisse"
            },
            {
              "family": "Oko-Isu",
              "given": "Anthony"
            },
            {
  [...]
[...]
- request:
    method: get
    uri: https://doi.org/10.15497/rda00052
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://data.crosscite.org/10.15497%2Frda00052
    body:
      encoding: UTF-8
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="https://data.crosscite.org/10.15497%2Frda00052">https://data.crosscite.org/10.15497%2Frda00052</a></body></html>
  recorded_at: Tue, 11 Jul 2023 06:03:32 GMT
- request:
    method: get
    uri: https://data.crosscite.org/10.15497%2Frda00052
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"5605bebd477a12dddcf0628cd41fb513"
    body:
      encoding: UTF-8
      string: |-
        {
          "type": "article-journal",
          "id": "https://doi.org/10.15497/rda00052",
          "author": [
            {
              "literal": "Research Data Alliance"
            }
          ],
          "issued": {
            "date-parts": [
              [
                2020
              ]
            ]
          },
          "container-title": "RDA",
          "DOI": "10.15497/RDA00052",
          "publisher": "RDA",
          "title": "Final release: COVID-19 guidelines",
          "URL": "https://zenodo.org/record/3932953#.Xx_f7Z4za70"
        }
  recorded_at: Tue, 11 Jul 2023 06:03:32 GMT
[...]
