---
http_interactions:
- request:
    method: get
    uri: https://api.rogue-scholar.org/posts/5561f8e4-2ff1-4186-a8d5-8dacb3afe414
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Fly-Request-Id:
      - 01HC0P3HZ8ZZD596WSRERFGMMD-fra
    body:
      encoding: UTF-8
      string: '{"archive_url":null,"authors":[{"name":"Liberate Science","url":"https://ror.org/0342dzm54"}],"blog_name":"Liberate
        Science","blog_slug":"libscie","doi":"https://doi.org/10.59350/2shz7-ehx26","id":"5561f8e4-2ff1-4186-a8d5-8dacb3afe414","image":"https://libscie.org/content/images/2023/04/thank-you-1-.jpg","indexed_at":1689006804,"language":"en","published_at":1683614606,"reference":[],"relationships":[],"summary":"KU
        Leuven is now an inaugural supporting member of ResearchEquals, sustaining
        and governing the development of modular publishing. As part of their commitment
        to Open Science, KU Leuven supports sustainable implementations of Open Access
        and Open Science through the KU Leuven Fund for Fair OA. The fund is usually
        only available to non-profits, but ResearchEquals\u2019 governance convinced
        KU Leuven to support a for-profit initiative.","tags":["Research Equals"],"title":"KU
        Leuven supports ResearchEquals","updated_at":1683614606,"url":"https://libscie.org/ku-leuven-supports-researchequals"}

        '
  recorded_at: Thu, 05 Oct 2023 19:47:47 GMT
recorded_with: VCR 6.2.0
