---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/1c578558-1324-4493-b8af-84c49eabc52f
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"syfy6dhjsb8a8"'
      X-Matched-Path:
      - "/api/posts/[[...params]]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::bnh2j-1694011808478-103b1949f37e
    body:
      encoding: UTF-8
      string: '{"id":"1c578558-1324-4493-b8af-84c49eabc52f","doi":"https://doi.org/10.59350/kz04m-s8z58","url":"https://wisspub.net/2023/05/23/eu-mitgliedstaaten-betonen-die-rolle-von-wissenschaftsgeleiteten-open-access-modellen-jenseits-von-apcs","title":"EU-Mitgliedstaaten
        betonen die Rolle von wissenschaftsgeleiteten Open-Access-Modellen jenseits
        von APCs","summary":"Die EU-Wissenschaftsministerien haben sich auf ihrer
        heutigen Sitzung in Brüssel unter dem Titel “Council conclusions on high-quality,
        transparent, open, trustworthy and equitable scholarly publishing” (PDF der
        englischen Version, PDF der deutschen Version) mit den aktuellen Herausforderungen
        des wissenschaftlichen Publikationswesens befasst.","content_html":"\n<p>Die
        EU-Wissenschaftsministerien haben sich auf ihrer <a href=\"https://www.consilium.europa.eu/en/press/press-releases/2023/05/23/council-calls-for-transparent-equitable-and-open-access-to-scholarly-publications/\">heutigen
        Sitzung</a> in Brüssel unter dem Titel “Council conclusions on high-quality,
        transparent, open, trustworthy and equitable scholarly publishing” (<a href=\"https://data.consilium.europa.eu/doc/document/ST-8827-2023-INIT/en/pdf\">PDF
        der en[...]
