---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/5561f8e4-2ff1-4186-a8d5-8dacb3afe414
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"wi68ur4zhx3d1"'
      X-Matched-Path:
      - "/api/posts/[slug]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::m9bzn-1687038797323-61355f142315
    body:
      encoding: UTF-8
      string: '{"id":"https://libscie.org/ku-leuven-supports-researchequals/","uuid":"5561f8e4-2ff1-4186-a8d5-8dacb3afe414","url":"https://libscie.org/ku-leuven-supports-researchequals/","title":"KU
        Leuven supports ResearchEquals","summary":"KU Leuven is now an inaugural supporting
        member of ResearchEquals, sustaining and governing the development of modular
        publishing.As part of their commitment to Open Science, KU Leuven supports
        sustainable implementations of Open Access and Open Science through the KU
        Leuven Fund for Fair OA. The fund is usually only","date_published":"2023-05-09T06:43:26Z","date_modified":null,"date_indexed":"1970-01-01T00:00:00+00:00","authors":[{"url":"https://ror.org/0342dzm54","name":"Liberate
        Science"}],"image":"https://libscie.org/content/images/2023/04/thank-you-1-.jpg","content_html":"<img
        src=\"https://libscie.org/content/images/2023/04/thank-you-1-.jpg\" alt=\"KU
        Leuven supports ResearchEquals\"><p>KU Leuven is now an inaugural supporting
        member of ResearchEquals, sustaining and governing the development of modular
        publishing.</p><p>As part of their commitment to Open Science, KU Leuven supports
        sustainable implementations of Open Access and Open Science through the <a
        href=\"https://www.kuleuven.be/open-science/what-is-open-[...]
