---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/8a4de443-3347-4b82-b57d-e3c82b6485fc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1380dhtw0b375b"'
      X-Matched-Path:
      - "/api/posts/[[...params]]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::4j8g8-1694013857715-6c6b9eece4e8
    body:
      encoding: UTF-8
      string: '{"id":"8a4de443-3347-4b82-b57d-e3c82b6485fc","doi":"https://doi.org/10.53731/r79v4e1-97aq74v-ag578","url":"https://blog.front-matter.io/posts/differences-between-orcid-and-datacite-metadata","title":"Differences
        between ORCID and DataCite Metadata","summary":"One of the first tasks for
        DataCite in the European Commission-funded THOR project, which started in
        June, was to contribute to a comparison of the ORCID and DataCite metadata
        standards.","content_html":" <p><img src=\"https://blog.front-matter.io/content/images/2023/09/cat_and_dog-1.png\"
        /></p><p>One of the first tasks for DataCite in the European Commission-funded
        <a href=\"http://project-thor.eu/\">THOR project</a>, which started in June,
        was to contribute to a comparison of the ORCID and DataCite metadata standards.
        Together with ORCID, CERN, the British Library and Dryad we looked at how
        contributors, organizations and artefacts - and the relations between them
        - are described in the respective metadata schemata, and how they are implemented
        in two example data repositories, <a href=\"http://archaeologydataservice.ac.uk/\">Archaeology
        Data Service</a> and <a href=\"https://www.datadryad.org/\">Dryad Digital
        Repository</a>.</p>\n<p>The focus of our work was on identifying major gaps.
        Our report was finished and made publicly available last week (Fenner et al.,
        <a href=\"https://blog.datacite.org/differences-between-orcid-and-datacite-metadata/#ref-https://doi.org/10.5281/ZENODO.30799\">2015</a>).
        The key findings are summarized below:</p>\n<ul><li>Common Approach to Personal
        Names</li><li>Standardized Contributor Roles</li><li>Standardized Relation
        Types</li><li>Metadata for Organisations</li><li>Persistent Identifiers for
        Projects</li><li>Harmonization of ORCID and DataCite Metadata</li></ul>\n<h3>Common
        Approach to Personal Names</h3>\n<p>While a single input field for contributor
        names is common, separate fields for given and family names are required for
        <a href=\"http://docs.citationstyles.org/en/stable/specification.html#names\">proper
        formatting of citations</a>. As long as citations to scholarly content rely
        on properly formatted text rather than persistent identifiers, services holding
        bibliographic information have to support these separate fields. Further work
        is needed to help with the transition to separate input fields for given and
        famliy names, and to handle contributors that are organizations or groups
        of people.</p>\n<h3>Standardized Contributor Roles</h3>\n<p>The currently
        existing vocabularies for <strong>contributor type</strong> (DataCite) and
        <strong>contributor role</strong> (ORCID) provide a high-level description,
        but fall short when trying to describe the author/creator contribution in
        more detail. <a href=\"http://docs.casrai.org/CRediT\">Project CRediT</a>
        is a multi-stakeholder initiative that has developed a common vocabulary with
        14 different contributor roles, and this vocabulary can be used to provide
        this detail, e.g. who provided res[...]
- request:
    method: get
    uri: https://doi.org/10.5281/ZENODO.30799
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://data.crosscite.org/10.5281%2FZENODO.30799
    body:
      encoding: UTF-8
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="https://data.crosscite.org/10.5281%2FZENODO.30799">https://data.crosscite.org/10.5281%2FZENODO.30799</a></body></html>
  recorded_at: Wed, 06 Sep 2023 15:24:18 GMT
- request:
    method: get
    uri: https://data.crosscite.org/10.5281%2FZENODO.30799
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"808492baef8e3e4af0fa6812bc25a08c"
    body:
      encoding: UTF-8
      string: |-
        {
          "type": "report",
          "id": "https://doi.org/10.5281/zenodo.30799",
          "categories": [
            "persistent identifier",
            "pid",
            "orcid",
            "doi",
            "datacite"
          ],
          "author": [
            {
              "family": "Fenner",
              "given": "Martin"
            },
            {
              "family": "Demeranville",
              "given": "Tom"
            },
            {
              "family": "Kotarski",
              "given": "Rachael"
            },
            {
              "family": "Vision",
              "given": "Todd"
            },
            {
              "family": "Rueda",
              "given": "Laura"
            },
            {
              "family": "Dasler",
              "given": "Robin"
            },
            {
              "family": "Haak",
              "given": "Laure"
            },
            {
              "family": "Cruse",
              "given": "Patricia"
            }
          ],
          "issued": {
            "date-parts": [
              [
                2015,
                9,
                11
              ]
            ]
          },
          "abstract": "This document identifies gaps in existing PID infrastructures, with a focus on ORCID and DataCite Metadata and links between contributors, organizations and artefacts. What prevents us from establishing interoperability and overcoming barriers between PID platforms for contributors, artefacts and organisations, and research solutions for federated attribution, claiming, publishing and direct data access? It goes on to propose strategies to overcome these gaps.",
          "DOI": "10.5281/ZENODO.30799",
          "publisher": "Zenodo",
          "title": "D2.1: Artefact, Contributor, And Organisation Relationship Data Schema",
          "URL": "https://zenodo.org/record/30799",
          "copyright": "Creative Commons Attribution 4.0"
        }
  recorded_at: Wed, 06 Sep 2023 15:24:19 GMT
- request:
    method: head
    uri: https://doi.org/10.5438/bc11-cqw1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://datacite.org/blog/differences-between-orcid-and-datacite-metadata/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 06 Sep 2023 15:24:20 GMT
recorded_with: VCR 6.2.0
