---
http_interactions:
- request:
    method: get
    uri: https://api.rogue-scholar.org/posts/570c8129-e867-49e6-8517-bd783627e76e
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '15'
      Ratelimit-Remaining:
      - '14'
      Ratelimit-Reset:
      - '3'
      Fly-Request-Id:
      - 01HEDF93TFCEYGFQ8ADFYBSTFW-fra
    body:
      encoding: UTF-8
      string: '{"archive_url":"https://wayback.archive-it.org/22143/20231103191454/https://project-thor.eu/2016/08/10/orcid-integration-in-pangaea","authors":[{"name":"Markus
        Stocker","url":"https://orcid.org/0000-0001-5492-3212"}],"blog":{"api":true,"archive_prefix":"https://wayback.archive-it.org/22143/20231103191454/","authors":null,"backlog":0,"canonical_url":null,"category":"computerAndInformationSciences","created_at":1695254400,"current_feed_url":null,"description":"Technical
        and Human infrastructure for Open Research.","favicon":null,"feed_format":"application/atom+xml","feed_url":"https://project-thor.eu/feed/atom/","filter":null,"funding":{"award_number":"654039","award_uri":"https://doi.org/10.3030/654039","funder_id":"https://doi.org/10.13039/501100007601","funder_name":"European
        Union\u2019s Horizon 2020 research and innovation programme"},"generator":"WordPress.com","generator_raw":"WordPress.com","home_page_url":"https://project-thor.eu","id":"cg9zq26","indexed":false,"issn":null,"language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","plan":"Team","prefix":"10.59350","relative_url":null,"secure":true,"slug":"thor","status":"archived","title":"Project
        THOR","updated_at":1511522178,"use_api":true,"use_mastodon":false,"user_id":"dead81b3-8a8b-45c9-85fe-f01bb3948c77","version":"https://jsonfeed.org/version/1.1"},"blog_name":"Project
        THOR","blog_slug":"thor","content_html":"<p><span style=\"font-weight:400;\">This
        is the first in a <a href=\"http://wp.me/p5O69U-aF\">series of posts</a></span><span
        style=\"font-weight:400;\">\u00a0describing how THOR partners have recently
        integrated <a href=\"http://orcid.org/\">ORCID</a> in their disciplinary data
        repositories. This post describes ORCID integration in <a href=\"https://www.pangaea.de/\">PANGAEA</a>,
        the Data Publisher for Earth &amp; Environmental Science.</span></p>\n<p><span
        style=\"font-weight:400;\">PANGAEA is rolling out a new version of its website.
        Developers and designers are currently ironing out a few remaining open issues.
        The release is expected for autumn 2016. Among major improvements in search,
        design, and usability, a key new feature is the integration of ORCID.</span></p>\n<p><span
        style=\"font-weight:400;\">The new feature enables existing PANGAEA users
        to connect their PANGAEA profile with their ORCID iD, as demonstrated in the
        video below.\u00a0</span></p>\n<p style=\"text-align:center;\"><span class=\"embed-youtube\"
        style=\"text-align:center; display: block;\"><iframe class=\"youtube-player\"
        width=\"640\" height=\"360\" src=\"https://www.youtube.com/embed/Eg81xbbgzI0?version=3&#038;rel=1&#038;showsearch=0&#038;showinfo=1&#038;iv_load_policy=1&#038;fs=1&#038;hl=en&#038;autohide=2&#038;wmode=transparent\"
        allowfullscreen=\"true\" style=\"border:0;\" sandbox=\"allow-scripts allow-same-origin
        allow-popups allow-presentation allow-popups-to-escape-sandbox\"></iframe></span></p>\n<p><span
        style=\"font-weight:400;\">With this connect[...]
