---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/a163e340-5b3c-4736-9ab0-8c54fdff6a3c
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"sjvcj0jty0188"'
      X-Matched-Path:
      - "/api/posts/[[...params]]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::nl24t-1689055406145-2a5140a786e2
    body:
      encoding: UTF-8
      string: "{\"id\":\"a163e340-5b3c-4736-9ab0-8c54fdff6a3c\",\"doi\":\"https://doi.org/10.59350/33es7-fqz31\",\"url\":\"https://lab.sub.uni-goettingen.de/welcome.html\",\"title\":\"Welcome
        to the Lab\",\"summary\":\"Welcome everyone! This is the place to read about
        projects, resources and all the things we deal with at our work on digital
        collections, databases, APIs, tools and esoteric programming languages we
        prefer to write in. It is not meant for a single subject, but covers all topics
        we \U0001F496. So I hope you don’t mind if the next post is about one of my
        adorable cute rabbits.\",\"published_at\":1483228801,\"updated_at\":1483228801,\"indexed_at\":1689006804,\"authors\":[{\"url\":null,\"name\":\"Mathias
        Göbel\"}],\"image\":\"https://lab.sub.uni-goettingen.de/assets/images/Bibliothek_der_UNI_Goettingen-wikiCommons-Suhaknoke.webp\",\"tags\":[\"meta\"],\"language\":\"en\",\"reference\":[],\"blog_id\":\"6hezn63\",\"blog_name\":\"lab.sub
        - Articles\",\"blog\":{\"id\":\"6hezn63\",\"title\":\"lab.sub - Articles\",\"description\":\"Better
        sit thus, and observe thy strange things\",\"language\":\"en\",\"favicon\":null,\"feed_url\":\"https://lab.sub.uni-goettingen.de/atom.xml\",\"home_page_url\":\"https://lab.sub.uni-goettingen.de/\",\"user_id\":\"8498eaf6-8c58-4b58-bc15-27eda292b1aa\",\"created_at\":\"2023-06-11T08:09:50+00:00\",\"indexed_at\":\"2023-04-24\",\"feed_format\":\"application/atom+xml\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"generator\":\"Jekyll\",\"category\":\"Engineering
        and Technology\",\"prefix\":\"10.59350\",\"modified_at\":\"2023-06-01T00:00:01+00:00\",\"version\":\"https://jsonfeed.org/version/1.1\",\"backlog\":false,\"current_feed_url\":null,\"expired\":null}}"
  recorded_at: Tue, 11 Jul 2023 06:03:26 GMT
recorded_with: VCR 6.2.0
