---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/blogs/tyfqw20
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"xxw11pz9vb1w14"'
      X-Matched-Path:
      - "/api/blogs/[slug]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::fqtvx-1687068074466-8dd4935835aa
    body:
      encoding: UTF-8
      string: '{"id":"tyfqw20","title":"iPhylo","description":"Rants, raves (and occasionally
        considered opinions) on phyloinformatics, taxonomy, and biodiversity informatics.  For
        more ranty and less considered opinions, see my <a href=\"https://twitter.com/rdmpage\">Twitter
        feed</a>.<br>ISSN 2051-8188. Written content on this site is licensed under
        a <a href=\"https://creativecommons.org/licenses/by/4.0/\">Creative Commons
        Attribution 4.0 International license</a>.","language":"en","favicon":null,"feed_url":"https://iphylo.blogspot.com/feeds/posts/default","feed_format":"application/atom+xml","home_page_url":"https://iphylo.blogspot.com/","indexed_at":"2023-02-06","modified_at":"2023-05-31T17:26:00+00:00","license":"https://creativecommons.org/licenses/by/4.0/legalcode","generator":"Blogger
        7.00","category":"Natural Sciences","backlog":true,"prefix":"10.59350","items":[{"id":"https://doi.org/10.59350/en7e9-5s882","uuid":"20b9d31e-513f-496b-b399-4215306e1588","url":"https://iphylo.blogspot.com/2022/04/obsidian-markdown-and-taxonomic-trees.html","title":"Obsidian,
        markdown, and taxonomic trees","summary":"Returning to the subject of personal
        knowledge graphs Kyle Scheer has an interesting repository of Markdown files
        that describe academic disciplines at https://github.com/kyletscheer/academic-disciplines
        (see his blog post for more background). If you add these files to Obsidian
        you get a nice visualisation of a taxonomy of academic disciplines. The applications
        of this to biological taxonomy seem obvious, especially as a tool like Obsidian
        enables all sorts of interesting links to be added...","date_published":"2022-04-07T21:07:00Z","date_modified":"2022-04-07T21:15:34Z","date_indexed":"1909-06-16T09:41:45+00:00","authors":[{"url":null,"name":"Roderic
        Page"}],"image":null,"content_html":"<p>Returning to the subject of <a href=\"https://iphylo.blogspot.com/2020/08/personal-knowledge-graphs-obsidian-roam.html\">personal
        knowledge graphs</a> Kyle Scheer has an interesting repository of Markdown
        files that describe academic disciplines at <a href=\"https://github.com/kyletscheer/academic-disciplines\">https://github.com/kyletscheer/academic-disciplines</a>
        (see <a href=\"https://kyletscheer.medium.com/on-creating-a-tree-of-knowledge-f099c1028bf6\">his
      [...]
