---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1101/097196
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"institution":[{"name":"bioRxiv"}],"indexed":{"date-parts":[[2023,1,13]],"date-time":"2023-01-13T05:44:11Z","timestamp":1673588651470},"posted":{"date-parts":[[2016,12,28]]},"group-title":"Scientific
        Communication and Education","reference-count":26,"publisher":"Cold Spring
        Harbor Laboratory","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"accepted":{"date-parts":[[2017,10,9]]},"abstract":"<jats:title>Abstract<\/jats:title><jats:p>This
        article presents a practical roadmap for scholarly data repositories to implement
        data citation in accordance with the Joint Declaration of Data Citation Principles,
        a synopsis and harmonization of the recommendations of major science policy
        bodies. The roadmap was developed by the Repositories Expert Group, as part
        of the Data Citation Implementation Pilot (DCIP) project, an initiative of
        FORCE11.org and the NIH BioCADDIE (<jats:ext-link xmlns:xlink=\"http:\/\/www.w3.org\/1999\/xlink\"
        ext-link-type=\"uri\" xlink:href=\"https:\/\/biocaddie.org\">https:\/\/biocaddie.org<\/jats:ext-link>)
        program. The roadmap makes 11 specific recommendations, grouped into three
        phases of implementation: a) required steps needed to support the Joint Declaration
        of Data Citation Principles, b) recommended steps that facilitate article\/data
        publication workflows, and c) optional steps that further improve data citation
        support provided by data repositories.<\/jats:p>","DOI":"10.1101\/097196","type":"posted-content","created":{"date-parts":[[2016,12,29]],"date-time":"2016-12-29T06:10:15Z","timestamp":1482991815000},"source":"Crossref","is-referenced-by-count":15,"title":["A
        Data Citation Roadmap for Scholarly Data Repositories"],"prefix":"10.1101","author":[{"ORCID":"http:\/\/orcid.org\/0000-0003-1419-2405","authenticated-orcid":false,"given":"Martin","family":"Fenner","sequence":"first","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0003-1304-1939","authenticated-orcid":false,"given":"Merc\u00e8","family":"Crosas","sequence":"additional","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0001-5212-7052","authenticated-orcid":false,"given":"Jeffrey","family":"Grethe","sequence":"additional","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0002-9377-0797","authenticated-orcid":false,"given":"David","family":"Kennedy","sequence":"additional","affiliation":[]},{"ORCID":"http:\/\/orci[...]
- request:
    method: get
    uri: https://api.crossref.org/members/246
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1680564846126,"primary-name":"Cold
        Spring Harbor Laboratory","counts":{"current-dois":109685,"backfile-dois":160223,"total-dois":269908},"breakdowns":{"dois-by-issued-year":[[2020,53638],[2021,50444],[2022,46898],[2019,31261],[2018,22041],[2017,12746],[2023,12343],[2016,6114],[2006,3590],[2015,3299],[2014,2295],[2009,1926],[2007,1796],[2010,1753],[2008,1646],[2013,1450],[2011,1418],[2012,1356],[2004,949],[2003,872],[2005,861],[2001,801],[2002,781],[2000,774],[1999,714],[1998,707],[1997,515],[1996,504],[1995,448],[1994,441],[1993,389],[1992,364],[1991,336],[1990,304],[1989,304],[1988,283],[1974,235],[1983,228],[1987,227],[1979,154],[1980,143],[1986,129],[1978,122],[1981,117],[1985,107],[1970,101],[1977,98],[1968,97],[1984,95],[1982,95],[1969,94],[1966,94],[1973,84],[1963,79],[1972,74],[1967,72],[1950,63],[1976,62],[1965,60],[1960,53],[1964,50],[1962,49],[1961,48],[1937,43],[1953,42],[1957,39],[1958,38],[1951,37],[1938,37],[1935,37],[1936,36],[1955,34],[1941,34],[1939,34],[1934,32],[1956,31],[1954,29],[1946,29],[1933,29],[1959,28],[1952,28],[1940,28],[1948,27],[1947,27],[1942,18]]},"prefixes":["10.1261","10.1110","10.1101","10.14224"],"coverage":{"affiliations-current":0.0,"similarity-checking-current":1.0,"descriptions-current":0.0,"ror-ids-current":0.0,"funders-backfile":0.02186327805620916,"licenses-backfile":6.86543130511849E-5,"funders-current":0.007785932442904682,"affiliations-backfile":6.241301186471356E-6,"resource-links-backfile":6.241301186471356E-6,"orcids-backfile":0.5046279248297685,"update-policies-current":0.0,"ror-ids-backfile":0.0,"orcids-current":0.7916305784747231,"similarity-checking-backfile":0.9900451246075782,"references-backfile":0.8710859239934342,"descriptions-backfile":0.0,"award-numbers-backfile":0.02004081810975952,"update-policies-backfile":0.0,"licenses-current":0.0,"award-numbers-current":0.007184209326708301,"abstracts-backfile":0.8899783426848829,"resource-links-current":0.0,"abstracts-current":0.995605597848384,"references-current":0.9831973378310617},"prefix":[{"name":"Cold
        Spring Harbor Laboratory","value":"10.1261"},{"name":"","value":"10.1110"},{"name":"Cold
        Spring Harbor Laboratory","value":"10.1101"},{"name":"Cold Spring Harbor Laboratory
        - CSHL Library & Archives","value":"10.14224"}],"id":246,"tokens":["cold","spring","harbor","laboratory"],"counts-type":{"all":{"report":20,"journal-article":39453,"journal":8,"posted-content":230433,"journal-issue":2},"backfile":{"report":20,"journal-article":37729,"posted-content":122472,"journal-issue":2},"current":{"journal-article":1724,"posted-content":107961}},"coverage-type":{"all":{"report":{"last-status-check-time":1680564846126,"affiliations":0.0,"abstracts":0.0,"orcids":0.35,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.1,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.0,"descriptions":0.0},"journal-article":{"last-status-check-time":1680564846126,"affiliations":2.534661495957215E-5,"abstracts":0.5465997516031734,"orcids":0.05890553316604567,"licenses":2.788127645552936E-4,"references":0.6122474843484653,"funders":0.1104352013788559,"similarity-checking":0.9600790814386739,"award-numbers":0.101361113223329,"ror-ids":0.0,"update-policies":0.0,"resource-links":2.534661495957215E-5,"descriptions":0.0},"journal":{"last-status-check-time":1680564846126,"affiliations":0.0,"abstracts[...]
- request:
    method: get
    uri: https://doi.org/ra/10.1101
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "DOI": "10.1101",
            "RA": "Crossref"
          }
        ]
  recorded_at: Tue, 04 Apr 2023 19:19:29 GMT
recorded_with: VCR 6.1.0
