---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.7554/elife.01567
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,9,7]],"date-time":"2023-09-07T18:48:27Z","timestamp":1694112507116},"reference-count":27,"publisher":"eLife
        Sciences Publications, Ltd","license":[{"start":{"date-parts":[[2014,2,11]],"date-time":"2014-02-11T00:00:00Z","timestamp":1392076800000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/"},{"start":{"date-parts":[[2014,2,11]],"date-time":"2014-02-11T00:00:00Z","timestamp":1392076800000},"content-version":"am","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/"},{"start":{"date-parts":[[2014,2,11]],"date-time":"2014-02-11T00:00:00Z","timestamp":1392076800000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/"},{"start":{"date-parts":[[2014,2,11]],"date-time":"2014-02-11T00:00:00Z","timestamp":1392076800000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/"},{"start":{"date-parts":[[2014,2,11]],"date-time":"2014-02-11T00:00:00Z","timestamp":1392076800000},"content-version":"am","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/"},{"start":{"date-parts":[[2014,2,11]],"date-time":"2014-02-11T00:00:00Z","timestamp":1392076800000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/"}],"funder":[{"name":"SystemsX"},{"name":"EMBO
        longterm post-doctoral fellowships"},{"name":"Marie Heim-Voegtlin"},{"DOI":"10.13039\/501100006390","name":"University
        of Lausanne","doi-asserted-by":"crossref"},{"name":"SystemsX"},{"DOI":"10.13039\/501100003043","name":"EMBO","doi-asserted-by":"publisher"},{"DOI":"10.13039\/501100001711","name":"Swiss
        National Science Foundation","doi-asserted-by":"publisher"},{"DOI":"10.13039\/501100006390","name":"University
        of Lausanne","doi-asserted-by":"crossref"}],"content-domain":{"domain":["www.elifesciences.org"],"crossmark-restriction":false},"short-container-title":[],"abstract":"<jats:p>Among
        various advantages, their small size makes model organisms preferred subjects
        of investigation. Yet, even in model systems detailed analysis of numerous
        developmental processes at cellular level is severely hampered by their scale.
        For instance, secondary growth of Arabidopsis hypocotyls creates a radial
        pattern of highly specialized tissues that comprises several thousand cells
        starting from a few dozen. This dynamic process is difficult to follow because
        of its scale and because it can only be investigated invasively, precluding
        comprehensive understanding of the cell proliferation, differentiation, and
        patterning events involved. To overcome such limitation, we established an
        automated quantitative histology approach. We acquired hypocotyl cross-sections
        from tiled high-resolution images and extracted their information content
        using custom high-throughput image processing and segmentation. Coupled with
        automated cell type recognition through machine learning, we could establish
        a cellular resolution atlas that reveals vascular morphodynamics during secondary
        growth, for example equidistant phloem pole formation.<\/jats:p>","DOI":"10.7554\/elife.01567","type":"journal-article","created":{"date-parts":[[2014,2,11]],"date-time":"2014-02-11T16:29:04Z","timestamp":1392136144000},"source":"Crossref","is-referenced-by-count":31,"title":["Automated
        quantitative histology reveals vascular morphodynamics during Arabidopsis
        hypocotyl secondary growth"],"prefix":"10.7554","volume":"3","author":[{"given":"Martial","family":"Sankar","sequence":"first","affiliation":[{"name":"Department
        of Plant Molecular Biology, University of Lausanne, Lausanne, Switzerland"}]},{"given":"Kaisa","family":"Nieminen","sequence":"additional","affiliation":[{"name":"Department
        of Plant Molecular Biology, University of Lausanne, Lausanne, Switzerland"}]},{"given":"Laura","family":"Ragni","sequence":"additional","affiliation":[{"name":"Department
        of Plant Molecular Biology, University of Lausanne, Lausanne, Switzerland"}]},{"given":"Ioannis","family":"Xenarios","sequence":"additional","affiliation":[{"name":"Vital-IT,
        Swiss Institute of Bioinformatics, Lausanne, Switzerland"}]},{"given":"Christian
        S","family":"Hardtke","sequence":"additional","affiliation":[{"name":"Department
        of Plant Molecular Biology, University of Lausanne, Lausanne, Switzerland"}]}],"member":"4374","published-online":{"date-parts":[[2014,2,11]]},"reference":[{"key":"bib1","doi-asserted-by":"publisher","first-page":"181","DOI":"10.1038\/nature02100","article-title":"APL
        regulates vascular tissue identity in Arabidopsis","volume":"426","author":"Bonke","year":"2003","journal-title":"Nature"},{"key":"bib2","doi-asserted-by":"publisher","first-page":"413","DOI":"10.1534\/genetics.109.104976","article-title":"In
        the beginning was the worm","volume":"182","author":"Brenner","year":"2009","journal-title":"Genetics"},{"key":"bib3","doi-asserted-by":"publisher","first-page":"594","DOI":"10.1034\/j.1399-3054.2002.1140413.x","article-title":"Secondary
        xylem development in Arabidopsis: a model for wood formation","volume":"114","author":"Chaffey","year":"2002","journ[...]
- request:
    method: get
    uri: https://api.crossref.org/members/4374
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1696117222074,"primary-name":"eLife
        Sciences Publications, Ltd","counts":{"current-dois":22582,"backfile-dois":28286,"total-dois":50868},"breakdowns":{"dois-by-issued-year":[[2023,8007],[2022,7322],[2021,7253],[2020,6186],[2019,4848],[2017,4118],[2018,4058],[2016,3512],[2015,2808],[2014,1786],[2013,811],[2012,159]]},"prefixes":["10.7554"],"coverage":{"affiliations-current":0.8403152953679922,"similarity-checking-current":0.0,"descriptions-current":0.0,"ror-ids-current":0.4941989194934018,"funders-backfile":0.3052039878385067,"licenses-backfile":0.9999646468217493,"funders-current":0.2237622885484014,"affiliations-backfile":0.9898182846637913,"resource-links-backfile":0.3481227462348865,"orcids-backfile":0.8474863890263735,"update-policies-current":0.2443096271366575,"ror-ids-backfile":0.002333309764547833,"orcids-current":0.7937738021433,"similarity-checking-backfile":0.0,"references-backfile":0.3392137453157039,"descriptions-backfile":0.0,"award-numbers-backfile":0.2866082160786255,"update-policies-backfile":0.0714487732447147,"licenses-current":1.0,"award-numbers-current":0.2164555840935258,"abstracts-backfile":0.34048645973273,"resource-links-current":0.2443096271366575,"abstracts-current":0.3096271366575148,"references-current":0.2377114515986184},"prefix":[{"name":"eLife
        Sciences Publications, Ltd.","value":"10.7554"}],"id":4374,"tokens":["elife","sciences","publications","ltd"],"counts-type":{"all":{"peer-review":33948,"journal-article":15366,"journal":1,"component":143802,"posted-content":1554},"backfile":{"peer-review":18437,"journal-article":9849},"current":{"peer-review":15511,"journal-article":5517,"posted-content":1554}},"coverage-type":{"all":{"peer-review":{"last-status-check-time":1696117222074,"affiliations":0.894721338517733,"abstracts":0.0,"orcids":0.7960410038882998,"licenses":1.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"ror-ids":0.2387180393543066,"update-policies":0.0,"resource-links":0.0,"descriptions":0.0},"journal-article":{"last-status-check-time":1696117222074,"affiliations":0.9795001952362358,"abstracts":0.9806716126513081,"orcids":0.8825328647663673,"licenses":0.9999349212547182,"references":0.9737732656514382,"funders":0.8906677079265912,"similarity-checking":0.0,"award-numbers":0.8456982949368737,"ror-ids":0.2031758427697514,"update-policies":0.4905635819341403,"resource-links":0.9998698425094364,"descriptions":0.0},"journal":{"last-status-check-time":1696117222074,"affiliations":0.0,"[...]
- request:
    method: get
    uri: https://doi.org/ra/10.7554
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "DOI": "10.7554",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 01 Oct 2023 12:13:44 GMT
recorded_with: VCR 6.2.0
