---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"t7z7clrx49132ut"'
      X-Matched-Path:
      - "/api/posts"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::5lqsj-1685955751671-a7ac675004f6
    body:
      encoding: UTF-8
      string: "[{\"id\":\"https://www.chjh.nl/untitled/\",\"uuid\":\"c801dbdf-6bde-4de4-9455-2ba21c11d4c6\",\"url\":\"https://www.chjh.nl/untitled/\",\"title\":\"Remarks
        on barriers to Open Science for ECRs\",\"summary\":\"Yesterday was the first
        of four listening sessions by the White House's Office of Science and Technology
        Policy. These are specifically geared towards Early-Career Researchers (ECRs),
        which I guess I...\",\"date_published\":\"2023-06-01T07:18:56Z\",\"date_modified\":null,\"authors\":[{\"url\":null,\"name\":\"Chris
        Hartgerink\"}],\"image\":\"https://images.unsplash.com/photo-1570492903043-3d30df7133d5?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wxMTc3M3wwfDF8c2VhcmNofDV8fHdoaXRlJTIwaG91c2V8ZW58MHx8fHwxNjg1NjAzNTcxfDA&ixlib=rb-4.0.3&q=80&w=2000\",\"content_html\":\"<img
        src=\\\"https://images.unsplash.com/photo-1570492903043-3d30df7133d5?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wxMTc3M3wwfDF8c2VhcmNofDV8fHdoaXRlJTIwaG91c2V8ZW58MHx8fHwxNjg1NjAzNTcxfDA&ixlib=rb-4.0.3&q=80&w=2000\\\"
        alt=\\\"Remarks on barriers to Open Science for ECRs\\\"><p>Yesterday was
        the first of four listening sessions by the White House's Office of Science
        and Technology Policy. These are specifically geared towards Early-Career
        Researchers (ECRs), which I guess I technically would still be had I stayed
        in academia.</p><p>I had the opportunity to briefly participate and share
        some prepared remarks. Sharing those here to document my own thoughts and
        make them more accessible. The quality of other's input was inspiring. </p><div
        class=\\\"kg-card kg-callout-card kg-callout-card-grey\\\"><div class=\\\"kg-callout-emoji\\\">&#x1F4A1;</div><div
        class=\\\"kg-callout-text\\\">You can still <a href=\\\"https://www.whitehouse.gov/ostp/events-webinars/?ref=chjh.nl\\\">sign
        up for the next three listening sessions</a>!</div></div><hr><p>I've been
        working on open science for over a decade and did my dissertation on building
        sustainable scientific systems.</p><p>During my PhD I learned that it is the
        early career researchers who are the ones who end up implementing a lot of
        the Open Science policies in the everyday.</p><p>Publishing preprints? ECRs.<br>Preparing
        open data? ECRs.<br>Creating open source research software? ECRs.</p><p>ECRs
        are handholding the senior researchers in the transition to open science.
        Yet, when designing policies, there is no training trajectory supporting ECRs
        to upskill them.</p><p>ECRs are self-taught in many open science practices,
        and that needs to end.</p><p>As an example, at my old university, they instituted
        a data audit procedure, without any training or support in how to prepare
        the needed data packages. Failing an audit had consequences.</p><p>The university's
        \\\"training\\\" was to phase it in over the next few years, so that people
        had time to self-train. This is irresponsible and risks harming ECRs in their
        career by the institution's own shortcomings.</p><p>When I finished my dissertation,
        I had to deliver data packages for each of my chapters, even though it was
        never properly announced I needed to do this. I was lucky, because I was ahead
        of the open science curve and had all of these, but to succeed in open science
        nobody should need to be lucky.</p>\",\"tags\":[\"Speech\"],\"language\":\"en\",\"blog_id\":\"n6x4a73\",\"blog\":{\"id\":\"n6x4a73\",\"title\":\"Chris
        Hartgerink\",\"language\":\"en\",\"favicon\":\"https://www.chjh.nl/favicon.png\",\"feed_url\":\"https://www.chjh.nl/rss/\",\"home_page_url\":\"https://www.chjh.nl/\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"category\":\"Social
        Sciences\"}},{\"id\":\"http://sfmatheson.blogspot.com/2023/05/beshrew-my-heart-but-i-pity-man-final.html\",\"uuid\":\"0951141e-2064-45f4-941f-a58fd74cd1ee\",\"url\":\"http://sfmatheson.blogspot.com/2023/05/beshrew-my-heart-but-i-pity-man-final.html\",\"title\":\"Beshrew
        my heart but I pity the man. Final reflections on From Extraterrestrials to
        Animal Minds by Simon Conway Morris\",\"summary\":\"I've reviewed a few books
        over the years here at Quintessenc[...]
