---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/blogs/468ap65
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"une8q2jt5i24lq"'
      X-Matched-Path:
      - "/api/blogs/[slug]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::j5g4w-1685954207491-ac4348931520
    body:
      encoding: UTF-8
      string: '{"id":"468ap65","title":"Behind the Science","description":"Ein Blog
        aus dem Admin-Bereich der Wissenschaft.","language":"de","icon":null,"favicon":null,"feed_url":"https://ulirockenbauch.blog/feed/atom/","feed_format":"application/atom+xml","home_page_url":"https://ulirockenbauch.blog/","indexed_at":"2023-04-21","license":"https://creativecommons.org/licenses/by/4.0/legalcode","generator":"WordPress","category":"Social
        Sciences","items":[{"id":"https://ulirockenbauch.blog/2022/08/29/strategie-mythen/","uuid":"84651758-f820-4e18-ae5f-4483ff4f4e92","url":"https://ulirockenbauch.blog/2022/08/29/strategie-mythen/","title":"„Müller,
        wir brauchen mal ’ne Strategie!“","summary":"Kein Begriff wird im Wissenschaftsmanagement
        so breitgetreten wie das Wort „Strategie“. Jede Institution hat eine Strategie
        für irgendwas. Täglich werden neue Papiere aufgestellt. Dabei ist es durchaus...","date_published":"2022-08-29T19:03:40Z","date_modified":"2022-08-29T19:03:40Z","authors":[{"url":null,"name":"Uli
        Rockenbauch"}],"image":null,"content_html":"\n<p>Kein Begriff wird im Wissenschaftsmanagement
        so breitgetreten wie das Wort &#8222;Strategie&#8220;. Jede Institution hat
        eine Strategie für irgendwas. Täglich werden neue Papiere aufgestellt. Dabei
        ist es durchaus sinnvoll, sich Strategien zu überlegen &#8211; es kursiert
        nur leider auch viel Quatsch zu diesem Thema. Hier eine Zusammenstellung der
        fünf populärsten Mythen:</p>\n\n\n\n<p><strong>Mythos 1: „Strategisch“ ist
        das Gegenteil von „operativ“.</strong></p>\n\n\n\n<p>Vor ein paar Jahren nahm
        ich auf der Jahrestagung des Netzwerks Wissenschaftsmanagement an einem Workshop
        teil. „Wir sortieren uns jetzt mal im Raum“, rief die Moderatorin eifrig.
        „Alle, die eher operativ arbeiten, gehen mal in die linke Ecke, und alle,
        die eher strategisch arbeiten, in die rechte!“ Ich machte zwar brav mit, aber
        es wurde relativ schnell klar, dass die[...]
