---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/blogs/tyfqw20
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a986ggx9d0k3r"'
      X-Matched-Path:
      - "/api/blogs/[[...params]]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::d4g88-1689021716969-a7ff58d7e07e
    body:
      encoding: UTF-8
      string: '{"id":"tyfqw20","title":"iPhylo","description":"Rants, raves (and occasionally
        considered opinions) on phyloinformatics, taxonomy, and biodiversity informatics.  For
        more ranty and less considered opinions, see my <a href=\"https://twitter.com/rdmpage\">Twitter
        feed</a>.<br>ISSN 2051-8188. Written content on this site is licensed under
        a <a href=\"https://creativecommons.org/licenses/by/4.0/\">Creative Commons
        Attribution 4.0 International license</a>.","language":"en","favicon":null,"feed_url":"https://iphylo.blogspot.com/feeds/posts/default","current_feed_url":null,"feed_format":"application/atom+xml","home_page_url":"https://iphylo.blogspot.com/","indexed_at":"2023-02-06","modified_at":"2023-06-17T15:38:20+00:00","license":"https://creativecommons.org/licenses/by/4.0/legalcode","generator":"Blogger
        7.00","category":"Natural Sciences","backlog":true,"prefix":"10.59350","expired":null,"items":[{"id":"37538c38-66e6-4ac4-ab5c-679684622ade","doi":"https://doi.org/10.59350/2b1j9-qmw12","url":"https://iphylo.blogspot.com/2022/05/round-trip-from-identifiers-to.html","title":"Round
        trip from identifiers to citations and back again","summary":"Note to self
        (basically rewriting last year''s Finding citations of specimens). Bibliographic
        data supports going from identifier to citation string and back again, so
        we can do a \"round trip.\" 1. Given a DOI we can get structured data with
        a simple HTTP fetch, then use a tool such as citation.js to convert that data
        into a human-readable string in a variety of formats. Identifier ⟶ Structured
        data ⟶ Human readable string 10.7717/peerj-cs.214 HTTP with...","published_at":1653669240,"updated_at":1653669259,"indexed_at":1689006804,"authors":[{"url":"https://orcid.org/0000-0002-7101-9767","name":"Roderic
        Page"}],"image":null,"tags":["citation","GBIF","material examined","specimen
        codes"],"language":"en","reference":[]},{"id":"545c177f-cea5-4b79-b554-3ccae9c789d7","doi":"https://doi.org/10.59350/d3dc0-7an69","url":"https://iphylo.blogspot.com/2021/10/reflections-on-macroscope-tool-for-21st.html","title":"Reflections
        on \"The Macroscope\" - a tool for the 21st Century?","summary":"This is a
        guest post by Tony Rees. It would be difficult to encounter a scientist, or
        anyone interested in science, who is not familiar with the microscope, a tool
        for making objects visible that are[...]
