---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/blogs/prmb582
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"pp488uitdomy8"'
      X-Matched-Path:
      - "/api/blogs/[slug]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::5t8md-1685887578236-0a1435ed5c67
    body:
      encoding: UTF-8
      string: '{"id":"prmb582","title":"Citation Style Language","description":"CitationStyles.org,
        home of the Citation Style Language (CSL), a popular open XML-based language
        to describe the formatting of citations and bibliographies.","language":"en","icon":null,"favicon":null,"feed_url":"https://citationstyles.org/feed.xml","feed_format":"application/atom+xml","home_page_url":"https://citationstyles.org/","indexed_at":"2023-04-25","license":"https://creativecommons.org/licenses/by/4.0/legalcode","generator":"Jekyll","category":"Engineering
        and Technology","items":[{"id":"https://citationstyles.org/2014/01/29/mendeley-donates-to-the-csl-project/","short_id":"1jdkoe52","url":"https://citationstyles.org/2014/01/29/mendeley-donates-to-the-csl-project/","title":"Mendeley
        Donates to the CSL Project","summary":"CSL has seen a lot of growth in recent
        years: more than 20 software products use CSL (see the citationstyles.org
        frontpage), and we offer over 6750 free citation styles, covering thousands
        of scientific...","date_published":"2014-01-29T00:00:00Z","date_modified":"2014-01-29T00:00:00Z","authors":[{"url":null,"name":"Rintze
        M. Zelle"}],"image":null,"content_html":"<p>CSL has seen a lot of growth in
        recent years: more than 20 software products use CSL (see the <a href=\"http://citationstyles.org/\">citationstyles.org</a>
        frontpage), and we offer over 6750 free citation styles, covering thousands
        of scientific journals.</p>\n\n<p><img style=\"float: right;\" src=\"/assets/img/mendeley-csl-stickers.jpg\"
        width=\"320\" height=\"256\" /></p>\n\n<p>We could only have come this far
        with our great user community, and with a lot of institutional support from
        Mendeley, Papers, Zotero, and others.</p>\n\n<p><a href=\"http://www.mendeley.com/\">Mendeley</a>
        has been using CSL since their first release in 2008, and adopted Frank Bennett’s
        <a href=\"https://bitbucket.org/fbennett/citeproc-js/wiki/H[...]
