---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/not_indexed/2023-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c0lgvxsmyg2sk1"'
      X-Matched-Path:
      - "/api/posts/not_indexed/[slug]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::fhsk7-1687101829861-776a41c57e87
    body:
      encoding: UTF-8
      string: "[{\"id\":\"https://doi.org/10.59350/b5fwt-6b577\",\"uuid\":\"ca2a7df4-f3b9-487c-82e9-27f54de75ea8\",\"url\":\"https://svpow.com/2023/06/09/three-presentations-today-at-mte14-and-the-papers-that-go-with-them/\",\"title\":\"Three
        presentations today at MTE14, and the papers that go with them\",\"summary\":\"BIG
        day today. The 14th Symposium on Mesozoic Terrestrial Ecosystems and Biota
        (MTE14) is taking place in Salt Lake City this week. Normally I’d be there
        in a heartbeat, but my son is graduating from high school next week and I’m
        far too busy to get away. Still, I’m an author on one poster and two talks
        that are running today, along with the three associated short papers that
        are published in the conference volume in The Anatomical Record.  I will be
        blogging about these things, and shortly,...\",\"date_published\":\"2023-06-09T13:02:26Z\",\"date_modified\":\"2023-06-09T13:02:26Z\",\"date_indexed\":\"1970-01-01T00:00:00+00:00\",\"authors\":[{\"url\":null,\"name\":\"Matt
        Wedel\"}],\"image\":null,\"content_html\":\"\\n<p><a href=\\\"https://svpow.files.wordpress.com/2023/06/ripple-rock-in-the-oklahoma-morrison.jpg\\\"><img
        loading=\\\"lazy\\\" data-attachment-id=\\\"21001\\\" data-permalink=\\\"https://svpow.com/2023/06/09/three-presentations-today-at-mte14-and-the-papers-that-go-with-them/ripple-rock-in-the-oklahoma-morrison/\\\"
        data-orig-file=\\\"https://svpow.files.wordpress.com/2023/06/ripple-rock-in-the-oklahoma-morrison.jpg\\\"
        data-orig-size=\\\"2000,2000\\\" data-comments-opened=\\\"1\\\" data-image-meta=\\\"{\\\"aperture\\\":\\\"1.8\\\",\\\"credit\\\":\\\"\\\",\\\"camera\\\":\\\"iPhone
        7\\\",\\\"caption\\\":\\\"\\\",\\\"created_timestamp\\\":\\\"1530009833\\\",\\\"copyright\\\":\\\"\\\",\\\"focal_length\\\":\\\"3.99\\\",\\\"iso\\\":\\\"20\\\",\\\"shutter_speed\\\":\\\"0.00051203277009729\\\",\\\"title\\\":\\\"\\\",\\\"orientation\\\":\\\"1\\\"}\\\"
        data-image-title=\\\"Ripple rock in the Oklahoma Morrison\\\" data-image-description=\\\"\\\"
        data-image-caption=\\\"\\\" data-medium-file=\\\"https://svpow.files.wordpress.com/2023/06/ripple-rock-in-the-oklahoma-morrison.jpg?w=300\\\"
        data-large-file=\\\"https://svpow.files.wordpress.com/2023/06/ripple-rock-in-the-oklahoma-morrison.jpg?w=480\\\"
        class=\\\"size-large wp-image-21001 aligncenter\\\" src=\\\"https://svpow.files.wordpress.com/2023/06/ri[...]
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/not_indexed
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ll4w4ic9co3a0"'
      X-Matched-Path:
      - "/api/posts/[[...params]]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::jjzwd-1688237856423-827b9226d892
    body:
      encod[...]
