---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/unregistered
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ojfwmyfwfacxk"'
      X-Matched-Path:
      - "/api/posts/unregistered"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::tfxzn-1686498910666-ea864f114549
    body:
      encoding: UTF-8
      string: '[{"id":"https://svpow.com/2023/06/09/three-presentations-today-at-mte14-and-the-papers-that-go-with-them/","uuid":"ca2a7df4-f3b9-487c-82e9-27f54de75ea8","url":"https://svpow.com/2023/06/09/three-presentations-today-at-mte14-and-the-papers-that-go-with-them/","title":"Three
        presentations today at MTE14, and the papers that go with them","summary":"BIG
        day today. The 14th Symposium on Mesozoic Terrestrial Ecosystems and Biota
        (MTE14) is taking place in Salt Lake City this week. Normally I’d be there
        in a heartbeat, but my son is graduating from high...","date_published":"2023-06-09T13:02:26Z","date_modified":"2023-06-09T13:02:26Z","authors":[{"url":null,"name":"Matt
        Wedel"}],"image":null,"content_html":"<p><a href=\"https://svpow.files.wordpress.com/2023/06/ripple-rock-in-the-oklahoma-morrison.jpg\"><img
        loading=\"lazy\" data-attachment-id=\"21001\" data-permalink=\"https://svpow.com/2023/06/09/three-presentations-today-at-mte14-and-the-papers-that-go-with-them/ripple-rock-in-the-oklahoma-morrison/\"
        data-orig-file=\"https://svpow.files.wordpress.com/2023/06/ripple-rock-in-the-oklahoma-morrison.jpg\"
        data-orig-size=\"2000,2000\" data-comments-opened=\"1\" data-image-meta=\"{\"aperture\":\"1.8\",\"credit\":\"\",\"camera\":\"iPhone
        7\",\"caption\":\"\",\"created_timestamp\":\"1530009833\",\"copyright\":\"\",\"focal_length\":\"3.99\",\"iso\":\"20\",\"shutter_speed\":\"0.00051203277009729\",\"title\":\"\",\"orientation\":\"1\"}\"
        data-image-title=\"Ripple rock in the Oklahoma Morrison\" data-image-description=\"\"
        data-image-caption=\"\" data-medium-file=\"https://svpow.files.wordpress.com/2023/06/ripple-rock-in-the-oklahoma-morrison.jpg?w=300\"
        data-large-file=\"https://svpow.files.wordpress.com/2023/06/ripple-rock-in-the-oklahoma-morrison.jpg?w=480\"
        class=\"size-large wp-image-21001 aligncenter\" src=\"https://svpow.files.wordpress.com/2023/06/ripple-rock-in-the-oklahoma-morris[...]
