---
http_interactions:
- request:
    method: get
    uri: https://api.rogue-scholar.org/posts/unregistered
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Fly-Request-Id:
      - 01HC0NZS5CXZGE7F13ZT1QWAE2-fra
    body:
      encoding: UTF-8
      string: '[{"archive_url":null,"authors":[{"name":null}],"blog":{"api":true,"archive_prefix":null,"authors":null,"backlog":0,"canonical_url":true,"category":"law","created_at":"2023-09-15","current_feed_url":null,"description":"Urheberrecht
        und kreatives Schaffen in der digitalen Welt","favicon":null,"feed_format":"application/atom+xml","feed_url":"https://irights.info/feed/atom","filter":null,"funding":null,"generator":"WordPress","home_page_url":"https://irights.info","id":"15san30","issn":null,"language":"de","license":"https://creativecommons.org/licenses/by/4.0/legalcode","modified_at":"2023-09-25T10:21:48+00:00","plan":"Team","prefix":"10.59350","relative_url":null,"slug":"irights","status":"active","title":"iRights.info","use_api":true,"use_mastodon":false,"user_id":"81a5b5f1-97c2-416b-8715-46e10f37018c","version":"https://jsonfeed.org/version/1.1"},"blog_name":"iRights.info","blog_slug":"irights","doi":null,"id":"17d0e31c-bc41-42b8-b873-d3dacee61f5c","image":"https://irights.info/wp-content/uploads/2015/09/mobilsicher-screenshot-490x202.jpg","indexed_at":0,"language":"de","published_at":1441610738,"reference":[],"relationships":[],"summary":"Wer
        sich Gedanken \u00fcber die Sicherheit seiner Daten auf mobilen Ger\u00e4ten
        macht, findet seit heute einen neuen Anlaufpunkt: das Informationsangebot
        mobilsicher.de, welches heute auf der Internationalen Funkausstellung in Berlin
        offiziell gestartet wird.","tags":["Datenschutz Sicherheit","Datensicherheit","Handy"],"title":"Smartphone
        und mobile Ger\u00e4te sicher nutzen: Neue Info-Website mobilsicher.de","updated_at":1477054286,"url":"https://irights.info/2015/09/07/smartphone-und-mobile-geraete-sicher-nutzen-neue-info-website-mobilsicher-de/26023"},{"archive_url":null,"authors":[{"name":null}],"blog":{"api":true,"archive_prefix":null,"authors":null,"backlog":0,"canonical_url":true,"category":"law","created_at":"2023-09-15","current_feed_url":null,"description":"Urheberrecht
        und kreatives Schaffen in der digitalen Welt","favicon":null,"feed_format":"application/atom+xml","feed_url":"https://irights.info/feed/atom","f[...]
