---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1155/2012/291294
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,1,4]],"date-time":"2023-01-04T21:53:57Z","timestamp":1672869237883},"reference-count":27,"publisher":"Hindawi
        Limited","license":[{"start":{"date-parts":[[2012,1,1]],"date-time":"2012-01-01T00:00:00Z","timestamp":1325376000000},"content-version":"unspecified","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Pulmonary
        Medicine"],"published-print":{"date-parts":[[2012]]},"abstract":"<jats:p><jats:italic>Objective<\/jats:italic>.
        To find a statistically significant separation point for the QuantiFERON Gold
        In-Tube (QFT) interferon gamma release assay that could define an optimal
        \u201cretesting zone\u201d for use in serially tested low-risk populations
        who have test \u201creversions\u201d from initially positive to subsequently
        negative results.<jats:italic>Method<\/jats:italic>. Using receiver operating
        characteristic analysis (ROC) to analyze retrospective data collected from
        3 major hospitals, we searched for predictors of reversion until statistically
        significant separation points were revealed. A confirmatory regression analysis
        was performed on an additional sample.<jats:italic>Results<\/jats:italic>.
        In 575 initially positive US healthcare workers (HCWs), 300 (52.2%) had reversions,
        while 275 (47.8%) had two sequential positive tests. The most statistically
        significant (Kappa\u2009=\u20090.48, chi-square\u2009=\u2009131.0,<mml:math
        xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\" id=\"M1\"><mml:mrow><mml:mi>P<\/mml:mi><mml:mo>&lt;<\/mml:mo><mml:mn>0.001<\/mml:mn><\/mml:mrow><\/mml:math>)
        separation point identified by the ROC for predicting reversion was the tuberculosis
        antigen minus-nil (TBag-nil) value at 1.11 International Units per milliliter
        (IU\/mL). The second separation point was found at TBag-nil at 0.72\u2009IU\/mL
        (Kappa\u2009=\u20090.16, chi-square\u2009=\u20098.2,<mml:math xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\"
        id=\"M2\"><mml:mrow><mml:mi>P<\/mml:mi><mml:mo>&lt;<\/mml:mo><mml:mn>0.01<\/mml:mn><\/mml:mrow><\/mml:math>).
        The model was validated by the regression analysis of 287\u2009HCWs.<jats:italic>Conclusion<\/jats:italic>.
        Reversion likelihood increases as the TBag-nil approaches the manufacturer''s
        cut-point of 0.35\u2009IU\/mL. The most statistically significant separation
        point between those who test repeatedly positive and those who revert is 1.11\u2009IU\/mL.
        Clinicians should retest low-risk individuals with initial QFT results\u2009&lt;\u20091.11\u2009IU\/mL.<\/jats:p>","DOI":"10.1155\/2012\/291294","type":"journal-article","created":{"date-parts":[[2012,12,30]],"date-time":"2012-12-30T21:05:01Z","timestamp":1356901501000},"page":"1-7","source":"Crossref","is-referenced-by-count":30,"title":["Delineating
        a Retesting Zone Using Receiver Operating Characteristic Analysis on Serial
        QuantiFERON Tuberculosis Test Results in US Healthcare Workers"],"prefix":"10.1155","volume":"2012","author":[{"given":"Wendy","family":"Thanassi","sequence":"first","affiliation":[{"name":"Department
        of Medicine, Veterans Affairs Palo Alto Health Care System, 3801 Miranda Avenue
        MC-, Palo Alto, CA 94304-1207, USA"},{"name":"Occupational Health Strategic
        Health Care Group, Office of Public Health, Veterans Health Administration,
        Washington, DC 20006, USA"},{"name":"Division of Emergency Medicine, Stanford
        University School of Medicine, Stanford, CA 94304, USA"},{"name":"War Related
        Illness and Injury Study Center (WRIISC) and Mental Illness Research Education
        and Clinical Center (MIRECC), Department of Veterans Affairs, Palo Alto, CA
        94304, USA"}]},{"given":"Art","family":"Noda","sequence":"additional","affiliation":[{"name":"War
        Related Illness and Injury Study Center (WRIISC) and Mental Illness Research
        Education and Clinical Center (MIRECC), Department of Veterans Affairs, Palo
        Alto, CA 94304, USA"},{"name":"Department of Psychiatry and Behavioral Sciences,
        Stanford University School of Medicine, Stanford, CA 94304, USA"}]},{"ORCID":"http:\/\/orcid.org\/0000-0003-2043-4925","authenticated-orcid":true,"given":"Beatriz","family":"Hernandez","sequence":"additional","affiliation":[{"name":"War
        Related Illness and Injury Study Center (WRIISC) and Mental Illness Research
        Education and Clinical Center (MIRECC), Department of Veterans Affairs, Palo
        Alto, CA 94304, USA"},{"name":"Department of Psychiatry and Behavioral Sciences,
        Stanford University School of Medicine, Stanford, CA 94304, USA"}]},{"given":"Jeffery","family":"Newell","sequence":"additional","affilia[...]
- request:
    method: get
    uri: https://doi.org/ra/10.1155
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.1155",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 12 Mar 2023 19:21:21 GMT
recorded_with: VCR 6.1.0
