---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/unregistered
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"11mjjad3boy1wxv"'
      X-Matched-Path:
      - "/api/posts/unregistered"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::tsh86-1686301688168-077a79234d36
    body:
      encoding: UTF-8
      string: '[{"id":"https://irishplants.org/blog/2022/12/26/why-care-about-grasslands/","uuid":"e4872b3e-cd15-407d-8406-33642c1a98b0","url":"https://irishplants.org/blog/2022/12/26/why-care-about-grasslands/","title":"Why
        care about grasslands?","summary":"As someone who has been deeply interested
        by plants as long as I can remember, I have grown to appreciate all the different
        habitats I come across in Ireland. Each has its own unique set of species,
        but one...","date_published":"2022-12-26T00:10:05Z","date_modified":"2022-12-26T17:12:30Z","authors":[{"url":null,"name":"Jake
        Dalzell"}],"image":null,"content_html":"\n<p>As someone who has been deeply
        interested by plants as long as I can remember, I have grown to appreciate
        all the different habitats I come across in Ireland. Each has its own unique
        set of species, but one that has always particularly caught my attention is
        our grasslands. Part of this is probably because my family have been <a rel=\"noreferrer
        noopener\" href=\"https://irishplants.org/field.html\" data-type=\"URL\" data-id=\"https://irishplants.org/field.html\"
        target=\"_blank\">managing our small field for biodiversity</a>, and seeing
        plants, animals, and fungi flourish there has massively influenced my interest
        in ecology. But there&#8217;s also something special about grasslands.</p>\n\n\n\n<figure
        class=\"wp-block-image size-large\"><img decoding=\"async\" loading=\"lazy\"
        src=\"https://irishplants.org/images/islands/roe/landscape2.jpg\" width=\"650\"
        height=\"400\"><figcaption class=\"wp-element-caption\">Species-rich grassland
        dominated by Knapweed (<i>Centaurea nigra</i>) on <a href=\"https://irishplants.org/islands/roe.html\">Roe
        Island</a>, Strangford Lough.</figcaption></figure>\n\n\n\n<p>For one, species-rich
        grassland is rare &#8211; <a rel=\"noreferrer noopener\" href=\"https://pollinators.ie/the-importance-of-species-rich-meadows-and-grasslands-even-mini-ones/\"
        data-type=\"URL\" data-id=\"https://pollinators.ie/the-importance-of-species-rich-meadows-and-grasslands-even-mini-ones/\"
        target=\"_blank\">most has been destroyed through fertiliser input or reseeding</a>.
        Finding even a small area feels like stumbling across a lost world, especially
        in the intensely farmed northern part of Down, on the edge of East Belfast
        where I&#8217;ve grown up. Grasslands can be incredibly diverse, with ten
        or twenty plant species in a single square metre (ten species per square metre
        is generally the benchmark for species-rich grassland), from orchids to grasses,
        and from dainty annuals like Eyebright to beefy perennials like Devil&#8217;s
        Bit.</p>\n\n\n\n<figure class=\"wp-block-image size-large\"><img decoding=\"async\"
        loading=\"lazy\" src=\"https://irishplants.org/images/islands/roe/euphrasia.jpg\"
        width=\"650\" height=\"488\"><figcaption class=\"wp-element-caption\">An Eyebright
        species (<i>Euphrasia nemorosa</i>) on Roe Island.</figcaption></figure>\n\n\n\n<p>Grasslands
        also harbour a huge diversity of arthropod species: butterflies and moths,
        bees and wasps, flies, beetles, spiders, harvestmen and many more. In our
        field we have resident Small Heath (<em>Coenonympha pamphilus</em>) and Cryptic
        Wood White (<em>Leptidea juvernica</em>) butterflies among others. These species
        are uncommon and rapidly declining, and it&#8217;s only in the small pockets
        of remaining habitat that they can still be seen. Protecting these species&#8217;
        habitat means they will continue to be seen every year and not go the way
        of the Wall Brown (<em>Lasiommata megera</em>), which is now so rare <a rel=\"noreferrer
        noopener\[...]
