---
http_interactions:
- request:
    method: get
    uri: https://api.rogue-scholar.org/posts/updated
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '15'
      Ratelimit-Remaining:
      - '14'
      Ratelimit-Reset:
      - '3'
      Fly-Request-Id:
      - 01HEQ6E4HTP85T3NK4C16TKDFM-fra
    body:
      encoding: UTF-8
      string: '[{"archive_url":"https://wayback.archive-it.org/22141/20231105110201/https://blogs.fu-berlin.de/open-access-berlin/2023/10/06/veranstaltungshinweise-november-2023","authors":[{"name":"Georg
        Fischer"}],"blog":{"category":"otherHumanities","description":null,"feed_url":"https://blogs.fu-berlin.de/open-access-berlin/feed/atom/","generator":"WordPress","home_page_url":"https://blogs.fu-berlin.de/open-access-berlin","language":"de","license":"https://creativecommons.org/licenses/by/4.0/legalcode","slug":"oaberlin","status":"active","title":"Open
        Access Blog Berlin","updated_at":1699429735},"blog_name":"Open Access Blog
        Berlin","blog_slug":"oaberlin","doi":"https://doi.org/10.59350/bmvf8-z4q23","guid":"https://blogs.fu-berlin.de/open-access-berlin/?p=1977","id":"bb8932b9-2820-42f8-b22f-f191aaf00e32","image":null,"indexed":false,"indexed_at":1699219437,"language":"de","published_at":1696581036,"reference":[],"relationships":[],"summary":"weiter
        zu Dezember 2023 [folgt in K\u00fcrze] Anmerkung zu dieser Rubrik: Das OABB
        erstellt monatlich eine \u00dcbersicht \u00fcber Termine und Veranstaltungen
        zu Open Access und Open Research in Berlin bzw. an Berliner Einrichtungen.
        Der Fokus liegt dabei auf unseren Partnereinrichtungen und auf Veranstaltungen,
        die sich an die \u00d6ffentlichkeit richten bzw. die offen sind f\u00fcr Angeh\u00f6rige
        der Wissenschafts- und Kulturerbeeinrichtungen in Berlin.","tags":["Veranstaltungshinweise"],"title":"Veranstaltungshinweise
        November 2023","updated_at":1699429735,"url":"https://blogs.fu-berlin.de/open-access-berlin/2023/10/06/veranstaltungshinweise-november-2023"},{"archive_url":"https://wayback.archive-it.org/22124/20231105103706/https://upstream.force11.org/principles-of-open-scholarly-infrastructure-posi-version-1-1-reflections-from-adopters","authors":[{"name":"Ginny
        Hendricks","url":"https://orcid.org/0000-0002-0353-2702"}],"blog":{"category":"humanities","description":"The
        community blog for all things Open Research.","feed_url":"https://upstream.force11.org/atom-complete/","generator":"Ghost","home_page_url":"https://upstream.force11.org","language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","slug":"upstream","status":"active","title":"Upstream","updated_at":1699378833},"blog_name":"Upstream","blog_slug":"upstream","doi":"https://doi.org/10.54900/n6az7-4xb07","guid":"652bb7cb4e902104cd51d525","id":"3d013369-c9fa-4b05-8b5f-ad7e1e2f39a2","image":"https://images.unsplash.com/photo-1529246337709-b1a561ebd175?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wxMTc3M3wwfDF8c2VhcmNofDEyfHxjb2xvdXIlMjBzdGVwc3xlbnwwfHx8fDE2OTkzMDU0MTN8MA&ixlib=rb-4.0.3&q=80&w=2000","indexed":false,"indexed_at":1699348555,"language":"en","published_at":1699347653,"reference":[],"relationships":[],"summary":"<em>The
        Upstream platform was created in order to discuss all things open. Open scholarly
        infrastructure and the need for the community to assess such infrastructures
        are surely at the heart of enabling the open research movement.","tags":["Interviews","Thought
        Pieces"],"title":"Principles of Open Scholarly Infrastructure (POSI) version
        1.1: Reflections from adopters","updated_at":1699378833,"url":"https://upstream.force11.org/principles-of-open-scholarly-infr[...]
