---
http_interactions:
- request:
    method: get
    uri: https://api.rogue-scholar.org/posts/01a92f9a-f8e0-442b-86e2-11530d9d5635
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Fly-Request-Id:
      - 01HC0P4QNT09WHH72MD4TBZZJD-fra
    body:
      encoding: UTF-8
      string: '{"archive_url":null,"authors":[{"name":"Martin Paul Eve","url":"https://orcid.org/0000-0002-5589-8511"}],"blog_name":"Martin
        Paul Eve","blog_slug":"eve","doi":"https://doi.org/10.59348/dmq66-f5d26","id":"01a92f9a-f8e0-442b-86e2-11530d9d5635","image":null,"indexed_at":1696162656,"language":"en","published_at":1494172558,"reference":[],"relationships":[],"summary":"The
        Lenovo G580 comes with Windows 8. It is possible to permanently lock yourself
        out of the operating system if you begin with a Microsoft account and migrate
        this to a local account.","tags":[],"title":"An important note if you have
        a Lenovo G580","updated_at":1494172558,"url":"https://eve.gd/2017/05/07/an-important-note-if-you-have-a-lenovo-g580"}

        '
  recorded_at: Thu, 05 Oct 2023 19:48:26 GMT
recorded_with: VCR 6.2.0
