---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/blogs/tyfqw20
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"6w7me0q1i23h72"'
      X-Matched-Path:
      - "/api/blogs/[slug]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::95rf9-1686862029064-f08aa4b0d0a5
    body:
      encoding: UTF-8
      string: '{"id":"tyfqw20","title":"iPhylo","description":"Rants, raves (and occasionally
        considered opinions) on phyloinformatics, taxonomy, and biodiversity informatics.  For
        more ranty and less considered opinions, see my <a href=\"https://twitter.com/rdmpage\">Twitter
        feed</a>.<br>ISSN 2051-8188. Written content on this site is licensed under
        a <a href=\"https://creativecommons.org/licenses/by/4.0/\">Creative Commons
        Attribution 4.0 International license</a>.","language":"en","favicon":null,"feed_url":"https://iphylo.blogspot.com/feeds/posts/default?alt=rss","feed_format":"application/rss+xml","home_page_url":"https://iphylo.blogspot.com/","indexed_at":"2023-02-06","modified_at":"2023-05-31T17:26:00+00:00","license":"https://creativecommons.org/licenses/by/4.0/legalcode","generator":"Blogger","category":"Natural
        Sciences","backlog":true,"prefix":"10.59350","items":[{"id":"https://doi.org/10.59350/btdk4-42879","uuid":"3e1278f6-e7c0-43e1-bb54-6829e1344c0d","url":"https://iphylo.blogspot.com/2022/09/the-ideal-taxonomic-journal.html","title":"The
        ideal taxonomic journal","summary":"This is just some random notes on an “ideal”
        taxonomic journal, inspired in part by some recent discussions on “turbo-taxonomy”
        (e.g., https://doi.org/10.3897/zookeys.1087.76720 and https://doi.org/10.1186/1742-9994-10-15),
        and also examples such as the Australian Journal of Taxonomy https://doi.org/10.54102/ajt.qxi3r
        which seems well-intentioned but limited. XML One approach is to have highly
        structured text that embeds detailed markup, and ideally a tool that generates
        markup in XML. This is...","date_published":"2022-09-29T14:00:00Z","date_modified":null,"authors":[{"url":null,"name":"noreply@blogger.com
        (Roderic Page)"}],"image":null,"content_html":"<p>This is just some random
        notes on an “ideal” taxonomic journal, inspired in part by some recent discussions
        on “turbo-taxonomy” (e.g., <a href=\"https://doi.org/10.3897/zookeys.1087.76720\">https://doi.org/10.3897/zookeys.1087.76720</a>
        and <a href=\"https://doi.org/10.1186/1742-9994-10-15\">https://doi.org/10.1186/1742-9994-10-15</a>),
        and also examples such as the Australian Journal of Taxonomy <a href=\"https://doi.org/10.54102/ajt.qxi3r\">https://doi.org/10.54102/ajt.qxi3r</a>
        which seems well-intentioned but limited.</p>\n<h2 id=\"xml\">XML</h2>\n<p>One
        approach is to have highly structured text that embeds detailed markup, and
        ideally a tool that generates markup in XML. This is the approach taken by
        Pensoft. There is an inevitable trade-off between the burden on authors of
        marking up text versus making the paper machine readable. In some ways this
        seems misplaced effort given that there is little evidence that publications
        by themselves have much value (see <a href=\"https://iphylo.blogspot.com/2021/12/the-business-of-extracting-knowledge.html\">The
        Business of Extracting Knowledge from Academic Publications</a>). “Value”
        in this case means as a source of data or factual statements that we can compute
        over. Human-readable text is not a good way to convey this sort of information.</p>\n<p>It’s
        also interesting that many editing tools are going in the opposite direction,
        for example there are minimalist tools using <a href=\"https://en.wikipedia.org/wiki/Markdown\">Markdown</a>
        where the goal is to <em>get out of the author’s way</em>, rather than impose
        a way of writing. Text is written by humans for humans, so the tools should
        be human-friendly.</p>\n<p>The idea of publishing using XML is attractive
        in that it gives you XML that can be archived by, say, PubMed Central, but
        other than that the value seems limited. A cursory glance at download stats
        for journals that provide PDF and XML downloads, such as <em>PLoS One</em>
        and <em>ZooKeys</em>, P[...]
