---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/unregistered
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"das7e3njkl5os"'
      X-Matched-Path:
      - "/api/posts/[[...params]]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::7jrls-1689021432068-6fc4514abca4
    body:
      encoding: UTF-8
      string: "[{\"id\":\"3023e24a-817d-452e-bb6e-ddadecce94c6\",\"doi\":null,\"url\":\"https://blog.front-matter.io/posts/rogue-scholar-full-text-search-improvements\",\"title\":\"Rogue
        Scholar full-text search improvements\",\"summary\":\"Two weeks ago I added
        a first version of full-text search to the Rogue Scholar blog archive. This
        was a good start, as blogs typically only have the timeline, tags, and metadata
        like titles and authors to help readers find relevant content. Today I launched
        an improved version of full-text search with these improvements: Sorting of
        search results by relevanceSupport for fuzzy search or approximate string
        matchingAdded the backend for an updated search interface supporting faceted
        search and/or...\",\"published_at\":1688994653,\"updated_at\":1689001959,\"indexed_at\":1689007007,\"authors\":[{\"url\":\"https://orcid.org/0000-0003-1419-2405\",\"name\":\"Martin
        Fenner\"}],\"image\":\"https://images.unsplash.com/photo-1472512946974-cc09a294e210?crop&#x3D;entropy&cs&#x3D;tinysrgb&fit&#x3D;max&fm&#x3D;jpg&ixid&#x3D;M3wxMTc3M3wwfDF8c2VhcmNofDI3fHxzZWFyY2h8ZW58MHx8fHwxNjg4OTkyNDk1fDA&ixlib&#x3D;rb-4.0.3&q&#x3D;80&w&#x3D;2000\",\"tags\":[\"News\"],\"language\":\"en\",\"reference\":[{\"doi\":\"https://doi.org/10.53731/80awr-zcc48\",\"key\":\"ref1\"},{\"doi\":\"https://doi.org/10.1136/bmj.c181\",\"key\":\"ref2\"}],\"blog_id\":\"f0m0e38\",\"blog_name\":\"Front
        Matter\",\"blog\":{\"id\":\"f0m0e38\",\"title\":\"Front Matter\",\"description\":\"The
        Front Matter Blog covers the intersection of science and technology since
        2007.\",\"language\":\"en\",\"favicon\":\"https://blog.front-matter.io/favicon.png\",\"feed_url\":\"https://blog.front-matter.io/atom-complete/\",\"home_page_url\":\"https://blog.front-matter.io\",\"user_id\":\"8498eaf6-8c58-4b58-bc15-27eda292b1aa\",\"created_at\":\"2023-05-31T07:20:33+00:00\",\"indexed_at\":\"2023-01-02\",\"feed_format\":\"application/atom+xml\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"generator\":\"Ghost
        5.52\",\"category\":\"Engineering and Technology\",\"prefix\":\"10.53731\",\"modified_at\":\"2023-07-05T19:22:17+00:00\",\"version\":\"https://jsonfeed.org/version/1.1\",\"backlog\":false,\"current_feed_url\":\"https://blog.front-matter.io/atom/\",\"expired\":null}},{\"id\":\"a90b23ea-fda1-4c07-b034-9d16961c2046\",\"doi\":null,\"url\":\"https://blog.oa.works/join-the-oa-report-for-libraries-pilot-to-simplify-compliance-checking-for-your-institutional-funders-oa-policies\",\"title\":\"Join
        the OA.Report for libraries pilot to simplify compliance checking for your
        institutional & funder’s OA policies.\",\"summary\":\"Today, we’re happy to
        announce that you can join the OA.Report for libraries pilot! If you’re interested
        [...]
