---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/unregistered
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"186hikhcrmc428k"'
      X-Matched-Path:
      - "/api/posts/unregistered"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::76dzm-1686895893148-cf0937181bd8
    body:
      encoding: UTF-8
      string: '[{"id":"https://citationstyles.org/2011/03/18/csl-1-0-first-anniversary","uuid":"031faba3-3a6e-49d1-a540-26523be2fd09","url":"https://citationstyles.org/2011/03/18/csl-1-0-first-anniversary/","title":"CSL
        1.0 First Anniversary","summary":"It’s been a year since version 1.0 of the
        Citation Style Language was released, but now is as an exciting time as ever.
        Zotero 2.1, Mendeley 0.9.8 and Papers2 now all use CSL 1.0 for citation formatting
        (Zotero and Mendeley both use citeproc-js, the open source JavaScript CSL
        1.0 processor by Frank G. Bennett, Jr.). The document converter Pandoc now
        supports citeproc-hs 0.3.2, an open source Haskell CSL 1.0 processor, and
        work is ongoing for CSL 1.0 processors written in PHP...","date_published":"2011-03-18T00:00:00Z","date_modified":"2011-03-18T00:00:00Z","date_indexed":"1970-01-01T00:00:00+00:00","authors":[{"url":null,"name":"Rintze
        M. Zelle"}],"image":null,"content_html":"<p>It’s been a year since version
        1.0 of the Citation Style Language was released, but now is as an exciting
        time as ever.\n<a href=\"http://www.zotero.org/\">Zotero 2.1</a>, <a href=\"http://www.mendeley.com/\">Mendeley
        0.9.8</a> and <a href=\"http://www.mekentosj.com/papers/\">Papers2</a> now
        all use CSL 1.0 for citation formatting (Zotero and Mendeley both use <a href=\"https://bitbucket.org/fbennett/citeproc-js/wiki/Home\">citeproc-js</a>,
        the open so[...]
