---
http_interactions:
- request:
    method: get
    uri: https://blog.datacite.org/eating-your-own-dog-food
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
      Location:
      - https://datacite.org/blog/eating-your-own-dog-food
      Host-Header:
      - 6b7412fb82ca5edfd0917e3957f05d89
      X-Proxy-Cache:
      - MISS
      X-Proxy-Cache-Info:
      - '0301 NC:000000 UP:'
    body:
      encoding: ISO-8859-1
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>301 Moved Permanently</title>
        </head><body>
        <h1>Moved Permanently</h1>
        <p>The document has moved <a href="https://datacite.org/blog/eating-your-own-dog-food">here</a>.</p>
        </body></html>
  recorded_at: Thu, 05 Oct 2023 19:48:09 GMT
- request:
    method: get
    uri: https://datacite.org/blog/eating-your-own-dog-food
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Redirect-By:
      - WordPress
      Location:
      - https://datacite.org/blog/eating-your-own-dog-food/
      X-Httpd-Modphp:
      - '1'
      Host-Header:
      - 6b7412fb82ca5edfd0917e3957f05d89
      X-Proxy-Cache:
      - MISS
      X-Proxy-Cache-Info:
      - '0301 NC:000000 UP:'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 05 Oct 2023 19:48:10 GMT
- request:
    method: get
    uri: https://datacite.org/blog/eating-your-own-dog-food/
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Link:
      - "<https://datacite.org/?p=2989>; rel=shortlink"
      X-Tec-Api-Version:
      - v1
      X-Tec-Api-Root:
      - https://datacite.org/wp-json/tribe/events/v1/
      X-Tec-Api-Origin:
      - https://datacite.org
      X-Httpd-Modphp:
      - '1'
      Host-Header:
      - 8441280b0c35cbc1147f8ba998a563a7
      X-Proxy-Cache:
      - HIT
    body:
      encoding: UTF-8
      string: |-
        <!doctype html><html lang="en_US"><head><meta charset="UTF-8"><title>Eating your own Dog Food - DataCite</title><link rel="stylesheet" id="siteground-optimizer-combined-css-f6e383b359c17f1e753ea86e13263460" href="https://datacite.org/wp-content/uploads/siteground-optimizer-assets/siteground-optimizer-combined-css-f6e383b359c17f1e753ea86e13263460.css" media="all" /><meta name="viewport"
         content="width=device-width, user-scalable=yes, initial-scale=1. maximum-scale=5, minimum-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><link rel="icon" href="https://datacite.org/wp-content/themes/mohito[...]
