---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.7554
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "DOI": "10.7554",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 12 Mar 2023 22:22:20 GMT
- request:
    method: get
    uri: https://api.crossref.org/members/4374
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1678839611205,"primary-name":"eLife
        Sciences Publications, Ltd","counts":{"current-dois":14300,"backfile-dois":28272,"total-dois":42572},"breakdowns":{"dois-by-issued-year":[[2021,7219],[2022,6454],[2020,6182],[2019,4846],[2017,4117],[2018,4053],[2016,3510],[2015,2808],[2014,1786],[2013,811],[2023,627],[2012,159]]},"prefixes":["10.7554"],"coverage":{"affiliations-current":0.987972027972028,"similarity-checking-current":0.0,"descriptions-current":0.0,"ror-ids-current":0.5530769230769231,"funders-backfile":0.3053551216751556,"licenses-backfile":0.9999646293152235,"funders-current":0.2936363636363636,"affiliations-backfile":0.9898132427843803,"resource-links-backfile":0.3482951329937748,"orcids-backfile":0.8474108658743633,"update-policies-current":0.3194405594405594,"ror-ids-backfile":0.002192982456140351,"orcids-current":0.9474125874125874,"similarity-checking-backfile":0.0,"references-backfile":0.3393817204301075,"descriptions-backfile":0.0,"award-numbers-backfile":0.2867501414827391,"update-policies-backfile":0.070776740237691,"licenses-current":1.0,"award-numbers-current":0.2837062937062937,"abstracts-backfile":0.34065506508206,"resource-links-current":0.3194405594405594,"abstracts-current":0.3178321678321678,"references-current":0.3076923076923077},"prefix":[{"name":"eLife
        Sciences Publications, Ltd.","value":"10.7554"}],"id":4374,"tokens":["elife","sciences","publications","ltd"],"counts-type":{"all":{"peer-review":28114,"journal-article":14417,"journal":1,"component":143802,"posted-content":41},"backfile":{"peer-review":18423,"journal-article":9849},"current":{"peer-review":9691,"journal-article":4568,"posted-content":41}},"coverage-type":{"all":{"peer-review":{"last-status-check-time":1678839611205,"affiliations":0.994308885252899,"abstracts":0.0,"orcids":0.8839723980934766,"licenses":1.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"ror-ids":0.2070498683929715,"update-policies":0.0,"resource-links":0.0,"descriptions":0.0},"journal-article":{"last-status-check-time":1678839611205,"affiliations":0.9791912325726573,"abstracts":0.9804397586182978,"orcids":0.8748699452035791,"licenses":0.9999306374419089,"references":0.9707290004855379,"funders":0.8900603454255392,"similarity-checking":0.0,"award-numbers":0.8437261566206562,"ror-ids":0.1491294998959562,"update-policies":0.4556426441007144,"resource-links":0.9998612748838177,"descriptions":0.0},"journal":{"last-status-check-time":1678839611205,"affiliations":0.0,"[...]
