---
http_interactions:
- request:
    method: get
    uri: https://blog.datacite.org/eating-your-own-dog-food
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Redirect-By:
      - WordPress
      Location:
      - https://blog.datacite.org/eating-your-own-dog-food/
      X-Httpd-Modphp:
      - '1'
      Host-Header:
      - 6b7412fb82ca5edfd0917e3957f05d89
      X-Proxy-Cache:
      - MISS
      X-Proxy-Cache-Info:
      - '0301 NC:000000 UP:'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 12 Mar 2023 22:21:35 GMT
- request:
    method: get
    uri: https://blog.datacite.org/eating-your-own-dog-food/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Link:
      - "<https://blog.datacite.org/?p=2989>; rel=shortlink"
      - <https://blog.datacite.org/wp-json/>; rel="https://api.w.org/"
      - <https://blog.datacite.org/wp-json/wp/v2/posts/2989>; rel="alternate"; type="application/json"
      X-Httpd-Modphp:
      - '1'
      Host-Header:
      - 6b7412fb82ca5edfd0917e3957f05d89
      X-Proxy-Cache:
      - MISS
      X-Proxy-Cache-Info:
      - '0 NC:000000 UP:'
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html><html lang="en-US"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1"><link rel="profile" href="https://gmpg.org/xfn/11"><link rel="pingback" href="https://blog.datacite.org/xmlrpc.php"> <!-- Author Meta Tags by Molongui Authorship, visit: https://wordpress.org/plugins/molongui-authorship/ --><meta name="author" content="Martin Fenner"><meta name="twitter:creator" content="https://twitter.com/mfenner" /> <!-- /Molongui Authorship --><title>Eating your own Dog Food &#8211; DataCite Blog</title><link rel="stylesheet" id="siteground-optimizer-combined-css-4cb4e4f707c625f08ff97c179c09bb68" href="https://blog.datacite.org/wp-content/uploads/siteground-optimizer-assets/siteground-optimizer-combined-css-4cb4e4f707c625f08ff97c179c09bb68.css" media="all" /><meta name='robots' content='max-image-preview:large' /><link rel='dns-prefetch' href='//plausible.io' /><link rel='dns-prefetch' href='//v0.wordpress.com' /><link href='https://fonts.gstatic.com' crossorigin rel='preconnect' /><link rel="alternate" type="application/rss+xml" title="DataCite Blog &raquo; Feed" href="https://blog.datacite.org/feed/" /><link rel="alternate" type="application/rss+xml" title="DataCite Blog &raquo; Comments Feed" href="https://blog.datacite.org/comments/feed/" /> <style id='wp-block-library-inline-css' type='text/css'> .has-text-align-justify{text-align:justify;} </style> <style id='global-styles-inline-css' type='text/css'> body{--wp--preset--color--black: #000000;--wp--preset--color--cyan-bluish-gray: #abb8c3;--wp--preset--color--white: #ffffff;--wp--preset--color--pale-pink: #f78da7;--wp--preset--color--vivid-red: #cf2e2e;--wp--preset--color--luminous-vivid-orange: #ff6900;--wp--preset--color--luminous-vivid-amber: #fcb900;--wp--preset--color--light-green-cy[...]
