---
http_interactions:
- request:
    method: get
    uri: https://blog.front-matter.io/posts/eating-your-own-dog-food
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Status:
      - 301 Moved Permanently
      Location:
      - "/posts/eating-your-own-dog-food/"
      Ghost-Cache:
      - MISS
      Ghost-Age:
      - '0'
      Ghost-Fastly:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 05 Oct 2023 19:47:40 GMT
- request:
    method: get
    uri: https://blog.front-matter.io/posts/eating-your-own-dog-food/
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"8e21-Aw7bQMYR1NmUtfW12qMOMiNspGA"
      Ghost-Cache:
      - MISS
      Ghost-Age:
      - '0'
      Ghost-Fastly:
      - 'true'
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"utf-8\">\n
        \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n
        \   <title>Eating your own Dog Food</title>\n    <link rel=\"stylesheet\"
        href=\"https://blog.front-matter.io/assets/built/screen.css?v=6869c21382\">\n\n
        \   <meta name=\"citation_doi\" content=\"https://doi.org/10.53731/r79vxn1-97aq74v-ag58n\">\n
        \   <meta name=\"citation_title\" content=\"Eating your own Dog Food\">\n
        \   <meta name=\"citation_abstract\" content=\"Eating your own dog food is
        a slang term to describe that an organization should itself use the products
        and services it provides. For Dat[...]
