---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/1jdkoe52
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"s9i5zuh1o62w6"'
      X-Matched-Path:
      - "/api/posts/[slug]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::p7tvx-1685873912215-b62d20998ec5
    body:
      encoding: UTF-8
      string: '{"id":"https://citationstyles.org/2014/01/29/mendeley-donates-to-the-csl-project/","short_id":"1jdkoe52","url":"https://citationstyles.org/2014/01/29/mendeley-donates-to-the-csl-project/","title":"Mendeley
        Donates to the CSL Project","summary":"CSL has seen a lot of growth in recent
        years: more than 20 software products use CSL (see the citationstyles.org
        frontpage), and we offer over 6750 free citation styles, covering thousands
        of scientific...","date_published":"2014-01-29T00:00:00Z","date_modified":"2014-01-29T00:00:00Z","authors":[{"url":null,"name":"Rintze
        M. Zelle"}],"image":null,"content_html":"<p>CSL has seen a lot of growth in
        recent years: more than 20 software products use CSL (see the <a href=\"http://citationstyles.org/\">citationstyles.org</a>
        frontpage), and we offer over 6750 free citation styles, covering thousands
        of scientific journals.</p>\n\n<p><img style=\"float: right;\" src=\"/assets/img/mendeley-csl-stickers.jpg\"
        width=\"320\" height=\"256\" /></p>\n\n<p>We could only have come this far
        with our great user community, and with a lot of institutional support from
        Mendeley, Papers, Zotero, and others.</p>\n\n<p><a href=\"http://www.mendeley.com/\">Mendeley</a>
        has been using CSL since their first release in 2008, and adopted Frank Bennett’s
        <a href=\"https://bitbucket.org/fbennett/citeproc-js/wiki/H[...]
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/1jdkwod5
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"15ahqsuw1ek2q9"'
      X-Matched-Path:
      - "/api/posts/[slug]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::9bqqh-1685877219798-ee7c311b5c7e
    body:
      encoding: UTF-[...]
