---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/zkevlyd3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"aszzwmkdb8oo"'
      X-Matched-Path:
      - "/api/posts/[slug]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::mp984-1685868057008-668fd6625f5a
    body:
      encoding: UTF-8
      string: '{"id":"https://wisspub.net/2023/05/23/eu-mitgliedstaaten-betonen-die-rolle-von-wissenschaftsgeleiteten-open-access-modellen-jenseits-von-apcs/","short_id":"zkevlyd3","url":"https://wisspub.net/2023/05/23/eu-mitgliedstaaten-betonen-die-rolle-von-wissenschaftsgeleiteten-open-access-modellen-jenseits-von-apcs/","title":"EU-Mitgliedstaaten
        betonen die Rolle von wissenschaftsgeleiteten Open-Access-Modellen jenseits
        von APCs","summary":"Die EU-Wissenschaftsministerien haben sich auf ihrer
        heutigen Sitzung in Brüssel unter dem Titel “Council conclusions on high-quality,
        transparent, open, trustworthy and equitable scholarly publishing” (PDF...","date_published":"2023-05-23T09:16:53Z","date_modified":"2023-05-23T09:16:53Z","authors":[{"url":"https://orcid.org/0000-0003-3334-2771","name":"Heinz
        Pampel"}],"image":null,"content_html":"\n<p>Die EU-Wissenschaftsministerien
        haben sich auf ihrer <a href=\"https://www.consilium.europa.eu/en/press/press-releases/2023/05/23/council-calls-for-transparent-equitable-and-open-access-to-scholarly-publications/\">heutigen
        Sitzung</a> in Brüssel unter dem Titel “Council conclusions on high-quality,
        transparent, open, trustworthy and equitable scholarly publishing” (<a href=\"https://data.consilium.europa.eu/doc/document/ST-8827-2023-INIT/en/pdf\">PDF
        der en[...]
