---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.2973/odp.proc.ir.180.2000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,9,13]],"date-time":"2022-09-13T23:30:27Z","timestamp":1663111827500},"reference-count":0,"publisher":"Ocean
        Drilling Program","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.2973\/odp.proc.ir.180.2000","type":"monograph","created":{"date-parts":[[2006,10,17]],"date-time":"2006-10-17T15:50:37Z","timestamp":1161100237000},"source":"Crossref","is-referenced-by-count":11,"title":["Proceedings
        of the Ocean Drilling Program, 180 Initial Reports"],"prefix":"10.2973","member":"1029","published-online":{"date-parts":[[2000,2,4]]},"container-title":["Proceedings
        of the Ocean Drilling Program"],"original-title":[],"deposited":{"date-parts":[[2009,2,2]],"date-time":"2009-02-02T16:19:43Z","timestamp":1233591583000},"score":1,"resource":{"primary":{"URL":"http:\/\/www-odp.tamu.edu\/publications\/180_IR\/180TOC.HTM"}},"subtitle":[],"editor":[{"given":"B.","family":"Taylor","sequence":"first","affiliation":[]},{"given":"P.","family":"Huchon","sequence":"additional","affiliation":[]},{"given":"A.","family":"Klaus","sequence":"additional","affiliation":[]},{"name":"et
        al.","sequence":"additional","affiliation":[]}],"short-title":[],"issued":{"date-parts":[[2000,2,4]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.2973\/odp.proc.ir.180.2000","relation":{},"published":{"date-parts":[[2000,2,4]]}}}'
  recorded_at: Sun, 12 Mar 2023 19:21:00 GMT
- request:
    method: get
    uri: https://doi.org/ra/10.2973
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.2973",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 12 Mar 2023 19:21:01 GMT
recorded_with: VCR 6.1.0
