---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1007/978-3-319-75889-3_1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T17:17:23Z","timestamp":1649006243690},"publisher-location":"Cham","reference-count":44,"publisher":"Springer
        International Publishing","isbn-type":[{"value":"9783319758886","type":"print"},{"value":"9783319758893","type":"electronic"}],"license":[{"start":{"date-parts":[[2018,1,1]],"date-time":"2018-01-01T00:00:00Z","timestamp":1514764800000},"content-version":"unspecified","delay-in-days":0,"URL":"http:\/\/www.springer.com\/tdm"},{"start":{"date-parts":[[2018,1,1]],"date-time":"2018-01-01T00:00:00Z","timestamp":1514764800000},"content-version":"unspecified","delay-in-days":0,"URL":"http:\/\/www.springer.com\/tdm"}],"content-domain":{"domain":["link.springer.com"],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2018]]},"DOI":"10.1007\/978-3-319-75889-3_1","type":"book-chapter","created":{"date-parts":[[2018,4,17]],"date-time":"2018-04-17T09:24:17Z","timestamp":1523957057000},"page":"1-13","update-policy":"http:\/\/dx.doi.org\/10.1007\/springer_crossmark_policy","source":"Crossref","is-referenced-by-count":1,"title":["Climate
        Change and Increasing Risk of Extreme Heat"],"prefix":"10.1007","author":[{"given":"Hunter
        M.","family":"Jones","sequence":"first","affiliation":[]}],"member":"297","published-online":{"date-parts":[[2018,4,18]]},"reference":[{"key":"1_CR1","unstructured":"Associated
        Press First heat, now fog dogging Olympic event planning in Sochi (2014) The
        National [Internet]. 2014 Feb 17; Available from: https:\/\/www.thenational.ae\/sport\/first-heat-now-fog-dogging-olympic-event-planning-in-sochi-1.280874"},{"key":"1_CR2","unstructured":"Styles
        R, Bhatia S (2016) Call this the Summer Olympics? Torrential rain and high
        winds leave tennis delayed, rowing canceled - and spectators drenched. Daily
        Mail [Internet]. Rio de Janeiro; 2016 Aug 10; Available from: http:\/\/www.dailymail.co.uk\/news\/article-3733434\/It-s-washout-Olympics-battered-torrential-rain-high-winds-latest-misfortune-hit-Rio.html"},{"key":"1_CR3","unstructured":"Coonan
        C (2008) Beijing losing battle against Olympic smog. The Independent [Internet].
        Beijing; 2008 Jul 28; Available from: http:\/\/www.independent.co.uk\/sport\/olympics\/beijing-losing-battle-against-olympic-smog-879421.html"},{"key":"1_CR4","unstructured":"Davey
        M. (2007) Death, Havoc and Heat Mar Chicago Race. The New York Times [Internet].
        Chicago, IL; 2007 Oct 8; Available from: http:\/\/www.nytimes.com\/2007\/10\/08\/us\/08chicago.html"},{"key":"1_CR5","unstructured":"National
        Weather Service. Weather Fatalities 2016 [Internet]. Natural Hazard Statistics.
        2016 [cited 2017 Aug 22]. Available from: http:\/\/www.nws.noaa.gov\/om\/hazstats.shtml"},{"issue":"13","key":"1_CR6","first-page":"1","volume":"63","author":"E
        Choudhary","year":"2014","unstructured":"Choudhary E, Vaidyanathan A (2014)
        Heat stress illness hospitalizations \u2014 environmental public health tracking
        program, 20 states, 2001\u20132010. MMWR Surveill Summ 63(13):1\u201310. Available
        from: https:\/\/www.cdc.gov\/mmwr\/pdf\/ss\/ss6313.pdf","journal-title":"MMWR
        Surveill Summ"},{"issue":"1","key":"1_CR7","doi-asserted-by":"publisher","first-page":"57","DOI":"10.1007\/s10900-015-0064-7","volume":"41","author":"ED
        Fechter-Leggett","year":"2016","unstructured":"Fechter-Leggett ED, Vaidyanathan
        A, Choudhary E (2016) Heat stress illness emergency department visits in National
        Environmental Public Health Tracking States, 2005\u20132010. J Community Health
        41(1):57\u201369. Available from: http:\/\/link.springer.com\/10.1007\/s10900-015-0064-7","journal-title":"J
        Community Health"},{"issue":"11","key":"1_CR8","doi-asserted-by":"publisher","first-page":"2854","DOI":"10.1073\/pnas.1614453114","volume":"114","author":"JL
        Schnell","year":"2017","unstructured":"Schnell JL, Prather MJ (2017) Co-occurrence
        of extremes in surface ozone, particulate matter, and temperature over eastern
        North America. Proc Natl Acad Sci 114(11):2854\u20132859. Available from:
        http:\/\/www.pnas.org\/lookup\/doi\/10.1073\/pnas.1614453114","journal-title":"Proc
        Natl Acad Sci"},{"issue":"5","key":"1_CR9","doi-asserted-by":"publisher","first-page":"345","DOI":"10.1038\/ngeo2141","volume":"7","author":"DG
        Miralles","year":"2014","unstructured":"Miralles DG, Teuling AJ, van Heerwaarden
        CC, Vil\u00e0-Guerau de Arellano J (2014) Mega-heatwave temperatures due to
        combined soil desiccation and atmospheric heat accumulation. Nat Geosci 7(5):345\u201334[...]
- request:
    method: get
    uri: https://doi.org/ra/10.1007
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.1007",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 12 Mar 2023 19:21:07 GMT
recorded_with: VCR 6.1.0
