---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1103/physrevlett.120.117701
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,3,8]],"date-time":"2023-03-08T15:26:53Z","timestamp":1678289213641},"reference-count":53,"publisher":"American
        Physical Society (APS)","issue":"11","license":[{"start":{"date-parts":[[2018,3,13]],"date-time":"2018-03-13T00:00:00Z","timestamp":1520899200000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/link.aps.org\/licenses\/aps-default-license"}],"funder":[{"DOI":"10.13039\/501100001711","name":"Schweizerischer
        Nationalfonds zur F\u00f6rderung der Wissenschaftlichen Forschung","doi-asserted-by":"publisher"},{"DOI":"10.13039\/100010661","name":"Horizon
        2020 Framework Programme","doi-asserted-by":"publisher"}],"content-domain":{"domain":["journals.aps.org"],"crossmark-restriction":true},"short-container-title":["Phys.
        Rev. Lett."],"DOI":"10.1103\/physrevlett.120.117701","type":"journal-article","created":{"date-parts":[[2018,3,13]],"date-time":"2018-03-13T11:18:56Z","timestamp":1520939936000},"update-policy":"http:\/\/dx.doi.org\/10.1103\/crossmark-policy","source":"Crossref","is-referenced-by-count":62,"title":["Prediction
        of a Large-Gap and Switchable Kane-Mele Quantum Spin Hall Insulator"],"prefix":"10.1103","volume":"120","author":[{"given":"Antimo","family":"Marrazzo","sequence":"first","affiliation":[]},{"given":"Marco","family":"Gibertini","sequence":"additional","affiliation":[]},{"given":"Davide","family":"Campi","sequence":"additional","affiliation":[]},{"given":"Nicolas","family":"Mounet","sequence":"additional","affiliation":[]},{"given":"Nicola","family":"Marzari","sequence":"additional","affiliation":[]}],"member":"16","published-online":{"date-parts":[[2018,3,13]]},"reference":[{"key":"PhysRevLett.120.117701Cc1R1","doi-asserted-by":"publisher","DOI":"10.1103\/PhysRevLett.61.2015"},{"key":"PhysRevLett.120.117701Cc2R1","doi-asserted-by":"publisher","DOI":"10.1103\/PhysRevLett.95.226801"},{"key":"PhysRevLett.120.117701Cc3R1","doi-asserted-by":"publisher","DOI":"10.1103\/PhysRevLett.95.146802"},{"key":"PhysRevLett.120.117701Cc4R1","doi-asserted-by":"crossref","volume-title":"Topological
        Insulators and Topological Superconductors","author":"B.\u2009A. Bernevig","year":"2013","DOI":"10.1515\/9781400846733"},{"key":"PhysRevLett.120.117701Cc5R1","doi-asserted-by":"publisher","DOI":"10.1126\/science.1148047"},{"key":"PhysRevLett.120.117701Cc6R1","doi-asserted-by":"publisher","DOI":"10.1126\/science.1133734"},{"key":"PhysRevLett.120.117701Cc7R1","doi-asserted-by":"publisher","DOI":"10.1038\/nmat5012"},{"key":"PhysRevLett.120.117701Cc8R1","doi-asserted-by":"publisher","DOI":"10.1126\/science.aai8142"},{"key":"PhysRevLett.120.117701Cc9R1","doi-asserted-by":"publishe[...]
- request:
    method: get
    uri: https://doi.org/ra/10.1103
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.1103",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 12 Mar 2023 19:21:11 GMT
recorded_with: VCR 6.1.0
