---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1038/ng.3834
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,3,11]],"date-time":"2023-03-11T11:20:58Z","timestamp":1678533658539},"reference-count":55,"publisher":"Springer
        Science and Business Media LLC","issue":"5","license":[{"start":{"date-parts":[[2017,4,3]],"date-time":"2017-04-03T00:00:00Z","timestamp":1491177600000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/www.springer.com\/tdm"}],"content-domain":{"domain":["link.springer.com"],"crossmark-restriction":false},"short-container-title":["Nat
        Genet"],"published-print":{"date-parts":[[2017,5]]},"DOI":"10.1038\/ng.3834","type":"journal-article","created":{"date-parts":[[2017,4,3]],"date-time":"2017-04-03T22:27:19Z","timestamp":1491258439000},"page":"692-699","update-policy":"http:\/\/dx.doi.org\/10.1007\/springer_crossmark_policy","source":"Crossref","is-referenced-by-count":257,"title":["The
        impact of structural variation on human gene expression"],"prefix":"10.1038","volume":"49","author":[{"given":"Colby","family":"Chiang","sequence":"first","affiliation":[]},{"name":"GTEx
        Consortium","sequence":"first","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0002-1930-9265","authenticated-orcid":false,"given":"Alexandra
        J","family":"Scott","sequence":"additional","affiliation":[]},{"given":"Joe
        R","family":"Davis","sequence":"additional","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0001-7287-6448","authenticated-orcid":false,"given":"Emily
        K","family":"Tsang","sequence":"additional","affiliation":[]},{"given":"Xin","family":"Li","sequence":"additional","affiliation":[]},{"given":"Yungil","family":"Kim","sequence":"additional","affiliation":[]},{"given":"Tarik","family":"Hadzic","sequence":"additional","affiliation":[]},{"given":"Farhan
        N","family":"Damani","sequence":"additional","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0002-8762-622X","authenticated-orcid":false,"given":"Liron","family":"Ganel","sequence":"additional","affiliation":[]},{"given":"Stephen
        B","family":"Montgomery","sequence":"additional","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0002-5287-627X","authenticated-orcid":false,"given":"Alexis","family":"Battle","sequence":"additional","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0003-3828-8970","authenticated-orcid":false,"given":"Donald
        F","family":"Conrad","sequence":"additional","affiliation":[]},{"given":"Ira
        M","family":"Hall","sequence":"additional","affiliation":[]}],"member":"297","published-online":{"date-parts":[[2017,4,3]]},"reference":[{"key":"BFng3834_CR1","doi-asserted-by":"crossref","first-page":"779","DOI":"10.1016\/j.ajhg.2013.10.012","volume":"93","author":"SL
        Edwards","year":"2013","unstructured":"Edwards, S.L., Beesley, J., French,
        J.D. & Dunning, A.M. Beyond GWASs: illuminating the dark road from association
        to function. Am. J. Hum. Genet. 93, 779\u2013797 (2013).","journal-title":"Am.
        J. Hum. Genet."},{"key":"BFng3834_CR2","doi-asserted-by":"crossref","first-page":"506","DOI":"10.1038\/nature12531","volume":"501","author":"T
        Lappalainen","year":"2013","unstructured":"Lappalainen, T. et al. Transcriptome
        and genome sequencing uncovers functional variation in humans. Nature 501,
        506\u2013511 (2013).","journal-title":"Nature"},{"key":"BFng3834_CR3","doi-asserted-by":"crossref","unstructured":"GTEx
        Consortium. Human genomics: the Genot[...]
- request:
    method: get
    uri: https://doi.org/ra/10.1038
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.1038",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 12 Mar 2023 19:21:03 GMT
recorded_with: VCR 6.1.0
