---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1007/978-3-642-33191-6_49
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,3,30]],"date-time":"2022-03-30T13:35:33Z","timestamp":1648647333922},"publisher-location":"Berlin,
        Heidelberg","reference-count":11,"publisher":"Springer Berlin Heidelberg","isbn-type":[{"value":"9783642331909","type":"print"},{"value":"9783642331916","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2012]]},"DOI":"10.1007\/978-3-642-33191-6_49","type":"book-chapter","created":{"date-parts":[[2012,8,21]],"date-time":"2012-08-21T19:47:07Z","timestamp":1345578427000},"page":"499-508","source":"Crossref","is-referenced-by-count":3,"title":["Human
        Body Orientation Estimation in Multiview Scenarios"],"prefix":"10.1007","author":[{"given":"Lili","family":"Chen","sequence":"first","affiliation":[]},{"given":"Giorgio","family":"Panin","sequence":"additional","affiliation":[]},{"given":"Alois","family":"Knoll","sequence":"additional","affiliation":[]}],"member":"297","reference":[{"key":"49_CR1","unstructured":"Khan,
        S., Javed, O., Rasheed, Z., Shah, M.: Human tracking in multiple cameras.
        In: Proceedings of the 8th IEEE International Conference on Computer Vision,
        Vancouver, Canada, pp. 331\u2013336 (2001)"},{"key":"49_CR2","series-title":"Lecture
        Notes in Computer Science","doi-asserted-by":"publisher","first-page":"28","DOI":"10.1007\/978-3-540-24670-1_3","volume-title":"Computer
        Vision - ECCV 2004","author":"K. Okuma","year":"2004","unstructured":"Okuma,
        K., Taleghani, A., de Freitas, N., Little, J.J., Lowe, D.G.: A Boosted Particle
        Filter: Multitarget Detection and Tracking. In: Pajdla, T., Matas, J(G.) (eds.)
        ECCV 2004. LNCS, vol.\u00a03021, pp. 28\u201339. Springer, Heidelberg (2004)"},{"key":"49_CR3","doi-asserted-by":"publisher","first-page":"247","DOI":"10.1007\/s11263-006-0027-7","volume":"75","author":"B.
        Wu","year":"2007","unstructured":"Wu, B., Nevatia, R.: Detection and tracking
        of multiple, partially occluded humans by bayesian combination of edgelet
        based part detectors. International Journal of Computer Vision\u00a075, 247\u2013266
        (2007)","journal-title":"International Journal of Computer Vision"},{"key":"49_CR4","doi-asserted-by":"crossref","unstructured":"Leibe,
        B., Schindler, K., Van Gool, L.: Coupled detection and trajectory estimation
        for multi-object tracking. In: International Conference on Computer Vision
        (2007)","DOI":"10.1109\/ICCV.2007.4408936"},{"key":"49_CR5","doi-asserted-by":"crossref","unstructured":"Andriluka,
        M., Roth, S., Schiele, B.: Monocular 3d pose estimation and tracking by detection.
     [...]
- request:
    method: get
    uri: https://doi.org/ra/10.1007
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.1007",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 12 Mar 2023 19:21:14 GMT
recorded_with: VCR 6.1.0
