---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1093/oxfordhb/9780198746140.013.5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,8,3]],"date-time":"2022-08-03T04:44:39Z","timestamp":1659501879388},"reference-count":0,"publisher":"Oxford
        University Press","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2018,4,5]]},"abstract":"<p>This
        chapter explores the nature of the connections between contemporary understandings
        of the bodhisattva path as socially engaged, and the canonical Mah\u0101y\u0101na
        tradition in India\u2014the Ugraparip\u1e5bcch\u0101-s\u016btra and the works
        of \u015a\u0101ntideva. These canonical treatments of the bodhisattva\u2019s
        career are compared with a contemporary understanding as reflected in the
        commentary on \u015a\u0101ntideva\u2019s Bodhicary\u0101vat\u0101ra by Pema
        Ch\u00f6dr\u00f6n. This analysis reveals distinct visions of the bodhisattva,
        from the Ugra\u2019s elite superhero, to \u015a\u0101ntideva\u2019s saintly
        bodhisattva, to the modern view of the bodhisattva as social activist. The
        career of the bodhisattva is furthermore shown to involve a range of types
        of social engagement. While the canonical texts support the ideal of imbuing
        all daily activities with an altruistic motive, as well as endorsing selfless
        service to meet the needs and wants of sentient beings, only the contemporary
        reading of the bodhisattva path advocates social action to address systemic
        causes of collective suffering.<\/p>","DOI":"10.1093\/oxfordhb\/9780198746140.013.5","type":"book","created":{"date-parts":[[2018,4,5]],"date-time":"2018-04-05T14:30:07Z","timestamp":1522938607000},"source":"Crossref","is-referenced-by-count":1,"title":["The
        Changing Way of the Bodhisattva"],"prefix":"10.1093","author":[{"given":"Barbra
        R.","family":"Clayton","sequence":"additional","affiliation":[]}],"member":"286","container-title":["Oxford
        Handbooks Online"],"original-title":["The Changing Way of the Bodhisattva"],"deposited":{"date-parts":[[2022,8,2]],"date-time":"2022-08-02T17:08:37Z","timestamp":1659460117000},"score":1,"resource":{"primary":{"URL":"https:\/\/academic.oup.com\/edited-volume\/28081\/chapter\/212116415"}},"subtitle":[],"editor":[{"given":"Daniel","family":"Cozort","sequence":"first","affiliation":[]},{"given":"James
        Mark","family":"Shields","sequence":"additional","affiliation":[]}],"short-title":[],"issued":{"date-parts":[[2018,4,5]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1093\/oxfordhb\/9780198746140.013.5","relation":{},"published":{"date-parts":[[2018,4,5]]}}}'
  recorded_at: Sun, 12 Mar 2023 19:21:16 GMT
- request:
    method: get
    uri: https://doi.org/ra/10.1093
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.1093",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 12 Mar 2023 19:21:16 GMT
recorded_with: VCR 6.1.0
