---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1371/journal.pmed.0030277.g001
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,3,31]],"date-time":"2022-03-31T23:32:53Z","timestamp":1648769573811},"reference-count":0,"publisher":"Public
        Library of Science (PLoS)","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.1371\/journal.pmed.0030277.g001","type":"component","created":{"date-parts":[[2015,10,20]],"date-time":"2015-10-20T20:01:19Z","timestamp":1445371279000},"source":"Crossref","is-referenced-by-count":0,"title":[],"prefix":"10.1371","member":"340","container-title":[],"original-title":[],"deposited":{"date-parts":[[2018,10,19]],"date-time":"2018-10-19T21:13:42Z","timestamp":1539983622000},"score":1,"resource":{"primary":{"URL":"https:\/\/dx.plos.org\/10.1371\/journal.pmed.0030277.g001"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1371\/journal.pmed.0030277.g001","relation":{}}}'
  recorded_at: Sun, 12 Mar 2023 19:20:53 GMT
- request:
    method: get
    uri: https://doi.org/ra/10.1371
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.1371",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 12 Mar 2023 19:20:53 GMT
recorded_with: VCR 6.1.0
