---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1371/journal.pmed.0030277.g001
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,3,31]],"date-time":"2022-03-31T23:32:53Z","timestamp":1648769573811},"reference-count":0,"publisher":"Public
        Library of Science (PLoS)","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.1371\/journal.pmed.0030277.g001","type":"component","created":{"date-parts":[[2015,10,20]],"date-time":"2015-10-20T20:01:19Z","timestamp":1445371279000},"source":"Crossref","is-referenced-by-count":0,"title":[],"prefix":"10.1371","member":"340","container-title":[],"original-title":[],"deposited":{"date-parts":[[2018,10,19]],"date-time":"2018-10-19T21:13:42Z","timestamp":1539983622000},"score":1,"resource":{"primary":{"URL":"https:\/\/dx.plos.org\/10.1371\/journal.pmed.0030277.g001"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1371\/journal.pmed.0030277.g001","relation":{}}}'
  recorded_at: Sun, 12 Mar 2023 22:22:11 GMT
- request:
    method: get
    uri: https://doi.org/ra/10.1371
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "DOI": "10.1371",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 12 Mar 2023 22:22:11 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.1371/journal.pmed.0030277.g001/transform/application/vnd.crossref.unixsd+xml
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <http://dx.doi.org/10.1371/journal.pmed.0030277.g001>; rel="canonical"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<crossref_result xmlns=\"http://www.crossref.org/qrschema/3.0\"
        version=\"3.0\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.crossref.org/qrschema/3.0
        http://www.crossref.org/schemas/crossref_query_output3.0.xsd\">\r\n  <query_result>\r\n
        \   <head>\r\n      <doi_batch_id>none</doi_batch_id>\r\n    </head>\r\n    <body>\r\n
        \     <query status=\"resolved\">\r\n        <doi type=\"component\">10.1371/journal.pmed.0030277.g001</doi>\r\n
        \       <crm-item name=\"publisher-name\" type=\"string\">Public Library of
        Science (PLoS)</crm-item>\r\n        <crm-item name=\"prefix-name\" type=\"string\">Public
        Library of Science</crm-item>\r\n        <crm-item name=\"member-id\" type=\"number\">340</crm-item>\r\n
        \       <crm-item name=\"citation-id\" type=\"number\">78426024</crm-item>\r\n
        \       <crm-item name=\"journal-id\" type=\"number\">31937</crm-item>\r\n
        \       <crm-item name=\"deposit-timestamp\" type=\"number\">201510161053338750</crm-item>\r\n
        \       <crm-item name=\"owner-prefix\" type=\"string\">10.1371</crm-item>\r\n
        \       <crm-item name=\"last-update\" type=\"date\">2018-10-19T21:13:42Z</crm-item>\r\n
        \       <crm-item name=\"created\" type=\"date\">2015-10-20T20:01:19Z</crm-item>\r\n
        \       <crm-item name=\"citedby-count\" type=\"number\">0</crm-item>\r\n
        \       <crm-item name=\"relation\" type=\"doi\" claim=\"hasComponent\">10.1371/journal.pmed.0030277</crm-item>\r\n
        \       <doi_record>\r\n          <crossref xmlns=\"http://www.crossref.org/xschema/1.1\"
        xsi:schemaLocation=\"http://www.crossref.org/xschema/1.1 http://doi.crossref.org/schemas/unixref1.1.xsd\">\r\n
        \           <sa_component>\r\n              <component_list>\r\n                <component
        reg-agency=\"CrossRef\">\r\n                  <description />\r\n                  <doi_data>\r\n
        \                   <doi>10.1371/journal.pmed.0030277.g001</doi>\r\n                    <resource>https://dx.plos.org/10.1371/journal.pmed.0030277.g001</resource>\r\n
        \                 </doi_data>\r\n                </component>\r\n              </component_list>\r\n
        \           </sa_component>\r\n          </crossref>\r\n        </doi_record>\r\n
        \     </query>\r\n    </body>\r\n  </query_result>\r\n</crossref_result>"
  recorded_at: Sun, 12 Mar 2023 22:27:09 GMT
recorded_with: VCR 6.1.0
