---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.2210/pdb4hhb/pdb
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,2,7]],"date-time":"2023-02-07T22:10:15Z","timestamp":1675807815981},"description":"x-ray
        diffraction structure","reference-count":0,"publisher":"Worldwide Protein
        Data Bank","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.2210\/pdb4hhb\/pdb","type":"component","created":{"date-parts":[[2006,1,5]],"date-time":"2006-01-05T00:34:58Z","timestamp":1136421298000},"source":"Crossref","is-referenced-by-count":0,"title":["THE
        CRYSTAL STRUCTURE OF HUMAN DEOXYHAEMOGLOBIN AT 1.74 ANGSTROMS RESOLUTION"],"prefix":"10.2210","author":[{"given":"G.","family":"Fermi","sequence":"first","affiliation":[]},{"given":"M.F.","family":"Perutz","sequence":"additional","affiliation":[]}],"member":"7763","published-online":{"date-parts":[[1984,7,17]]},"container-title":[],"original-title":[],"deposited":{"date-parts":[[2023,2,7]],"date-time":"2023-02-07T21:29:26Z","timestamp":1675805366000},"score":1,"resource":{"primary":{"URL":"https:\/\/www.wwpdb.org\/pdb?id=pdb_00004hhb"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[1984,7,17]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.2210\/pdb4hhb\/pdb","relation":{},"published":{"date-parts":[[1984,7,17]]}}}'
  recorded_at: Sun, 12 Mar 2023 22:22:18 GMT
- request:
    method: get
    uri: https://doi.org/ra/10.2210
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "DOI": "10.2210",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 12 Mar 2023 22:22:19 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.2210/pdb4hhb/pdb/transform/application/vnd.crossref.unixsd+xml
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <http://dx.doi.org/10.2210/pdb4hhb/pdb>; rel="canonical"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<crossref_result xmlns=\"http://www.crossref.org/qrschema/3.0\"
        version=\"3.0\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.crossref.org/qrschema/3.0
        http://www.crossref.org/schemas/crossref_query_output3.0.xsd\">\r\n  <query_result>\r\n
        \   <head>\r\n      <doi_batch_id>none</doi_batch_id>\r\n    </head>\r\n    <body>\r\n
        \     <query status=\"resolved\">\r\n        <doi type=\"component\">10.2210/pdb4hhb/pdb</doi>\r\n
        \       <crm-item name=\"publisher-name\" type=\"string\">Worldwide Protein
        Data Bank</crm-item>\r\n        <crm-item name=\"prefix-name\" type=\"string\">Worldwide
        Protein Data Bank</crm-item>\r\n        <crm-item name=\"member-id\" type=\"number\">7763</crm-item>\r\n
        \       <crm-item name=\"citation-id\" type=\"number\">19153065</crm-item>\r\n
        \       <crm-item name=\"book-id\" type=\"number\">501074</crm-item>\r\n        <crm-item
        name=\"deposit-timestamp\" type=\"number\">20230207132853</crm-item>\r\n        <crm-item
        name=\"owner-prefix\" type=\"string\">10.2210</crm-item>\r\n        <crm-item
        name=\"last-update\" type=\"date\">2023-02-07T21:29:26Z</crm-item>\r\n        <crm-item
        name=\"created\" type=\"date\">2006-01-05T00:34:58Z</crm-item>\r\n        <crm-item
        name=\"citedby-count\" type=\"number\">0</crm-item>\r\n        <doi_record>\r\n
        \         <crossref xmlns=\"http://www.crossref.org/xschema/1.1\" xsi:schemaLocation=\"http://www.crossref.org/xschema/1.1
        http://doi.crossref.org/schemas/unixref1.1.xsd\">\r\n            <sa_component>\r\n
        \             <component_list>\r\n                <component reg-agency=\"Crossref\">\r\n
        \                 <titles>\r\n                    <title>THE CRYSTAL STRUCTURE
        OF HUMAN DEOXYHAEMOGLOBIN AT 1.74 ANGSTROMS RESOLUTION</title>\r\n                  </titles>\r\n
        \                 <contributors>\r\n                    <person_name sequence=\"first\"
        contributor_role=\"author\">\r\n                      <given_name>G.</given_name>\r\n
        \                     <surname>Fermi</surname>\r\n                    </person_name>\r\n
        \                   <person_name sequence=\"additional\" contributor_role=\"author\">\r\n
        \                     <given_name>M.F.</given_name>\r\n                      <surname>Perutz</surname>\r\n
        \                   </person_name>\r\n                  </contributors>\r\n
        \                 <publication_date media_type=\"online\">\r\n                    <month>07</month>\r\n
        \                   <day>17</day>\r\n                    <year>1984</year>\r\n
        \                 </publication_date>\r\n                  <description>x-ray
        diffraction structure</description>\r\n                  <doi_data>\r\n                    <doi>10.2210/pdb4hhb/pdb</doi>\r\n
        \                   <resource>https://www.wwpdb.org/pdb?id=pdb_00004hhb</resource>\r\n
        \                 </doi_data>\r\n                </component>\r\n              </component_list>\r\n
        \           </sa_component>\r\n          </crossref>\r\n        </doi_record>\r\n
        \     </query>\r\n    </body>\r\n  </query_result>\r\n</crossref_result>"
  recorded_at: Sun, 12 Mar 2023 22:27:09 GMT
recorded_with: VCR 6.1.0
