---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.2737/rds-2018-0001
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,3,29]],"date-time":"2022-03-29T17:05:18Z","timestamp":1648573518641},"publisher-location":"Fort
        Collins, CO","reference-count":6,"publisher":"Forest Service Research Data
        Archive","funder":[{"DOI":"10.13039\/100006959","name":"U.S. Forest Service","doi-asserted-by":"publisher"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.2737\/rds-2018-0001","type":"dataset","created":{"date-parts":[[2017,8,9]],"date-time":"2017-08-09T19:44:20Z","timestamp":1502307860000},"source":"Crossref","is-referenced-by-count":1,"title":["Fledging
        times of grassland birds"],"prefix":"10.2737","author":[{"ORCID":"http:\/\/orcid.org\/0000-0003-2583-1778","authenticated-orcid":true,"given":"Christine
        A.","family":"Ribic","sequence":"first","affiliation":[{"name":"U.S. Geological
        Survey"}]},{"ORCID":"http:\/\/orcid.org\/0000-0003-4606-044X","authenticated-orcid":true,"given":"Pamela
        J.","family":"Pietz","sequence":"additional","affiliation":[{"name":"U.S.
        Geological Survey"}]},{"given":"Nicola","family":"Koper","sequence":"additional","affiliation":[{"name":"University
        of Manitoba"}]},{"given":"Christoph S.","family":"Ng","sequence":"additional","affiliation":[{"name":"University
        of Manitoba"}]}],"member":"1450","reference":[{"key":"ref1","doi-asserted-by":"publisher","DOI":"10.5066\/F7V98780"},{"key":"ref2","doi-asserted-by":"publisher","DOI":"10.1016\/j.biocon.2016.11.002"},{"key":"ref3","doi-asserted-by":"publisher","DOI":"10.1642\/0004-8038(2005)122[0618:EABNGB]2.0.CO;2"},{"key":"ref4","series-title":"Studies
        in Avian Biology","first-page":"119","volume-title":"Bird productivity and
        nest predation in agricultural grasslands","volume":"43","author":"Ribic","year":"2012"},{"key":"ref5","doi-asserted-by":"publisher","DOI":"10.1371\/journal.pone.0059151"},{"key":"ref6","doi-asserted-by":"publisher","DOI":"10.1674\/0003-0031-178.1.47"}],"container-title":["Forest
        Service Research Data Archive"],"original-title":[],"deposited":{"date-parts":[[2021,7,1]],"date-time":"2021-07-01T22:10:21Z","timestamp":1625177421000},"score":1,"resource":{"primary":{"URL":"https:\/\/www.fs.usda.gov\/rds\/archive\/Catalog\/RDS-2018-0001"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[null]]},"references-count":6,"URL":"http:\/\/dx.doi.org\/10.2737\/rds-2018-0001","relation":{}}}'
  recorded_at: Sun, 12 Mar 2023 22:21:51 GMT
- request:
    method: get
    uri: https://doi.org/ra/10.2737
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "DOI": "10.2737",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 12 Mar 2023 22:21:51 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.2737/rds-2018-0001/transform/application/vnd.crossref.unixsd+xml
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <http://dx.doi.org/10.2737/rds-2018-0001>; rel="canonical", <http://orcid.org/0000-0003-2583-1778>;
        title="Christine A. Ribic"; rel="author", <http://orcid.org/0000-0003-4606-044X>;
        title="Pamela J. Pietz"; rel="author"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<crossref_result xmlns=\"http://www.crossref.org/qrschema/3.0\"
        version=\"3.0\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.crossref.org/qrschema/3.0
        http://www.crossref.org/schemas/crossref_query_output3.0.xsd\">\r\n  <query_result>\r\n
        \   <head>\r\n      <doi_batch_id>none</doi_batch_id>\r\n    </head>\r\n    <body>\r\n
        \     <query status=\"resolved\">\r\n        <doi type=\"dataset\">10.2737/RDS-2018-0001</doi>\r\n
        \       <crm-item name=\"publisher-name\" type=\"string\">USDA Forest Service</crm-item>\r\n
        \       <crm-item name=\"prefix-name\" type=\"string\">USDA Forest Service,
        Research &amp; Development</crm-item>\r\n        <crm-item name=\"member-id\"
        type=\"number\">1450</crm-item>\r\n        <crm-item name=\"citation-id\"
        type=\"number\">92231967</crm-item>\r\n        <crm-item name=\"book-id\"
        type=\"number\">2005400</crm-item>\r\n        <crm-item name=\"deposit-timestamp\"
        type=\"number\">202006041527</crm-item>\r\n        <crm-item name=\"owner-prefix\"
        type=\"string\">10.2737</crm-item>\r\n        <crm-item name=\"last-update\"
        type=\"date\">2021-07-01T22:10:21Z</crm-item>\r\n        <crm-item name=\"created\"
        type=\"date\">2017-08-09T19:44:20Z</crm-item>\r\n        <crm-item name=\"citedby-count\"
        type=\"number\">1</crm-item>\r\n        <doi_record>\r\n          <crossref
        xmlns=\"http://www.crossref.org/xschema/1.1\" xsi:schemaLocation=\"http://www.crossref.org/xschema/1.1
        http://doi.crossref.org/schemas/unixref1.1.xsd\">\r\n            <database>\r\n
        \             <database_metadata language=\"en\">\r\n                <titles>\r\n
        \                 <title>Forest Service Research Data Archive</title>\r\n
        \               </titles>\r\n                <publisher>\r\n                  <publisher_name>Forest
        Service Research Data Archive</publisher_name>\r\n                  <publisher_place>Fort
        Collins, CO</publisher_place>\r\n                </publisher>\r\n              </database_metadata>\r\n
        \             <dataset dataset_type=\"collection\">\r\n                <contributors>\r\n
        \                 <person_name contributor_role=\"author\" sequence=\"first\">\r\n
        \                   <given_name>Christine A.</given_name>\r\n                    <surname>Ribic</surname>\r\n
        \                   <affiliation>U.S. Geological Survey</affiliation>\r\n
        \                   <ORCID authenticated=\"true\">http://orcid.org/0000-0003-2583-1778</ORCID>\r\n
        \                 </person_name>\r\n                  <person_name contributor_role=\"author\"
        sequence=\"additional\">\r\n                    <given_name>Pamela J.</given_name>\r\n
        \                   <surname>Pietz</surname>\r\n                    <affiliation>U.S.[...]
[...]
- request:
    method: get
    uri: https://api.crossref.org/members/1450
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1678837019459,"primary-name":"USDA
        Forest Service","counts":{"current-dois":366,"backfile-dois":7293,"total-dois":7659},"breakdowns":{"dois-by-issued-year":[[1980,225],[1986,223],[1982,218],[1985,217],[1981,211],[1984,210],[2005,204],[1983,204],[2016,200],[1987,192],[2011,191],[2007,191],[2019,189],[2004,189],[2021,188],[2012,188],[1989,185],[1990,183],[1993,180],[1988,179],[2013,178],[2010,176],[1991,175],[2008,174],[2009,170],[1992,170],[1999,168],[1996,168],[2002,167],[2020,166],[2003,166],[2006,164],[1994,163],[1997,159],[1995,158],[2018,150],[2014,150],[2000,149],[1998,145],[2022,142],[2017,139],[2001,129],[2015,127],[2023,36],[1973,2],[1976,1]]},"prefixes":["10.2737"],"coverage":{"affiliations-current":0.3961748633879781,"similarity-checking-current":0.0,"descriptions-current":0.0,"ror-ids-current":0.0,"funders-backfile":1.371177841766077E-4,"licenses-backfile":0.0,"funders-current":0.0,"affiliations-backfile":0.02372137666255313,"resource-links-backfile":0.0,"orcids-backfile":0.01398601398601399,"update-policies-current":0.0,"ror-ids-backfile":0.0,"orcids-current":0.1448087431693989,"similarity-checking-backfile":0.0,"references-backfile":0.017825311942959,"descriptions-backfile":0.0,"award-numbers-backfile":0.0,"update-policies-backfile":0.0,"licenses-current":0.0,"award-numbers-current":0.0,"abstracts-backfile":0.0,"resource-links-current":0.0,"abstracts-current":0.0,"references-current":0.4808743169398907},"prefix":[{"name":"USDA
        Forest Service, Research & Development","value":"10.2737"}],"id":1450,"tokens":["usda","forest","service"],"counts-type":{"all":{"report-component":13,"report":7514,"book-part":143,"component":230,"dataset":777},"backfile":{"report-component":1,"report":7212,"book-part":80},"current":{"report-component":12,"report":302,"book-part":52}},"coverage-type":{"all":{"report-component":{"last-status-check-time":1678837019459,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.07692307692307691,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.0,"descriptions":0.0},"report":{"last-status-check-time":1678837019459,"affiliations":0.03406973649188182,"abstracts":0.0,"orcids":0.01903114186851211,"licenses":0.0,"references":0.03420282140005323,"funders":1.330849081714134E-4,"similarity-checking":0.0,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.0,"descriptions":0.0},"book-part":{"last-status-check-time":1678837019459,"affiliations":0.4335664335664336,"abstracts":0.0,"orcids":0.08391608391608392,"licenses":0.0,"references":0.335[...]
