---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.2210/pdb4hhb/pdb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,2,7]],"date-time":"2023-02-07T22:10:15Z","timestamp":1675807815981},"description":"x-ray
        diffraction structure","reference-count":0,"publisher":"Worldwide Protein
        Data Bank","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.2210\/pdb4hhb\/pdb","type":"component","created":{"date-parts":[[2006,1,5]],"date-time":"2006-01-05T00:34:58Z","timestamp":1136421298000},"source":"Crossref","is-referenced-by-count":0,"title":["THE
        CRYSTAL STRUCTURE OF HUMAN DEOXYHAEMOGLOBIN AT 1.74 ANGSTROMS RESOLUTION"],"prefix":"10.2210","author":[{"given":"G.","family":"Fermi","sequence":"first","affiliation":[]},{"given":"M.F.","family":"Perutz","sequence":"additional","affiliation":[]}],"member":"7763","published-online":{"date-parts":[[1984,7,17]]},"container-title":[],"original-title":[],"deposited":{"date-parts":[[2023,2,7]],"date-time":"2023-02-07T21:29:26Z","timestamp":1675805366000},"score":1,"resource":{"primary":{"URL":"https:\/\/www.wwpdb.org\/pdb?id=pdb_00004hhb"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[1984,7,17]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.2210\/pdb4hhb\/pdb","relation":{},"published":{"date-parts":[[1984,7,17]]}}}'
  recorded_at: Sun, 12 Mar 2023 19:21:02 GMT
- request:
    method: get
    uri: https://doi.org/ra/10.2210
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.2210",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 12 Mar 2023 19:21:02 GMT
recorded_with: VCR 6.1.0
