---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1016/j.ejphar.2015.03.018
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,2,6]],"date-time":"2023-02-06T21:32:31Z","timestamp":1675719151664},"reference-count":98,"publisher":"Elsevier
        BV","license":[{"start":{"date-parts":[[2015,7,1]],"date-time":"2015-07-01T00:00:00Z","timestamp":1435708800000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"funder":[{"DOI":"10.13039\/100000002","name":"NIH","doi-asserted-by":"publisher","award":["R01
        NS089482","R01 NS077869","P01 MH070306","P40 OD013117","T32 OD011089"]}],"content-domain":{"domain":["elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["European
        Journal of Pharmacology"],"published-print":{"date-parts":[[2015,7]]},"DOI":"10.1016\/j.ejphar.2015.03.018","type":"journal-article","created":{"date-parts":[[2015,4,6]],"date-time":"2015-04-06T07:31:19Z","timestamp":1428305479000},"page":"303-312","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":23,"title":["Paving
        the path to HIV neurotherapy: Predicting SIV CNS disease"],"prefix":"10.1016","volume":"759","author":[{"given":"Sarah
        E.","family":"Beck","sequence":"first","affiliation":[]},{"given":"Suzanne
        E.","family":"Queen","sequence":"additional","affiliation":[]},{"given":"Kenneth
        W.","family":"Witwer","sequence":"additional","affiliation":[]},{"given":"Kelly
        A.","family":"Metcalf Pate","sequence":"additional","affiliation":[]},{"given":"Lisa
        M.","family":"Mangus","sequence":"additional","affiliation":[]},{"given":"Lucio","family":"Gama","sequence":"additional","affiliation":[]},{"given":"Robert
        J.","family":"Adams","sequence":"additional","affiliation":[]},{"given":"Janice
        E.","family":"Clements","sequence":"additional","affiliation":[]},{"given":"M.","family":"Christine
        Zink","sequence":"additional","affiliation":[]},{"given":"Joseph L.","family":"Mankowski","sequence":"additional","affiliation":[]}],"member":"78","reference":[{"key":"10.1016\/j.ejphar.2015.03.018_bib1","first-page":"6062","article-title":"Characterization
        of the peptide binding motif of a rhesus MHC class I molecule (Mamu-A*01)
        that binds an immunodominant CTL epitope from simianimmunodeficiency virus.","volume":"160","author":"Allen","year":"1998","journal-title":"J.
        Immunol"},{"key":"10.1016\/j.ejphar.2015.03.018_bib2","doi-asserted-by":"crossref","first-page":"1789","DOI":"10.1212\/01.WNL.0000287431.88658.8b","article-title":"Updated
        research nosology for HIV-associated neurocognitive disorders","volume":"69","author":"Antinori","year":"2007","journal-title":"Neurology"},{"key":"10.1016\/j.ejphar.2015.03.018_bib3","doi-asserted-by":"crossref","first-page":"3140","DOI":"10.1182\/blood-2010-09-308684","article-title":"Identification
     [...]
- request:
    method: get
    uri: https://doi.org/ra/10.1016
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.1016",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 12 Mar 2023 19:21:08 GMT
recorded_with: VCR 6.1.0
