---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.14264/uql.2020.791
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"institution":[{"name":"The
        University of Queensland","department":["School of Social Science"]}],"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T00:57:13Z","timestamp":1648947433930},"reference-count":0,"publisher":"University
        of Queensland Library","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.14264\/uql.2020.791","type":"dissertation","created":{"date-parts":[[2020,6,8]],"date-time":"2020-06-08T05:08:58Z","timestamp":1591592938000},"approved":{"date-parts":[[2020,5,25]]},"source":"Crossref","is-referenced-by-count":0,"title":["School
        truancy and financial independence during emerging adulthood: a longitudinal
        analysis of receipt of and reliance on cash transfers"],"prefix":"10.14264","author":[{"ORCID":"http:\/\/orcid.org\/0000-0003-3086-4443","authenticated-orcid":true,"given":"Patricia
        Maree","family":"Collingwood","sequence":"first","affiliation":[]}],"member":"5387","container-title":[],"original-title":[],"deposited":{"date-parts":[[2020,6,8]],"date-time":"2020-06-08T05:08:59Z","timestamp":1591592939000},"score":1,"degree":["PhD
        Thesis"],"resource":{"primary":{"URL":"http:\/\/espace.library.uq.edu.au\/view\/UQ:23a1e74"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.14264\/uql.2020.791","relation":{}}}'
  recorded_at: Sun, 12 Mar 2023 22:22:01 GMT
- request:
    method: get
    uri: https://doi.org/ra/10.14264
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "DOI": "10.14264",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 12 Mar 2023 22:22:02 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.14264/uql.2020.791/transform/application/vnd.crossref.unixsd+xml
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <http://dx.doi.org/10.14264/uql.2020.791>; rel="canonical", <http://orcid.org/0000-0003-3086-4443>;
        title="Patricia Maree Collingwood"; rel="author"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<crossref_result xmlns=\"http://www.crossref.org/qrschema/3.0\"
        version=\"3.0\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.crossref.org/qrschema/3.0
        http://www.crossref.org/schemas/crossref_query_output3.0.xsd\">\r\n  <query_result>\r\n
        \   <head>\r\n      <doi_batch_id>none</doi_batch_id>\r\n    </head>\r\n    <body>\r\n
        \     <query status=\"resolved\">\r\n        <doi type=\"dissertation\">10.14264/uql.2020.791</doi>\r\n
        \       <crm-item name=\"publisher-name\" type=\"string\">University of Queensland
        Library</crm-item>\r\n        <crm-item name=\"prefix-name\" type=\"string\">University
        of Queensland Library</crm-item>\r\n        <crm-item name=\"member-id\" type=\"number\">5387</crm-item>\r\n
        \       <crm-item name=\"citation-id\" type=\"number\">116937436</crm-item>\r\n
        \       <crm-item name=\"book-id\" type=\"number\">1346666</crm-item>\r\n
        \       <crm-item name=\"deposit-timestamp\" type=\"number\">1591592933</crm-item>\r\n
        \       <crm-item name=\"owner-prefix\" type=\"string\">10.14264</crm-item>\r\n
        \       <crm-item name=\"last-update\" type=\"date\">2020-06-08T05:08:59Z</crm-item>\r\n
        \       <crm-item name=\"created\" type=\"date\">2020-06-08T05:08:58Z</crm-item>\r\n
        \       <crm-item name=\"citedby-count\" type=\"number\">0</crm-item>\r\n
        \       <doi_record>\r\n          <crossref xmlns=\"http://www.crossref.org/xschema/1.1\"
        xsi:schemaLocation=\"http://www.crossref.org/xschema/1.1 http://doi.crossref.org/schemas/unixref1.1.xsd\">\r\n
        \           <dissertation>\r\n              <person_name sequence=\"first\"
        contributor_role=\"author\">\r\n                <given_name>Patricia Maree</given_name>\r\n
        \               <surname>Collingwood</surname>\r\n                <ORCID authenticated=\"true\">https://orcid.org/0000-0003-3086-4443</ORCID>\r\n
        \             </person_name>\r\n              <titles>\r\n                <title>School
        truancy and financial independence during emerging adulthood: a longitudinal
        analysis of receipt of and reliance on cash transfers</title>\r\n              </titles>\r\n
        \             <approval_date>\r\n                <month>05</month>\r\n                <day>25</day>\r\n
        \               <year>2020</year>\r\n              </approval_date>\r\n              <institution>\r\n
        \               <institution_name>The University of Queensland</institution_name>\r\n
        \               <institution_department>School of Social Science</institution_department>\r\n
        \             </institution>\r\n              <degree>PhD Thesis</degree>\r\n
        \             <doi_data>\r\n                <doi>10.14264/uql.2020.791</doi>\r\n
        \               <resource>http://espace.library.uq.edu.au/view/UQ:23a1e74</resource>\r\n
        \             </doi_data>\r\n            </dissertation>\r\n          </crossref>\r\n
        \       </doi_record>\r\n      </query>\r\n    </body>\r\n  </query_result>\r\n</crossref_result>"
  recorded_at: Sun, 12 Mar 2023 22:27:06 GMT
- request:
    method: get
    uri: https://api.crossref.org/members/5387
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1678840990535,"primary-name":"University
        of Queensland Library","counts":{"current-dois":215,"backfile-dois":1107,"total-dois":1322},"breakdowns":{"dois-by-issued-year":[[2020,443],[2015,227],[2021,194],[2016,94],[2014,80],[2019,79],[2013,55],[2018,54],[2017,38],[1970,24],[2022,11],[2023,10],[2012,4],[2009,2],[2010,1],[2008,1],[2007,1],[2006,1],[2005,1],[2000,1],[1983,1]]},"prefixes":["10.14264"],"coverage":{"affiliations-current":0.0,"similarity-checking-current":0.0,"descriptions-current":0.2558139534883721,"ror-ids-current":0.0,"funders-backfile":0.0,"licenses-backfile":0.0,"funders-current":0.0,"affiliations-backfile":0.0,"resource-links-backfile":0.0,"orcids-backfile":0.2917795844625113,"update-policies-current":0.0,"ror-ids-backfile":0.0,"orcids-current":0.4186046511627907,"similarity-checking-backfile":0.0,"references-backfile":0.0,"descriptions-backfile":0.4354110207768744,"award-numbers-backfile":0.0,"update-policies-backfile":0.0,"licenses-current":0.0,"award-numbers-current":0.0,"abstracts-backfile":0.0,"resource-links-current":0.0,"abstracts-current":0.0,"references-current":0.0},"prefix":[{"name":"University
        of Queensland Library","value":"10.14264"}],"id":5387,"tokens":["university","of","queensland","library"],"counts-type":{"all":{"monograph":13,"report":40,"book":3,"proceedings-article":728,"journal-issue":1,"dissertation":11816,"dataset":538},"backfile":{"monograph":3,"report":13,"proceedings-article":608,"journal-issue":1,"dataset":482},"current":{"monograph":10,"report":27,"book":3,"proceedings-article":120,"dataset":55}},"coverage-type":{"all":{"monograph":{"last-status-check-time":1678840990535,"affiliations":0.0,"abstracts":0.0,"orcids":0.7692307692307692,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.0,"descriptions":0.0},"report":{"last-status-check-time":1678840990535,"affiliations":0.0,"abstracts":0.0,"orcids":0.95,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.0,"descriptions":0.0},"book":{"last-status-check-time":1678840990535,"affiliations":0.0,"abstracts":0.0,"orcids":0.6666666666666667,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"ror-ids":0.0,"update-poli[...]
- request:
    method: get
    uri: https://doi.org/ra/10.14264
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "DOI": "10.14264",
            "RA": "Crossref"
          }
        ]
  recorded_at: Wed, 15 Mar 2023 09:09:30 GMT
recorded_with: VCR 6.1.0
