---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1890/0012-9658(2006)87%5B2832:tiopma%5D2.0.co;2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,2,23]],"date-time":"2023-02-23T03:30:17Z","timestamp":1677123017103},"reference-count":39,"publisher":"Wiley","issue":"11","license":[{"start":{"date-parts":[[2015,9,1]],"date-time":"2015-09-01T00:00:00Z","timestamp":1441065600000},"content-version":"tdm","delay-in-days":3226,"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Ecology"],"published-print":{"date-parts":[[2006,11]]},"DOI":"10.1890\/0012-9658(2006)87[2832:tiopma]2.0.co;2","type":"journal-article","created":{"date-parts":[[2007,6,4]],"date-time":"2007-06-04T19:36:12Z","timestamp":1180985772000},"page":"2832-2841","source":"Crossref","is-referenced-by-count":70,"title":["THE
        IMPACT OF PARASITE MANIPULATION AND PREDATOR FORAGING BEHAVIOR ON PREDATOR\u2013PREY
        COMMUNITIES"],"prefix":"10.1002","volume":"87","author":[{"given":"A.","family":"Fenton","sequence":"first","affiliation":[]},{"given":"S.
        A.","family":"Rands","sequence":"additional","affiliation":[]}],"member":"311","reference":[{"key":"i0012-9658-87-11-2832-anderson1","doi-asserted-by":"publisher","DOI":"10.2307\/3933"},{"key":"i0012-9658-87-11-2832-anderson2","doi-asserted-by":"publisher","DOI":"10.1098\/rstb.1981.0005"},{"key":"i0012-9658-87-11-2832-bethel1","doi-asserted-by":"publisher","DOI":"10.2307\/3278623"},{"key":"i0012-9658-87-11-2832-bowers1","doi-asserted-by":"publisher","DOI":"10.1016\/S0022-5193(05)80240-1"},{"key":"i0012-9658-87-11-2832-brown1","doi-asserted-by":"publisher","DOI":"10.1098\/rspb.1999.0864"},{"key":"i0012-9658-87-11-2832-brown2","doi-asserted-by":"publisher","DOI":"10.1017\/S0031182001008678"},{"key":"i0012-9658-87-11-2832-brown3","doi-asserted-by":"publisher","DOI":"10.1016\/S0020-7519(02)00013-9"},{"key":"i0012-9658-87-11-2832-damsgaard1","doi-asserted-by":"publisher","DOI":"10.1016\/j.seares.2005.04.001"},{"key":"i0012-9658-87-11-2832-dobson2","doi-asserted-by":"publisher","DOI":"10.1086\/415837"},{"key":"i0012-9658-87-11-2832-dobson1","doi-asserted-by":"publisher","DOI":"10.1086\/424681"},{"key":"i0012-9658-87-11-2832-dobson3","doi-asserted-by":"publisher","DOI":"10.2307\/5339"},{"key":"i0012-9658-87-11-2832-dobson4","unstructured":"A.
        P. Dobson, and A. E. Keymer .1985 .Life history models .Pages347 -384inD.
        W. T. Crompton and B. B. Nickol, editorsBiology of the Acanthocephala Cambridge
        University Press, Cambridge, UK."},{"key":"i0012-9658-87-11-2832-fenton1","doi-asserted-by":"publisher","DOI":"10.1016\/j.ijpara.2004.02.003"},{"key":"i0012-9658-87-11-2832-franz1","doi-asserted-by":"publisher","DOI":"10.1017\/S0031182002001932"},{"key":"i0012-9658-87-11-2832-getz1","doi-asserted-by":"publisher","DOI[...]
- request:
    method: get
    uri: https://doi.org/ra/10.1890
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.1890",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 12 Mar 2023 19:21:10 GMT
recorded_with: VCR 6.1.0
