---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1111/j.1865-1682.2010.01171.x
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,2,10]],"date-time":"2023-02-10T05:06:16Z","timestamp":1676005576667},"reference-count":10,"publisher":"Hindawi
        Limited","issue":"6","license":[{"start":{"date-parts":[[2015,9,1]],"date-time":"2015-09-01T00:00:00Z","timestamp":1441065600000},"content-version":"tdm","delay-in-days":1798,"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2010,12]]},"DOI":"10.1111\/j.1865-1682.2010.01171.x","type":"journal-article","created":{"date-parts":[[2010,9,29]],"date-time":"2010-09-29T06:03:26Z","timestamp":1285740206000},"page":"443-447","source":"Crossref","is-referenced-by-count":19,"title":["Serological
        Evidence of Brucella abortus Prevalence in Punjab Province, Pakistan - A Cross-Sectional
        Study"],"prefix":"10.1155","volume":"57","author":[{"given":"M.","family":"Abubakar","sequence":"first","affiliation":[]},{"given":"M.","family":"Javed
        Arshed","sequence":"additional","affiliation":[]},{"given":"M.","family":"Hussain","sequence":"additional","affiliation":[]},{"family":"Ehtisham-ul-Haq","sequence":"additional","affiliation":[]},{"given":"Q.","family":"Ali","sequence":"additional","affiliation":[]}],"member":"98","published-online":{"date-parts":[[2010,9,29]]},"reference":[{"key":"10.1111\/j.1865-1682.2010.01171.x-BIB1|cit1","doi-asserted-by":"crossref","first-page":"61","DOI":"10.4142\/jvs.2009.10.1.61","article-title":"Sero-prevalence
        and risk factors for bovine brucellosis in Jordan","volume":"10","author":"Al-Majali","year":"2009","journal-title":"J.
        Vet. Sci."},{"key":"10.1111\/j.1865-1682.2010.01171.x-BIB2|cit2","first-page":"395","article-title":"Neurobrucellosis:
        clinical and neuroimaging correlation","volume":"25","author":"Al-Sous","year":"2004","journal-title":"AJNR
        Am. J. Neuroradiol."},{"key":"10.1111\/j.1865-1682.2010.01171.x-BIB12|cit3","doi-asserted-by":"crossref","first-page":"223","DOI":"10.4142\/jvs.2005.6.3.223","article-title":"Prevalence
        of Brucella antibodies in sera of cows in Banglades[...]
- request:
    method: get
    uri: https://doi.org/ra/10.1111
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.1111",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 12 Mar 2023 19:20:54 GMT
recorded_with: VCR 6.1.0
