---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1055/s-0039-1690894
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,12,21]],"date-time":"2022-12-21T17:51:20Z","timestamp":1671645080065},"reference-count":0,"publisher":"Georg
        Thieme Verlag KG","issue":"11","funder":[{"DOI":"10.13039\/501100004517","name":"Tianjin
        University","doi-asserted-by":"crossref"},{"DOI":"10.13039\/501100001809","name":"National
        Natural Science Foundation of China","doi-asserted-by":"crossref","award":["21772142"]},{"DOI":"10.13039\/501100001809","name":"National
        Natural Science Foundation of China","doi-asserted-by":"crossref","award":["21971186"]},{"DOI":"10.13039\/501100001809","name":"National
        Natural Science Foundation of China","doi-asserted-by":"crossref","award":["21961142015"]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Synlett"],"published-print":{"date-parts":[[2020,7]]},"abstract":"<jats:p>A
        silver-catalyzed protocol for [3+3] annulation of glycine imino esters with
        Seyferth\u2013Gilbert reagent was developed. A variety of phosphorylated tetrahydro-1,2,4-triazinecarboxylate
        esters were synthesized in moderate to good yields and with excellent diastereoselectivities.
        The dehydrogenation of a tetrahydro-1,2,4-triazine product to the corresponding
        triazine counterpart was also demonstrated.<\/jats:p>","DOI":"10.1055\/s-0039-1690894","type":"journal-article","created":{"date-parts":[[2020,4,8]],"date-time":"2020-04-08T23:03:36Z","timestamp":1586387016000},"page":"1107-1111","source":"Crossref","is-referenced-by-count":6,"title":["Silver-Catalyzed
        [3+3] Annulation of Glycine Imino Esters with Seyferth\u2013Gilbert Reagent
        To Access Tetrahydro-1,2,4-triazinecarboxylate Esters"],"prefix":"10.1055","volume":"31","author":[{"ORCID":"http:\/\/orcid.org\/0000-0003-4415-0767","authenticated-orcid":false,"given":"Chi
        Wai","family":"Cheung","sequence":"first","affiliation":[{"name":"Department
        of Chemistry, Tianjin Key Laboratory of Molecular Optoelectronic Sciences,
        and Tianjin Collaborative Innovation Centre of Chemical Science and Engineering,
        Tianjin University"},{"name":"Joint School of National University of Singapore
        and Tianjin University, International Campus of Tianjin University"}]},{"ORCID":"http:\/\/orcid.org\/0000-0002-3902-6799","authenticated-orcid":false,"given":"Jun-An","family":"Ma","sequence":"first","affiliation":[{"name":"Department
        of Chemistry, Tianjin Key Laboratory of Molecular Optoelectronic Sciences,
        and Tianjin Collaborative Innovation Centre of Chemical Science and Engineering,
        Tianjin University"},{"name":"Joint School of National University of Singapore
        and Tianjin University, International Campus of Tianjin University"}]},{"given":"Yin-Jun","family":"Huang","sequence":"additional","affiliation":[{"name":"Department
        of Chemistry, Tianjin Key Laboratory of Molecular Optoelectronic Sciences,
        and Tianjin Collaborative Innovation Centre of Chemical Science and Engineering,
        Tianjin University"}]},{"given":"Jing","family":"Nie","sequence":"additional","affiliation":[{"name":"Department
        of Chemistry, Tianjin Key Laboratory of Molecular Optoelectronic Sciences,
        and Tianjin Collaborative Innovation Centre of Chemical Science and Engineering,
        Tianjin University"}]}],"member":"194","published-online":{"date-parts":[[2020,4,8]]},"container-title":["Synlett"],"original-title":[],"language":"en","link":[{"URL":"http:\/\/www.thieme-connect.de\/products\/ejournals\/pdf\/10.1055\/s-0039-1690894.pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2020,6,16]],"date-time":"2020-06-16T23:13:36Z","timestamp":1592349216000},"score":1,"resource":{"primary":{"URL":"http:\/\/www.thieme-connect.de\/DOI\/DOI?10.1055\/s-0039-1690894"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2020,4,8]]},"references-count":0,"journal-issue":{"issue":"11","published-online":{"date-parts":[[2020,6,16]]},"published-print":{"date-parts":[[2020,7]]}},"URL":"http:\/\/dx.doi.org\/10.1055\/s-0039-1690894","relation":{},"ISSN":["0936-5214","1437-2096"],"issn-type":[{"value":"0936-5214","type":"print"},{"value":"1437-2096","type":"electronic"}],"subject":["Organic
        Chemistry"],"published":{"date-parts":[[2020,4,8]]}}}'
  recorded_at: Sun, 12 Mar 2023 19:20:57 GMT
- request:
    method: get
    uri: https://doi.org/ra/10.1055
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.1055",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 12 Mar 2023 19:20:57 GMT
recorded_with: VCR 6.1.0
