---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1241/johokanri.39.979
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,4,4]],"date-time":"2022-04-04T22:02:43Z","timestamp":1649109763107},"reference-count":15,"publisher":"Japan
        Science and Technology Agency (JST)","issue":"12","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[1997]]},"DOI":"10.1241\/johokanri.39.979","type":"journal-article","created":{"date-parts":[[2002,10,11]],"date-time":"2002-10-11T20:27:25Z","timestamp":1034368045000},"page":"979-988","source":"Crossref","is-referenced-by-count":0,"title":["Utilizing
        the Internet. 12 Series. Future of the Internet."],"prefix":"10.1241","volume":"39","author":[{"given":"Hiroyuki","family":"KUSUMOTO","sequence":"first","affiliation":[]}],"member":"272","reference":[{"key":"1","unstructured":"1)
        D.Comer. Internetworking with TCP\/IP. Vol.1, No.3, Prentice?Hall (??:TCP\/IP???????????????,1996,????
        , 1995"},{"key":"2","unstructured":"2) Vinay Kumar. MBone:Interactive Multimedia
        on the Internet. New Riders (??:??????????????MBone,1996,?????? , 1996"},{"key":"3","unstructured":"3)
        L. Landweber. INTERNATIONAL CONNECTIVITY Version 15. June, 1996"},{"key":"4","unstructured":"4)
        L. Landweber. INTERNATIONAL CONNECTIVITY Version1. August, 1991"},{"key":"5","doi-asserted-by":"crossref","unstructured":"5)
        ????. ?????????????. ????. Vol.39, No.2, 1996","DOI":"10.1049\/ee.1996.0084"},{"key":"6","doi-asserted-by":"crossref","unstructured":"6)
        S. Derring. Multicast Routing in Internetworks and Extended Lans. In SIGCOMM.
        ACM, August 1988","DOI":"10.21236\/ADA200911"},{"key":"7","doi-asserted-by":"crossref","unstructured":"7)
        S. Casner, S. Derring. . First IETF Internet Audiocast Computer Communication
        Review. ACM, July 1992","DOI":"[...]
- request:
    method: get
    uri: https://doi.org/ra/10.1241
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "DOI": "10.1241",
            "RA": "JaLC"
          }
        ]
  recorded_at: Sun, 12 Mar 2023 22:21:57 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.1241/johokanri.39.979/transform/application/vnd.crossref.unixsd+xml
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <http://dx.doi.org/10.1241/johokanri.39.979>; rel="canonical", <https://www.jstage.jst.go.jp/article/johokanri/39/12/39_12_979/_pdf>;
        version="vor"; rel="item"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<crossref_result xmlns=\"http://www.crossref.org/qrschema/3.0\"
        version=\"3.0\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.crossref.org/qrschema/3.0
        http://www.crossref.org/schemas/crossref_query_output3.0.xsd\">\r\n  <query_result>\r\n
        \   <head>\r\n      <doi_batch_id>none</doi_batch_id>\r\n    </head>\r\n    <body>\r\n
        \     <query status=\"resolved\">\r\n        <doi type=\"journal_article\">10.1241/johokanri.39.979</doi>\r\n
        \       <crm-item name=\"publisher-name\" type=\"string\">Japan Science and
        Technology Agency (JST)</crm-item>\r\n        <crm-item name=\"prefix-name\"
        type=\"string\">Japan Science and Technology Agency</crm-item>\r\n        <crm-item
        name=\"member-id\" type=\"number\">272</crm-item>\r\n        <crm-item name=\"citation-id\"
        type=\"number\">4916686</crm-item>\r\n        <crm-item name=\"journal-id\"
        type=\"number\">6359</crm-item>\r\n        <crm-item name=\"deposit-timestamp\"
        type=\"number\">20020808181618</crm-item>\r\n        <crm-item name=\"owner-prefix\"
        type=\"string\">10.1241</crm-item>\r\n        <crm-item name=\"last-update\"
        type=\"date\">2020-03-06T06:44:36Z</crm-item>\r\n        <crm-item name=\"created\"
        type=\"date\">2002-10-11T20:27:25Z</crm-item>\r\n        <crm-item name=\"citedby-count\"
        type=\"number\">0</crm-item>\r\n        <doi_record>\r\n          <crossref
        xmlns=\"http://www.crossref.org/xschema/1.0\" xsi:schemaLocation=\"http://www.crossref.org/xschema/1.0
        http://doi.crossref.org/schemas/unixref1.0.xsd\">\r\n            <journal>\r\n
        \             <journal_metadata>\r\n                <full_title>Journal of
        Information Processing and Management</full_title>\r\n                <issn
        media_type=\"print\">00217298</issn>\r\n                <issn media_type=\"electronic\">13471597</issn>\r\n
        \             </journal_metadata>\r\n              <journal_issue>\r\n                <journal_volume>\r\n
        \                 <volume>39</volume>\r\n                </journal_volume>\r\n
        \               <issue>12</issue>\r\n              </journal_issue>\r\n              <journal_article
        publication_type=\"full_text\">\r\n                <titles>\r\n                  <title>Utilizing
        the Internet. 12 Series. Future of the Internet.</title>\r\n                </titles>\r\n
        \               <contributors>\r\n                  <person_name sequence=\"first\"
        contributor_role=\"author\">\r\n                    <given_name>Hiroyuki</given_name>\r\n
        \                   <surname>KUSUMOTO</surname>\r\n                  </person_name>\r\n
        \               </contributors>\r\n                <publication_date media_type=\"print\">\r\n
        \                 <year>1997</year>\r\n                </publication_date>\r\n
        \               <pages>\r\n                  <first_page>979</first_page>\r\n
        \                 <last_page>988</last_page>\r\n                </pages>\r\n
        \               <doi_data>\r\n                  <doi>10.1241/johokanri.39.979</doi>\r\n
        \                 <timestamp>20020808181618</timestamp>\r\n                  <resource>http://joi.jlc.jst.go.jp/JST.JSTAGE/johokanri/39.979?from=CrossRef</resource>\r\n
        \                 <collection property=\"crawler-based\" setbyID=\"jstc\">\r\n
        \                   <item crawler=\"iParadigms\">\r\n                      <resource>https://www.jstage.jst.go.jp/article/johokanri/39/12/39_12_979/_pdf</resource>\r\n
        \                   </item>\r\n                  </collection>\r\n                </doi_data>\r\n
        \               <citation_list>\r\n                  <citation key=\"1\">\r\n
        \                   <unstructured_citation>1) D.Comer. Internetworking with
        TCP/IP. Vol.1, No.3, Prentice?Hall (??:TCP/IP???????????????,1996,???? , 1995</unstructured_citation>\r\n
        \                 </citation>\r\n                  <citation key=\"2\">\r\n
        \                   <unstructured_citation>2) Vinay Kumar. MBone:Interactive
        Multimedia on the Internet. New Riders (??:??????????????MBone,1996,??????
        , 1996</unstructured_citation>\r\n                  </citation>\r\n                  <citatio[...]
