---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1241/johokanri.39.979
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,4,4]],"date-time":"2022-04-04T22:02:43Z","timestamp":1649109763107},"reference-count":15,"publisher":"Japan
        Science and Technology Agency (JST)","issue":"12","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[1997]]},"DOI":"10.1241\/johokanri.39.979","type":"journal-article","created":{"date-parts":[[2002,10,11]],"date-time":"2002-10-11T20:27:25Z","timestamp":1034368045000},"page":"979-988","source":"Crossref","is-referenced-by-count":0,"title":["Utilizing
        the Internet. 12 Series. Future of the Internet."],"prefix":"10.1241","volume":"39","author":[{"given":"Hiroyuki","family":"KUSUMOTO","sequence":"first","affiliation":[]}],"member":"272","reference":[{"key":"1","unstructured":"1)
        D.Comer. Internetworking with TCP\/IP. Vol.1, No.3, Prentice?Hall (??:TCP\/IP???????????????,1996,????
        , 1995"},{"key":"2","unstructured":"2) Vinay Kumar. MBone:Interactive Multimedia
        on the Internet. New Riders (??:??????????????MBone,1996,?????? , 1996"},{"key":"3","unstructured":"3)
        L. Landweber. INTERNATIONAL CONNECTIVITY Version 15. June, 1996"},{"key":"4","unstructured":"4)
        L. Landweber. INTERNATIONAL CONNECTIVITY Version1. August, 1991"},{"key":"5","doi-asserted-by":"crossref","unstructured":"5)
        ????. ?????????????. ????. Vol.39, No.2, 1996","DOI":"10.1049\/ee.1996.0084"},{"key":"6","doi-asserted-by":"crossref","unstructured":"6)
        S. Derring. Multicast Routing in Internetworks and Extended Lans. In SIGCOMM.
        ACM, August 1988","DOI":"10.21236\/ADA200911"},{"key":"7","doi-asserted-by":"crossref","unstructured":"7)
        S. Casner, S. Derring. . First IETF Internet Audiocast Computer Communication
        Review. ACM, July 1992","DOI":"[...]
- request:
    method: get
    uri: https://doi.org/ra/10.1241
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.1241",
            "RA": "JaLC"
          }
        ]
  recorded_at: Sun, 12 Mar 2023 19:20:59 GMT
recorded_with: VCR 6.1.0
