---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.7600/jspfsm.56.60
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T07:37:27Z","timestamp":1648971447572},"reference-count":7,"publisher":"The
        Japanese Society of Physical Fitness and Sports Medicine","issue":"1","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Tairyoku
        Kagaku","Jpn. J. Phys. Fitness Sports Med."],"published-print":{"date-parts":[[2007]]},"DOI":"10.7600\/jspfsm.56.60","type":"journal-article","created":{"date-parts":[[2012,8,30]],"date-time":"2012-08-30T04:10:55Z","timestamp":1346299855000},"page":"60-60","source":"Crossref","is-referenced-by-count":0,"title":[""],"prefix":"10.7600","volume":"56","member":"4426","reference":[{"key":"1","doi-asserted-by":"crossref","unstructured":"Seals
        DR Esler MD J Physiol. 528 : 407-417, 2000","DOI":"10.1111\/j.1469-7793.2000.00407.x"},{"key":"2","doi-asserted-by":"crossref","unstructured":"Akselrod
        S et al. Science 213 : 220-222, 1981","DOI":"10.1126\/science.6166045"},{"key":"3","doi-asserted-by":"crossref","unstructured":"Parati
        G et al. J Hypertens. 18 : 7-19, 2000","DOI":"10.1097\/00004872-200018010-00003"},{"key":"4","doi-asserted-by":"crossref","unstructured":"Yamamoto
        K et al. MSSE. 33 : 1496-502, 2001","DOI":"10.1097\/00005768-200109000-00012"},{"key":"5","doi-asserted-by":"crossref","unstructured":"Parati
        G, Bernardi L. J Hypertens. 24 : 1009-1012, 2006","DOI":"10.1097\/01.hjh.0000226186.83192.93"},{"key":"6","doi-asserted-by":"crossref","unstructured":"Miyachi
        et al. Circulation. 110(18): 2858-2863, 2004","DOI":"10.1161\/01.CIR.0000146380.08401.99"},{"key":"7","doi-asserted-by":"crossref","unstructured":"Cheitlin
        MD et al. Circulation 95 : 1686-1744, 1997","DOI":"10.1161\/01.CIR.95.6.1686"}],"container-title":["Japanese
        Journal of Physical Fitness and Sports Medicine"],"original-title":["\u81ea\u5f8b\u795e\u7d4c\u30fb\u5faa\u74b0\u5668\u5fdc\u7b54"],"language":"en","link":[{"URL":"https:\/\/www.jstage.jst.go.jp\/article\/jspfsm\/56\/1\/56_1_60\/_pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2021,5,20]],"date-time":"2021-05-20T22:32:01Z","timestamp":1621549921000},"score":1,"resource":{"primary":{"URL":"https:\/\/www.jstage.jst.go.jp\/article\/jspfsm\/56\/1\/56_1_60\/_article\/-char\/ja\/"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2007]]},"references-count":7,"journal-issue":{"issue":"1","published-print":{"date-parts":[[2007]]}},"URL":"http:\/\/dx.doi.org\/10.7600\/jspfsm.56.60","relation":{},"ISSN":["0039-906X","1881-4751"],"issn-type":[{"value":"0039-906X","type":"print"},{"value":"1881-4751","type":"electronic"}],"subject":["Physical
        Therapy, Sports Therapy and Rehabilitation","Orthopedics and Sports Medicine"],"published":{"date-parts":[[2007]]}}}'
  recorded_at: Sun, 12 Mar 2023 19:21:03 GMT
- request:
    method: get
    uri: https://doi.org/ra/10.7600
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.7600",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 12 Mar 2023 19:21:04 GMT
recorded_with: VCR 6.1.0
