---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.3389/fpls.2019.00816
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,3,9]],"date-time":"2023-03-09T10:17:58Z","timestamp":1678357078191},"reference-count":70,"publisher":"Frontiers
        Media SA","license":[{"start":{"date-parts":[[2019,7,2]],"date-time":"2019-07-02T00:00:00Z","timestamp":1562025600000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"funder":[{"award":["UID\/MULTI\/04046\/2019"]},{},{"DOI":"10.13039\/501100000921","name":"COST
        (European Cooperation in Science and Technology)","doi-asserted-by":"publisher","award":["CA17111"]}],"content-domain":{"domain":["frontiersin.org"],"crossmark-restriction":true},"short-container-title":["Front.
        Plant Sci."],"DOI":"10.3389\/fpls.2019.00816","type":"journal-article","created":{"date-parts":[[2019,7,2]],"date-time":"2019-07-02T07:08:29Z","timestamp":1562051309000},"update-policy":"http:\/\/dx.doi.org\/10.3389\/crossmark-policy","source":"Crossref","is-referenced-by-count":14,"title":["Transcriptional
        Modulation of Polyamine Metabolism in Fruit Species Under Abiotic and Biotic
        Stress"],"prefix":"10.3389","volume":"10","author":[{"given":"Ana Margarida","family":"Fortes","sequence":"first","affiliation":[]},{"given":"Patricia","family":"Agudelo-Romero","sequence":"additional","affiliation":[]},{"given":"Diana","family":"Pimentel","sequence":"additional","affiliation":[]},{"given":"Noam","family":"Alkan","sequence":"additional","affiliation":[]}],"member":"1965","published-online":{"date-parts":[[2019,7,2]]},"reference":[{"key":"ref1","doi-asserted-by":"publisher","first-page":"141","DOI":"10.1016\/j.plaphy.2013.11.002","article-title":"Perturbation
        of polyamine catabolism affects grape ripening of Vitis vinifera cv. Trincadeira","volume":"74","author":"Agudelo-Romero","year":"2014","journal-title":"Plant
        Physiol. Biochem."},{"key":"ref2","doi-asserted-by":"publisher","first-page":"105","DOI":"10.1016\/j.plaphy.2013.02.024","article-title":"Study
        of polyamines during grape ripening indicate an important role of polyamine
        catabolism","volume":"67","author":"Agudelo-Romero","year":"2013","journal-title":"Plant
        Physiol. Biochem."},{"key":"ref3","doi-asserted-by":"publisher","first-page":"1769","DOI":"10.1093\/jxb\/eru517","article-title":"Transcriptome
        [...]
- request:
    method: get
    uri: https://doi.org/ra/10.3389
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.3389",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 12 Mar 2023 19:21:14 GMT
recorded_with: VCR 6.1.0
