---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1111/nph.14619
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,3,10]],"date-time":"2023-03-10T20:51:26Z","timestamp":1678481486962},"reference-count":49,"publisher":"Wiley","issue":"3","license":[{"start":{"date-parts":[[2017,6,5]],"date-time":"2017-06-05T00:00:00Z","timestamp":1496620800000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1"},{"start":{"date-parts":[[2017,6,5]],"date-time":"2017-06-05T00:00:00Z","timestamp":1496620800000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/onlinelibrary.wiley.com\/termsAndConditions#vor"}],"funder":[{"DOI":"10.13039\/501100001665","name":"Agence
        Nationale de la Recherche","doi-asserted-by":"publisher","award":["ANR-10-LABX-41","ANR-11-IDEX-0002-02"]},{"DOI":"10.13039\/501100001584","name":"Department
        of Agriculture, Food and the Marine","doi-asserted-by":"publisher","award":["14\/S\/819"]},{"DOI":"10.13039\/501100001602","name":"Science
        Foundation Ireland","doi-asserted-by":"publisher","award":["13\/IA\/1870"]},{"name":"Virtual
        Irish Centre for Crop Improvement","award":["14\/S\/819"]},{"DOI":"10.13039\/501100008530","name":"European
        Regional Development Fund","doi-asserted-by":"publisher","award":["LSP-TP2-1"]},{"DOI":"10.13039\/501100001659","name":"Deutsche
        Forschungsgemeinschaft","doi-asserted-by":"publisher","award":["DI 1794\/3-1"]}],"content-domain":{"domain":["wiley.com"],"crossmark-restriction":true},"short-container-title":["New
        Phytol"],"published-print":{"date-parts":[[2018,5]]},"DOI":"10.1111\/nph.14619","type":"journal-article","created":{"date-parts":[[2017,6,5]],"date-time":"2017-06-05T10:56:44Z","timestamp":1496660204000},"page":"929-935","update-policy":"http:\/\/dx.doi.org\/10.1002\/crossmark_policy","source":"Crossref","is-referenced-by-count":62,"title":["Life
        and death of proteins after protease cleavage: protein degradation by the
        N-end rule pathway"],"prefix":"10.1111","volume":"218","author":[{"ORCID":"http:\/\/orcid.org\/0000-0002-4156-3761","authenticated-orcid":false,"given":"Nico","family":"Dissmeyer","sequence":"first","affiliation":[{"name":"Independent
        Junior Research Group on Protein Recognition and Degradation; Leibniz Institute
        of Plant Biochemistry (IPB); Weinberg 3 Halle (Saale) D-06120 Germany"},{"name":"ScienceCampus
        Halle - Plant-based Bioeconomy; Betty-Heimann-Strasse 3 Halle (Saale) D-06120
        Germany"}]},{"given":"Susana","family":"Rivas","sequence":"additional","affiliation":[{"name":"LIPM;
        Universit\u00e9 de Toulouse; INRA; CNRS; Castanet-Tolosan 31 326 France"}]},{"ORCID":"http:\/\/orcid.org\/0000-0003-3548-8213","authenticated-orcid":false,"given":"Emmanuelle","family":"Graciet","sequence":"additional","affiliation":[{"name":"Department
        of Biology; Maynooth University; Maynooth Co. Kildare Ireland"}]}],"member":"311","published-online":{"date-parts":[[2017,6,5]]},"reference":[{"key":"10.1111\/nph.14619-BIB0001|nph14619-cit-0001","doi-asserted-by":"crossref","first-page":"2503","DOI":"10.1002\/pmic.201500027","article-title":"Proteome-wide
        analysis of the amino terminal status of Escherichia coli proteins at the
        steady-state and upon deformylation inhibition","volume":"15","author":"Bienvenut","year":"2015","journal-title":"Proteomics"},{"key":"10.1111\/nph.14619-BIB0002|nph14619-cit-0002","doi-asserted-by":"crossref","first-page":"161","DOI":"10.1016\/j.molcel.2013.02.009","article-title":"Neurodegeneration-associated
        protein fragments as short-lived substrates of the N-end rule pathway","volume":"50","author":"Brower","year":"2013","journal-title":"Molecular
        Cell"},{"key":"10.1111\/nph.14619-BIB0003|nph14619-cit-0003","doi-asserted-by":"crossref","first-page":"512","DOI":"10.1074\/mcp.M116.063818[...]
- request:
    method: get
    uri: https://doi.org/ra/10.1111
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.1111",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 12 Mar 2023 19:21:15 GMT
recorded_with: VCR 6.1.0
