---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.6002/ect.2015.0371
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,4,1]],"date-time":"2022-04-01T21:22:48Z","timestamp":1648848168259},"reference-count":1,"publisher":"Baskent
        University","issue":"5","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Exp
        Clin Transplant"],"published-print":{"date-parts":[[2018,10]]},"DOI":"10.6002\/ect.2015.0371","type":"journal-issue","created":{"date-parts":[[2018,10,3]],"date-time":"2018-10-03T12:09:12Z","timestamp":1538568552000},"source":"Crossref","is-referenced-by-count":1,"title":[],"prefix":"10.6002","volume":"16","member":"4021","reference":[{"issue":"10","key":"ref0","doi-asserted-by":"publisher","first-page":"1421","DOI":"10.1080\/001401398186180","article-title":"Manual
        performance in cold conditions while wearing NBC clothing","volume":"41","author":"IMAMURA","year":"1998","unstructured":"IMAMURA,
        R., RISSANEN, S., KINNUNEN, M., & RINTAMAKI, H. (1998). Manual performance
        in cold conditions while wearing NBC clothing. Ergonomics, 41(10), 1421\u20131432.","journal-title":"Ergonomics"}],"container-title":["Experimental
        and Clinical Transplantation"],"original-title":[],"deposited":{"date-parts":[[2018,10,3]],"date-time":"2018-10-03T12:09:12Z","timestamp":1538568552000},"score":1,"resource":{"primary":{"URL":"http:\/\/ectrx.org\/forms\/ectrxcontentshow.php?doi_id=10.6002\/ect.2015.0371"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2018,10]]},"references-count":1,"journal-issue":{"issue":"5","published-print":{"date-parts":[[2018,10]]}},"URL":"http:\/\/dx.doi.org\/10.6002\/ect.2015.0371","relation":{},"ISSN":["1304-0855","2146-8427"],"issn-type":[{"value":"1304-0855","type":"print"},{"value":"2146-8427","type":"electronic"}],"subject":["Transplantation"],"published":{"date-parts":[[2018,10]]}}}'
  recorded_at: Sun, 12 Mar 2023 19:20:55 GMT
- request:
    method: get
    uri: https://doi.org/ra/10.6002
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.6002",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 12 Mar 2023 19:20:55 GMT
recorded_with: VCR 6.1.0
