---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1163/1937240x-00002096
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,3,2]],"date-time":"2023-03-02T11:29:45Z","timestamp":1677756585932},"reference-count":111,"publisher":"Oxford
        University Press (OUP)","issue":"6","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2012,1,1]]},"DOI":"10.1163\/1937240x-00002096","type":"journal-article","created":{"date-parts":[[2012,11,20]],"date-time":"2012-11-20T13:22:49Z","timestamp":1353417769000},"page":"949-961","source":"Crossref","is-referenced-by-count":18,"title":["Global
        distribution of Fabaeformiscandona subacuta: an\u00a0exotic\u00a0invasive
        Ostracoda on the Iberian Peninsula?"],"prefix":"10.1093","volume":"32","author":[{"given":"Andreu","family":"Escriv\u00e0","sequence":"first","affiliation":[]},{"given":"Francesc","family":"Mesquita-Joanes","sequence":"additional","affiliation":[]},{"given":"Josep
        A.","family":"Aguilar-Alberola","sequence":"additional","affiliation":[]},{"given":"Eugene
        I.","family":"Schornikov","sequence":"additional","affiliation":[]},{"given":"Juan","family":"Rueda","sequence":"additional","affiliation":[]},{"given":"Robin
        J.","family":"Smith","sequence":"additional","affiliation":[]},{"given":"Takahiro","family":"Kamiya","sequence":"additional","affiliation":[]},{"given":"Ivana","family":"Karanovic","sequence":"additional","affiliation":[]}],"member":"286","reference":[{"issue":"5","key":"bibr1","first-page":"1","article-title":"Die
        Gattung Candonaim Quartar von Europa","volume":"88","author":"Absolon","year":"1978","journal-title":"Rozpravy
        Ceskoslovenske Akademie Ved, Rada Matematickych A Prirodnich Ved"},{"key":"bibr2","first-page":"3","article-title":"Los
        crust\u00e1ceos del plancton de los embalses espa\u00f1oles","volume":"3","author":"Armengol","year":"1978","journal-title":"Oecologia
        aquatica"},{"key":"bibr3","first-page":"419","article-title":"A contribution
        to the knowledge of cypridid ostracode fauna (Crustacea, Ostracoda, Cyprididae)
        on the Iberian peninsula, and a comparison with adjacent areas","volume":"90","author":"Baltan\u00e1s","year":"1992","journal-title":"Archiv
        f\u00fcr Hydrobiologie\/Suppl."},{"key":"bibr4","series-title":"Listas de
        la Flora y Fauna de las Aguas Continentales de la Pen\u00ednsula Ib\u00e9rica,
        N\u00b0\u00a012","volume-title":"Lista faun\u00edstica y Bibliogr\u00e1fica
        de los ostr\u00e1codos no marinos (Crustacea, Ostracoda) de la Pen\u00ednsula
        Ib\u00e9rica, Islas Baleares e Islas Canarias","author":"Baltan\u00e1s","year":"1996"},{"key":"bibr5","doi-asserted-by":"crossref","first-page":"193","DOI":"10.1080\/08927014.2001.9522785","article-title":"The
        elusive model of a biological invasion process: time to take differences among
        aquatic and terrestrial ecosystems into account?","volume":"13","author":"Beisel","year":"2001","journal-title":"Ethology
        Ecology and Evolution"},{"key":"bibr6","doi-asserted-by":"crossref","first-page":"159","DOI":"10.1146\/annurev.ecolsys.32.081501.114016","article-title":"Dispersal
        in freshwater[...]
- request:
    method: get
    uri: https://doi.org/ra/10.1163
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.1163",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 12 Mar 2023 19:21:04 GMT
recorded_with: VCR 6.1.0
