---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.5012/bkcs.2013.34.10.2889
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,8,15]],"date-time":"2022-08-15T09:26:44Z","timestamp":1660555604788},"reference-count":0,"publisher":"Korean
        Chemical Society","issue":"10","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Bulletin
        of the Korean Chemical Society"],"published-print":{"date-parts":[[2013,10,20]]},"DOI":"10.5012\/bkcs.2013.34.10.2889","type":"journal-article","created":{"date-parts":[[2013,11,25]],"date-time":"2013-11-25T08:03:35Z","timestamp":1385366615000},"page":"2889-2894","source":"Crossref","is-referenced-by-count":3,"title":["Synthesis,
        Crystal Structure and Theoretical Calculation of a Novel Nickel(II) Complex
        with Dibromotyrosine and 1,10-Phenanthroline"],"prefix":"10.5012","volume":"34","author":[{"given":"Guimei","family":"Huang","sequence":"first","affiliation":[]},{"given":"Xia","family":"Zhang","sequence":"additional","affiliation":[]},{"given":"Yuhua","family":"Fan","sequence":"additional","affiliation":[]},{"given":"Caifeng","family":"Bi","sequence":"additional","affiliation":[]},{"given":"Xingchen","family":"Yan","sequence":"additional","affiliation":[]},{"given":"Zhongyu","family":"Zhang","sequence":"additional","affiliation":[]},{"given":"Nan","family":"Zhang","sequence":"additional","affiliation":[]}],"member":"2923","container-title":["Bulletin
        of the Korean Chemical Society"],"original-title":[""],"language":"en","link":[{"URL":"http:\/\/ocean.kisti.re.kr\/downfile\/crosscheck\/chemical\/JAKO201332479081554.pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2016,12,15]],"date-time":"2016-12-15T02:40:52Z","timestamp":1481769652000},"score":1,"resource":{"primary":{"URL":"http:\/\/koreascience.or.kr\/journal\/view.jsp?kj=JCGMCS&py=2013&vnc=v34n10&sp=2889"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2013,10,20]]},"references-count":0,"journal-issue":{"issue":"10","published-print":{"date-parts":[[2013,10,20]]}},"URL":"http:\/\/dx.doi.org\/10.5012\/bkcs.2013.34.10.2889","relation":{},"ISSN":["0253-2964"],"issn-type":[{"value":"0253-2964","type":"print"}],"subject":["General
        Chemistry"],"published":{"date-parts":[[2013,10,20]]}}}'
  recorded_at: Sun, 12 Mar 2023 19:20:58 GMT
- request:
    method: get
    uri: https://doi.org/ra/10.5012
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.5012",
            "RA": "KISTI"
          }
        ]
  recorded_at: Sun, 12 Mar 2023 19:20:58 GMT
recorded_with: VCR 6.1.0
