---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1098/rspb.2017.0132
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,1,31]],"date-time":"2023-01-31T08:31:33Z","timestamp":1675153893156},"reference-count":54,"publisher":"The
        Royal Society","issue":"1855","license":[{"start":{"date-parts":[[2017,5,24]],"date-time":"2017-05-24T00:00:00Z","timestamp":1495584000000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/royalsociety.org\/journals\/ethics-policies\/data-sharing-mining\/"}],"funder":[{"DOI":"10.13039\/100010663","name":"H2020
        European Research Council","doi-asserted-by":"publisher","award":["GENCON
        AdG-294333"]},{"DOI":"10.13039\/501100004359","name":"Vetenskapsr\u00e5det","doi-asserted-by":"publisher","award":["621-2014-4523"]},{"name":"UWA
        Research Collaboration Award"},{"DOI":"10.13039\/501100000923","name":"Australian
        Research Council","doi-asserted-by":"publisher","award":["DE-160100097","DP-110101163","DP-130100618"]}],"content-domain":{"domain":["royalsocietypublishing.org"],"crossmark-restriction":true},"short-container-title":["Proc.
        R. Soc. B."],"published-print":{"date-parts":[[2017,5,31]]},"abstract":"<jats:p>\n            Traumatic
        mating (or copulatory wounding) is an extreme form of sexual conflict whereby
        male genitalia physically harm females during mating. In such species females
        are expected to evolve counter-adaptations to reduce male-induced harm. Importantly,
        female counter-adaptations may include both genital and non-genital traits.
        In this study, we examine evolutionary associations between harmful male genital
        morphology and female reproductive tract morphology and immune function across
        13 populations of the seed beetle\n            <jats:italic>Callosobruchus
        maculatus<\/jats:italic>\n            . We detected positive correlated evolution
        between the injuriousness of male genitalia and putative female resistance
        adaptations across populations. Moreover, we found evidence for a negative
        relationship between female immunity and population productivity, which suggests
        that investment in female resistance may be costly due to the resource trade-offs
        that are predicted between immunity and reproduction. Finally, the degree
        of female tract scarring (harm to females) was greater in those populations
        with both longer aedeagal spines and a thinner female tract lining. Our results
        are thus consistent with a sexual arms race, which is only apparent when both
        male and female traits are taken into account. Importantly, our study provides
        rare evidence for sexually antagonistic coevolution of male and female traits
        at the within-species level.\n          <\/jats:p>","DOI":"10.1098\/rspb.2017.0132","type":"journal-article","created":{"date-parts":[[2017,5,24]],"date-time":"2017-05-24T09:10:21Z","timestamp":1495617021000},"page":"20170132","update-policy":"http:\/\/dx.doi.org\/10.1098\/crossmark-policy","source":"Crossref","is-referenced-by-count":65,"title":["Sexual
        conflict and correlated evolution between male persistence and female resistance
        traits in the seed beetle\n            <i>Callosobruchus maculatus<\/i>"],"prefix":"10.1098","volume":"284","author":[{"ORCID":"http:\/\/orcid.org\/0000-0003-1406-0680","authenticated-orcid":false,"given":"Liam
        R.","family":"Dougherty","sequence":"first","affiliation":[{"name":"School
        of Biological Sciences, Centre for Evolutionary Biology, University of Western
        Australia, Crawley, WA 6009, Australia"}]},{"given":"Emile","family":"van
        Lieshout","sequence":"additional","affiliation":[{"name":"School of Biological
        Sciences, Centre for Evolutionary Biology, University of Western Australia,
        Crawley, WA 6009, Australia"}]},{"ORCID":"http:\/\/orcid.org\/0000-0001-6072-3807","authenticated-orcid":false,"given":"Kathryn
        B.","family":"McNamara","sequence":"additional","affiliation":[{"name":"School
        of Biological Sciences, Centre for Evolutionary Biology, University of Western
        Australia, Crawley, WA 6009, Australia"}]},{"given":"Joe A.","family":"Moschilla","sequence":"additional","affiliation":[{"name":"School
        of Biological Sciences, Centre for Evolutionary Biology, University of Western
        Australia, Crawley, WA 6009, Australia"}]},{"given":"G\u00f6ran","family":"Arnqvist","sequence":"additional","affiliation":[{"name":"Animal
        Ecology, Department of Ecology and Genetics, Uppsala University, Norbyv\u00e4gen
        18D, Uppsala 75236, Sweden"}]},{"ORCID":"http:\/\/orcid.org\/0000-0003-0562-1474","authenticated-orcid":false,"given":"Leigh
        W.","family":"Simmons","sequence":"additional","affiliation":[{"name":"School
        of Biological Sciences, Centre for Evolutionary Biology, University of Western
        Australia, Crawley, WA 6009, Australia"}]}],"member":"175","published-online":{"date-parts":[[2017,5,24]]},"reference":[{"key":"e_1_3_6_2_2","first-page":"123","volume-title":"Sexual
        selection and reproductive competition in insects","author":"Parker G","year":"1979"},{"key":"e_1_3_6_3_2","doi-asserted-by":"publisher","DOI":"10.1515\/9781400850600"},{"key":"e_1_3_6_4_2","doi-asserted-by":"publisher","DOI":"10.1111\/brv.12018"},{"key":"e_1_3_6_5_2","doi-asserted-by":"publisher","DOI":"10.1038\/35038154"},{"key":"e_1_3_6_6_2","doi-asserted-by":"publisher","DOI":"10.1093\/beheco\/13.3.353"},{"key":"e_1_3_6_7_2","doi-asserted-by":"publisher","DOI":"10.1007\/s00435-010-0109-5"},{"key":"e_1_3_6_8_2","doi-asserted-by":"publisher","DOI":"10.1007\/s00265-012-1[...]
- request:
    method: get
    uri: https://doi.org/ra/10.1098
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.1098",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 12 Mar 2023 19:21:02 GMT
recorded_with: VCR 6.1.0
