---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.3280/ecag2018-001005
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T15:21:55Z","timestamp":1648999315164},"reference-count":17,"publisher":"Franco
        Angeli","issue":"1","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2018,5]]},"DOI":"10.3280\/ecag2018-001005","type":"journal-article","created":{"date-parts":[[2018,6,7]],"date-time":"2018-06-07T09:40:49Z","timestamp":1528364449000},"page":"75-92","source":"Crossref","is-referenced-by-count":1,"title":["Substitutability
        between organic and conventional poultry products and organic price premiums"],"prefix":"10.3280","author":[{"given":"Sohae
        Eve","family":"Oh","sequence":"first","affiliation":[]},{"given":"Tomislav","family":"Vukina","sequence":"additional","affiliation":[]}],"member":"4169","reference":[{"key":"10.3280\/ECAG2018_001005_ref0","unstructured":"Chang,
        J.B., Lusk, J.L., & Bailey Norwood, F. (2010). The price of happy hens: A
        hedonic analysis of retail egg prices. Journal of Agricultural and Resource
        Economics, 35(3), 406-423."},{"key":"10.3280\/ECAG2018_001005_ref1","unstructured":"Oberholtzer,
        L., Greene, C., & Lopez, E. (2006). Organic poultry and eggs capture high
        price premiums and growing share of specialty markets. Washington, DC: US
        Department of Agriculture, Economic Research Service."},{"key":"10.3280\/ECAG2018_001005_ref2","unstructured":"Carlson,
        A., & Jaenicke, E. (2016). Changes in Retail Organic Price Premiums from 2004
        to 2010. No. 242448. United States Department of Agriculture, Economic Research
        Service. -- Retrieved from: www.ers.usda.gov\/publications\/err-economic-research-report\/err209."},{"key":"10.3280\/ECAG2018_001005_ref3","unstructured":"Glaser,
        L.K., & Thompson, G. D., (2000). Demand for organic and conventional beverage
        milk. Western Agricultural Economics Association Annual Meeting, June 29-July,
        Vancouver, Canada (pp. 1-22)."},{"key":"10.3280\/ECAG2018_001005_ref4","doi-asserted-by":"publisher","DOI":"10.2307\/1244214"},{"key":"10.3280\/ECAG2018_001005_ref5","unstructured":"Glaser,
        L., & Thompson, G.D, (1998). Demand for organic and conventional frozen vegetables.
        American Agricultural Economics Association Annual Meeting, August 8-11, Nashville,
        Usa (pp. 1-13)."},{"key":"10.3280\/ECAG2018_001005_ref6","doi-asserted-by":"publisher","DOI":"10.1108\/00070700510596901"},{"key":"10.3280\/ECAG2018_001005_ref7","unstructured":"Dimitri,
        C. & L. Oberholtzer, (2008). The U.S. Organic Handling Sector in 2004: Baseline
        Findings of the Nationwide Survey of Organic Manufacturers, Processors, and
        Distributors. Economic Information Bulletin, Number 36."},{"key":"10.3280\/ECAG2018_001005_ref8","unstructured":"Washington,
        DC: U.S. Department of Agriculture, Economic Research Service. -- Retrieved
        from http:\/\/www.ers.usda.gov\/Publications\/EIB36\/EIB36.pdf."},{"key":"10.3280\/ECAG2018_001005_ref9","unstructured":"Ibarburu,
        M. & Bell, D. (2010). Flock Statistics March 2010. U.S. Egg Industry Statistical
        Report. Ames, IA: Iowa State University, Department of Animal Science, Egg
        Industry Center."},{"key":"10.3280\/ECAG2018_001005_ref10","unstructured":"Ibarburu,
        M. & Bell, D. ([...]
- request:
    method: get
    uri: https://doi.org/ra/10.3280
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.3280",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 12 Mar 2023 19:21:10 GMT
recorded_with: VCR 6.1.0
