---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.4000/dms.865
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,12,19]],"date-time":"2022-12-19T16:56:26Z","timestamp":1671468986336},"reference-count":14,"publisher":"OpenEdition","issue":"8","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["dms"],"DOI":"10.4000\/dms.865","type":"journal-article","created":{"date-parts":[[2015,2,1]],"date-time":"2015-02-01T04:53:39Z","timestamp":1422766419000},"source":"Crossref","is-referenced-by-count":12,"title":["Distances,
        absence, proximit\u00e9s et pr\u00e9sences\u00a0: des concepts en d\u00e9placement"],"prefix":"10.4000","volume":"2","author":[{"given":"Daniel","family":"Peraya","sequence":"first","affiliation":[]}],"member":"2399","published-online":{"date-parts":[[2014,12,14]]},"reference":[{"key":"ref0","doi-asserted-by":"publisher","DOI":"10.3166\/ds.9.313-330"},{"key":"ref1","doi-asserted-by":"publisher","DOI":"10.3166\/ds.4.469-496"},{"key":"ref2","doi-asserted-by":"publisher","DOI":"10.3917\/puf.charl.2010.01"},{"key":"ref3","doi-asserted-by":"publisher","DOI":"10.21236\/ADA128980"},{"key":"ref4","doi-asserted-by":"publisher","DOI":"10.1109\/HICSS.1999.772701"},{"key":"ref5","doi-asserted-by":"publisher","DOI":"10.3917\/dbu.guir.2002.01"},{"key":"ref6","doi-asserted-by":"publisher","DOI":"10.14375\/NP.9782710126720"},{"key":"ref7","doi-asserted-by":"publisher","DOI":"10.3406\/rfp.1993.1305"},{"key":"ref8","doi-asserted-by":"publisher","DOI":"10.3166\/ds.5.341-366"},{"key":"ref9","doi-asserted-by":"publisher","DOI":"10.3166\/ds.9.565-590"},{"key":"ref10","doi-asserted-by":"publisher","DOI":"10.4000\/dms.797"},{"key":"ref11","doi-asserted-by":"publisher","DOI":"10.4000\/questionsdecommunication.6590"},{"key":"ref12","doi-asserted-by":"publisher","DOI":"10.4267\/2042\/14983"},{"key":"ref13","doi-asserted-by":"publisher","DOI":"10.4324\/9780203052945"}],"container-title":["Distances
        et m\u00e9diations des savoirs"],"original-title":[],"deposited":{"date-parts":[[2022,5,2]],"date-time":"2022-05-02T09:30:36Z","timestamp":1651483836000},"score":1,"resource":{"primary":{"URL":"http:\/\/journals.openedition.org\/dms\/865"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2014,12,14]]},"references-count":14,"journal-issue":{"issue":"8","published-online":{"date-parts":[[2014,12,14]]}},"URL":"http:\/\/dx.doi.org\/10.4000\/dms.865","relation":{},"ISSN":["2264-7228"],"issn-type":[{"value":"2264-7228","type":"electronic"}],"subject":["General
        Medicine"],"published":{"date-parts":[[2014,12,14]]}}}'
  recorded_at: Sun, 12 Mar 2023 19:21:11 GMT
- request:
    method: get
    uri: https://doi.org/ra/10.4000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.4000",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 12 Mar 2023 19:21:11 GMT
recorded_with: VCR 6.1.0
