---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1007/978-3-642-34922-5_19
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,2,17]],"date-time":"2023-02-17T21:40:19Z","timestamp":1676670019237},"publisher-location":"Berlin,
        Heidelberg","reference-count":29,"publisher":"Springer Berlin Heidelberg","isbn-type":[{"value":"9783642349218","type":"print"},{"value":"9783642349225","type":"electronic"}],"license":[{"start":{"date-parts":[[2013,1,1]],"date-time":"2013-01-01T00:00:00Z","timestamp":1356998400000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.springernature.com\/gp\/researchers\/text-and-data-mining"},{"start":{"date-parts":[[2013,1,1]],"date-time":"2013-01-01T00:00:00Z","timestamp":1356998400000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/www.springernature.com\/gp\/researchers\/text-and-data-mining"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2013]]},"DOI":"10.1007\/978-3-642-34922-5_19","type":"book-chapter","created":{"date-parts":[[2012,10,31]],"date-time":"2012-10-31T15:15:48Z","timestamp":1351696548000},"page":"269-287","source":"Crossref","is-referenced-by-count":1,"title":["Log-Domain
        Arithmetic for High-Speed Fuzzy Control on a Field-Programmable Gate Array"],"prefix":"10.1007","author":[{"given":"Ali","family":"Razib","sequence":"first","affiliation":[]},{"given":"Scott","family":"Dick","sequence":"additional","affiliation":[]},{"given":"Vincent","family":"Gaudet","sequence":"additional","affiliation":[]}],"member":"297","reference":[{"issue":"3","key":"19_CR1","doi-asserted-by":"publisher","first-page":"338","DOI":"10.1016\/S0019-9958(65)90241-X","volume":"8","author":"L.
        Zadeh","year":"1965","unstructured":"Zadeh, L.: Fuzzy Sets. Information and
        Control\u00a08(3), 338\u2013353 (1965)","journal-title":"Information and Control"},{"key":"19_CR2","doi-asserted-by":"publisher","first-page":"1182","DOI":"10.1109\/TC.1977.1674779","volume":"26","author":"E.H.
        Mamdani","year":"1977","unstructured":"Mamdani, E.H.: Application of Fuzzy
        Logic to Approximate Reasoning. IEEE Trans. Computers\u00a0(26), 1182\u20131191
        (1977)","journal-title":"IEEE Trans. Computers"},{"key":"19_CR3","doi-asserted-by":"crossref","unstructured":"Han,
        I.S.: Membership Function Circuit for Neura[...]
- request:
    method: get
    uri: https://doi.org/ra/10.1007
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.1007",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 12 Mar 2023 19:21:13 GMT
recorded_with: VCR 6.1.0
