---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.2903/j.efsa.2018.5239
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,3,10]],"date-time":"2023-03-10T11:14:10Z","timestamp":1678446850264},"reference-count":229,"publisher":"Wiley","issue":"4","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["EFS2","EFSA
        Journal"],"published-print":{"date-parts":[[2018,4]]},"DOI":"10.2903\/j.efsa.2018.5239","type":"journal-article","created":{"date-parts":[[2018,4,18]],"date-time":"2018-04-18T07:47:16Z","timestamp":1524037636000},"source":"Crossref","is-referenced-by-count":66,"title":["Scientific
        opinion on the safety of green tea catechins"],"prefix":"10.2903","volume":"16","author":[{"name":"EFSA
        Panel\u00a0on Food Additives and Nutrient Sources added to Food (ANS)","sequence":"first","affiliation":[]},{"given":"Maged","family":"Younes","sequence":"additional","affiliation":[]},{"given":"Peter","family":"Aggett","sequence":"additional","affiliation":[]},{"given":"Fernando","family":"Aguilar","sequence":"additional","affiliation":[]},{"given":"Riccardo","family":"Crebelli","sequence":"additional","affiliation":[]},{"given":"Birgit","family":"Dusemund","sequence":"additional","affiliation":[]},{"given":"Metka","family":"Filipi\u010d","sequence":"additional","affiliation":[]},{"given":"Maria
        Jose","family":"Frutos[...]
- request:
    method: get
    uri: https://doi.org/ra/10.2903
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.2903",
            "RA": "OP"
          }
        ]
  recorded_at: Sun, 12 Mar 2023 19:21:07 GMT
recorded_with: VCR 6.1.0
