---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.7554/elife.55167.sa2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,3,28]],"date-time":"2022-03-28T21:23:07Z","timestamp":1648502587741},"reference-count":0,"publisher":"eLife
        Sciences Publications, Ltd","license":[{"start":{"date-parts":[[2020,4,29]],"date-time":"2020-04-29T00:00:00Z","timestamp":1588118400000},"content-version":"unspecified","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"content-domain":{"domain":[]},"short-container-title":[],"published-print":{"date-parts":[[2020,4,29]]},"DOI":"10.7554\/elife.55167.sa2","type":"peer-review","created":{"date-parts":[[2020,5,19]],"date-time":"2020-05-19T20:33:35Z","timestamp":1589920415000},"source":"Crossref","is-referenced-by-count":1,"title":["Author
        response: SpikeForest, reproducible web-facing ground-truth validation of
        automated neural spike sorters"],"prefix":"10.7554","author":[{"ORCID":"http:\/\/orcid.org\/0000-0002-5286-4375","authenticated-orcid":true,"given":"Jeremy","family":"Magland","sequence":"first","affiliation":[{"name":"Center
        for Computational Mathematics, Flatiron Institute, New York, United States"}]},{"given":"James
        J","family":"Jun","sequence":"additional","affiliation":[{"name":"Center for
        Computational Mathematics, Flatiron Institute, New York, United States"}]},{"ORCID":"http:\/\/orcid.org\/0000-0002-2642-603X","authenticated-orcid":true,"given":"Elizabeth","family":"Lovero","sequence":"additional","affiliation":[{"name":"Scientific
        Computing Core, Flatiron Institute, Ne[...]
- request:
    method: get
    uri: https://doi.org/ra/10.7554
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.7554",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 12 Mar 2023 19:21:06 GMT
recorded_with: VCR 6.1.0
