---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.5194/cp-2020-95
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,4,5]],"date-time":"2022-04-05T22:57:11Z","timestamp":1649199431318},"posted":{"date-parts":[[2020,7,28]]},"group-title":"Carbon
        Cycle\/Modelling only\/Millenial\/D-O","reference-count":0,"publisher":"Copernicus
        GmbH","license":[{"start":{"date-parts":[[2020,7,28]],"date-time":"2020-07-28T00:00:00Z","timestamp":1595894400000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"funder":[{"DOI":"10.13039\/100000141","name":"Division
        of Ocean Sciences","doi-asserted-by":"publisher","award":["1558990","1736771"]},{"DOI":"10.13039\/501100000923","name":"Australian
        Research Council","doi-asserted-by":"publisher","award":["FT180100606","DP180100048"]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"abstract":"<jats:p>Abstract.
        During the early last glacial termination (17.2\u201315\u2009ka) atmospheric
        \u03b413C declined sharply by 0.3\u20130.4\u2009\u2030 as atmospheric pCO2
        rose. This was the initial part of the atmospheric \u03b413C excursion that
        lasted for multiple thousand years. A similar \u03b413C decline has been documented
        in marine proxy records from both surface and thermocline-dwelling planktic
        foraminifera. The foraminiferal \u03b413C decline has [...]
- request:
    method: get
    uri: https://doi.org/ra/10.5194
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.5194",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 12 Mar 2023 19:21:17 GMT
recorded_with: VCR 6.1.0
