---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.2172/972169
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"institution":[{"name":"National
        Renewable Energy Laboratory (NREL)","acronym":["NREL"],"place":["Golden, CO
        (United States)"]},{"name":"USDOE"}],"indexed":{"date-parts":[[2023,3,9]],"date-time":"2023-03-09T22:25:12Z","timestamp":1678400712160},"reference-count":0,"publisher":"Office
        of Scientific and Technical Information (OSTI)","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.2172\/972169","type":"report","created":{"date-parts":[[2010,2,19]],"date-time":"2010-02-19T03:56:03Z","timestamp":1266551763000},"approved":{"date-parts":[[2010,2,18]]},"source":"Crossref","is-referenced-by-count":251,"title":["Role
        of Energy Storage with Renewable Electricity Generation"],"prefix":"10.2172","author":[{"given":"P.","family":"Denholm","sequence":"first","affiliation":[]},{"given":"E.","family":"Ela","sequence":"additional","affiliation":[]},{"given":"B.","family":"Kirby","sequence":"additional","affiliation":[]},{"given":"M.","family":"Milligan","sequence":"additional","affiliation":[]}],"member":"960","published-online":{"date-parts":[[2010,1,1]]},"container-title":[],"original-title":[],"deposited":{"date-parts":[[2010,2,19]],"date-time":"2010-02-19T03:56:05Z","timestamp":1266551765000},"score":1,"resource":{"primary":{"URL":"http:\/\/www.osti.gov\/servlets\/purl\/972169-1QXROM\/"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2010,1,1]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.2172\/972169","relation":{},"published":{"date-parts":[[2010,1,1]]}}}'
  recorded_at: Sun, 12 Mar 2023 19:20:54 GMT
- request:
    method: get
    uri: https://doi.org/ra/10.2172
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.2172",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 12 Mar 2023 19:20:54 GMT
recorded_with: VCR 6.1.0
