---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.2172/972169
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"institution":[{"name":"National
        Renewable Energy Laboratory (NREL)","acronym":["NREL"],"place":["Golden, CO
        (United States)"]},{"name":"USDOE"}],"indexed":{"date-parts":[[2023,3,9]],"date-time":"2023-03-09T22:25:12Z","timestamp":1678400712160},"reference-count":0,"publisher":"Office
        of Scientific and Technical Information (OSTI)","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.2172\/972169","type":"report","created":{"date-parts":[[2010,2,19]],"date-time":"2010-02-19T03:56:03Z","timestamp":1266551763000},"approved":{"date-parts":[[2010,2,18]]},"source":"Crossref","is-referenced-by-count":251,"title":["Role
        of Energy Storage with Renewable Electricity Generation"],"prefix":"10.2172","author":[{"given":"P.","family":"Denholm","sequence":"first","affiliation":[]},{"given":"E.","family":"Ela","sequence":"additional","affiliation":[]},{"given":"B.","family":"Kirby","sequence":"additional","affiliation":[]},{"given":"M.","family":"Milligan","sequence":"additional","affiliation":[]}],"member":"960","published-online":{"date-parts":[[2010,1,1]]},"container-title":[],"original-title":[],"deposited":{"date-parts":[[2010,2,19]],"date-time":"2010-02-19T03:56:05Z","timestamp":1266551765000},"score":1,"resource":{"primary":{"URL":"http:\/\/www.osti.gov\/servlets\/purl\/972169-1QXROM\/"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2010,1,1]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.2172\/972169","relation":{},"published":{"date-parts":[[2010,1,1]]}}}'
  recorded_at: Sun, 12 Mar 2023 22:22:19 GMT
- request:
    method: get
    uri: https://doi.org/ra/10.2172
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "DOI": "10.2172",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 12 Mar 2023 22:22:19 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.2172/972169/transform/application/vnd.crossref.unixsd+xml
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <http://dx.doi.org/10.2172/972169>; rel="canonical"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<crossref_result xmlns=\"http://www.crossref.org/qrschema/3.0\"
        version=\"3.0\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.crossref.org/qrschema/3.0
        http://www.crossref.org/schemas/crossref_query_output3.0.xsd\">\r\n  <query_result>\r\n
        \   <head>\r\n      <doi_batch_id>none</doi_batch_id>\r\n    </head>\r\n    <body>\r\n
        \     <query status=\"resolved\">\r\n        <doi type=\"report-paper_title\">10.2172/972169</doi>\r\n
        \       <crm-item name=\"publisher-name\" type=\"string\">Office of Scientific
        and Technical Information (OSTI)</crm-item>\r\n        <crm-item name=\"prefix-name\"
        type=\"string\">US Department of Energy</crm-item>\r\n        <crm-item name=\"member-id\"
        type=\"number\">960</crm-item>\r\n        <crm-item name=\"citation-id\" type=\"number\">41225045</crm-item>\r\n
        \       <crm-item name=\"book-id\" type=\"number\">584445</crm-item>\r\n        <crm-item
        name=\"deposit-timestamp\" type=\"number\">20100218105553</crm-item>\r\n        <crm-item
        name=\"owner-prefix\" type=\"string\">10.2172</crm-item>\r\n        <crm-item
        name=\"last-update\" type=\"date\">2010-02-19T03:56:05Z</crm-item>\r\n        <crm-item
        name=\"created\" type=\"date\">2010-02-19T03:56:03Z</crm-item>\r\n        <crm-item
        name=\"citedby-count\" type=\"number\">251</crm-item>\r\n        <doi_record>\r\n
        \         <crossref xmlns=\"http://www.crossref.org/xschema/1.0\" xsi:schemaLocation=\"http://www.crossref.org/xschema/1.0
        http://doi.crossref.org/schemas/unixref1.0.xsd\">\r\n            <report-paper
        publication_type=\"full_text\">\r\n              <report-paper_metadata language=\"en\">\r\n
        \               <contributors>\r\n                  <person_name sequence=\"first\"
        contributor_role=\"author\">\r\n                    <given_name>P.</given_name>\r\n
        \                   <surname>Denholm</surname>\r\n                  </person_name>\r\n
        \                 <person_name sequence=\"additional\" contributor_role=\"author\">\r\n
        \                   <given_name>E.</given_name>\r\n                    <surname>Ela</surname>\r\n
        \                 </person_name>\r\n                  <person_name sequence=\"additional\"
        contributor_role=\"author\">\r\n                    <given_name>B.</given_name>\r\n
        \                   <surname>Kirby</surname>\r\n                  </person_name>\r\n
        \                 <person_name sequence=\"additional\" contributor_role=\"author\">\r\n
        \                   <given_name>M.</given_name>\r\n                    <surname>Milligan</surname>\r\n
        \                 </person_name>\r\n                </contributors>\r\n                <titles>\r\n
        \                 <title>Role of Energy Storage with Renewable Electricity
        Generation</title>\r\n                </titles>\r\n                <publication_date
        media_type=\"online\">\r\n                  <month>01</month>\r\n                  <day>01</day>\r\n
        \                 <year>2010</year>\r\n                </publication_date>\r\n
        \               <approval_date>\r\n                  <month>02</month>\r\n
        \                 <day>18</day>\r\n                  <year>2010</year>\r\n
        \               </approval_date>\r\n                <institution>\r\n                  <institution_name>National
        Renewable Energy Laboratory (NREL)</institution_name>\r\n                  <institution_acronym>NREL</institution_acronym>\r\n
        \                 <institution_place>Golden, CO (United States)</institution_place>\r\n
        \               </institution>\r\n                <institution>\r\n                  <institution_name>USDOE</institution_name>\r\n
        \               </institution>\r\n                <publisher_item>\r\n                  <item_number
        item_number_type=\"report-number\">NREL/TP-6A2-47187</item_number>\r\n                  <item_number
        item_number_type=\"sequence-number\">972169</item_number>\r\n                </publisher_item>\r\n
        \               <contract_number>AC36-99-GO10337</contract_number>\r\n                <doi_data>\r\n
        \                 <doi>10.2172/972169</doi>\r\n                  <timestamp>20100218105553</timestamp>\r\n
        \                 <resource>http://www.osti.gov/servlets/purl/972169-1QXROM/</resource>\r\n
        \               </doi_data>\r\n              </report-paper_metadata>\r\n
        \           </report-paper>\r\n          </crossref>\r\n        </doi_record>\r\n
        \     </query>\r\n    </body>\r\n  </query_result>\r\n</crossref_result>"
  recorded_at: Sun, 12 Mar 2023 22:27:07 GMT
- request:
    method: get
    uri: https://api.crossref.org/members/960
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1678836682614,"primary-name":"Office
        of Scientific and Technical Information (OSTI)","counts":{"current-dois":12356,"backfile-dois":296988,"total-dois":309344},"breakdowns":{"dois-by-issued-year":[[1995,9373],[1992,9153],[1980,8567],[1993,8372],[1994,8325],[1979,8204],[1996,8144],[1978,7581],[1997,7320],[2021,7260],[1977,6883],[1998,6565],[2020,6083],[1990,5863],[2003,5787],[1999,5786],[2015,5762],[1989,5590],[1991,5586],[2013,5568],[2012,5542],[2018,5532],[2000,5428],[2004,5415],[1981,5407],[2016,5389],[1976,5371],[2017,5343],[2014,5304],[2005,5111],[2019,4957],[2002,4794],[2001,4749],[2006,4612],[2022,4588],[2011,4310],[2010,4086],[2009,4046],[1982,3813],[1972,3780],[2007,3764],[1975,3741],[2008,3528],[1974,3021],[1971,2975],[1973,2929],[1970,2864],[1983,2805],[1988,2722],[1984,2548],[1987,2317],[1986,2293],[1965,2280],[1969,2249],[1968,2244],[1964,2234],[1967,2218],[1985,2175],[1963,1952],[1966,1878],[1962,1754],[1961,1597],[1960,1555],[1959,1474],[1958,1355],[1956,1292],[1957,1199],[1954,946],[1955,924],[1953,890],[1952,711],[1951,635],[2023,508],[1950,501],[1949,383],[1900,365],[1948,344],[1945,242],[1947,184],[1946,184],[1944,127],[1943,59],[1942,17],[1941,6],[1940,2],[1924,1],[1918,1],[1916,1],[1478,1]]},"prefixes":["10.2172","10.46936"],"coverage":{"affiliations-current":0.7126901910003237,"similarity-checking-current":0.0,"descriptions-current":0.01505341534477177,"ror-ids-current":0.01675299449660084,"funders-backfile":0.02732770347623473,"licenses-backfile":0.0,"funders-current":0.04435092262868242,"affiliations-backfile":0.1586124691906744,"resource-links-backfile":0.0,"orcids-backfile":0.0144450280819427,"update-policies-current":0.0,"ror-ids-backfile":0.0,"orcids-current":0.3093234056328909,"similarity-checking-backfile":0.0,"references-backfile":0.0,"descriptions-backfile":0.0,"award-numbers-backfile":0.02732770347623473,"update-policies-backfile":0.0,"licenses-current":0.0,"award-numbers-current":0.04435092262868242,"abstracts-backfile":0.0,"resource-links-current":0.0,"abstracts-current":0.0,"references-current":0.0},"prefix":[{"name":"US
        Department of Energy","value":"10.2172"},{"name":"US Department of Energy","value":"10.46936"}],"id":960,"tokens":["office","of","scientific","and","technical","information","osti"],"counts-type":{"all":{"report":296381,"journal-article":3,"proceedings-article":4296,"grant":8756},"backfile":{"report":287328,"journal-article":3,"proceedings-article":1541,"grant":8116},"current":{"report":9053,"proceedings-article":2755,"grant":548}},"coverage-type":{"all":{"report":{"last-status-check-time":1678836682614,"affiliations":0.1823126313765052,"abstracts":0.0,"orcids":0.0256764097563609,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.0,"descriptions":0.0},"journal-article":{"last-status-check-time":1678836682614,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.0,"descriptions":0.0},"proceedings-article":{"last-status-check-time":1678836682614,"affiliations":0.3610335195530726,"abstracts":0.0,"orcids":0.0446927374301676,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-n[...]
- request:
    method: get
    uri: https://doi.org/ra/10.2172
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "DOI": "10.2172",
            "RA": "Crossref"
          }
        ]
  recorded_at: Wed, 15 Mar 2023 09:09:29 GMT
recorded_with: VCR 6.1.0
