---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1038/hdy.2013.26
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,3,12]],"date-time":"2023-03-12T15:26:52Z","timestamp":1678634812059},"reference-count":41,"publisher":"Springer
        Science and Business Media LLC","issue":"2","license":[{"start":{"date-parts":[[2013,4,10]],"date-time":"2013-04-10T00:00:00Z","timestamp":1365552000000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/www.springer.com\/tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Heredity"],"published-print":{"date-parts":[[2013,8]]},"DOI":"10.1038\/hdy.2013.26","type":"journal-article","created":{"date-parts":[[2013,4,10]],"date-time":"2013-04-10T09:19:27Z","timestamp":1365585567000},"page":"122-130","source":"Crossref","is-referenced-by-count":46,"title":["Albinism
        in phylogenetically and geographically distinct populations of Astyanax cavefish
        arises through the same loss-of-function Oca2 allele"],"prefix":"10.1038","volume":"111","author":[{"given":"J
        B","family":"Gross","sequence":"first","affiliation":[]},{"given":"H","family":"Wilkens","sequence":"additional","affiliation":[]}],"member":"297","published-online":{"date-parts":[[2013,4,10]]},"reference":[{"key":"BFhdy201326_CR1","first-page":"263","volume":"4","author":"J
        Alvarez","year":"1946","unstructured":"Alvarez J . (1946). Revisi\u00f3n del
        g\u00e9nero Anoptichthys con descipci\u00f3n de una especie nueva (Pisces,
        Characidae). An Esc Nac Cien Biol M\u00e9xico 4: 263\u2013282.","journal-title":"An
        Esc Nac Cien Biol M\u00e9xico"},{"key":"BFhdy201326_CR2","doi-asserted-by":"publisher","first-page":"R23","DOI":"10.1016\/j.cub.2007.11.023","volume":"18","author":"R
        Borowsky","year":"2008","unstructured":"Borowsky R . (2008). Restoring sight
        in blind cavefish. Curr Biol 18: R23\u2013R24.","journal-title":"Curr Biol"},{"key":"BFhdy201326_CR3","doi-asserted-by":"publisher","first-page":"19","DOI":"10.1093\/jhered\/93.1.19","volume":"93","author":"R
        Borowsky","year":"2002","unstructured":"Borowsky R, Wilkens H . (2002). Mapping
        a cave fis[...]
- request:
    method: get
    uri: https://doi.org/ra/10.1038
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.1038",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 12 Mar 2023 19:21:01 GMT
recorded_with: VCR 6.1.0
