---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.4018/978-1-4666-1891-6.ch004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,4,5]],"date-time":"2022-04-05T22:24:03Z","timestamp":1649197443163},"reference-count":33,"publisher":"IGI
        Global","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"abstract":"<jats:p>Image
        segmentation is an important research area in computer vision and its applications
        in different disciplines, such as medicine, are of great importance. It is
        often one of the very first steps of computer vision or pattern recognition
        methods. This is because segmentation helps to locate objects and boundaries
        into images. The objective of segmenting an image is to partition it into
        disjoint and homogeneous sets of pixels. When segmenting an image it is natural
        to try to use graph partitioning, because segmentation and partitioning share
        the same high-level objective, to partition a set into disjoints subsets.
        However, when using graph partitioning for segmenting an image, several big
        questions remain: What is the best way to convert an image into a graph? Or
        to convert image segmentation objectives into graph partitioning objectives
        (not to mention what are image segmentation objectives)? What are the best
        graph partitioning methods and algorithms for segmenting an image? In this
        chapter, the author tries to answer these questions, both for unsupervised
        and supervised image segmentation approach, by presenting methods and algorithms
        and by comparing them.<\/jats:p>","DOI":"10.4018\/978-1-4666-1891-6.ch004","type":"book-chapter","created":{"date-parts":[[2012,8,8]],"date-time":"2012-08-08T16:54:07Z","timestamp":1344444847000},"page":"72-94","source":"Crossref","is-referenced-by-count":0,"title":["Unsupervised
        and Supervised Image Segmentation Using Graph Partitioning"],"prefix":"10.4018","author":[{"given":"Charles-Edmond","family":"Bichot","sequence":"first","affiliation":[{"name":"Universit\u00e9
        de Lyon, France"}]}],"member":"2432","reference":[{"key":"978-1-4666-1891-6.ch004.-1","doi-asserted-by":"publisher","DOI":"10.1016\/0095-8956(85)90092-9"},{"key":"978-1-4666-1891-6.ch004.-2","first-page":"1","author":"X.Bai","year":"2007","journal-title":"A
        geodesic framework for fast interactive image and video segmentation and matting"},{"key":"978-1-4666-1891-6.ch004.-3","doi-asserted-by":"publisher","DOI":"10.1002\/cpe.4330060203"},{"key":"978-1-4666-1891-6.ch004.-4","doi-asserted-by":"publisher","DOI":"10.1007\/s10852-010-9126-0"},{"key":"978-1-4666-1891-6.ch004.-5","unstructured":"Bichot,
        C.-E., & Siarry, P. (\u00c9ds.). (2011). Graph partitioning. ISTE - Wiley."},{"key":"978-1-4666-1891-6.ch004.-6","doi-asserted-by":"crossref","unstructured":"Blake,
        A., Rother, C., Brown, M., Perez, P., & Torr, P. (2004). Interactive image
        segmentation using an adaptive GMMRF model. In T. Pajdla, & J. Matas (Eds.),
        Proceedings of the European Conference on Computer Vision (ECCV) (Vol. 3021,
        pp. 428-441). Berlin, Germany Springer.","DOI":"10.1007\/[...]
- request:
    method: get
    uri: https://doi.org/ra/10.4018
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.4018",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 12 Mar 2023 19:21:00 GMT
recorded_with: VCR 6.1.0
