---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1029/ar035
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,2,7]],"date-time":"2023-02-07T09:49:58Z","timestamp":1675763398225},"publisher-location":"Washington,
        D. C.","reference-count":242,"publisher":"American Geophysical Union","isbn-type":[{"value":"0875901816","type":"print"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[1982]]},"DOI":"10.1029\/ar035","type":"monograph","created":{"date-parts":[[2011,9,8]],"date-time":"2011-09-08T21:55:55Z","timestamp":1315518955000},"source":"Crossref","is-referenced-by-count":22,"title":["Biogeography
        of Lanternfishes (Myctophidae) South of 30\u00b0S"],"prefix":"10.1111","author":[{"given":"Richard
        Frank","family":"McGinnis","sequence":"first","affiliation":[]}],"member":"311","reference":[{"key":"10.1029\/AR035:addi70","doi-asserted-by":"crossref","first-page":"287","DOI":"10.1016\/0031-0182(70)90103-3","article-title":"Latitudinal
        gradients in tertiary mol-luscan faunas of the Pacific coast","volume":"8","author":"Addicott","year":"1970","journal-title":"Palaeogeogr.
        Palaeoclimatol. Palaeoecol."},{"key":"10.1029\/AR035:ahls71","first-page":"3","article-title":"Kinds
        and abundance of fish larvae in the eastern tropical Pacific, based on collections
        made on Eastropac I","volume":"69","author":"Ahlstrom","year":"1971","journal-title":"Fish.
        Bull."},{"key":"10.1029\/AR035:alco91","doi-asserted-by":"crossref","first-page":"197","DOI":"10.1080\/00222939008694027","article-title":"Natural
        history notes from H.M.[...]
- request:
    method: get
    uri: https://doi.org/ra/10.1029
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.1029",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 12 Mar 2023 19:21:17 GMT
recorded_with: VCR 6.1.0
