---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.14264
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "DOI": "10.14264",
            "RA": "Crossref"
          }
        ]
  recorded_at: Thu, 05 Oct 2023 19:46:59 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.14264/uql.2020.791
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"institution":[{"name":"The
        University of Queensland","department":["School of Social Science"]}],"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T00:57:13Z","timestamp":1648947433930},"reference-count":0,"publisher":"University
        of Queensland Library","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.14264\/uql.2020.791","type":"dissertation","created":{"date-parts":[[2020,6,8]],"date-time":"2020-06-08T05:08:58Z","timestamp":1591592938000},"approved":{"date-parts":[[2020,5,25]]},"source":"Crossref","is-referenced-by-count":0,"title":["School
        truancy and financial independence during emerging adulthood: a longitudinal
        analysis of receipt of and reliance on cash transfers"],"prefix":"10.14264","author":[{"ORCID":"http:\/\/orcid.org\/0000-0003-3086-4443","authenticated-orcid":true,"given":"Patricia
        Maree","family":"Collingwood","sequence":"first","affiliation":[]}],"member":"5387","container-title":[],"original-title":[],"deposited":{"date-parts":[[2020,6,8]],"date-time":"2020-06-08T05:08:59Z","timestamp":1591592939000},"score":1,"degree":["PhD
        Thesis"],"resource":{"primary":{"URL":"http:\/\/espace.library.uq.edu.au\/view\/UQ:23a1e74"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.14264\/uql.2020.791","relation":{}}}'
  recorded_at: Thu, 05 Oct 2023 19:47:00 GMT
- request:
    method: get
    uri: https://api.crossref.org/members/5387
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1696467925415,"primary-name":"University
        of Queensland Library","counts":{"current-dois":262,"backfile-dois":1153,"total-dois":1415},"breakdowns":{"dois-by-issued-year":[[2020,443],[2015,227],[2021,195],[2016,94],[2014,81],[2019,79],[2023,55],[2013,55],[2018,54],[2017,40],[1970,24],[2022,12],[2012,7],[1980,6],[2009,5],[2005,4],[1981,4],[1979,4],[2008,3],[2006,3],[1983,3],[2010,2],[1992,2],[1982,2],[2007,1],[2004,1],[2003,1],[2002,1],[2000,1],[1996,1],[1995,1],[1994,1],[1990,1],[1985,1],[1971,1]]},"prefixes":["10.14264"],"coverage":{"affiliations-current":0.0,"similarity-checking-current":0.0,"descriptions-current":0.2099236641221374,"ror-ids-current":0.0,"funders-backfile":0.0,"licenses-backfile":0.0,"funders-current":0.0,"affiliations-backfile":0.0,"resource-links-backfile":0.0,"orcids-backfile":0.3061578490893322,"update-policies-current":0.0,"ror-ids-backfile":0.0,"orcids-current":0.4809160305343511,"similarity-checking-backfile":0.0,"references-backfile":0.0,"descriptions-backfile":0.4180398959236774,"award-numbers-backfile":0.0,"update-policies-backfile":0.0,"licenses-current":0.0,"award-numbers-current":0.0,"abstracts-backfile":0.0,"resource-links-current":0.0,"abstracts-current":0.0,"references-current":0.0},"prefix":[{"name":"University
        of Queensland Library","value":"10.14264"}],"id":5387,"tokens":["university","of","queensland","library"],"counts-type":{"all":{"monograph":17,"report":129,"book":3,"proceedings-article":728,"journal-issue":1,"dissertation":12852,"dataset":538},"backfile":{"monograph":3,"report":59,"proceedings-article":608,"journal-issue":1,"dataset":482},"current":{"monograph":14,"report":70,"book":3,"proceedings-article":120,"dataset":55}},"coverage-type":{"all":{"monograph":{"last-status-check-time":1696467925415,"affiliations":0.0,"abstracts":0.0,"orcids":0.7058823529411765,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.0,"descriptions":0.0},"report":{"last-status-check-time":1696467925415,"affiliations":0.0,"abstracts":0.0,"orcids":0.7751937984496124,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.0,"descriptions":0.0},"book":{"last-status-check-time":1696467925415,"affiliations":0.0,"abstracts":0.0,"orcids":0.6666666666666667,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"ror-ids":0.[...]
- request:
    method: get
    uri: https://doi.org/ra/10.14264
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "DOI": "10.14264",
            "RA": "Crossref"
          }
        ]
  recorded_at: Thu, 05 Oct 2023 19:47:01 GMT
recorded_with: VCR 6.2.0
