---
http_interactions:
- request:
    method: get
    uri: https://api.rogue-scholar.org/posts/1898d2d7-4d87-4487-96c4-3073cf99e9a5
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Fly-Request-Id:
      - 01HC0NZYJF49MYXQZYYAD3ZY5C-fra
    body:
      encoding: UTF-8
      string: '{"archive_url":null,"authors":[{"name":"Stephen Matheson","url":null}],"blog_name":"Quintessence
        of Dust","blog_slug":"sfmatheson","doi":"https://doi.org/10.59350/63055-a8604","id":"1898d2d7-4d87-4487-96c4-3073cf99e9a5","image":"https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEghgBx9BU21qMDFnLxgHmnsl6TQVfb3QCwOXrC1zcXq7WH9gN8E0TcH3pTslRBG6O8mb5gcuF9JVtDlJ2je6dFcfyzKE4OD38-ftr66nBxddo892_NkyuevrrX65ndSbwmXMaLh3F5yiqU1QIj8JtA8FLkKOcHOEVwVafz0rzh7PejbFzp3XT25nQxc/s320/Jan%207.jpg","indexed_at":1689006804,"language":"en","published_at":1673233380,"reference":[],"relationships":[],"summary":"It''s
        early January 2023, a little before sunset in Tucson. Live image below, showing
        the glorious Santa Catalina mountains (the snow on the upper reaches is more
        apparent earlier in the day) and my dinner preparations (shrimp and veggies
        on the grill).I''ve decided to start writing here at <i>Quintessence of Dust</i>,
        after another long hiatus.","tags":["Introduction"],"title":"Quintessence
        of Dust 2023 restart: the why","updated_at":1680470227,"url":"http://sfmatheson.blogspot.com/2023/01/quintessence-of-dust-2023-restart-why.html"}

        '
  recorded_at: Thu, 05 Oct 2023 19:45:49 GMT
recorded_with: VCR 6.2.0
