---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.2973
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "DOI": "10.2973",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 18 Jun 2023 15:21:26 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.2973/odp.proc.ir.180.2000
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,9,13]],"date-time":"2022-09-13T23:30:27Z","timestamp":1663111827500},"reference-count":0,"publisher":"Ocean
        Drilling Program","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.2973\/odp.proc.ir.180.2000","type":"monograph","created":{"date-parts":[[2006,10,17]],"date-time":"2006-10-17T15:50:37Z","timestamp":1161100237000},"source":"Crossref","is-referenced-by-count":11,"title":["Proceedings
        of the Ocean Drilling Program, 180 Initial Reports"],"prefix":"10.2973","member":"1029","published-online":{"date-parts":[[2000,2,4]]},"container-title":["Proceedings
        of the Ocean Drilling Program"],"original-title":[],"deposited":{"date-parts":[[2009,2,2]],"date-time":"2009-02-02T16:19:43Z","timestamp":1233591583000},"score":1,"resource":{"primary":{"URL":"http:\/\/www-odp.tamu.edu\/publications\/180_IR\/180TOC.HTM"}},"subtitle":[],"editor":[{"given":"B.","family":"Taylor","sequence":"first","affiliation":[]},{"given":"P.","family":"Huchon","sequence":"additional","affiliation":[]},{"given":"A.","family":"Klaus","sequence":"additional","affiliation":[]},{"name":"et
        al.","sequence":"additional","affiliation":[]}],"short-title":[],"issued":{"date-parts":[[2000,2,4]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.2973\/odp.proc.ir.180.2000","relation":{},"published":{"date-parts":[[2000,2,4]]}}}'
  recorded_at: Sun, 18 Jun 2023 15:21:27 GMT
- request:
    method: get
    uri: https://api.crossref.org/members/1029
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1687044332412,"primary-name":"International
        Ocean Discovery Program (IODP)","counts":{"current-dois":119,"backfile-dois":10179,"total-dois":10298},"breakdowns":{"dois-by-issued-year":[[1992,573],[1995,421],[1990,414],[1973,399],[1980,336],[1978,330],[1979,317],[1998,314],[1991,314],[1984,312],[1996,296],[1983,282],[1974,272],[1985,264],[1989,254],[2000,252],[1986,247],[1982,244],[1997,240],[1987,233],[1993,230],[1994,214],[1975,207],[2006,206],[1988,198],[1976,193],[1981,186],[2001,182],[1977,165],[2002,151],[2003,149],[2004,127],[1999,125],[1972,123],[1970,121],[1971,114],[2017,109],[2011,103],[2015,91],[2007,86],[2013,85],[2005,84],[2014,82],[2019,79],[2009,79],[2018,75],[2016,67],[2012,67],[2010,66],[2021,61],[2020,48],[2022,35],[1969,29],[2008,24],[2023,23]]},"prefixes":["10.2204","10.2973","10.14379"],"coverage":{"affiliations-current":0.0,"similarity-checking-current":0.0,"descriptions-current":0.0,"ror-ids-current":0.0,"funders-backfile":0.02603399155123293,"licenses-backfile":0.04185086943707633,"funders-current":0.7478991596638656,"affiliations-backfile":0.0,"resource-links-backfile":0.00864525002456037,"orcids-backfile":0.01571863640829158,"update-policies-current":0.9411764705882353,"ror-ids-backfile":0.0,"orcids-current":0.8487394957983193,"similarity-checking-backfile":0.0,"references-backfile":0.09018567639257294,"descriptions-backfile":0.0,"award-numbers-backfile":0.02426564495530013,"update-policies-backfile":0.02652519893899204,"licenses-current":0.907563025210084,"award-numbers-current":0.6470588235294118,"abstracts-backfile":0.0,"resource-links-current":0.7058823529411765,"abstracts-current":0.0,"references-current":0.8991596638655462},"prefix":[{"name":"International
        Ocean Discovery Program - Management International","value":"10.2204"},{"name":"International
        Ocean Discovery Program Texas","value":"10.2973"},{"name":"International Ocean
        Discovery Program - TAMU","value":"10.14379"}],"id":1029,"tokens":["international","ocean","discovery","program","iodp"],"counts-type":{"all":{"monograph":950,"report":1,"book":3,"book-chapter":9344,"dataset":54},"backfile":{"monograph":920,"report":1,"book":3,"book-chapter":9255},"current":{"monograph":30,"book-chapter":89}},"coverage-type":{"all":{"monograph":{"last-status-check-time":1687044332412,"affiliations":0.0,"abstracts":0.0,"orcids":0.08105263157894738,"licenses":0.04526315789473684,"references":0.1926315789473684,"funders":0.04631578947368421,"similarity-checking":0.0,"award-numbers":0.04526315789473684,"ror-ids":0.0,"update-policies":0.05368421052631579,"resource-links":0.001052631578947368,"descriptions":0.0},"report":{"last-status-check-time":1687044332412,"affiliations":0.0,"abstracts":0.0,"orcids":1.0,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.0,"descriptions":0.0},"book":{"last-status-check-time":1687044332412,"affiliations":0.0,"abstracts":0.0,"orcids":1.0,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,"resou[...]
[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.2973/odp.proc.ir.180.2000/transform/application/vnd.crossref.unixsd+xml
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <http://dx.doi.org/10.2973/odp.proc.ir.180.2000>; rel="canonical"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<crossref_result xmlns=\"http://www.crossref.org/qrschema/3.0\"
        version=\"3.0\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.crossref.org/qrschema/3.0
        http://www.crossref.org/schemas/crossref_query_output3.0.xsd\">\r\n  <query_result>\r\n
        \   <head>\r\n      <doi_batch_id>none</doi_batch_id>\r\n    </head>\r\n    <body>\r\n
        \     <query status=\"resolved\">\r\n        <doi type=\"book_title\">10.2973/odp.proc.ir.180.2000</doi>\r\n
        \       <crm-item name=\"publisher-name\" type=\"string\">International Ocean
        Discovery Program (IODP)</crm-item>\r\n        <crm-item name=\"prefix-name\"
        type=\"string\">International Ocean Discovery Program Texas</crm-item>\r\n
        \       <crm-item name=\"member-id\" type=\"number\">1029</crm-item>\r\n        <crm-item
        name=\"citation-id\" type=\"number\">23807285</crm-item>\r\n        <crm-item
        name=\"book-id\" type=\"number\">284099</crm-item>\r\n        <crm-item name=\"series-id\"
        type=\"number\">283327</crm-item>\r\n        <crm-item name=\"deposit-timestamp\"
        type=\"number\">20061017201744</crm-item>\r\n        <crm-item name=\"owner-prefix\"
        type=\"string\">10.2973</crm-item>\r\n        <crm-item name=\"last-update\"
        type=\"date\">2009-02-02T21:19:43Z</crm-item>\r\n        <crm-item name=\"created\"
        type=\"date\">2006-10-17T19:50:37Z</crm-item>\r\n        <crm-item name=\"citedby-count\"
        type=\"number\">11</crm-item>\r\n        <doi_record>\r\n          <crossref
        xmlns=\"http://www.crossref.org/xschema/1.0\" xsi:schemaLocation=\"http://www.crossref.org/xschema/1.0
        http://doi.crossref.org/schemas/unixref1.0.xsd\">\r\n            <book book_type=\"monograph\">\r\n
        \             <book_metadata language=\"en\">\r\n                <contributors>\r\n
        \                 <person_name sequence=\"first\" contributor_role=\"editor\">\r\n
        \                   <given_name>B.</given_name>\r\n                    <surname>Taylor</surname>\r\n
        \                 </person_name>\r\n                  <person_name sequence=\"additional\"
        contributor_role=\"editor\">\r\n                    <given_name>P.</given_name>\r\n
        \                   <surname>Huchon</surname>\r\n                  </person_name>\r\n
        \                 <person_name sequence=\"additional\" contributor_role=\"editor\">\r\n
        \                   <given_name>A.</given_name>\r\n                    <surname>Klaus</surname>\r\n
        \                 </person_name>\r\n                  <organization sequence=\"additional\"
        contributor_role=\"editor\">et al.</organization>\r\n                </contributors>\r\n
        \               <titles>\r\n                  <title>Proceedings of the Ocean
        Drilling Program, 180 Initial Reports</title>\r\n                </titles>\r\n
        \               <series_metadata>\r\n                  <titles>\r\n                    <title>Proceedings
        of the Ocean Drilling Program</title>\r\n                  </titles>\r\n                </series_metadata>\r\n
        \               <volume>180</volume>\r\n                <publication_date
        media_type=\"online\">\r\n                  <month>02</month>\r\n                  <day>04</day>\r\n
        \                 <year>2000</year>\r\n                </publication_date>\r\n
        \               <publisher>\r\n                  <publisher_name>Ocean Drilling
        Program</publisher_name>\r\n                </publisher>\r\n                <doi_data>\r\n
        \                 <doi>10.2973/odp.proc.ir.180.2000</doi>\r\n                  <resource>http://www-odp.tamu.edu/publications/180_IR/180TOC.HTM</resource>\r\n
        \               </doi_data>\r\n              </book_metadata>\r\n            </book>\r\n
        \         </crossref>\r\n        </doi_record>\r\n      </query>\r\n    </body>\r\n
        \ </query_result>\r\n</crossref_result>"
  recorded_at: Sun, 18 Jun 2023 15:25:13 GMT
recorded_with: VCR 6.1.0
