---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1371/journal.pmed.0030277.g001/transform/application/vnd.crossref.unixsd+xml
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <http://dx.doi.org/10.1371/journal.pmed.0030277.g001>; rel="canonical"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<crossref_result xmlns=\"http://www.crossref.org/qrschema/3.0\"
        version=\"3.0\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.crossref.org/qrschema/3.0
        http://www.crossref.org/schemas/crossref_query_output3.0.xsd\">\r\n  <query_result>\r\n
        \   <head>\r\n      <doi_batch_id>none</doi_batch_id>\r\n    </head>\r\n    <body>\r\n
        \     <query status=\"resolved\">\r\n        <doi type=\"component\">10.1371/journal.pmed.0030277.g001</doi>\r\n
        \       <crm-item name=\"publisher-name\" type=\"string\">Public Library of
        Science (PLoS)</crm-item>\r\n        <crm-item name=\"prefix-name\" type=\"string\">Public
        Library of Science</crm-item>\r\n        <crm-item name=\"member-id\" type=\"number\">340</crm-item>\r\n
        \       <crm-item name=\"citation-id\" type=\"number\">78426024</crm-item>\r\n
        \       <crm-item name=\"journal-id\" type=\"number\">31937</crm-item>\r\n
        \       <crm-item name=\"deposit-timestamp\" type=\"number\">201510161053338750</crm-item>\r\n
        \       <crm-item name=\"owner-prefix\" type=\"string\">10.1371</crm-item>\r\n
        \       <crm-item name=\"last-update\" type=\"date\">2018-10-19T21:13:42Z</crm-item>\r\n
        \       <crm-item name=\"created\" type=\"date\">2015-10-20T20:01:19Z</crm-item>\r\n
        \       <crm-item name=\"citedby-count\" type=\"number\">0</crm-item>\r\n
        \       <crm-item name=\"relation\" type=\"doi\" claim=\"hasComponent\">10.1371/journal.pmed.0030277</crm-item>\r\n
        \       <doi_record>\r\n          <crossref xmlns=\"http://www.crossref.org/xschema/1.1\"
        xsi:schemaLocation=\"http://www.crossref.org/xschema/1.1 http://doi.crossref.org/schemas/unixref1.1.xsd\">\r\n
        \           <sa_component>\r\n              <component_list>\r\n                <component
        reg-agency=\"CrossRef\">\r\n                  <description />\r\n                  <doi_data>\r\n
        \                   <doi>10.1371/journal.pmed.0030277.g001</doi>\r\n                    <resource>https://dx.plos.org/10.1371/journal.pmed.0030277.g001</resource>\r\n
        \                 </doi_data>\r\n                </component>\r\n              </component_list>\r\n
        \           </sa_component>\r\n          </crossref>\r\n        </doi_record>\r\n
        \     </query>\r\n    </body>\r\n  </query_result>\r\n</crossref_result>"
  recorded_at: Sun, 19 Mar 2023 17:37:19 GMT
- request:
    method: get
    uri: https://doi.org/ra/10.1371
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "DOI": "10.1371",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 19 Mar 2023 17:39:16 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.1371/journal.pmed.0030277.g001
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,3,31]],"date-time":"2022-03-31T23:32:53Z","timestamp":1648769573811},"reference-count":0,"publisher":"Public
        Library of Science (PLoS)","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.1371\/journal.pmed.0030277.g001","type":"component","created":{"date-parts":[[2015,10,20]],"date-time":"2015-10-20T20:01:19Z","timestamp":1445371279000},"source":"Crossref","is-referenced-by-count":0,"title":[],"prefix":"10.1371","member":"340","container-title":[],"original-title":[],"deposited":{"date-parts":[[2018,10,19]],"date-time":"2018-10-19T21:13:42Z","timestamp":1539983622000},"score":1,"resource":{"primary":{"URL":"https:\/\/dx.plos.org\/10.1371\/journal.pmed.0030277.g001"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1371\/journal.pmed.0030277.g001","relation":{}}}'
  recorded_at: Sun, 19 Mar 2023 17:39:17 GMT
- request:
    method: get
    uri: https://api.crossref.org/members/340
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1679182302126,"primary-name":"Public
        Library of Science (PLoS)","counts":{"current-dois":45769,"backfile-dois":289964,"total-dois":335733},"breakdowns":{"dois-by-issued-year":[[2013,36487],[2014,35452],[2015,33537],[2012,27083],[2016,26725],[2017,24569],[2018,22183],[2021,20842],[2022,20628],[2020,20426],[2019,19633],[2011,16660],[2010,9348],[2009,6703],[2008,4589],[2023,4299],[2007,2671],[2005,1643],[2006,1612],[2004,540],[2003,103]]},"prefixes":["10.24196","10.1371"],"coverage":{"affiliations-current":0.0,"similarity-checking-current":1.0,"descriptions-current":0.0,"ror-ids-current":0.0,"funders-backfile":0.2255038556510463,"licenses-backfile":0.9877364086576265,"funders-current":0.6886538923725666,"affiliations-backfile":7.207791312024941E-4,"resource-links-backfile":0.0,"orcids-backfile":0.2808555544826254,"update-policies-current":1.0,"ror-ids-backfile":0.0,"orcids-current":0.9590115580414691,"similarity-checking-backfile":0.9124029189830462,"references-backfile":0.9200521444041329,"descriptions-backfile":0.0,"award-numbers-backfile":0.1966451007711302,"update-policies-backfile":0.9945613938281994,"licenses-current":0.9999344534510258,"award-numbers-current":0.5789508182394197,"abstracts-backfile":0.01231532190202922,"resource-links-current":0.0,"abstracts-current":0.9568922196246368,"references-current":0.9997815115034193},"prefix":[{"name":"Public
        Library of Science (PLoS)","value":"10.24196"},{"name":"Public Library of
        Science","value":"10.1371"}],"id":340,"tokens":["public","library","of","science","plos"],"counts-type":{"all":{"journal-article":335733,"journal":1,"component":3489294,"dataset":7},"backfile":{"journal-article":289964},"current":{"journal-article":45769}},"coverage-type":{"all":{"journal-article":{"last-status-check-time":1679182302126,"affiliations":6.225184893948466E-4,"abstracts":0.1410853267328502,"orcids":0.3733055731786866,"licenses":0.9893993143360945,"references":0.9309212975787307,"funders":0.2886430586209875,"similarity-checking":0.9243446429156502,"award-numbers":0.2487631540539655,"ror-ids":0.0,"update-policies":0.9953028150345662,"resource-links":0.0,"descriptions":0.0},"journal":{"last-status-check-time":1679182302126,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.0,"descriptions":0.0},"component":{"last-status-check-time":1679182302126,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,[...]
- request:
    method: get
    uri: https://doi.org/ra/10.1371
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "DOI": "10.1371",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 19 Mar 2023 17:39:18 GMT
recorded_with: VCR 6.1.0
