---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1241/johokanri.39.979/transform/application/vnd.crossref.unixsd+xml
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <http://dx.doi.org/10.1241/johokanri.39.979>; rel="canonical", <https://www.jstage.jst.go.jp/article/johokanri/39/12/39_12_979/_pdf>;
        version="vor"; rel="item"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<crossref_result xmlns=\"http://www.crossref.org/qrschema/3.0\"
        version=\"3.0\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.crossref.org/qrschema/3.0
        http://www.crossref.org/schemas/crossref_query_output3.0.xsd\">\r\n  <query_result>\r\n
        \   <head>\r\n      <doi_batch_id>none</doi_batch_id>\r\n    </head>\r\n    <body>\r\n
        \     <query status=\"resolved\">\r\n        <doi type=\"journal_article\">10.1241/johokanri.39.979</doi>\r\n
        \       <crm-item name=\"publisher-name\" type=\"string\">Japan Science and
        Technology Agency (JST)</crm-item>\r\n        <crm-item name=\"prefix-name\"
        type=\"string\">Japan Science and Technology Agency</crm-item>\r\n        <crm-item
        name=\"member-id\" type=\"number\">272</crm-item>\r\n        <crm-item name=\"citation-id\"
        type=\"number\">4916686</crm-item>\r\n        <crm-item name=\"journal-id\"
        type=\"number\">6359</crm-item>\r\n        <crm-item name=\"deposit-timestamp\"
        type=\"number\">20020808181618</crm-item>\r\n        <crm-item name=\"owner-prefix\"
        type=\"string\">10.1241</crm-item>\r\n        <crm-item name=\"last-update\"
        type=\"date\">2020-03-06T06:44:36Z</crm-item>\r\n        <crm-item name=\"created\"
        type=\"date\">2002-10-11T20:27:25Z</crm-item>\r\n        <crm-item name=\"citedby-count\"
        type=\"number\">0</crm-item>\r\n        <doi_record>\r\n          <crossref
        xmlns=\"http://www.crossref.org/xschema/1.0\" xsi:schemaLocation=\"http://www.crossref.org/xschema/1.0
        http://doi.crossref.org/schemas/unixref1.0.xsd\">\r\n            <journal>\r\n
        \             <journal_metadata>\r\n                <full_title>Journal of
        Information Processing and Management</full_title>\r\n                <issn
        media_type=\"print\">00217298</issn>\r\n                <issn media_type=\"electronic\">13471597</issn>\r\n
        \             </journal_metadata>\r\n              <journal_issue>\r\n                <journal_volume>\r\n
        \                 <volume>39</volume>\r\n                </journal_volume>\r\n
        \               <issue>12</issue>\r\n              </journal_issue>\r\n              <journal_article
        publication_type=\"full_text\">\r\n                <titles>\r\n                  <title>Utilizing
        the Internet. 12 Series. Future of the Internet.</title>\r\n                </titles>\r\n
        \               <contributors>\r\n                  <person_name sequence=\"first\"
        contributor_role=\"author\">\r\n                    <given_name>Hiroyuki</given_name>\r\n
        \                   <surname>KUSUMOTO</surname>\r\n                  </person_name>\r\n
        \               </contributors>\r\n                <publication_date media_type=\"print\">\r\n
        \                 <year>1997</year>\r\n                </publication_date>\r\n
        \               <pages>\r\n                  <first_page>979</first_page>\r\n
        \                 <last_page>988</last_page>\r\n                </pages>\r\n
        \               <doi_data>\r\n                  <doi>10.1241/johokanri.39.979</doi>\r\n
        \                 <timestamp>20020808181618</timestamp>\r\n                  <resource>http://joi.jlc.jst.go.jp/JST.JSTAGE/johokanri/39.979?from=CrossRef</resource>\r\n
        \                 <collection property=\"crawler-based\" setbyID=\"jstc\">\r\n
        \                   <item crawler=\"iParadigms\">\r\n                      <resource>https://www.jstage.jst.go.jp/article/johokanri/39/12/39_12_979/_pdf</resource>\r\n
        \                   </item>\r\n                  </collection>\r\n                </doi_data>\r\n
        \               <citation_list>\r\n                  <citation key=\"1\">\r\n
        \                   <unstructured_citation>1) D.Comer. Internetworking with
        TCP/IP. Vol.1, No.3, Prentice?Hall (??:TCP/IP???????????????,1996,???? , 1995</unstructured_citation>\r\n
        \                 </citation>\r\n                  <citation key=\"2\">\r\n
        \                   <unstructured_citation>2) Vinay Kumar. MBone:Interactive
        Multimedia on the Internet. New Riders (??:??????????????MBone,1996,??????
        , 1996</unstructured_citation>\r\n                  </citation>\r\n                  <citatio[...]
- request:
    method: get
    uri: https://doi.org/ra/10.1241
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "DOI": "10.1241",
            "RA": "JaLC"
          }
        ]
  recorded_at: Sun, 19 Mar 2023 17:39:59 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.1241/johokanri.39.979
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,4,4]],"date-time":"2022-04-04T22:02:43Z","timestamp":1649109763107},"reference-count":15,"publisher":"Japan
        Science and Technology Agency (JST)","issue":"12","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[1997]]},"DOI":"10.1241\/johokanri.39.979","type":"journal-article","created":{"date-parts":[[2002,10,11]],"date-time":"2002-10-11T20:27:25Z","timestamp":1034368045000},"page":"979-988","source":"Crossref","is-referenced-by-count":0,"title":["Utilizing
        the Internet. 12 Series. Future of the Internet."],"prefix":"10.1241","volume":"39","author":[{"given":"Hiroyuki","family":"KUSUMOTO","sequence":"first","affiliation":[]}],"member":"272","reference":[{"key":"1","unstructured":"1)
        D.Comer. Internetworking with TCP\/IP. Vol.1, No.3, Prentice?Hall (??:TCP\/IP???????????????,1996,????
        , 1995"},{"key":"2","unstructured":"2) Vinay Kumar. MBone:Interactive Multimedia
        on the Internet. New Riders (??:??????????????MBone,1996,?????? , 1996"},{"key":"3","unstructured":"3)
        L. Landweber. INTERNATIONAL CONNECTIVITY Version 15. June, 1996"},{"key":"4","unstructured":"4)
        L. Landweber. INTERNATIONAL CONNECTIVITY Version1. August, 1991"},{"key":"5","doi-asserted-by":"crossref","unstructured":"5)
        ????. ?????????????. ????. Vol.39, No.2, 1996","DOI":"10.1049\/ee.1996.0084"},{"key":"6","doi-asserted-by":"crossref","unstructured":"6)
        S. Derring. Multicast Routing in Internetworks and Extended Lans. In SIGCOMM.
        ACM, August 1988","DOI":"10.21236\/ADA200911"},{"key":"7","doi-asserted-by":"crossref","unstructured":"7)
        S. Casner, S. Derring. . First IETF Internet Audiocast Computer Communication
        Review. ACM, July 1992","DOI":"[...]
- request:
    method: get
    uri: https://api.crossref.org/members/272
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1679182124674,"primary-name":"Japan
        Science and Technology Agency (JST)","counts":{"current-dois":1227,"backfile-dois":14682,"total-dois":15909},"breakdowns":{"dois-by-issued-year":[[2021,1176],[2020,980],[2015,780],[2019,699],[2016,640],[2017,598],[2009,576],[2018,567],[2012,513],[2011,509],[2002,483],[2008,480],[2013,474],[2014,440],[2010,430],[2001,421],[2007,400],[2000,371],[2006,368],[2003,344],[2004,343],[2005,332],[1998,324],[1997,300],[1999,299],[1995,269],[1996,245],[1994,211],[1993,205],[1991,198],[1988,184],[1989,183],[1992,180],[1984,180],[1986,177],[1987,171],[1985,169],[1990,167],[1983,163],[1982,159],[1981,149],[2022,51],[1980,1]]},"prefixes":["10.1241","10.52926"],"coverage":{"affiliations-current":1.0,"similarity-checking-current":0.0,"descriptions-current":1.0,"ror-ids-current":0.0,"funders-backfile":0.5922898787631113,"licenses-backfile":0.0,"funders-current":1.0,"affiliations-backfile":0.597806838305408,"resource-links-backfile":0.0,"orcids-backfile":0.0,"update-policies-current":0.0,"ror-ids-backfile":0.0,"orcids-current":0.0,"similarity-checking-backfile":0.2087590246560414,"references-backfile":0.1075466557689688,"descriptions-backfile":0.4946192616809699,"award-numbers-backfile":0.5922898787631113,"update-policies-backfile":0.0,"licenses-current":0.0,"award-numbers-current":1.0,"abstracts-backfile":0.0,"resource-links-current":0.0,"abstracts-current":0.0,"references-current":0.0},"prefix":[{"name":"Japan
        Science and Technology Agency","value":"10.1241"},{"name":"Japan Science and
        Technology Agency (JST)","value":"10.52926"}],"id":272,"tokens":["japan","science","and","technology","agency","jst"],"counts-type":{"all":{"journal-article":5986,"grant":9923},"backfile":{"journal-article":5986,"grant":8696},"current":{"grant":1227}},"coverage-type":{"all":{"journal-article":{"last-status-check-time":1679182124674,"affiliations":0.0145339124624123,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.2637821583695289,"funders":0.0,"similarity-checking":0.5120280654861343,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.0,"descriptions":0.0},"grant":{"last-status-check-time":1679182124674,"affiliations":0.9993953441499547,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.0,"funders":1.0,"similarity-checking":0.0,"award-numbers":1.0,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.0,"descriptions":0.8554872518391615}},"backfile":{"journal-article":{"last-status-check-time":1679182124674,"affiliations":0.0145339124624123,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.2637821583695289,"funders":0.0,"similarity-checking":0.5120280654861343,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.0,"descriptions":0.0},"grant":{"last-status-check-time":1679182124674,"affiliations":0.999310027598896,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.0,"funders":1.0,"similarity-checking":0.0,"award-numbers":1.0,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.0,"descriptions":0.8350965961361546}},"current":{"grant":{"last-status-check-time":1679182124674,"affiliations":1.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.0,"funders":1.0,"similarity-checking":0.0,"award-numbers":1.0,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.0,"descriptions":1.0}}},"flags":{"deposits-abstracts-current":false,"deposits-orcids-current":false,"deposits":true,"deposits-affiliations-backfile":true,"deposits-update-policies-backfile":false,"deposits-similarity-checking-backfile":true,"deposits-award-numbers-current":true,"deposits-resource-links-current":false,"deposits-ror-ids-current":false,"deposits-articles":true,"deposits-affiliations-current":true,"deposits-funders-current":true,"deposits-references-backfile":true,"deposits-ror-ids-backfile":false,"deposits-abstracts-backfile":false,"deposits-licenses-backfile":false,"deposits-award-numbers-backfile":true,"deposits-descriptions-current":true,"deposits-references-current":false,"deposits-resource-links-backfile":false,"deposits-descriptions-backfile":true,"deposits-orcids-backfile":false,"deposits-funders-backfile":true,"deposits-update-policies-current":false,"deposits-similarity-checking-current":false,"deposits-licenses-current":false},"location":"Tokyo,
        Japan","names":["Japan Science and Technology Agency (JST)","Japan Science
        and Technology Agency"]}}'
  recorded_at: Sun, 19 Mar 2023 17:40:00 GMT
- request:
    method: get
    uri: https://doi.org/ra/10.1241
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "DOI": "10.1241",
            "RA": "JaLC"
          }
        ]
  recorded_at: Sun, 19 Mar 2023 17:40:00 GMT
recorded_with: VCR 6.1.0
