---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1111/nph.14619/transform/application/vnd.crossref.unixsd+xml
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Link:
      - <http://dx.doi.org/10.1111/nph.14619>; rel="canonical", <https://api.wiley.com/onlinelibrary/tdm/v1/articles/10.1111%2Fnph.14619>;
        version="vor"; type="application/pdf"; rel="item", <http://onlinelibrary.wiley.com/wol1/doi/10.1111/nph.14619/fullpdf>;
        version="vor"; rel="item", <http://doi.wiley.com/10.1002/tdm_license_1.1>;
        version="tdm"; rel="license", <http://onlinelibrary.wiley.com/termsAndConditions#vor>;
        version="vor"; rel="license", <http://orcid.org/0000-0002-4156-3761>; title="Nico
        Dissmeyer"; rel="author", <http://orcid.org/0000-0003-3548-8213>; title="Emmanuelle
        Graciet"; rel="author"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<crossref_result xmlns=\"http://www.crossref.org/qrschema/3.0\"
        version=\"3.0\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.crossref.org/qrschema/3.0
        http://www.crossref.org/schemas/crossref_query_output3.0.xsd\">\r\n  <query_result>\r\n
        \   <head>\r\n      <doi_batch_id>none</doi_batch_id>\r\n    </head>\r\n    <body>\r\n
        \     <query status=\"resolved\">\r\n        <doi type=\"journal_article\">10.1111/nph.14619</doi>\r\n
        \       <crm-item name=\"publisher-name\" type=\"string\">Wiley</crm-item>\r\n
        \       <crm-item name=\"prefix-name\" type=\"string\">Wiley (Blackwell Publishing)</crm-item>\r\n
        \       <crm-item name=\"member-id\" type=\"number\">311</crm-item>\r\n        <crm-item
        name=\"citation-id\" type=\"number\">90629985</crm-item>\r\n        <crm-item
        name=\"journal-id\" type=\"number\">3549</crm-item>\r\n        <crm-item name=\"deposit-timestamp\"
        type=\"number\">20180803114549444</crm-item>\r\n        <crm-item name=\"owner-prefix\"
        type=\"string\">10.1111</crm-item>\r\n        <crm-item name=\"last-update\"
        type=\"date\">2021-07-07T04:40:38Z</crm-item>\r\n        <crm-item name=\"created\"
        type=\"date\">2017-06-05T10:56:44Z</crm-item>\r\n        <crm-item name=\"citedby-count\"
        type=\"number\">63</crm-item>\r\n        <crm-item name=\"relation\" type=\"doi\"
        claim=\"isPreprintOf\">10.1101/115246</crm-item>\r\n        <doi_record>\r\n
        \         <crossref xmlns=\"http://www.crossref.org/xschema/1.1\" xsi:schemaLocation=\"http://www.crossref.org/xschema/1.1
        http://doi.crossref.org/schemas/unixref1.1.xsd\">\r\n            <journal>\r\n
        \             <journal_metadata language=\"en\">\r\n                <full_title>New
        Phytologist</full_title>\r\n                <abbrev_title>New Phytol</abbrev_title>\r\n
        \               <issn>0028646X</issn>\r\n              </journal_metadata>\r\n
        \             <journal_issue>\r\n                <publication_date media_type=\"print\">\r\n
        \                 <month>05</month>\r\n                  <year>2018</year>\r\n
        \               </publication_date>\r\n                <journal_volume>\r\n
        \                 <volume>218</volume>\r\n                </journal_volume>\r\n
        \               <issue>3</issue>\r\n                <doi_data>\r\n                  <doi>10.1111/nph.2018.218.issue-3</doi>\r\n
        \                 <resource>http://doi.wiley.com/10.1111/nph.2018.218.issue-3</resource>\r\n
        \               </doi_data>\r\n              </journal_issue>\r\n              <journal_article
        publication_type=\"full_text\">\r\n                <titles>\r\n                  <title>Life
        and death of proteins after protease cleavage: protein degradation by the
        N-end rule pathway</title>\r\n                </titles>\r\n                <contributors>\r\n
        \                 <person_name contributor_role=\"author\" sequence=\"first\">\r\n
        \                   <given_name>Nico</given_name>\r\n                    <surname>Dissmeyer</surname>\r\n
        \                   <affiliation>Independent Junior Research Group on Protein
        Recognition and Degradation; Leibniz Institute of Plant Biochemistry (IPB);
        Weinberg 3 Halle (Saale) D-06120 Germany</affiliation>\r\n                    <affiliation>ScienceCampus
        Halle - Plant-based Bioeconomy; Betty-Heimann-Strasse 3 Halle (Saale) D-06120
        Germany</affiliation>\r\n                    <ORCID>http://orcid.org/0000-0002-4156-3761</ORCID>\r\n
        \                 </person_name>\r\n                  <person_name contributor_role=\"author\"
        sequence=\"additional\">\r\n                    <given_name>Susana</given_name>\r\n
        \                   <surname>Rivas</surname>\r\n                    <affiliation>LIPM;
        Université de Toulouse; INRA; CNRS; Castanet-Tolosan 31 326 France</affiliation>\r\n
        \                 </person_name>\r\n                  <person_name contributor_role=\"author\"
        sequence=\"additional\">\r\n                    <given_name>Emmanuelle</given_name>\r\n
        \                   <surname>Graciet</surname>\r\n                    <affiliation>Department
        of Biology; Maynooth University; Maynooth Co. Kildare Ireland</affiliation>\r\n
        \                   <ORCID>http://orcid.org/0000-0003-3548-8213</ORCID>\r\n
        \                 </person_name>\r\n                </contributors>\r\n                <publication_date
        media_type=\"print\">\r\n                  <month>05</month>\r\n                  <year>2018</year>\r\n
        \               </publication_date>\r\n                <publication_date media_type=\"online\">\r\n
        \                 <month>06</month>\r\n                  <day>05</day>\r\n
        \                 <year>2017</year>\r\n                </publication_date>\r\n
        \               <pages>\r\n                  <first_page>929</first_page>\r\n
        \                 <last_page>935</last_page>\r\n                </pages>\r\n
        \               <crossmark>\r\n                  <crossmark_policy>10.1002/crossmark_policy</crossmark_policy>\r\n
        \                 <crossmark_domains>\r\n                    <crossmark_domain>\r\n
        \                     <domain>wiley.com</domain>\r\n                    </crossmark_domain>\r\n
        \                 </crossmark_domains>\r\n                  <crossmark_domain_exclusive>true</crossmark_domain_exclusive>\r\n
        \                 <custom_metadata>\r\n                    <fr:program xmlns:fr=\"http://www.crossref.org/fundref.xsd\"
        name=\"fundref\">\r\n                      <fr:assertion name=\"fundgroup\">\r\n
        \                       <fr:assertion name=\"funder_name\">\r\n                          Agence
        Nationale de la Recherche\r\n                          <fr:assertion name=\"funder_identifier\">http://dx.doi.org/10.13039/501100001665</fr:assertion>\r\n
        \                       </fr:assertion>\r\n                        <fr:assertion
        name=\"award_number\">ANR-10-LABX-41</fr:assertion>\r\n                        <fr:assertion
        name=\"awar[...]
- request:
    method: get
    uri: https://doi.org/ra/10.1111
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "DOI": "10.1111",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 19 Mar 2023 17:39:20 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.1111/nph.14619
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,3,17]],"date-time":"2023-03-17T22:51:37Z","timestamp":1679093497624},"reference-count":49,"publisher":"Wiley","issue":"3","license":[{"start":{"date-parts":[[2017,6,5]],"date-time":"2017-06-05T00:00:00Z","timestamp":1496620800000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1"},{"start":{"date-parts":[[2017,6,5]],"date-time":"2017-06-05T00:00:00Z","timestamp":1496620800000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/onlinelibrary.wiley.com\/termsAndConditions#vor"}],"funder":[{"DOI":"10.13039\/501100001665","name":"Agence
        Nationale de la Recherche","doi-asserted-by":"publisher","award":["ANR-10-LABX-41","ANR-11-IDEX-0002-02"]},{"DOI":"10.13039\/501100001584","name":"Department
        of Agriculture, Food and the Marine","doi-asserted-by":"publisher","award":["14\/S\/819"]},{"DOI":"10.13039\/501100001602","name":"Science
        Foundation Ireland","doi-asserted-by":"publisher","award":["13\/IA\/1870"]},{"name":"Virtual
        Irish Centre for Crop Improvement","award":["14\/S\/819"]},{"DOI":"10.13039\/501100008530","name":"European
        Regional Development Fund","doi-asserted-by":"publisher","award":["LSP-TP2-1"]},{"DOI":"10.13039\/501100001659","name":"Deutsche
        Forschungsgemeinschaft","doi-asserted-by":"publisher","award":["DI 1794\/3-1"]}],"content-domain":{"domain":["wiley.com"],"crossmark-restriction":true},"short-container-title":["New
        Phytol"],"published-print":{"date-parts":[[2018,5]]},"DOI":"10.1111\/nph.14619","type":"journal-article","created":{"date-parts":[[2017,6,5]],"date-time":"2017-06-05T10:56:44Z","timestamp":1496660204000},"page":"929-935","update-policy":"http:\/\/dx.doi.org\/10.1002\/crossmark_policy","source":"Crossref","is-referenced-by-count":63,"title":["Life
        and death of proteins after protease cleavage: protein degradation by the
        N-end rule pathway"],"prefix":"10.1111","volume":"218","author":[{"ORCID":"http:\/\/orcid.org\/0000-0002-4156-3761","authenticated-orcid":false,"given":"Nico","family":"Dissmeyer","sequence":"first","affiliation":[{"name":"Independent
        Junior Research Group on Protein Recognition and Degradation; Leibniz Institute
        of Plant Biochemistry (IPB); Weinberg 3 Halle (Saale) D-06120 Germany"},{"name":"ScienceCampus
        Halle - Plant-based Bioeconomy; Betty-Heimann-Strasse 3 Halle (Saale) D-06120
        Germany"}]},{"given":"Susana","family":"Rivas","sequence":"additional","affiliation":[{"name":"LIPM;
        Universit\u00e9 de Toulouse; INRA; CNRS; Castanet-Tolosan 31 326 France"}]},{"ORCID":"http:\/\/orcid.org\/0000-0003-3548-8213","authenticated-orcid":false,"given":"Emmanuelle","family":"Graciet","sequence":"additional","affiliation":[{"name":"Department
        of Biology; Maynooth University; Maynooth Co. Kildare Ireland"}]}],"member":"311","published-online":{"date-parts":[[2017,6,5]]},"reference":[{"key":"10.1111\/nph.14619-BIB0001|nph14619-cit-0001","doi-asserted-by":"crossref","first-page":"2503","DOI":"10.1002\/pmic.201500027","article-title":"Proteome-wide
        analysis of the amino terminal status of Escherichia coli proteins at the
        steady-state and upon deformylation inhibition","volume":"15","author":"Bienvenut","year":"2015","journal-title":"Proteomics"},{"key":"10.1111\/nph.14619-BIB0002|nph14619-cit-0002","doi-asserted-by":"crossref","first-page":"161","DOI":"10.1016\/j.molcel.2013.02.009","article-title":"Neurodegeneration-associated
        protein fragments as short-lived substrates of the N-end rule pathway","volume":"50","author":"Brower","year":"2013","journal-title":"Molecular
        Cell"},{"key":"10.1111\/nph.14619-BIB0003|nph14619-cit-0003","doi-asserted-by":"crossref","first-page":"512","DOI":"10.1074\/mcp.M116.063818[...]
- request:
    method: get
    uri: https://api.crossref.org/members/311
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1679182241619,"primary-name":"Wiley","counts":{"current-dois":762455,"backfile-dois":9241903,"total-dois":10004358},"breakdowns":{"dois-by-issued-year":[[2010,518434],[2020,373726],[2021,356505],[2009,343392],[2022,339337],[2015,323812],[2012,305616],[2019,292904],[2008,292446],[2007,286282],[2018,283008],[2013,276894],[2014,275597],[2016,274598],[2011,269684],[2017,269394],[2006,248290],[2004,220664],[2005,214209],[2003,171056],[2002,150459],[2001,145609],[2000,138204],[1999,124917],[1998,117945],[1997,115945],[1996,115109],[1995,111899],[1990,111396],[1989,107070],[1994,104674],[1993,102077],[1988,101804],[1992,98340],[1987,98221],[1986,95059[...]
- request:
    method: get
    uri: https://doi.org/ra/10.1111
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "DOI": "10.1111",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 19 Mar 2023 17:39:21 GMT
recorded_with: VCR 6.1.0
