---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.5012/bkcs.2013.34.10.2889/transform/application/vnd.crossref.unixsd+xml
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <http://dx.doi.org/10.5012/bkcs.2013.34.10.2889>; rel="canonical", <http://ocean.kisti.re.kr/downfile/crosscheck/chemical/JAKO201332479081554.pdf>;
        version="vor"; rel="item"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<crossref_result xmlns=\"http://www.crossref.org/qrschema/3.0\"
        version=\"3.0\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.crossref.org/qrschema/3.0
        http://www.crossref.org/schemas/crossref_query_output3.0.xsd\">\r\n  <query_result>\r\n
        \   <head>\r\n      <doi_batch_id>none</doi_batch_id>\r\n    </head>\r\n    <body>\r\n
        \     <query status=\"resolved\">\r\n        <doi type=\"journal_article\">10.5012/bkcs.2013.34.10.2889</doi>\r\n
        \       <crm-item name=\"publisher-name\" type=\"string\">Korean Chemical
        Society</crm-item>\r\n        <crm-item name=\"prefix-name\" type=\"string\">Korean
        Chemical Society</crm-item>\r\n        <crm-item name=\"member-id\" type=\"number\">2923</crm-item>\r\n
        \       <crm-item name=\"citation-id\" type=\"number\">65745032</crm-item>\r\n
        \       <crm-item name=\"journal-id\" type=\"number\">98185</crm-item>\r\n
        \       <crm-item name=\"deposit-timestamp\" type=\"number\">20131125165312</crm-item>\r\n
        \       <crm-item name=\"owner-prefix\" type=\"string\">10.5012</crm-item>\r\n
        \       <crm-item name=\"last-update\" type=\"date\">2016-12-15T02:40:52Z</crm-item>\r\n
        \       <crm-item name=\"created\" type=\"date\">2013-11-25T08:03:35Z</crm-item>\r\n
        \       <crm-item name=\"citedby-count\" type=\"number\">3</crm-item>\r\n
        \       <doi_record>\r\n          <crossref xmlns=\"http://www.crossref.org/xschema/1.1\"
        xsi:schemaLocation=\"http://www.crossref.org/xschema/1.1 http://doi.crossref.org/schemas/unixref1.1.xsd\">\r\n
        \           <journal>\r\n              <journal_metadata language=\"en\">\r\n
        \               <full_title>Bulletin of the Korean Chemical Society</full_title>\r\n
        \               <abbrev_title>Bulletin of the Korean Chemical Society</abbrev_title>\r\n
        \               <issn media_type=\"print\">0253-2964</issn>\r\n              </journal_metadata>\r\n
        \             <journal_issue>\r\n                <publication_date media_type=\"print\">\r\n
        \                 <month>10</month>\r\n                  <day>20</day>\r\n
        \                 <year>2013</year>\r\n                </publication_date>\r\n
        \               <journal_volume>\r\n                  <volume>34</volume>\r\n
        \               </journal_volume>\r\n                <issue>10</issue>\r\n
        \             </journal_issue>\r\n              <journal_article publication_type=\"full_text\">\r\n
        \               <titles>\r\n                  <title>Synthesis, Crystal Structure
        and Theoretical Calculation of a Novel Nickel(II) Complex with Dibromotyrosine
        and 1,10-Phenanthroline</title>\r\n                  <original_language_title
        />\r\n                </titles>\r\n                <contributors>\r\n                  <person_name
        sequence=\"first\" contributor_role=\"author\">\r\n                    <given_name>Guimei</given_name>\r\n
        \                   <surname>Huang</surname>\r\n                  </person_name>\r\n
        \                 <person_name sequence=\"additional\" contributor_role=\"author\">\r\n
        \                   <given_name>Xia</given_name>\r\n                    <surname>Zhang</surname>\r\n
        \                 </person_name>\r\n                  <person_name sequence=\"additional\"
        contributor_role=\"author\">\r\n                    <given_name>Yuhua</given_name>\r\n
        \                   <surname>Fan</surname>\r\n                  </person_name>\r\n
        \                 <person_name sequence=\[...]
- request:
    method: get
    uri: https://doi.org/ra/10.5012
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "DOI": "10.5012",
            "RA": "KISTI"
          }
        ]
  recorded_at: Sun, 19 Mar 2023 17:39:54 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.5012/bkcs.2013.34.10.2889
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,8,15]],"date-time":"2022-08-15T09:26:44Z","timestamp":1660555604788},"reference-count":0,"publisher":"Korean
        Chemical Society","issue":"10","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Bulletin
        of the Korean Chemical Society"],"published-print":{"date-parts":[[2013,10,20]]},"DOI":"10.5012\/bkcs.2013.34.10.2889","type":"journal-article","created":{"date-parts":[[2013,11,25]],"date-time":"2013-11-25T08:03:35Z","timestamp":1385366615000},"page":"2889-2894","source":"Crossref","is-referenced-by-count":3,"title":["Synthesis,
        Crystal Structure and Theoretical Calculation of a Novel Nickel(II) Complex
        with Dibromotyrosine and 1,10-Phenanthroline"],"prefix":"10.5012","volume":"34","author":[{"given":"Guimei","family":"Huang","sequence":"first","affiliation":[]},{"given":"Xia","family":"Zhang","sequence":"additional","affiliation":[]},{"given":"Yuhua","family":"Fan","sequence":"additional","affiliation":[]},{"given":"Caifeng","family":"Bi","sequence":"additional","affiliation":[]},{"given":"Xingchen","family":"Yan","sequence":"additional","affiliation":[]},{"given":"Zhongyu","family":"Zhang","sequence":"additional","affiliation":[]},{"given":"Nan","family":"Zhang","sequence":"additional","affiliation":[]}],"member":"2923","container-title":["Bulletin
        of the Korean Chemical Society"],"original-title":[""],"language":"en","link":[{"URL":"http:\/\/ocean.kisti.re.kr\/downfile\/crosscheck\/chemical\/JAKO201332479081554.pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2016,12,15]],"date-time":"2016-12-15T02:40:52Z","timestamp":1481769652000},"score":1,"resource":{"primary":{"URL":"http:\/\/koreascience.or.kr\/journal\/view.jsp?kj=JCGMCS&py=2013&vnc=v34n10&sp=2889"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2013,10,20]]},"references-count":0,"journal-issue":{"issue":"10","published-print":{"date-parts":[[2013,10,20]]}},"URL":"http:\/\/dx.doi.org\/10.5012\/bkcs.2013.34.10.2889","relation":{},"ISSN":["0253-2964"],"issn-type":[{"value":"0253-2964","type":"print"}],"subject":["General
        Chemistry"],"published":{"date-parts":[[2013,10,20]]}}}'
  recorded_at: Sun, 19 Mar 2023 17:39:54 GMT
- request:
    method: get
    uri: https://api.crossref.org/members/2923
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1679185429323,"primary-name":"Korean
        Chemical Society","counts":{"current-dois":0,"backfile-dois":9115,"total-dois":9115},"breakdowns":{"dois-by-issued-year":[[2011,1009],[2012,911],[2010,902],[2013,882],[2009,775],[2014,769],[2008,626],[2007,579],[2004,522],[2005,517],[2003,504],[2002,493],[2006,485],[2015,73],[2016,58],[2017,10]]},"prefixes":["10.5012"],"coverage":{"affiliations-current":0.0,"similarity-checking-current":0.0,"descriptions-current":0.0,"ror-ids-current":0.0,"funders-backfile":0.0,"licenses-backfile":0.0,"funders-current":0.0,"affiliations-backfile":0.0,"resource-links-backfile":0.0,"orcids-backfile":0.0,"update-policies-current":0.0,"ror-ids-backfile":0.0,"orcids-current":0.0,"similarity-checking-backfile":1.0,"references-backfile":0.9804717498628635,"descriptions-backfile":0.0,"award-numbers-backfile":0.0,"update-policies-backfile":0.0,"licenses-current":0.0,"award-numbers-current":0.0,"abstracts-backfile":0.0,"resource-links-current":0.0,"abstracts-current":0.0,"references-current":0.0},"prefix":[{"name":"Korean
        Chemical Society","value":"10.5012"}],"id":2923,"tokens":["korean","chemical","society"],"counts-type":{"all":{"journal-article":9115},"backfile":{"journal-article":9115},"current":{}},"coverage-type":{"all":{"journal-article":{"last-status-check-time":1679185429323,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.9804717498628635,"funders":0.0,"similarity-checking":1.0,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.0,"descriptions":0.0}},"backfile":{"journal-article":{"last-status-check-time":1679185429323,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.9804717498628635,"funders":0.0,"similarity-checking":1.0,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.0,"descriptions":0.0}},"current":{}},"flags":{"deposits-abstracts-current":false,"deposits-orcids-current":false,"deposits":true,"deposits-affiliations-backfile":false,"deposits-update-policies-backfile":false,"deposits-similarity-checking-backfile":true,"deposits-award-numbers-current":false,"deposits-resource-links-current":false,"deposits-ror-ids-current":false,"deposits-articles":true,"deposits-affiliations-current":false,"deposits-funders-current":false,"deposits-references-backfile":true,"deposits-ror-ids-backfile":false,"deposits-abstracts-backfile":false,"deposits-licenses-backfile":false,"deposits-award-numbers-backfile":false,"deposits-descriptions-current":false,"deposits-references-current":false,"deposits-resource-links-backfile":false,"deposits-descriptions-backfile":false,"deposits-orcids-backfile":false,"deposits-funders-backfile":false,"deposits-update-policies-current":false,"deposits-similarity-checking-current":false,"deposits-licenses-current":false},"location":"South
        Korea","names":["Korean Chemical Society"]}}'
  recorded_at: Sun, 19 Mar 2023 17:39:55 GMT
- request:
    method: get
    uri: https://doi.org/ra/10.5012
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "DOI": "10.5012",
            "RA": "KISTI"
          }
        ]
  recorded_at: Sun, 19 Mar 2023 17:39:55 GMT
recorded_with: VCR 6.1.0
