---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.1186
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "DOI": "10.1186",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 18 Jun 2023 15:21:15 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.1186/1471-2164-7-187
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,5,24]],"date-time":"2023-05-24T12:26:22Z","timestamp":1684931182250},"reference-count":38,"publisher":"Springer
        Science and Business Media LLC","issue":"1","license":[{"start":{"date-parts":[[2006,7,25]],"date-time":"2006-07-25T00:00:00Z","timestamp":1153785600000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/2.0"}],"content-domain":{"domain":["link.springer.com"],"crossmark-restriction":false},"short-container-title":["BMC
        Genomics"],"published-print":{"date-parts":[[2006,12]]},"abstract":"<jats:title>Abstract<\/jats:title>\n          <jats:sec>\n            <jats:title>Background<\/jats:title>\n            <jats:p>Accurate
        evaluation of the quality of genomic or proteomic data and computational methods
        is vital to our ability to use them for formulating novel biological hypotheses
        and directing further experiments. There is currently no standard approach
        to evaluation in functional genomics. Our analysis of existing approaches
        shows that they are inconsistent and contain substantial functional biases
        that render the resulting evaluations misleading both quan[...]
- request:
    method: get
    uri: https://api.crossref.org/members/297
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1687044227035,"primary-name":"Springer
        Science and Business Media LLC","counts":{"current-dois":1798782,"backfile-dois":13838189,"total-dois":15636971},"breakdowns":{"dois-by-issued-year":[[2022,738328],[2021,736414],[2020,696998],[2019,637478],[2018,626386],[2017,607295],[2014,594440],[2016,586876],[2013,576773],[2015,524012],[2012,469433],[2011,453240],[2010,415850],[2009,397352],[2023,324022],[2008,322054],[2007,283326],[2006,254697],[2004,251651],[2005,239697],[2003,235979],[2000,234840],[2002,225220],[2001,222769],[1999,205327],[1998,204478],[1997,198548],[1996,184875],[1995,174607],[1994,168404],[1993,166708],[1991,162565],[1992,161494],[1990,157101],[1989,152466],[1988,142[...]
[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.1186/1471-2164-7-187/transform/application/vnd.crossref.unixsd+xml
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <http://dx.doi.org/10.1186/1471-2164-7-187>; rel="canonical", <http://link.springer.com/content/pdf/10.1186/1471-2164-7-187.pdf>;
        version="vor"; type="application/pdf"; rel="item", <http://link.springer.com/article/10.1186/1471-2164-7-187/fulltext.html>;
        version="vor"; type="text/html"; rel="item", <https://link.springer.com/content/pdf/10.1186/1471-2164-7-187.pdf>;
        version="vor"; type="application/pdf"; rel="item", <http://creativecommons.org/licenses/by/2.0>;
        version="tdm"; rel="license"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<crossref_result xmlns=\"http://www.crossref.org/qrschema/3.0\"
        version=\"3.0\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.crossref.org/qrschema/3.0
        http://www.crossref.org/schemas/crossref_query_output3.0.xsd\">\r\n  <query_result>\r\n
        \   <head>\r\n      <doi_batch_id>none</doi_batch_id>\r\n    </head>\r\n    <body>\r\n
        \     <query status=\"resolved\">\r\n        <doi type=\"journal_article\">10.1186/1471-2164-7-187</doi>\r\n
        \       <crm-item name=\"publisher-name\" type=\"string\">Springer Science
        and Business Media LLC</crm-item>\r\n        <crm-item name=\"prefix-name\"
        type=\"string\">Springer (Biomed Central Ltd.)</crm-item>\r\n        <crm-item
        name=\"member-id\" type=\"number\">297</crm-item>\r\n        <crm-item name=\"citation-id\"
        type=\"number\">22586616</crm-item>\r\n        <crm-item name=\"journal-id\"
        type=\"number\">5911</crm-item>\r\n        <crm-item name=\"deposit-timestamp\"
        type=\"number\">20210831173149578</crm-item>\r\n        <crm-item name=\"owner-prefix\"
        type=\"string\">10.1186</crm-item>\r\n        <crm-item name=\"last-update\"
        type=\"date\">2021-09-01T01:37:43Z</crm-item>\r\n        <crm-item name=\"created\"
        type=\"date\">2006-07-25T18:14:51Z</crm-item>\r\n        <crm-item name=\"citedby-count\"
        type=\"number\">171</crm-item>\r\n        <crm-item name=\"relation\" type=\"doi\"
        claim=\"isReviewOf\">10.3410/f.1044091.494000</crm-item>\r\n        <crm-item
        name=\"relation\" type=\"doi\" claim=\"isReviewOf\">10.3410/f.1044091.496329</crm-item>\r\n
        \       <doi_record>\r\n          <crossref xmlns=\"http://www.crossref.org/xschema/1.1\"
        xsi:schemaLocation=\"http://www.crossref.org/xschema/1.1 http://doi.crossref.org/schemas/unixref1.1.xsd\">\r\n
        \           <journal>\r\n              <journal_metadata language=\"en\">\r\n
        \               <full_title>BMC Genomics</full_title>\r\n                <abbrev_title>BMC
        Genomics</abbrev_title>\r\n                <issn media_type=\"electronic\">1471-2164</issn>\r\n
        \             </journal_metadata>\r\n              <journal_issue>\r\n                <publication_date
        media_type=\"print\">\r\n                  <month>12</month>\r\n                  <year>2006</year>\r\n
        \               </publication_date>\r\n                <journal_volume>\r\n
        \                 <volume>7</volume>\r\n                </journal_volume>\r\n
        \               <issue>1</issue>\r\n              </journal_issue>\r\n              <journal_article
        publication_type=\"full_text\">\r\n                <titles>\r\n                  <title>Finding
        function: evaluation methods for functional genomic data</title>\r\n                </titles>\r\n
        \               <contributors>\r\n                  <person_name sequence=\"first\"
        contributor_role=\"author\">\r\n                    <given_name>Chad L</given_name>\r\n
        \                   <surname>Myers</surname>\r\n                  </person_name>\r\n
        \                 <person_name sequence=\"additional\" contributor_role=\"author\">\r\n
        \                   <given_name>Daniel R</given_name>\r\n                    <surname>Barrett</surname>\r\n
        \                 </person_name>\r\n                  <person_name sequence=\"additional\"
        contributor_role=\"author\">\r\n                    <given_name>Matthew A</given_name>\r\n
        \                   <surname>Hibbs</surname>\r\n                  </person_name>\r\n
        \                 <person_name sequence=\"additional\" contributor_role=\"author\">\r\n
        \                   <given_name>Curtis</given_name>\r\n                    <surname>Huttenhower</surname>\r\n
        \                 </person_name>\r\n                  <person_name sequence=\"additional\"
        contributor_role=\"author\">\r\n                    <given_name>Olga G</given_name>\r\n
        \                   <surname>Troyanskaya</surname>\r\n                  </person_name>\r\n
        \               </contributors>\r\n                <jats:abstract xmlns:jats=\"http://www.ncbi.nlm.nih.gov/JATS1\"
        xml:lang=\"en\">\r\n                  <jats:title>Abstract</jats:title>\r\n
        \                 <jats:sec>\r\n                    <jats:title>Background</jats:title>\r\n
        \                   <jats:p>Accurate evaluation of the quality of genomic
        or proteomic data and computational methods is vital to our ability to use
        them for formulating novel biological hypotheses and directing further experiments.
        There is currently no standard approach to evaluation in functi[...]
