---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.2903
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "DOI": "10.2903",
            "RA": "OP"
          }
        ]
  recorded_at: Sun, 18 Jun 2023 15:21:06 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.2903/j.efsa.2018.5239
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,6,5]],"date-time":"2023-06-05T15:27:33Z","timestamp":1685978853863},"reference-count":229,"publisher":"Wiley","issue":"4","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["EFS2","EFSA
        Journal"],"published-print":{"date-parts":[[2018,4]]},"DOI":"10.2903\/j.efsa.2018.5239","type":"journal-article","created":{"date-parts":[[2018,4,18]],"date-time":"2018-04-18T07:47:16Z","timestamp":1524037636000},"source":"Crossref","is-referenced-by-count":70,"title":["Scientific
        opinion on the safety of green tea catechins"],"prefix":"10.2903","volume":"16","author":[{"name":"EFSA
        Panel\u00a0on Food Additives and Nutrient Sources added to Food (ANS)","sequence":"first","affiliation":[]},{"given":"Maged","family":"Younes","sequence":"additional","affiliation":[]},{"given":"Peter","family":"Aggett","sequence":"additional","affiliation":[]},{"given":"Fernando","family":"Aguilar","sequence":"additional","affiliation":[]},{"given":"Riccardo","family":"Crebelli","sequence":"additional","affiliation":[]},{"given":"Birgit","family":"Dusemund","sequence":"additional","affiliation":[]},{"given":"Metka","family":"Filipi\u010d","sequence":"additional","affiliation":[]},{"given":"Maria
        Jose","family":"Frutos[...]
- request:
    method: get
    uri: https://api.crossref.org/members/311
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1687044242249,"primary-name":"Wiley","counts":{"current-dois":845927,"backfile-dois":9260400,"total-dois":10106327},"breakdowns":{"dois-by-issued-year":[[2010,518425],[2020,373778],[2021,356844],[2009,343310],[2022,342603],[2015,323764],[2012,305588],[2019,292973],[2008,292395],[2007,286221],[2018,282946],[2013,276801],[2014,275525],[2016,274491],[2011,269686],[2017,269323],[2006,248211],[2004,220598],[2005,214180],[2003,171309],[2002,150657],[2023,146479],[2001,145827],[2000,138392],[1999,125101],[1998,118113],[1997,116126],[1996,115269],[1995,112064],[1990,111762],[1989,107255],[1994,104803],[1993,102230],[1988,101967],[1992,98431],[1987,9842[...]
[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.2903/j.efsa.2018.5239/transform/application/vnd.crossref.unixsd+xml
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <http://dx.doi.org/10.2903/j.efsa.2018.5239>; rel="canonical", <https://api.wiley.com/onlinelibrary/tdm/v1/articles/10.2903/j.efsa.2018.5239>;
        version="vor"; type="application/pdf"; rel="item", <http://onlinelibrary.wiley.com/wol1/doi/10.2903/j.efsa.2018.5239/fullpdf>;
        version="vor"; rel="item"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
 [...]
