---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.2172
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "DOI": "10.2172",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 18 Jun 2023 15:21:05 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.2172/972169
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"institution":[{"name":"National
        Renewable Energy Laboratory (NREL)","acronym":["NREL"],"place":["Golden, CO
        (United States)"]},{"name":"USDOE"}],"indexed":{"date-parts":[[2023,6,4]],"date-time":"2023-06-04T23:26:37Z","timestamp":1685921197785},"reference-count":0,"publisher":"Office
        of Scientific and Technical Information (OSTI)","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.2172\/972169","type":"report","created":{"date-parts":[[2010,2,19]],"date-time":"2010-02-19T03:56:03Z","timestamp":1266551763000},"approved":{"date-parts":[[2010,2,18]]},"source":"Crossref","is-referenced-by-count":260,"title":["Role
        of Energy Storage with Renewable Electricity Generation"],"prefix":"10.2172","author":[{"given":"P.","family":"Denholm","sequence":"first","affiliation":[]},{"given":"E.","family":"Ela","sequence":"additional","affiliation":[]},{"given":"B.","family":"Kirby","sequence":"additional","affiliation":[]},{"given":"M.","family":"Milligan","sequence":"additional","affiliation":[]}],"member":"960","published-online":{"date-parts":[[2010,1,1]]},"container-title":[],"original-title":[],"deposited":{"date-parts":[[2010,2,19]],"date-time":"2010-02-19T03:56:05Z","timestamp":1266551765000},"score":1,"resource":{"primary":{"URL":"http:\/\/www.osti.gov\/servlets\/purl\/972169-1QXROM\/"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2010,1,1]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.2172\/972169","relation":{},"published":{"date-parts":[[2010,1,1]]}}}'
  recorded_at: Sun, 18 Jun 2023 15:21:05 GMT
- request:
    method: get
    uri: https://api.crossref.org/members/960
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1687044322056,"primary-name":"Office
        of Scientific and Technical Information (OSTI)","counts":{"current-dois":13629,"backfile-dois":297651,"total-dois":311280},"breakdowns":{"dois-by-issued-year":[[1995,9377],[1992,9153],[1980,8598],[1993,8379],[1994,8330],[1979,8236],[1996,8149],[1978,7588],[2021,7387],[1997,7338],[1977,6884],[1998,6604],[2020,6145],[1990,5867],[2003,5805],[1999,5797],[2015,5791],[1989,5594],[1991,5585],[2013,5570],[2012,5561],[2018,5547],[2000,5433],[2004,5420],[1981,5413],[2016,5408],[1976,5374],[2017,5359],[2014,5325],[2005,5117],[2019,4973],[2002,4807],[2001,4756],[2022,4750],[2006,4618],[2011,4329],[2010,4099],[2009,4053],[1982,3825],[1972,3780],[2007,3778],[1975,3748],[2008,3573],[1974,3022],[1971,2989],[1973,2931],[1970,2865],[1983,2814],[1988,2732],[1984,2554],[1987,2327],[1986,2294],[1965,2282],[1969,2252],[1968,2246],[1964,2237],[1967,2216],[1985,2177],[1963,1955],[1966,1892],[1962,1757],[1961,1606],[1960,1556],[2023,1491],[1959,1482],[1958,1358],[1956,1292],[1957,1197],[1954,947],[1955,924],[1953,894],[1952,719],[1951,636],[1950,502],[1949,387],[1948,346],[1900,346],[1945,243],[1946,187],[1947,184],[1944,128],[1943,60],[1942,17],[1941,6],[1940,2],[2024,1],[1924,1],[1918,1],[1916,1],[1478,1]]},"prefixes":["10.2172","10.46936"],"coverage":{"affiliations-current":0.781935578545748,"similarity-checking-current":0.0,"descriptions-current":0.01562843935725292,"ror-ids-current":0.01716927140655954,"funders-backfile":0.02726683263284854,"licenses-backfile":0.0,"funders-current":0.04387702692787439,"affiliations-backfile":0.1609905560539021,"resource-links-backfile":0.0,"orcids-backfile":0.0147824129601446,"update-policies-current":0.0,"ror-ids-backfile":0.0,"orcids-current":0.3185119964780982,"similarity-checking-backfile":0.0,"references-backfile":0.0,"descriptions-backfile":0.0,"award-numbers-backfile":0.02726683263284854,"update-policies-backfile":0.0,"licenses-current":0.0,"award-numbers-current":0.04387702692787439,"abstracts-backfile":0.0,"resource-links-current":0.0,"abstracts-current":0.0,"references-current":0.0},"prefix":[{"name":"US
        Department of Energy","value":"10.2172"},{"name":"US Department of Energy","value":"10.46936"}],"id":960,"tokens":["office","of","scientific","and","technical","information","osti"],"counts-type":{"all":{"report":297870,"journal-article":3,"proceedings-article":4693,"grant":8806},"backfile":{"report":287820,"journal-article":3,"proceedings-article":1712,"grant":8116},"current":{"report":10050,"proceedings-article":2981,"grant":598}},"coverage-type":{"all":{"report":{"last-status-check-time":1687044322056,"affiliations":0.1889582703864102,"abstracts":0.0,"orcids":0.02737435794138383,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.0,"descriptions":0.0},"journal-article":{"last-status-check-time":1687044322056,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.0,"descriptions":0.0},"proceedings-article":{"last-status-check-time":1687044322056,"affiliations":0.4078414660132112,"abstracts":0.0,"orcids":0.04836991263584061,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-[...]
[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.2172/972169/transform/application/vnd.crossref.unixsd+xml
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <http://dx.doi.org/10.2172/972169>; rel="canonical"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<crossref_result xmlns=\"http://www.crossref.org/qrschema/3.0\"
        version=\"3.0\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.crossref.org/qrschema/3.0
        http://www.crossref.org/schemas/crossref_query_output3.0.xsd\">\r\n  <query_result>\r\n
        \   <head>\r\n      <doi_batch_id>none</doi_batch_id>\r\n    </head>\r\n    <body>\r\n
        \     <query status=\"resolved\">\r\n        <doi type=\"report-paper_title\">10.2172/972169</doi>\r\n
        \       <crm-item name=\"publisher-name\" type=\"string\">Office of Scientific
        and Technical Information (OSTI)</crm-item>\r\n        <crm-item name=\"prefix-name\"
        type=\"string\">US Department of Energy</crm-item>\r\n        <crm-item name=\"member-id\"
        type=\"number\">960</crm-item>\r\n        <crm-item name=\"citation-id\" type=\"number\">41225045</crm-item>\r\n
        \       <crm-item name=\"book-id\" type=\"number\">584445</crm-item>\r\n        <crm-item
        name=\"deposit-timestamp\" type=\"number\">20100218105553</crm-item>\r\n        <crm-item
        name=\"owner-prefix\" type=\"string\">10.2172</crm-item>\r\n        <crm-item
        name=\"last-update\" type=\"date\">2010-02-18T22:56:05Z</crm-item>\r\n        <crm-item
        name=\"created\" type=\"date\">2010-02-18T22:56:03Z</crm-item>\r\n        <crm-item
        name=\"citedby-count\" type=\"number\">260</crm-item>\r\n        <doi_record>\r\n
        \         <crossref xmlns=\"http://www.crossref.org/xschema/1.0\" xsi:schemaLocation=\"http://www.crossref.org/xschema/1.0
        http://doi.crossref.org/schemas/unixref1.0.xsd\">\r\n            <report-paper
        publication_type=\"full_text\">\r\n              <report-paper_metadata language=\"en\">\r\n
        \               <contributors>\r\n                  <person_name sequence=\"first\"
        contributor_role=\"author\">\r\n                    <given_name>P.</given_name>\r\n
        \                   <surname>Denholm</surname>\r\n                  </person_name>\r\n
        \                 <person_name sequence=\"additional\" contributor_role=\"author\">\r\n
        \                   <given_name>E.</given_name>\r\n                    <surname>Ela</surname>\r\n
        \                 </person_name>\r\n                  <person_name sequence=\"additional\"
        contributor_role=\"author\">\r\n                    <given_name>B.</given_name>\r\n
        \                   <surname>Kirby</surname>\r\n                  </person_name>\r\n
        \                 <person_name sequence=\"additional\" contributor_role=\"author\">\r\n
        \                   <given_name>M.</given_name>\r\n                    <surname>Milligan</surname>\r\n
        \                 </person_name>\r\n                </contributors>\r\n                <titles>\r\n
        \                 <title>Role of Energy Storage with Renewable Electricity
        Generation</title>\r\n                </titles>\r\n                <publication_date
        media_type=\"online\">\r\n                  <month>01</month>\r\n                  <day>01</day>\r\n
        \                 <year>2010</year>\r\n                </publication_date>\r\n
        \               <approval_date>\r\n                  <month>02</month>\r\n
        \                 <day>18</day>\r\n                  <year>2010</year>\r\n
        \               </approval_date>\r\n                <institution>\r\n                  <institution_name>National
        Renewable Energy Laboratory (NREL)</institution_name>\r\n                  <institution_acronym>NREL</institution_acronym>\r\n
        \                 <institution_place>Golden, CO (United States)</institution_place>\r\n
        \               </institution>\r\n                <institution>\r\n                  <institution_name>USDOE</institution_name>\r\n
        \               </institution>\r\n                <publisher_item>\r\n                  <item_number
        item_number_type=\"report-number\">NREL/TP-6A2-47187</item_number>\r\n                  <item_number
        item_number_type=\"sequence-number\">972169</item_number>\r\n                </publisher_item>\r\n
        \               <contract_number>AC36-99-GO10337</contract_number>\r\n                <doi_data>\r\n
        \                 <doi>10.2172/972169</doi>\r\n                  <timestamp>20100218105553</timestamp>\r\n
        \                 <resource>http://www.osti.gov/servlets/purl/972169-1QXROM/</resource>\r\n
        \               </doi_data>\r\n              </report-paper_metadata>\r\n
        \           </report-paper>\r\n          </crossref>\r\n        </doi_record>\r\n
        \     </query>\r\n    </body>\r\n  </query_result>\r\n</crossref_result>"
  recorded_at: Sun, 18 Jun 2023 15:25:12 GMT
recorded_with: VCR 6.1.0
