---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.2172/972169/transform/application/vnd.crossref.unixsd+xml
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <http://dx.doi.org/10.2172/972169>; rel="canonical"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<crossref_result xmlns=\"http://www.crossref.org/qrschema/3.0\"
        version=\"3.0\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.crossref.org/qrschema/3.0
        http://www.crossref.org/schemas/crossref_query_output3.0.xsd\">\r\n  <query_result>\r\n
        \   <head>\r\n      <doi_batch_id>none</doi_batch_id>\r\n    </head>\r\n    <body>\r\n
        \     <query status=\"resolved\">\r\n        <doi type=\"report-paper_title\">10.2172/972169</doi>\r\n
        \       <crm-item name=\"publisher-name\" type=\"string\">Office of Scientific
        and Technical Information (OSTI)</crm-item>\r\n        <crm-item name=\"prefix-name\"
        type=\"string\">US Department of Energy</crm-item>\r\n        <crm-item name=\"member-id\"
        type=\"number\">960</crm-item>\r\n        <crm-item name=\"citation-id\" type=\"number\">41225045</crm-item>\r\n
        \       <crm-item name=\"book-id\" type=\"number\">584445</crm-item>\r\n        <crm-item
        name=\"deposit-timestamp\" type=\"number\">20100218105553</crm-item>\r\n        <crm-item
        name=\"owner-prefix\" type=\"string\">10.2172</crm-item>\r\n        <crm-item
        name=\"last-update\" type=\"date\">2010-02-19T03:56:05Z</crm-item>\r\n        <crm-item
        name=\"created\" type=\"date\">2010-02-19T03:56:03Z</crm-item>\r\n        <crm-item
        name=\"citedby-count\" type=\"number\">266</crm-item>\r\n        <doi_record>\r\n
        \         <crossref xmlns=\"http://www.crossref.org/xschema/1.0\" xsi:schemaLocation=\"http://www.crossref.org/xschema/1.0
        http://doi.crossref.org/schemas/unixref1.0.xsd\">\r\n            <report-paper
        publication_type=\"full_text\">\r\n              <report-paper_metadata language=\"en\">\r\n
        \               <contributors>\r\n                  <person_name sequence=\"first\"
        contributor_role=\"author\">\r\n                    <given_name>P.</given_name>\r\n
        \                   <surname>Denholm</surname>\r\n                  </person_name>\r\n
        \                 <person_name sequence=\"additional\" contributor_role=\"author\">\r\n
        \                   <given_name>E.</given_name>\r\n                    <surname>Ela</surname>\r\n
        \                 </person_name>\r\n                  <person_name sequence=\"additional\"
        contributor_role=\"author\">\r\n                    <given_name>B.</given_name>\r\n
        \                   <surname>Kirby</surname>\r\n                  </person_name>\r\n
        \                 <person_name sequence=\"additional\" contributor_role=\"author\">\r\n
        \                   <given_name>M.</given_name>\r\n                    <surname>Milligan</surname>\r\n
        \                 </person_name>\r\n                </contributors>\r\n                <titles>\r\n
        \                 <title>Role of Energy Storage with Renewable Electricity
        Generation</title>\r\n                </titles>\r\n                <publication_date
        media_type=\"online\">\r\n                  <month>01</month>\r\n                  <day>01</day>\r\n
        \                 <year>2010</year>\r\n                </publication_date>\r\n
        \               <approval_date>\r\n                  <month>02</month>\r\n
        \                 <day>18</day>\r\n                  <year>2010</year>\r\n
        \               </approval_date>\r\n                <institution>\r\n                  <institution_name>National
        Renewable Energy Laboratory (NREL)</institution_name>\r\n                  <institution_acronym>NREL</institution_acronym>\r\n
        \                 <institution_place>Golden, CO (United States)</institution_place>\r\n
        \               </institution>\r\n                <institution>\r\n                  <institution_name>USDOE</institution_name>\r\n
        \               </institution>\r\n                <publisher_item>\r\n                  <item_number
        item_number_type=\"report-number\">NREL/TP-6A2-47187</item_number>\r\n                  <item_number
        item_number_type=\"sequence-number\">972169</item_number>\r\n                </publisher_item>\r\n
        \               <contract_number>AC36-99-GO10337</contract_number>\r\n                <doi_data>\r\n
        \                 <doi>10.2172/972169</doi>\r\n                  <timestamp>20100218105553</timestamp>\r\n
        \                 <resource>http://www.osti.gov/servlets/purl/972169-1QXROM/</resource>\r\n
        \               </doi_data>\r\n              </report-paper_metadata>\r\n
        \           </report-paper>\r\n          </crossref>\r\n        </doi_record>\r\n
        \     </query>\r\n    </body>\r\n  </query_result>\r\n</crossref_result>"
  recorded_at: Thu, 05 Oct 2023 19:46:34 GMT
- request:
    method: get
    uri: https://doi.org/ra/10.2172
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "DOI": "10.2172",
            "RA": "Crossref"
          }
        ]
  recorded_at: Thu, 05 Oct 2023 19:46:34 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.2172/972169
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"institution":[{"name":"National
        Renewable Energy Laboratory (NREL)","acronym":["NREL"],"place":["Golden, CO
        (United States)"]},{"name":"USDOE"}],"indexed":{"date-parts":[[2023,10,5]],"date-time":"2023-10-05T16:02:29Z","timestamp":1696521749783},"reference-count":0,"publisher":"Office
        of Scientific and Technical Information (OSTI)","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.2172\/972169","type":"report","created":{"date-parts":[[2010,2,19]],"date-time":"2010-02-19T03:56:03Z","timestamp":1266551763000},"approved":{"date-parts":[[2010,2,18]]},"source":"Crossref","is-referenced-by-count":266,"title":["Role
        of Energy Storage with Renewable Electricity Generation"],"prefix":"10.2172","author":[{"given":"P.","family":"Denholm","sequence":"first","affiliation":[]},{"given":"E.","family":"Ela","sequence":"additional","affiliation":[]},{"given":"B.","family":"Kirby","sequence":"additional","affiliation":[]},{"given":"M.","family":"Milligan","sequence":"additional","affiliation":[]}],"member":"960","published-online":{"date-parts":[[2010,1,1]]},"container-title":[],"original-title":[],"deposited":{"date-parts":[[2010,2,19]],"date-time":"2010-02-19T03:56:05Z","timestamp":1266551765000},"score":1,"resource":{"primary":{"URL":"http:\/\/www.osti.gov\/servlets\/purl\/972169-1QXROM\/"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2010,1,1]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.2172\/972169","relation":{},"published":{"date-parts":[[2010,1,1]]}}}'
  recorded_at: Thu, 05 Oct 2023 19:49:08 GMT
- request:
    method: get
    uri: https://api.crossref.org/members/960
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1696462626946,"primary-name":"Office
        of Scientific and Technical Information (OSTI)","counts":{"current-dois":19072,"backfile-dois":298961,"total-dois":318033},"breakdowns":{"dois-by-issued-year":[[1995,9394],[1992,9161],[1980,8608],[1993,8386],[1994,8343],[1979,8241],[1996,8169],[1978,7605],[2021,7542],[1997,7353],[1977,6898],[1998,6617],[2022,6611],[2020,6250],[1990,5896],[2015,5805],[2003,5805],[1999,5795],[2012,5626],[2013,5623],[1991,5618],[2018,5597],[1989,5595],[2017,5511],[2016,5494],[2000,5438],[2004,5423],[1981,5417],[1976,5386],[2014,5383],[2005,5122],[2019,5097],[2023,4918],[2002,4808],[2001,4762],[2006,4619],[2011,4379],[2010,4176],[2009,4064],[1982,3826],[1972,3796],[2007,3784],[1975,3767],[2008,3588],[1974,3047],[1971,2997],[1973,2941],[1970,2893],[1983,2817],[1988,2735],[1984,2559],[1987,2329],[1986,2295],[1965,2284],[1969,2258],[1968,2255],[1964,2242],[1967,2226],[1985,2179],[1963,1958],[1966,1895],[1962,1764],[1961,1618],[1960,1565],[1959,1486],[1958,1362],[1956,1295],[1957,1200],[1954,947],[1955,925],[1953,895],[1952,719],[1951,636],[1950,502],[1949,387],[1948,347],[1900,346],[1945,243],[1946,187],[1947,185],[1944,128],[1943,60],[1942,17],[1941,6],[1940,2],[2024,1],[1924,1],[1918,1],[1916,1],[1478,1]]},"prefixes":["10.2172","10.46936"],"coverage":{"affiliations-current":0.8427537751677852,"similarity-checking-current":0.0,"descriptions-current":0.1838296979865772,"ror-ids-current":0.1860843120805369,"funders-backfile":0.02714735366820421,"licenses-backfile":0.0,"funders-current":0.2078963926174497,"affiliations-backfile":0.1647673107863567,"resource-links-backfile":0.0,"orcids-backfile":0.01498857710537495,"update-policies-current":0.0,"ror-ids-backfile":0.0,"orcids-current":0.4386010906040268,"similarity-checking-backfile":0.0,"references-backfile":0.0,"descriptions-backfile":0.0,"award-numbers-backfile":0.02714735366820421,"update-policies-backfile":0.0,"licenses-current":0.0,"award-numbers-current":0.2078963926174497,"abstracts-backfile":0.0,"resource-links-current":0.0,"abstracts-current":0.0,"references-current":0.0},"prefix":[{"name":"US
        Department of Energy","value":"10.2172"},{"name":"US Department of Energy","value":"10.46936"}],"id":960,"tokens":["office","of","scientific","and","technical","information","osti"],"counts-type":{"all":{"report":300102,"journal-article":3,"proceedings-article":5847,"grant":12173},"backfile":{"report":288463,"journal-article":3,"proceedings-article":2379,"grant":8116},"current":{"report":11639,"proceedings-article":3468,"grant":3965}},"coverage-type":{"all":{"report":{"last-status-check-time":1696462626946,"affiliations":0.195883399644121,"abstracts":0.0,"orcids":0.02990649845719122,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.0,"descriptions":0.0},"journal-article":{"last-status-check-time":1696462626946,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.0,"descriptions":0.0},"proceedings-article":{"last-status-check-time":1696462626946,"affiliations":0.4799042243885753,"abstracts":0.0,"orcids":0.0405336069779374,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-n[...]
- request:
    method: get
    uri: https://doi.org/ra/10.2172
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "DOI": "10.2172",
            "RA": "Crossref"
          }
        ]
  recorded_at: Thu, 05 Oct 2023 19:49:09 GMT
recorded_with: VCR 6.2.0
