---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1371/journal.pone.0214986
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,2,3]],"date-time":"2023-02-03T15:30:44Z","timestamp":1675438244852},"reference-count":65,"publisher":"Public
        Library of Science (PLoS)","issue":"5","license":[{"start":{"date-parts":[[2019,5,8]],"date-time":"2019-05-08T00:00:00Z","timestamp":1557273600000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/publicdomain\/zero\/1.0\/"}],"funder":[{"name":"Unites
        States Environmental Protection Agency"}],"content-domain":{"domain":["www.plosone.org"],"crossmark-restriction":false},"short-container-title":["PLoS
        ONE"],"DOI":"10.1371\/journal.pone.0214986","type":"journal-article","created":{"date-parts":[[2019,5,8]],"date-time":"2019-05-08T17:27:27Z","timestamp":1557336447000},"page":"e0214986","update-policy":"http:\/\/dx.doi.org\/10.1371\/journal.pone.corrections_policy","source":"Crossref","is-referenced-by-count":9,"title":["River
        metrics by the public, for the public"],"prefix":"10.1371","volume":"14","author":[{"ORCID":"http:\/\/orcid.org\/0000-0002-1856-0546","authenticated-orcid":true,"given":"Matthew
        A.","family":"Weber","sequence":"first","affiliation":[]},{"given":"Paul L.","family":"Ringold","sequence":"additional","affiliation":[]}],"member":"340","published-online":{"date-parts":[[2019,5,8]]},"reference":[{"key":"ref1","unstructured":"Hughes,
        R.M., 1993. Stream Indicator and Design Workshop. Environmental Protection
        Agency. Report no. EPA\/600\/R-93\/138."},{"key":"ref2","article-title":"Ecological
        Indicators for the Nation","year":"2000"},{"key":"ref3","article-title":"Evaluation
        guidelines for ecological indicators. EPA\/620\/R-99\/005","author":"LE Jackson","year":"2000"},{"issue":"2\u20133","key":"ref4","doi-asserted-by":"crossref","first-page":"616","DOI":"10.1016\/j.ecolecon.2007.01.002","article-title":"What
        are ecosystem services? The need for standardized environmental accounting
        units","volume":"63","author":"J Boyd","year":"2007","journal-title":"Ecological
        economics"},{"issue":"12","key":"ref5","doi-asserted-by":"crossref","first-page":"2243","DOI":"10.1016\/j.ecolecon.2011.07.003","article-title":"An
        operational structure for clarity in ecosystem service values","volume":"70","author":"RJ
        Johnston","year":"2011","journal-title":"Ecological Economics"},{"issue":"2","key":"ref6","doi-asserted-by":"crossref","first-page":"98","DOI":"10.1890\/110156","article-title":"What
        data should we collect? A framework[...]
- request:
    method: get
    uri: https://doi.org/ra/10.1371
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "DOI": "10.1371",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 12 Mar 2023 22:21:16 GMT
recorded_with: VCR 6.1.0
