---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/blogs/tyfqw20
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"xv42bhvvc21253"'
      X-Matched-Path:
      - "/api/blogs/[slug]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::6gh26-1687101859043-0548b5ea306e
    body:
      encoding: UTF-8
      string: '{"id":"tyfqw20","title":"iPhylo","description":"Rants, raves (and occasionally
        considered opinions) on phyloinformatics, taxonomy, and biodiversity informatics.  For
        more ranty and less considered opinions, see my <a href=\"https://twitter.com/rdmpage\">Twitter
        feed</a>.<br>ISSN 2051-8188. Written content on this site is licensed under
        a <a href=\"https://creativecommons.org/licenses/by/4.0/\">Creative Commons
        Attribution 4.0 International license</a>.","language":"en","favicon":null,"feed_url":"https://iphylo.blogspot.com/feeds/posts/default","feed_format":"application/atom+xml","home_page_url":"https://iphylo.blogspot.com/","indexed_at":"2023-02-06","modified_at":"2023-05-31T17:26:00+00:00","license":"https://creativecommons.org/licenses/by/4.0/legalcode","generator":"Blogger
        7.00","category":"Natural Sciences","backlog":true,"prefix":"10.59350","items":[{"id":"https://doi.org/10.59350/ymc6x-rx659","uuid":"0807f515-f31d-4e2c-9e6f-78c3a9668b9d","url":"https://iphylo.blogspot.com/2022/09/dna-barcoding-as-intergenerational.html","title":"DNA
        barcoding as intergenerational transfer of taxonomic knowledge","summary":"I
        tweeted about this but want to bookmark it for later as well. The paper “A
        molecular-based identification resource for the arthropods of Finland” doi:10.1111/1755-0998.13510
        contains the following: …the annotated barcode records assembled by FinBOL
        participants represent a tremendous intergenerational transfer of taxonomic
        knowledge … the time contributed by current taxonomists in identifying and
        contributing voucher specimens represents a great gift to future generations
        who will benefit...","date_published":"2022-09-14T10:12:00Z","date_modified":"2022-09-29T13:57:30Z","date_indexed":"1909-06-16T11:02:21+00:00","authors":[{"url":null,"name":"Roderic
        Page"}],"image":null,"content_html":"<p>I <a href=\"https://twitter.com/rdmpage/status/1569738844416638981?s=21&amp;t=9OVXuoUEwZtQt-Ldzlutfw\">tweeted
        about this</a> but want to bookmark it for later as well. The paper “A molecular-based
        identification resource for the arthropods of Finland” <a href=\"https://doi.org/10.1111/1755-0998.13510\">doi:10.1111/1755-0998.13510</a>
        contains the following:</p>\n<blockquote>\n<p>…the annotated barcode records
        assembled by FinBOL participants represent a tremendous <mark>intergenerational
        transfer of taxonomic knowledge</mark> … the time contributed by current taxonomists
        in identifying and contributing voucher specimens represents a great gift
        to future generations who will benefit from their expertise when they are
        no longer able to process new material.</p>\n</blockquote>\n<p>I think this
        is a very clever way to characterise the project. In an age of machine learning
        this may be commonest way to share knowledge [...]
