---
http_interactions:
- request:
    method: get
    uri: https://api.rogue-scholar.org/blogs/iphylo
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Fly-Request-Id:
      - 01HC0NZZCSENN3FT68VXM6SD38-fra
    body:
      encoding: UTF-8
      string: '{"archive_prefix":null,"backlog":0,"category":"computerAndInformationSciences","created_at":"2023-02-06","current_feed_url":null,"description":"Rants,
        raves (and occasionally considered opinions) on phyloinformatics, taxonomy,
        and biodiversity informatics.  For more ranty and less considered opinions,
        see my <a href=\"https://twitter.com/rdmpage\">Twitter feed</a>.<br>ISSN 2051-8188.
        Written content on this site is licensed under a <a href=\"https://creativecommons.org/licenses/by/4.0/\">Creative
        Commons Attribution 4.0 International license</a>.","favicon":null,"feed_format":"application/atom+xml","feed_url":"https://iphylo.blogspot.com/feeds/posts/default","funding":null,"generator":"Blogger
        7.00","home_page_url":"https://iphylo.blogspot.com","items":[{"archive_url":null,"authors":[{"name":"Roderic
        Page","url":"https://orcid.org/0000-0002-7101-9767"}],"doi":"https://doi.org/10.59350/cgdvk-qhq18","id":"3749f8c4-1ba7-4e51-9dd6-9d9551ad451a","image":"https://lh3.googleusercontent.com/-nTpJfOuO7gI/VYqq2T3ERMI/AAAAAAAAD8I/AyWaatVuhjU/man03gTw_400x400.jpg?imgmax=800","indexed_at":1692828237,"language":"en","published_at":1435151040,"reference":[],"summary":"I
        spent last Friday and Saturday at  (<b>Research in the 21st Century: Data,
        Analytics and Impact</b>, hashtag #ReCon_15) in Edinburgh. Friday 19th was
        conference day, followed by a hackday at CodeBase. There''s a Storify archive
        of the tweets so you can get a sense of the meeting.  Sitting in the audience
        a few things struck me. No identifier wars, DOIs have won and are everywhere.","tags":["DOI","GBIF","Github","ORCID"],"title":"Thoughts
        on ReCon 15: DOIs, GitHub, ORCID, altmetric, and transitive credit","updated_at":1435154160,"url":"https://iphylo.blogspot.com/2015/06/thoughts-on-recon-15-dois-github-orcid.html"},{"archive_url":null,"authors":[{"name":"Roderic
        Page","url":"https://orcid.org/0000-0002-7101-9767"}],"doi":"https://doi.org/10.59350/1exsv-82573","id":"c581f267-26fe-40c5-bb7c-a076592fe675","image":null,"indexed_at":1692831171,"language":"en","published_at":1421773740,"reference":[],"summary":"A
        couple of articles in the tech press got me thinking this morning about Bitcoin,
     [...]
