---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/1898d2d7-4d87-4487-96c4-3073cf99e9a5
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"m63byipmbt6mf"'
      X-Matched-Path:
      - "/api/posts/[slug]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::vcbff-1687067531669-81667610e76e
    body:
      encoding: UTF-8
      string: '{"id":"tag:blogger.com,1999:blog-4948885059517209129.post-2525787567927280589","uuid":"1898d2d7-4d87-4487-96c4-3073cf99e9a5","url":"http://sfmatheson.blogspot.com/2023/01/quintessence-of-dust-2023-restart-why.html","title":"Quintessence
        of Dust 2023 restart: the why","summary":"It''s early January 2023, a little
        before sunset in Tucson. Live image below, showing the glorious Santa Catalina
        mountains (the snow on the upper reaches is more apparent earlier in the day)
        and my dinner preparations (shrimp and veggies on the grill).I''ve decided
        to start writing here at Quintessence of Dust, after another long hiatus.
        Here are some of my reasons.1. I like to write, and I have things to say,
        and I self-identify as an author. For eight years, I have co-organized and
        taught in...","date_published":"2023-01-09T03:03:00Z","date_modified":"2023-04-02T21:17:07Z","date_indexed":"1970-01-01T00:00:00+00:00","authors":[{"url":null,"name":"Stephen
        Matheson"}],"image":null,"content_html":"It''s early January 2023, a little
        before sunset in Tucson. Live image below, showing the glorious Santa Catalina
        mountains (the snow on the upper reaches is more apparent earlier in the day)
        and my dinner preparations (shrimp and veggies on the grill).<div class=\"separator\"
        style=\"clear: both; text-align: center;\"><a href=\"https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEghgBx9BU21qMDFnLxgHmnsl6TQVfb3QCwOXrC1zcXq7WH9gN8E0TcH3pTslRBG6O8mb5gcuF9JVtDlJ2je6dFcfyzKE4OD38-ftr66nBxddo892_NkyuevrrX65ndSbwmXMaLh3F5yiqU1QIj8JtA8FLkKOcHOEVwVafz0rzh7PejbFzp3XT25nQxc/s4032/Jan%207.jpg\"
        style=\"clear: right; float: right; margin-bottom: 1em; margin-left: 1em;\"><img
        border=\"0\" data-original-height=\"4032\" data-original-width=\"3024\" height=\"320\"
        src=\"https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEghgBx9BU21qMDFnLxgHmnsl6TQVfb3QCwOXrC1zcXq7WH9gN8E0TcH3pTslRBG6O8mb5gcuF9JVtDlJ2je6dFcfyzKE4OD38-ftr66nBxddo892_NkyuevrrX65ndSbwmXMaLh3F5yiqU1QIj8JtA8FLkKOcHOEVwVafz0rzh7PejbFzp3XT25nQxc/s320/Jan%207.jpg\"
        width=\"240\" /></a></div><br /><div><div>I''ve decided to start writing here
        at <i>Quintessence of Dust</i>, after another long hiatus. Here are some of
        my reasons.</div><div><br /></div><div>1. I like to write, and I have things
        to say, and I self-identify as an author. For eight years, I have co-organized
        and taught in the <a href=\"https://meetings.cshl.edu/courses.aspx?course=C-WRITE&amp;year=23\"
        target=\"_blank\">Scientific Writing Retreat at Cold Spring Harbor Laboratory</a>.
 [...]
[...]
