---
http_interactions:
- request:
    method: get
    uri: https://api.rogue-scholar.org/posts/2b22bbba-bcba-4072-94cc-3f88442fff88
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Fly-Request-Id:
      - 01HC0SSY1Q7QA611HV0906GFDC-fra
    body:
      encoding: UTF-8
      string: '{"archive_url":null,"authors":[{"name":"Adam Hyde","url":"https://coko.foundation"},{"name":"John
        Chodacki","url":"https://orcid.org/0000-0002-7378-2408"},{"name":"Paul Shannon","url":null}],"blog":{"api":true,"archive_prefix":null,"authors":null,"backlog":0,"canonical_url":null,"category":"humanities","created_at":"2023-01-13","current_feed_url":"https://upstream.force11.org/atom/","description":"The
        community blog for all things Open Research.","favicon":"https://upstream.force11.org/favicon.png","feed_format":"application/atom+xml","feed_url":"https://upstream.force11.org/atom-complete/","filter":null,"funding":null,"generator":"Ghost
        5.25","home_page_url":"https://upstream.force11.org","id":"pm0p222","issn":null,"language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","modified_at":"2023-09-24T13:05:54+00:00","plan":"Team","prefix":"10.54900","relative_url":null,"slug":"upstream","status":"active","title":"Upstream","use_api":true,"use_mastodon":false,"user_id":"08014cf6-3335-4588-96f4-c77ac1e535b2","version":"https://jsonfeed.org/version/1.1"},"blog_name":"Upstream","blog_slug":"upstream","doi":"https://doi.org/10.54900/6p6re-xyj61","id":"2b22bbba-bcba-4072-94cc-3f88442fff88","image":"https://upstream.force11.org/content/images/2023/04/1-1.png","indexed_at":1689006804,"language":"en","published_at":1681200034,"reference":[],"relationships":[],"summary":"Although
        advances in artificial intelligence (AI)1 have been unfolding for over decades,
        the progress in the last six months has come faster than anyone expected.
        The public release of ChatGPT in November 2022, in particular, has opened
        up new possibilities and heightened awareness of AI''s potential role in various
        aspects of our work and life.","tags":["Thought Pieces"],"title":"An Initial
        Scholarly AI Taxonomy","updated_at":1681226978,"url":"https://upstream.force11.org/an-initial-scholarly-ai-taxonomy"}

        '
  recorded_at: Thu, 05 Oct 2023 20:52:26 GMT
recorded_with: VCR 6.2.0
