---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/2b22bbba-bcba-4072-94cc-3f88442fff88
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"rm8wu4t2aydoe"'
      X-Matched-Path:
      - "/api/posts/[slug]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::27p8s-1687101858309-a2e7c38bde3d
    body:
      encoding: UTF-8
      string: '{"id":"https://doi.org/10.54900/6p6re-xyj61","uuid":"2b22bbba-bcba-4072-94cc-3f88442fff88","url":"https://upstream.force11.org/an-initial-scholarly-ai-taxonomy/","title":"An
        Initial Scholarly AI Taxonomy","summary":"Although advances in artificial
        intelligence (AI)1 have been unfolding for over decades, the progress in the
        last six months has come faster than anyone expected. The public release of
        ChatGPT in November 2022, in particular, has opened up new possibilities and
        heightened awareness of AI''s potential role in various aspects of our work
        and life.It follows that in the context of the publishing industry, AI also
        holds the promise of transforming multiple facets of the publishing process2.
        In this...","date_published":"2023-04-11T08:00:34Z","date_modified":"2023-04-11T15:29:38Z","date_indexed":"1970-01-01T00:00:00+00:00","authors":[{"url":null,"name":"Adam
        Hyde"},{"url":"https://orcid.org/0000-0002-7378-2408","name":"John Chodacki"},{"url":null,"name":"Paul
        Shannon"}],"image":"https://upstream.force11.org/content/images/2023/04/1-1.png","content_html":"
        <!--kg-card-begin: html--><p class=''u-drop-cap-small''>Although advances
        in artificial intelligence (AI)<sup>1</sup> have been unfolding for over decades,
        the progress in the last six months has come faster than anyone expected.
        The public release of ChatGPT in November 2022, in particular, has opened
        up new possibilities and heightened awareness of AI''s potential role in various
        aspects of our work and life.</p><!--kg-card-end: html--><!--kg-card-begin:
        html--><p>It follows that in the context of the publishing industry, AI also
        holds the promise of transforming multiple facets of the publishing process<sup>2</sup>.
        In this blog post, we begin the development of a rough taxonomy for understanding
        how and where AI can and/or should play a role in a publisher’s workflow.</p><!--kg-card-end:
        html--><p>We intend to iterate on this taxonomy (for now, we will use the
        working title ‘Scholarly AI Taxonomy’).</p><h2 id=\"scholarly-ai-taxonomy\">Scholarly
        AI Taxonomy</h2><p>To kickstart discussions on AI''s potential impact on publishing
        workflows, we present our initial categorization of the \"Scholarly AI Taxonomy.\"
        This taxonomy outlines seven key roles that AI could potentially play in a
        scholarly publishing workflow:</p><ol><li><strong>Extract</strong>: Identify
        and isolate specific entities or data points within the content.</li><li><strong>Validate</strong>:
        Verify the accuracy and reliability of the information.</li><li><strong>Generate</strong>:
        Produce new content or ideas, such as text or images.</li><li><strong>Analyse</strong>:
        Examine patterns, relationships, or trends within the information.</li><li><strong>Reformat</strong>:
        Modify and adjust information to fit specific format[...]
