---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/members/4374
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1687045128924,"primary-name":"eLife
        Sciences Publications, Ltd","counts":{"current-dois":17366,"backfile-dois":28280,"total-dois":45646},"breakdowns":{"dois-by-issued-year":[[2021,7247],[2022,7078],[2020,6182],[2019,4848],[2017,4118],[2018,4058],[2016,3510],[2023,3041],[2015,2808],[2014,1786],[2013,811],[2012,159]]},"prefixes":["10.7554"],"coverage":{"affiliations-current":0.9405159507082805,"similarity-checking-current":0.0,"descriptions-current":0.0,"ror-ids-current":0.5576413681907175,"funders-backfile":0.3052687411598303,"licenses-backfile":0.999964639321075,"funders-current":0.2664401704480018,"affiliations-backfile":0.9898161244695898,"resource-links-backfile":0.3481966053748232,"orcids-backfile":0.8474540311173975,"update-policies-current":0.2902798571922147,"ror-ids-backfile":0.002192362093352192,"orcids-current":0.9002073016238628,"similarity-checking-backfile":0.0,"references-backfile":0.3392857142857143,"descriptions-backfile":0.0,"award-numbers-backfile":0.2866690240452617,"update-policies-backfile":0.0708981612446959,"licenses-current":1.0,"award-numbers-current":0.2578026027870552,"abstracts-backfile":0.3405586987270156,"resource-links-current":0.2902798571922147,"abstracts-current":0.3130254520327076,"references-current":0.2808937003339859},"prefix":[{"name":"eLife
        Sciences Publications, Ltd.","value":"10.7554"}],"id":4374,"tokens":["elife","sciences","publications","ltd"],"counts-type":{"all":{"peer-review":30291,"journal-article":14890,"journal":1,"component":143802,"posted-content":465},"backfile":{"peer-review":18431,"journal-article":9849},"current":{"peer-review":11860,"journal-article":5041,"posted-content":465}},"coverage-type":{"all":{"peer-review":{"last-status-check-time":1687045128924,"affiliations":0.9666237496286026,"abstracts":0.0,"orcids":0.8618071374335611,"licenses":1.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"ror-ids":0.2349542768479086,"update-policies":0.0,"resource-links":0.0,"descriptions":0.0},"journal-article":{"last-status-check-time":1687045128924,"affiliations":0.9794492948287441,"abstracts":0.980658159838818,"orcids":0.8787777031564808,"licenses":0.9999328408327737,"references":0.9719946272666219,"funders":0.890530557421088,"similarity-checking":0.0,"award-numbers":0.8451309603760913,"ror-ids":0.1765614506380121,"update-policies":0.4732034922766958,"resource-links":0.9998656816655473,"descriptions":0.0},"journal":{"last-status-check-time":1687045128924,"affiliations":0.0,"ab[...]
- request:
    method: get
    uri: https://doi.org/ra/10.7554
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "DOI": "10.7554",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 18 Jun 2023 15:22:04 GMT
recorded_with: VCR 6.1.0
