---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/570c8129-e867-49e6-8517-bd783627e76e
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"uocsviufsi599"'
      X-Matched-Path:
      - "/api/posts/[[...params]]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::vxt89-1695327599116-42087c13d5ed
    body:
      encoding: UTF-8
      string: '{"id":"570c8129-e867-49e6-8517-bd783627e76e","doi":null,"url":"https://project-thor.eu/2016/08/10/orcid-integration-in-pangaea","archive_url":"https://web.archive.org/web/20190709153404/https://project-thor.eu/2016/08/10/orcid-integration-in-pangaea","title":"ORCID
        Integration Series: PANGAEA","summary":"This is the first in a series of posts describing
        how THOR partners have recently integrated ORCID in their disciplinary data
        repositories. This post describes ORCID integration in PANGAEA, the Data Publisher
        for Earth &amp; Environmental Science.  PANGAEA is rolling out a new version
        of its website. Developers and designers are currently ironing out a few remaining
        open issues. The release is expected for autumn 2016.","content_html":"<p><span>This
        is the first in a <a href=\"http://wp.me/p5O69U-aF\">series of posts</a></span><span> describing
        how THOR partners have recently integrated <a href=\"http://orcid.org/\">ORCID</a>
        in their disciplinary data repositories. This post describes ORCID integration
        in <a href=\"https://www.pangaea.de/\">PANGAEA</a>, the Data Publisher for
        Earth &amp; Environmental Science.</span></p>\n<p><span>PANGAEA is rolling
        out a new version of its website. Developers and designers are currently ironing
        out a few remaining open issues. The release is expected for autumn 2016.
        Among major improvements in search, design, and usability, a key new feature
        is the integration of ORCID.</span></p>\n<p><span>The new feature enables
        existing PANGAEA users to connect their PANGAEA profile with their ORCID iD,
        as demonstrated in the video below. </span></p>\n<p></p><div></div><p></p>\n<p><span>With
        this connection, PANGAEA obtains the </span><i><span>validated</span></i><span>
        ORCID iD of its users from ORCID. By connecting their ORCID iD, users can
        also choose to sign in to PANGAEA using ORCID, as an alternative to signing
        in using PANGAEA user credentials. This can be handy when a user is already
        signed in to ORCID, or it is quicker to recall ORCID credentials.</span></p>\n<p><span>Obtaining
        the validated ORCID [...]
