---
http_interactions:
- request:
    method: get
    uri: https://api.rogue-scholar.org/posts/570c8129-e867-49e6-8517-bd783627e76e
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Fly-Request-Id:
      - 01HC0RYZRPBEHQ83AFVH9KEXD8-fra
    body:
      encoding: UTF-8
      string: '{"archive_url":"https://web.archive.org/web/20190709153404/https://project-thor.eu/2016/08/10/orcid-integration-in-pangaea","authors":[{"name":"Markus
        Stocker","url":"https://orcid.org/0000-0001-5492-3212"}],"blog":{"api":false,"archive_prefix":"https://web.archive.org/web/20190709153404/","authors":null,"backlog":0,"canonical_url":null,"category":"computerAndInformationSciences","created_at":"2023-09-21","current_feed_url":null,"description":"Technical
        and Human infrastructure for Open Research.","favicon":null,"feed_format":"application/atom+xml","feed_url":"https://project-thor.eu/feed/atom/","filter":null,"funding":{"award_number":"654039","award_uri":"https://doi.org/10.3030/654039","funder_id":"https://doi.org/10.13039/501100007601","funder_name":"European
        Union\u2019s Horizon 2020 research and innovation programme"},"generator":"WordPress.com","home_page_url":"https://project-thor.eu","id":"cg9zq26","issn":null,"language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","modified_at":"1970-01-01T00:00:00+00:00","plan":"Team","prefix":"10.59350","relative_url":null,"slug":"thor","status":"archived","title":"Project
        THOR","use_api":null,"use_mastodon":false,"user_id":"dead81b3-8a8b-45c9-85fe-f01bb3948c77","version":"https://jsonfeed.org/version/1.1"},"blog_name":"Project
        THOR","blog_slug":"thor","doi":"https://doi.org/10.59350/faeph-x4x84","id":"570c8129-e867-49e6-8517-bd783627e76e","image":null,"indexed_at":1695449798,"language":"en","published_at":1470819639,"reference":[],"relationships":[],"summary":"This
        is the first in a series of posts\u00a0describing how THOR partners have recently
        integrated ORCID in their disciplinary data repositories. This post describes
        ORCID integration in PANGAEA, the Data Publisher for Earth &amp; Environmental
        Science.  PANGAEA is rolling out a new version of its website. Developers
        and designers are currently ironing out a few remaining open issues. The release
        is expected for autumn 2016.","tags":["Uncategorized","ORCID","Persistent
        Identifier"],"title":"ORCID Integration Series: PANGAEA","updated_at":1470819639,"url":"https://project-thor.eu/2016/08/10/orcid-integration-in-pangaea"}

        '
  recorded_at: Thu, 05 Oct 2023 20:37:43 GMT
recorded_with: VCR 6.2.0
