---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/f3629c86-06e0-42c0-844a-266b03a91ef1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"jbappwm5z94q8"'
      X-Matched-Path:
      - "/api/posts/[[...params]]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::6rbj8-1694010442492-b47595ed1d2f
    body:
      encoding: UTF-8
      string: '{"id":"f3629c86-06e0-42c0-844a-266b03a91ef1","doi":"https://doi.org/10.59350/37y2z-gre70","url":"https://iphylo.blogspot.com/2023/05/ten-years-and-million-links.html","title":"Ten
        years and a million links","summary":"As trailed on a Twitter thread last
        week I’ve been working on a manuscript describing the efforts to map taxonomic
        names to their original descriptions in the taxonomic literature.","content_html":"<p>As
        trailed on a Twitter thread last week I’ve been working on a manuscript describing
        the efforts to map taxonomic names to their original descriptions in the taxonomic
        literature.</p>\n<blockquote><p>Putting together a manuscript on linking taxonomic
        names to the primary literature, basically “um, what, exactly, have you been
        doing all these years?”. TL;DR Across fungi, plants, and animals approx 1.3
        million names have been linked to a persistent identifier for a publication.</p>—
        Roderic Page (@rdmpage) <a href=\"https://twitter.com/rdmpage/status/1661714128413573120?ref_src=twsrc%5Etfw\">May
        25, 2023</a></blockquote> \n<p>The preprint is on bioRxi[...]
