---
http_interactions:
- request:
    method: get
    uri: https://api.rogue-scholar.org/posts/f3629c86-06e0-42c0-844a-266b03a91ef1
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Fly-Request-Id:
      - 01HC0RZ84GF2PBSHPMASBGCVZC-fra
    body:
      encoding: UTF-8
      string: '{"archive_url":null,"authors":[{"name":"Roderic Page","url":"https://orcid.org/0000-0002-7101-9767"}],"blog":{"api":false,"archive_prefix":null,"authors":null,"backlog":0,"canonical_url":null,"category":"computerAndInformationSciences","created_at":"2023-02-06","current_feed_url":null,"description":"Rants,
        raves (and occasionally considered opinions) on phyloinformatics, taxonomy,
        and biodiversity informatics.  For more ranty and less considered opinions,
        see my <a href=\"https://twitter.com/rdmpage\">Twitter feed</a>.<br>ISSN 2051-8188.
        Written content on this site is licensed under a <a href=\"https://creativecommons.org/licenses/by/4.0/\">Creative
        Commons Attribution 4.0 International license</a>.","favicon":null,"feed_format":"application/atom+xml","feed_url":"https://iphylo.blogspot.com/feeds/posts/default","filter":null,"funding":null,"generator":"Blogger
        7.00","home_page_url":"https://iphylo.blogspot.com","id":"tyfqw20","issn":"2051-8188","language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","modified_at":"2023-08-31T12:36:33+00:00","plan":"Team","prefix":"10.59350","relative_url":null,"slug":"iphylo","status":"active","title":"iPhylo","use_api":null,"use_mastodon":true,"user_id":"b98bb1b6-b96b-4e8a-94d3-4285ea715f5b","version":"https://jsonfeed.org/version/1.1"},"blog_name":"iPhylo","blog_slug":"iphylo","doi":"https://doi.org/10.59350/37y2z-gre70","id":"f3629c86-06e0-42c0-844a-266b03a91ef1","image":"https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhdWsSQhqi1DErXMIHm28g37-fiALNIsI5eQZmvoX_Fe03ZSwtKHbYt-LCsCCAUop0AGcwy_w7NpIjylVH1hNrM9oW-6j9e6tHASha49TTqFvDg2_tEx3r74RRFsjUo4M_Qat8NmKaZSChOt2hI3LsMjTVLrEVirEckU-9Ei7ug-7OHQlR4LA/s320/animals-coverage.png","indexed_at":1689933917,"language":"en","published_at":1685553960,"reference":[],"relationships":[],"summary":"As
        trailed on a Twitter thread last week I\u2019ve been working on a manuscript
        describing the efforts to map taxonomic names to their original descriptions
        in the taxonomic literature.","tags":[],"title":"Ten years and a million links","updated_at":1685554180,"url":"https://iphylo.blogspot.com/2023/05/ten-years-and-million-links.html"}

        '
  recorded_at: Thu, 05 Oct 2023 20:37:51 GMT
recorded_with: VCR 6.2.0
