---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/1898d2d7-4d87-4487-96c4-3073cf99e9a5
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"13pz9o7pqcg1mi"'
      X-Matched-Path:
      - "/api/posts/[[...params]]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::jbp2f-1689023094094-f2a6094c04f1
    body:
      encoding: UTF-8
      string: '{"id":"1898d2d7-4d87-4487-96c4-3073cf99e9a5","doi":"https://doi.org/10.59350/63055-a8604","url":"http://sfmatheson.blogspot.com/2023/01/quintessence-of-dust-2023-restart-why.html","title":"Quintessence
        of Dust 2023 restart: the why","summary":"It''s early January 2023, a little
        before sunset in Tucson. Live image below, showing the glorious Santa Catalina
        mountains (the snow on the upper reaches is more apparent earlier in the day)
        and my dinner preparations (shrimp and veggies on the grill).I''ve decided
        to start writing here at Quintessence of Dust, after another long hiatus.
        Here are some of my reasons.1. I like to write, and I have things to say,
        and I self-identify as an author. For eight years, I have co-organized and
        taught in...","published_at":1673233380,"updated_at":1680470227,"indexed_at":1689006804,"authors":[{"url":null,"name":"Stephen
        Matheson"}],"image":null,"tags":["Introduction"],"language":"en","reference":[],"blog_id":"5764g49","blog_name":"Quintessence
        of Dust","blog":{"id":"5764g49","title":"Quintessence of Dust","description":"<i>Quintessence
        of Dust</i> explores science, society, and human nature, focusing on genetics,
        development, evolution, neuroscience, systems biology, and topics related
        to scientific literacy. I occasionally discuss intelligent design, creationism,
        science denial, and other political/social influences on scientific literacy.
        Additional topics: philosophy, baseball, scientific culture, and Shakespeare.
        My main theme is <b><u>scientific explanation</u></b>.","language":"en","favicon":null,"feed_url":"http://sfmatheson.blogspot.com/feeds/posts/default","home_page_url":"http://sfmatheson.blogspot.com/","user_id":"8498eaf6-8c58-4b58-bc15-27eda292b1aa","created_at":"2023-05-31T14:21:27+00:00","indexed_at":"2023-04-18","feed_format":"application/atom+xml","license":"https://creativecommons.org/licenses/by/4.0/legalcode","generator":"Blogger
        7.00","category":"Social Sciences","prefix":"10.59350","modified_at":"2023-07-05T03:41:45+00:00","version":"https://jsonfeed.org/version/1.1","backlog":true,"current_feed_url":null,"expired":null}}'
  recorded_at: Mon, 10 Jul 2023 21:04:54 GMT
recorded_with: VCR 6.2.0
