---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/f3629c86-06e0-42c0-844a-266b03a91ef1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"rlf5k9cygn1ju"'
      X-Matched-Path:
      - "/api/posts/[[...params]]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::9gxbv-1689023091514-026dffac583b
    body:
      encoding: UTF-8
      string: '{"id":"f3629c86-06e0-42c0-844a-266b03a91ef1","doi":"https://doi.org/10.59350/37y2z-gre70","url":"https://iphylo.blogspot.com/2023/05/ten-years-and-million-links.html","title":"Ten
        years and a million links","summary":"As trailed on a Twitter thread last
        week I’ve been working on a manuscript describing the efforts to map taxonomic
        names to their original descriptions in the taxonomic literature. Putting
        together a manuscript on linking taxonomic names to the primary literature,
        basically “um, what, exactly, have you been doing all these years?”. TL;DR
        Across fungi, plants, and animals approx 1.3 million names have been linked
        to a persistent identifier for a publication.— Roderic Page (@rdmpage) May
        25,...","published_at":1685553960,"updated_at":1685554180,"indexed_at":1689006804,"authors":[{"url":"https://orcid.org/0000-0002-7101-9767","name":"Roderic
        Page"}],"image":null,"tags":[],"language":"en","reference":[],"blog_id":"tyfqw20","blog_name":"iPhylo","blog":{"id":"tyfqw20","title":"iPhylo","description":"Rants,
        raves (and occasionally considered opinions) on phyloinformatics, taxonomy,
        and biodiversity informatics.  For more ranty and less considered opinions,
        see my <a href=\"https://twitter.com/rdmpage\">Twitter feed</a>.<br>ISSN 2051-8188.
        Written content on this site is licensed under a <a href=\"https://creativecommons.org/licenses/by/4.0/\">Creative
        Commons Attribution 4.0 International license</a>.","language":"en","favicon":null,"feed_url":"https://iphylo.blogspot.com/feeds/posts/default","home_page_url":"https://iphylo.blogspot.com/","user_id":"8498eaf6-8c58-4b58-bc15-27eda292b1aa","created_at":"2023-05-31T08:03:14+00:00","indexed_at":"2023-02-06","feed_format":"application/atom+xml","license":"https://creativecommons.org/licenses/by/4.0/legalcode","generator":"Blogger
        7.00","category":"Natural Sciences","prefix":"10.59350","modified_at":"2023-06-17T15:38:20+00:00","version":"https://jsonfeed.org/version/1.1","backlog":true,"current_feed_url":null,"expired":null}}'
  recorded_at: Mon, 10 Jul 2023 21:04:52 GMT
recorded_with: VCR 6.2.0
