---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/1jgo59el
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"r6tc4lxjtm4ak"'
      X-Matched-Path:
      - "/api/posts/[slug]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::q6kqg-1685885402698-be8aec609306
    body:
      encoding: UTF-8
      string: '{"id":"https://iphylo.blogspot.com/2023/05/ten-years-and-million-links.html","short_id":"1jgo59el","url":"https://iphylo.blogspot.com/2023/05/ten-years-and-million-links.html","title":"Ten
        years and a million links","summary":"As trailed on a Twitter thread last
        week I’ve been working on a manuscript describing the efforts to map taxonomic
        names to their original descriptions in the taxonomic literature. Putting
        together a...","date_published":"2023-05-31T17:26:00Z","date_modified":null,"authors":[{"url":null,"name":"Roderic
        Page"}],"image":null,"content_html":"<p>As trailed on a Twitter thread last
        week I’ve been working on a manuscript describing the efforts to map taxonomic
        names to their original descriptions in the taxonomic literature.</p>\n<blockquote
        class=\"twitter-tweet\"><p lang=\"en\" dir=\"ltr\">Putting together a manuscript
        on linking taxonomic names to the primary literature, basically “um, what,
        exactly, have you been doing all these years?”. TL;DR Across fungi, plants,
        and animals approx 1.3 million names have been linked to a persistent identifier
        for a publication.</p>— Roderic Page (@rdmpage) <a href=\"https://twitter.com/rdmpage/status/1661714128413573120?ref_src=twsrc%5Etfw\">May
        25, 2023</a></blockquote> \n<p>The preprint is on bioRxiv <a href=\"https://doi.org/10.1101/2023.05.29.542697\">doi:10.1101/2023.05.29.542697</a></p>\n<blockquote>\n<p>A
        major gap in the biodiversity knowledge graph is a connection between taxonomic
        names and the taxonomic literature. While both names and publications often
        have persistent identifiers (PIDs), such as Life Science Identifiers (LSIDs)
        or Digital Object Identifiers (DOIs), LSIDs for names are rarely linked to
        DOIs for publications. This article describes efforts to make those connections
        across three large taxonomic databases: Index Fungorum, International Plant
        Names Index (IPNI), and the Index of Organism Names (ION). Over a million
        names have been matched to DOIs or other persistent identifiers for taxonomic
        publications. This represents approximately 36% of names for which publication
        data is available. The mappings between LSIDs and publication PIDs are made
        available through ChecklistBank. Applications of this mapping are discussed,
        including a web app to locate the citation of a taxonomic name, and a knowledge
        graph that uses data on researcher’s ORCID ids to connect taxonomic names
        and publications to authors of those names.</p>\n</blockquote>\n<p>Much of
        the work has been linking taxa to names, which still has huge gaps. There
        are also interesting differences in coverage between plants, animals, and
        fungi (see preprint for details).</p>\n\n<div class=\"separator\" style=\"clear:
        both;\"><a href=\"https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhdWsSQhqi1DErXMIHm28g37-fiALNIsI5eQZmvoX_Fe03ZSwtKHbYt-LCsCCAUop0AGcwy_w7NpIjylVH1hNrM9oW-6j9e6tHASha49TTqFvDg2_tEx3r74RRFsjUo4M_Qat8NmKaZSChOt2hI3LsMjTVLrEVirEckU-9Ei7ug-7OHQlR4LA/s2276/animals-coverage.png\"
        style=\"display: block; padding: 1em 0; text-align: center; \"><img alt=\"\"
        border=\"0\" width=\"320\" data-original-height=\"2276\" data-original-width=\"2276\"
        src=\"https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhdWsSQhqi1DErXMIHm28g37-fiALNIsI5eQZmvoX_Fe03ZSwtKHbYt-LCsCCAUop0AGcwy_w7NpIjylVH1hNrM9oW-6j9e6tHASha49TTqFvDg2_tEx3r74RRFsjUo4M_Qat8NmKaZSChOt2hI3LsMjTVLrEVirEckU-9Ei7ug-7OHQlR4LA/s320/animals-coverage.png\"/></a></div><div
        class=\"separator\" style=\"clear: both;\"><a href=\"https://blogger.googleusercontent.com/[...]
