---
http_interactions:
- request:
    method: get
    uri: https://api.rogue-scholar.org/posts/2b3cdd27-5123-4167-9482-3c074392e2d2
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Fly-Request-Id:
      - 01HC0RY5KS9X7HXA36CK81FHQH-fra
    body:
      encoding: UTF-8
      string: '{"archive_url":null,"authors":[{"name":"OA.Works","url":"https://oa.works"}],"blog":{"api":true,"archive_prefix":null,"authors":null,"backlog":0,"canonical_url":true,"category":"computerAndInformationSciences","created_at":"2023-01-04","current_feed_url":null,"description":"OA.Works
        Blog","favicon":"https://blog.oa.works/favicon.png","feed_format":"application/rss+xml","feed_url":"https://blog.oa.works/rss/","filter":null,"funding":null,"generator":"Ghost
        5.66","home_page_url":"https://blog.oa.works","id":"h7bpg11","issn":null,"language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","modified_at":"2023-10-02T04:28:31+00:00","plan":"Starter","prefix":"10.59350","relative_url":null,"slug":"oa_works","status":"active","title":"OA.Works
        Blog","use_api":true,"use_mastodon":false,"user_id":"dead81b3-8a8b-45c9-85fe-f01bb3948c77","version":"https://jsonfeed.org/version/1.1"},"blog_name":"OA.Works
        Blog","blog_slug":"oa_works","doi":"https://doi.org/10.59350/tfahc-rp566","id":"2b3cdd27-5123-4167-9482-3c074392e2d2","image":"https://blog.oa.works/content/images/2023/01/nature-website-v2.png","indexed_at":1696202714,"language":"en","published_at":1674558707,"reference":[],"relationships":[],"summary":"After
        a couple of years of working to support institutions implementing their OA
        policies, we''re so proud to see OA.Report, our development partner, and one
        of our collaborators featured in Nature. We appreciate Nature bringing attention
        to the progress being made in more effectively implementing OA policies. Read
        the full story on Nature''s website.","tags":["Nofeature","Noexcerpt","OA
        Report"],"title":"Nature features OA.Report''s work putting OA policy into
        practice!","updated_at":1696174453,"url":"https://blog.oa.works/nature-features-oa-reports-work-putting-oa-policy-into-practice"}

        '
  recorded_at: Thu, 05 Oct 2023 20:37:16 GMT
recorded_with: VCR 6.2.0
