---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/6179ad80-cc7f-4904-9260-0ecb3c3a90ba
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"jtxxi9yf69s"'
      X-Matched-Path:
      - "/api/posts/[[...params]]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::bkz2t-1689023085834-cfabfa78ce26
    body:
      encoding: UTF-8
      string: '{"message":"Post not found"}'
  recorded_at: Mon, 10 Jul 2023 21:04:46 GMT
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/153d65e1-f0e4-49a6-a969-33d2129800ba
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"z7ox1e74871b0"'
      X-Matched-Path:
      - "/api/posts/[[...params]]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::kz72z-1689055090778-9a199d4a33af
    body:
      encoding: UTF-8
      string: '{"id":"153d65e1-f0e4-49a6-a969-33d2129800ba","doi":"https://doi.org/10.59350/ytvy2-59450","url":"https://www.ideasurg.pub/academic-powerhouse","title":"How
        to Build an Academic Powerhouse: Let''s Study Who''s Doing it","summary":"Students
        and residents aspiring for a career in academic surgery are looking for training
        programs that will help jumpstart their careers by exposing them to mentorship
        and opportunities to conduct research. While the gold standard of academic
        productivity (for the time being) remains peer-reviewed publications, conference
        posters and presentations are an important secondary metric. In addition to
        feeding eventual papers, conference talks allow trainees to practice presentation
        skills, build...","published_at":1685768070,"updated_at":1685768070,"indexed_at":1689006804,"authors":[{"url":null,"name":"Tejas
        S. Sathe, MD"}],"image":null,"tags":["Pre-Print"],"language":"en","reference":[],"blog_id":"3cxcm20","blog_name":"I.D.E.A.S.","blog":{"id":"3cxcm20","title":"I.D.E.A.S.","description":"Innovation
        and Design Experiments in Academic Surgery (I.D.E.A.S.)","language":"en","favicon":"https://www.ideasurg.pub/favicon.png","feed_url":"https://www.ideasurg.pub/rss/","home_page_url":"https://www.ideasurg.pub/","user_id":"8498eaf6-8c58-4b58-bc15-27eda292b1aa","created_at":"2023-05-31T13:44:29+00:00","indexed_at":"2023-01-04","feed_format":"application/rss+xml","license":"https://creativecommons.org/licenses/by/4.0/legalcode","generator":"Ghost
        5.53","category":"Medical and Health Sciences","prefix":"10.59350","modified_at":"2023-06-03T04:54:30+00:00","version":"https://jsonfeed.org/version/1.1","backlog":false,"current_feed_url":null,"expired":null}}'
  recorded_at: Tue, 11 Jul 2023 05:58:11 GMT
recorded_with: VCR 6.2.0
