---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/c3095752-2af0-40a4-a229-3ceb7424bce2
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"9vk0oiu0agaob"'
      X-Matched-Path:
      - "/api/posts/[[...params]]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::2nsgw-1694010435634-7ef529f76f47
    body:
      encoding: UTF-8
      string: '{"id":"c3095752-2af0-40a4-a229-3ceb7424bce2","doi":"https://doi.org/10.59350/kj95y-gp867","url":"https://www.ideasurg.pub/residency-visual-abstract","title":"The
        Residency Visual Abstract","summary":"My prototype for a Residency Visual
        AbstractThis tool represents my own ideas and is not currently in use or endorsed
        by any institution. Medical students applying to residency often have to grapple
        with an incredible amount of information when evaluating prospective training
        programs. The increased number of applications and interviews inherent to
        the Zoom era further exacerbates this issue.","content_html":"<figure><img
        src=\"https://www.ideasurg.pub/content/images/2023/04/Residency-Scorecard-Light-Mode--7-.png\"
        loading=\"lazy\" width=\"2000\" height=\"1127\" srcset=\"https://www.ideasurg.pub/content/images/size/w600/2023/04/Residency-Scorecard-Light-Mode--7-.png
        600w, https://www.ideasurg.pub/content/images/size/w1000/2023/04/Residency-Scorecard-Light-Mode--7-.png
        1000w, https://www.ideasurg.pub/content/images/size/w1600/2023/04/Residency-Scorecard-Light-Mode--7-.png
        1600w, https://www.ideasurg.pub/content/images/size/w2400/2023/04/Residency-Scorecard-Light-Mode--7-.png
        2400w\" /><figcaption>My prototype for a Residency Visual Abstract</figcaption></figure><div><div>This
        tool represents my own ideas and is not currently in use or endorsed by any
        institution.</div></div><p>Medical students applying to residency often have
        to grapple with an incredible amount of information when evaluating prospective
        training programs. The increased number of applications and interviews inherent
        to the Zoom era further exacerbates this issue. At the same time, programs
        need to find ways to communicate a great deal of infor[...]
