---
http_interactions:
- request:
    method: get
    uri: https://api.rogue-scholar.org/posts/2bdebfc5-e02e-42c2-90c5-e873e2d0435d
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Fly-Request-Id:
      - 01HC0S9TVCW6RH6SZ4Z3HTQ53R-fra
    body:
      encoding: UTF-8
      string: '{"archive_url":null,"authors":[{"name":"Martin Fenner","url":"https://orcid.org/0000-0003-1419-2405"}],"blog":{"api":true,"archive_prefix":null,"authors":null,"backlog":0,"canonical_url":null,"category":"computerAndInformationSciences","created_at":"2023-01-02","current_feed_url":"https://blog.front-matter.io/atom/","description":"The
        Front Matter Blog covers the intersection of science and technology since
        2007.","favicon":"https://blog.front-matter.io/favicon.png","feed_format":"application/atom+xml","feed_url":"https://blog.front-matter.io/atom-complete/","filter":null,"funding":null,"generator":"Ghost
        5.52","home_page_url":"https://blog.front-matter.io","id":"f0m0e38","issn":"2749-9952","language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","modified_at":"2023-10-04T10:36:32+00:00","plan":"Team","prefix":"10.53731","relative_url":null,"slug":"front_matter","status":"active","title":"Front
        Matter","use_api":true,"use_mastodon":true,"user_id":"8498eaf6-8c58-4b58-bc15-27eda292b1aa","version":"https://jsonfeed.org/version/1.1"},"blog_name":"Front
        Matter","blog_slug":"front_matter","doi":"https://doi.org/10.53731/r294649-6f79289-8cw18","id":"2bdebfc5-e02e-42c2-90c5-e873e2d0435d","image":"http://blog.martinfenner.org/images/Data_formatting.jpg","indexed_at":1694126132,"language":"en","published_at":1372179840,"reference":[{"doi":"http://doi.org/10.1890/0012-9623-90.2.205","key":"ref1"},{"doi":"http://doi.org/10.1002/bult.134","key":"ref2"},{"doi":"http://doi.org/10.1890/120103","key":"ref3"},{"doi":"http://doi.org/10.1146/annurev.ecolsys.37.091305.110031","key":"ref4"},{"doi":"http://doi.org/10.1002/aris.2011.1440450113","key":"ref5"},{"doi":"http://doi.org/10.1890/1051-0761(1997)007[0330:nmftes]2.0.co","key":"ref6"},{"doi":"http://doi.org/10.1890/1051-0761(1997)007","key":"ref7"},{"key":"ref8","url":"http://esa.org/ecovisions/ppfiles/ecologicalvisionsreport.pdf"},{"doi":"http://doi.org/10.1016/j.tree.2005.04.023","key":"ref9"},{"doi":"http://doi.org/10.1371/journal.pone.0035087","key":"ref10"},{"doi":"http://doi.org/10.7287/peerj.preprints.1","key":"ref11"},{"doi":"http://doi.org/10.1371/journal.pone.0000308","key":"ref12"},{"key":"ref13","url":"https://github.com/tpoisot/datasharingpaper/blob/master/datasharing-ms.md"},{"doi":"http://doi.org/10.1126/science.1197962","key":"ref14"},{"doi":"http://doi.org/10.1038/461171a","key":"ref15"},{"doi":"http://doi.org/10.5060/D2251G48","key":"ref16"},{"doi":"http://doi.org/10.1016/j.tree.2010.11.006","key":"ref17"},{"doi":"http://doi.org/10.1086/650340","key":"ref18"},{"key":"ref19","url":"http://jstatsoft.org/v21/i12/paper"},{"doi":"http://doi.org/10.1371/journal.pone.0029715","key":"ref20"},{"doi":"http://doi.org/10.1007/s00799-007-0015-8","key":"ref21"}],"relationships":[{"type":"IsPreprintOf","url":"https://doi.org/10.4033/iee.2013.6b.6.f"}],"summary":"This
        paper in markdown format was written by Ethan White et al. The markdown file
        and the associated bibliogaphy and figure files are available from the Github
        repository of the paper. I used this version, an earlier version was published
        as PeerJ Preprint. Special thanks to Ethan White for allowing me to reuse
        this paper.","tags":["Feature"],"title":"Nine simple ways to make it easier
        to (re)use your data","updated_at":1694123190,"url":"https://blog.front-matter.io/posts/nine-simple-ways-to-make-it-easier-to-re-use-your-data"}

        '
  recorded_at: Thu, 05 Oct 2023 20:43:38 GMT
- request:
    method: get
    uri: http://doi.org/10.1890/0012-9623-90.2.205
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://doi.org/10.1890/0012-9623-90.2.205
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 05 Oct 2023 20:43:38 GMT
- request:
    method: get
    uri: https://doi.org/10.1890/0012-9623-90.2.205
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://api.crossref.org/v1/works/10.1890%2F0012-9623-90.2.205/transform
    body:
      encoding: UTF-8
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="https://api.crossref.org/v1/works/10.1890%2F0012-9623-90.2.205/transform">https://api.crossref.org/v1/works/10.1890%2F0012-9623-90.2.205/transform</a></body></html>
  recorded_at: Thu, 05 Oct 2023 20:43:39 GMT
- request:
    method: get
    uri: https://api.crossref.org/v1/works/10.1890%2F0012-9623-90.2.205/transform
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json
      Link:
      - <http://dx.doi.org/10.1890/0012-9623-90.2.205>; rel="canonical", <https://api.wiley.com/onlinelibrary/tdm/v1/articles/10.1890%2F0012-9623-90.2.205>;
        version="vor"; rel="item", <https://onlinelibrary.wiley.com/doi/full/10.1890/0012-9623-90.2.205>;
        version="vor"; rel="item", <http://doi.wiley.com/10.1002/tdm_license_1.1>;
        version="tdm"; rel="license"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"indexed":{"date-parts":[[2023,10,5]],"date-time":"2023-10-05T20:38:28Z","timestamp":1696538308846},"reference-count":1,"publisher":"Wiley","issue":"2","license":[{"start":{"date-parts":[[2015,9,1]],"date-time":"2015-09-01T00:00:00Z","timestamp":1441065600000},"content-version":"tdm","delay-in-days":2344,"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2009,4]]},"DOI":"10.1890\/0012-9623-90.2.205","type":"journal-article","created":{"date-parts":[[2009,3,31]],"date-time":"2009-03-31T14:24:52Z","timestamp":1238509492000},"page":"205-214","source":"Crossref","is-referenced-by-count":48,"title":"Some
        Simple Guidelines for Effective Data Management","prefix":"10.1002","volume":"90","author":[{"given":"Elizabeth
        T.","family":"Borer","sequence":"first","affiliation":[]},{"given":"Eric W.","family":"Seabloom","sequence":"additional","affiliation":[]},{"given":"Matthew
        B.","family":"Jones","sequence":"additional","affiliation":[]},{"given":"Mark","family":"Schildhauer","sequence":"additional","affiliation":[]}],"member":"311","reference":[{"issue":"3","key":"i0012-9623-90-2-205-b1","first-page":"158","volume":"86","author":"Fegraus
        E.","year":"2005","journal-title":"ESA Bulletin"}],"container-title":"Bulletin
        of the Ecological Society of America","original-title":[],"language":"en","link":[{"URL":"https:\/\/api.wiley.com\/onlinelibrary\/tdm\/v1\/articles\/10.1890%2F0012-9623-90.2.205","content-type":"unspecified","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/onlinelibrary.wiley.com\/doi\/full\/10.1890\/0012-9623-90.2.205","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2018,8,5]],"date-time":"2018-08-05T05:29:06Z","timestamp":1533446946000},"score":1,"resource":{"primary":{"URL":"http:\/\/doi.wiley.com\/10.1890\/0012-9623-90.2.205"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2009,4]]},"references-count":1,"journal-issue":{"issue":"2","published-print":{"date-parts":[[2009,4]]}},"alternative-id":["10.1890\/0012-9623-90.2.205"],"URL":"http:\/\/dx.doi.org\/10.1890\/0012-9623-90.2.205","relation":{},"ISSN":["0012-9623"],"subject":["General
        Medicine"],"container-title-short":"Bulletin of the Ecological Society of
        America","published":{"date-parts":[[2009,4]]}}'
  recorded_at: Thu, 05 Oct 2023 20:43:39 GMT
- request:
    method: get
    uri: http://doi.org/10.1002/bult.134
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://doi.org/10.1002/bult.134
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 05 Oct 2023 20:43:39 GMT
- request:
    method: get
    uri: https://doi.org/10.1002/bult.134
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://api.crossref.org/v1/works/10.1002%2Fbult.134/transform
    body:
      encoding: UTF-8
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="https://api.crossref.org/v1/works/10.1002%2Fbult.134/transform">https://api.crossref.org/v1/works/10.1002%2Fbult.134/transform</a></body></html>
  recorded_at: Thu, 05 Oct 2023 20:43:40 GMT
- request:
    method: get
    uri: https://api.crossref.org/v1/works/10.1002%2Fbult.134/transform
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json
      Link:
      - <http://dx.doi.org/10.1002/bult.134>; rel="canonical", <https://api.wiley.com/onlinelibrary/tdm/v1/articles/10.1002%2Fbult.134>;
        version="vor"; rel="item", <https://on[...]
- request:
    method: get
    uri: http://doi.org/10.1890/120103
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://doi.org/10.1890/120103
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 05 Oct 2023 20:43:40 GMT
- request:
    method: get
    uri: https://doi.org/10.1890/120103
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://api.crossref.org/v1/works/10.1890%2F120103/transform
    body:
      encoding: UTF-8
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="https://api.crossref.org/v1/works/10.1890%2F120103/transform">https://api.crossref.org/v1/works/10.1890%2F120103/transform</a></body></html>
  recorded_at: Thu, 05 Oct 2023 20:43:41 GMT
- request:
    method: get
    uri: https://api.crossref.org/v1/works/10.1890%2F120103/transform
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json
      Link:
      - <http://dx.doi.org/10.1890/120103>; rel="canonical", <https://api.wiley.com/onlinelibrary/tdm/v1/articles/10.1890%2F120103>;
        version="vor"; rel="item", <http://doi.wiley[...]
- request:
    method: get
    uri: http://doi.org/10.1146/annurev.ecolsys.37.091305.110031
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://doi.org/10.1146/annurev.ecolsys.37.091305.110031
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 05 Oct 2023 20:43:41 GMT
- request:
    method: get
    uri: https://doi.org/10.1146/annurev.ecolsys.37.091305.110031
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://api.crossref.org/v1/works/10.1146%2Fannurev.ecolsys.37.091305.110031/transform
    body:
      encoding: UTF-8
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="https://api.crossref.org/v1/works/10.1146%2Fannurev.ecolsys.37.091305.110031/transform">https://api.crossref.org/v1/works/10.1146%2Fannurev.ecolsys.37.091305.110031/transform</a></body></html>
  recorded_at: Thu, 05 Oct 2023 20:43:41 GMT
- request:
    method: get
    uri: https://api.crossref.org/v1/works/10.1146%2Fannurev.ecolsys.37.091305.110031/transform
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json
      Link:
      - <http://dx.doi.org/10.1146/annurev.ecolsys.37.091305.110031>; rel="canonical",
        <https://www.annualreviews.org/doi/pdf/10.1146/annurev.ecolsys.37.091305.110031>;
        version="vor"; rel="item"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"indexed":{"date-parts":[[2023,10,5]],"date-time":"2023-10-05T00:05:51Z","timestamp":1696464351927},"reference-count":94,"publisher":"Annual
        Reviews","issue":"1","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2006,12,1]]},"abstract":"<jats:p>Bioinformatics,
        the application of computational tools to the management and analysis of biological
        data, has stimulated rapid research advances in genomics through the development
        of data archives such as GenBank, and similar progress is just beginning within
        ecology. One reason for the belated adoption of informatics approaches in
        ecology is the breadth of ecologically pertinent data (from genes to the biosphere)
        and its highly heterogeneous natu[...]
- request:
    method: get
    uri: http://doi.org/10.1002/aris.2011.1440450113
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://doi.org/10.1002/aris.2011.1440450113
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 05 Oct 2023 20:43:42 GMT
- request:
    method: get
    uri: https://doi.org/10.1002/aris.2011.1440450113
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://api.crossref.org/v1/works/10.1002%2Faris.2011.1440450113/transform
    body:
      encoding: UTF-8
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="https://api.crossref.org/v1/works/10.1002%2Faris.2011.1440450113/transform">https://api.crossref.org/v1/works/10.1002%2Faris.2011.1440450113/transform</a></body></html>
  recorded_at: Thu, 05 Oct 2023 20:43:42 GMT
- request:
    method: get
    uri: https://api.crossref.org/v1/works/10.1002%2Faris.2011.1440450113/transform
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json
      Link:
      - <http://dx.doi.org/10.1002/aris.2011.1440450113>; rel="canonical", <https://api.wiley.com/onlinelibrary/tdm/v1/articles/10.1002%2Faris.2011.1440450113>;
        ve[...]
- request:
    method: get
    uri: http://doi.org/10.1890/1051-0761(1997)007%5B0330:nmftes%5D2.0.co
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://doi.org/10.1890/1051-0761(1997)007%5B0330:nmftes%5D2.0.co
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 05 Oct 2023 20:43:43 GMT
- request:
    method: get
    uri: https://doi.org/10.1890/1051-0761(1997)007%5B0330:nmftes%5D2.0.co
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html lang=\"en-us\">\n<head>\n\n    <meta charset=\"UTF-8\">\n
        \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n
        \   <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <title>Error:
        DOI Not Found</title>\n\n\n\n    <link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css\"\n
        \         rel=\"stylesheet\"\n          integrity=\"sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC\"\n
        \         crossorigin=\"anonymous\">\n    <script\n            src=\"https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js\"\n
        \           integrity=\"sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM\"\n
        \           crossorigin=\"anonymous\">\n    </script>\n\n    <script src=\"https://kit.fontawesome.com/731b8140c4.js\"
        crossorigin=\"anonymous\"></script>\n\n    <link rel=\"stylesheet\" href=\"/static/css/style.css\"
        integrity=\"\">\n\n    <style>\n        @import url(\"https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@100&display=swap\");\n
        \   </style>\n\n    <link rel=\"icon\" sizes=\"48x48\" href=\"/static/images/favicons/favicon.ico\">\n
        \   <link rel=\"icon\" sizes=\"32x32\" href=\"/static/images/favicons/favicon-32x32.png\">\n
        \   <link rel=\"icon\" sizes=\"16x16\" href=\"/static/images/favicons/favicon-16x16.png\">\n
        \   <link rel=\"apple-touch-icon-precomposed\" href=\"/static/images/favicons/apple-touch-icon.png\">\n
        \   <link rel=\"apple-touch-icon-precomposed\" sizes=\"192x192\" href=\"/static/images/favicons/android-chrome-192x192.png\">\n
        \   <link rel=\"apple-touch-icon-precomposed\" sizes=\"512x512\" href=\"/static/images/favicons/android-chrome-512x512.png\">\n\n</head>\n<body
        class=\"generic-page\">\n<header>\n    <div class=\"row\">\n        <div class=\"col
        logo\">\n            <a href=\"https://www.doi.org\"><img class=\"header-logo\"
        src=\"/static/images/logos/header_logo_cropped.svg\" /></a>\n        </div>\n
        \       <div class=\"col home-link\">\n            <div class=\"link-alt\">\n
        \               <a href=\"https://www.doi.org\">\n                    <span>VISIT
        DOI.ORG</span>\n                    <i class=\"fa-solid fa-arrow-right-long
        hover-move-right\"></i>\n                </a>\n            </div>\n        </div>\n
        \   </div>\n\n</header>\n\n\n<main aria-role=\"main\">\n    <header class=\"homepage-header\">\n
        \   </header>\n    <div class=\"homepage-content\">\n\n        <section class=\"single-top\">\n
        \           <div class=\"row short\"></div>\n        </section>\n\n        <div
        class=\"page-content\">\n            <article>\n                <div>\n                    <h2>DOI
        Not Found</h2>\n\n                    \n\n                    <h3>10.1890/1051-0761(1997)007[0330:nmftes]2.0.co</h3>\n\n
        \                   \n                    \n                    \n                    <p>This
        DOI cannot be found in the DOI System.  Possible reasons are:</p>\n                    \n\n
        \                   <ul>\n                        <li style=\"padding-bottom:
        .5em;\">The DOI is incorrect in your source. Search for the item by name,
        title, or other metadata using a search engine.</li>\n                        <li
        style=\"padding-bottom: .5em;\">The DOI was copied incorrectly. Check to see
        that the string includes all the characters before and after the slash and
        no sentence punctuation marks.</li>\n                        <li style=\"padding-bottom:
        .5em;\">The DOI has not been activated yet. Please try again later, and report
        the problem if the error continues.</li>\n                    </ul>\n                    \n
        \                   \n                </div>\n            </article>\n        </div>\n\n
        \       <section class=\"home-infos\">\n            <div class=\"row\">\n
        \               <div class=\"col \">\n                    <h2 class=\"title\">WHAT
        CAN I DO NEXT?</h2>\n                    <ul>\n                        <li>If
        you believe this DOI is valid, you may <strong>report this error</strong>
        to the responsible DOI Registration Agency using the form here.</li>\n                        <li>You
        can try to search again from <a href=\"https://www.doi.org\">DOI.ORG homepage</a></li>\n
        \                   </ul>\n                </div>\n                <div class=\"col
        form\">\n                    <h2 class=\"title\"><img src=\"/static/images/exclamation.svg\">REPORT
        AN ERROR</h2>\n                    <form action=\"/notfound\" method=\"post\"
        enctype=\"application/x-www-form-urlencoded\" name=\"notFoundForm\" onsubmit=\"return
        submitDoiNotFound(event);\">\n                        <div class=\"row\">\n
        \                           <div class=\"col\"><label for=\"missingHandle\">DOI:</label></div>\n
        \                           <div class=\"col\"><input id=\"missingHandle\"
        name=\"missingHandle\" value=\"10.1890/1051-0761(1997)007[0330:nmftes]2.0.co\"
        type=\"text\" readonly=\"readonly\"></div>\n                        </div>\n
        \                       <div class=\"row\">\n                            <div
        class=\"col\"><label for=\"referringPage\">URL of Web Page Listing the DOI:</label></div>\n
        \                           <div class=\"col\"><input id=\"referringPage\"
        name=\"referringPage\" type=\"text\" ></div>\n                        </div>\n
        \                       <div class=\"row\">\n                            <div
        class=\"col\"><label for=\"userEmailAddress\">Your Email Address:</label></div>\n
        \                           <div class=\"col\"><input id=\"userEmailAddress\"
        name=\"userEmailAddress\" type=\"text\" /></div>\n                        </div>\n
        \                       <div class=\"row\">\n                            <div
        class=\"col\"><label for=\"comments\">Additional Information About the Error:</label></div>\n
        \                           <div class=\"col\"><textarea id=\"comments\" name=\"comments\"></textarea></div>\n
        \                       </div>\n                        <div class=\"row\">\n
        \                           <div class=\"col\"></div>\n                            <div
        class=\"col\"><input class=\"submit\" type=\"submit\" value=\"Submit Error
        Report\"></div>\n                        </div>\n                        <div
        class=\"row\">\n                            <p id=\"invalidDoi\" style=\"display:
        none; background:#F5B7B1; border-radius: 5px;\">The DOI entered is not a valid
        DOI: it should start with 10 followed by a dot, and contain a slash with no
        preceding whitespace.</p>\n                            <p id=\"invalidEmail\"
        style=\"display: none; background:#F5B7B1; border-radius: 5px;\">The email
        address entered is invalid.</p>\n                            <p id=\"fallback\"
        style=\"display: none;\">Please <a href=\"mailto:doi-help@doi.org?subject=DOI%20Not%20Found\">contact
        us</a> if you wish to report this anyway.</p>\n                        </div>\n
        \                   </form>\n                </div>\n            </div>\n\n
        \       </section>\n    </div>\n    \n    \n</main>\n\n<footer>\n    <div
        class=\"row\">\n        <div class=\"col footer-left\">\n            <a href=\"https://www.doi.org\"><img
        class=\"footer-logo\" src=\"/static/images/logos/footer_logo_cropped.svg\"
        /></a>\n        </div>\n        <div class=\"col footer-right\">\n            <div
        class=\"row more-info-heading\">\n                <div class=\"col\">\n                    <h2>More
        information on DOI resolution:</h2>\n                </div>\n            </div>\n
   [...]
- request:
    method: get
    uri: http://doi.org/10.1890/1051-0761(1997)007
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://doi.org/10.1890/1051-0761(1997)007
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 05 Oct 2023 20:43:44 GMT
- request:
    method: get
    uri: https://doi.org/10.1890/1051-0761(1997)007
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html lang=\"en-us\">\n<head>\n\n    <meta charset=\"UTF-8\">\n
        \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n
        \[...]
- request:
    method: head
    uri: http://esa.org/ecovisions/ppfiles/ecologicalvisionsreport.pdf
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      X-Sucuri-Id:
      - '19003'
      Location:
      - https://esa.org/ecovisions/ppfiles/ecologicalvisionsreport.pdf
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 05 Oct 2023 20:43:44 GMT
- request:
    method: get
    uri: http://doi.org/10.1016/j.tree.2005.04.023
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://doi.org/10.1016/j.tree.2005.04.023
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 05 Oct 2023 20:43:44 GMT
- request:
    method: get
    uri: https://doi.org/10.1016/j.tree.2005.04.023
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://api.crossref.org/v1/works/10.1016%2Fj.tree.2005.04.023/transform
      Link:
      - "<https://dul.usage.elsevier.com/doi/>; rel=dul"
    body:
      encoding: UTF-8
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="https://api.crossref.org/v1/works/10.1016%2Fj.tree.2005.04.023/transform">https://api.crossref.org/v1/works/10.1016%2Fj.tree.2005.04.023/transform</a></body></html>
  recorded_at: Thu, 05 Oct 2023 20:43:44 GMT
- request:
    method: get
    uri: https://api.crossref.org/v1/works/10.1016%2Fj.tree.2005.04.023/transform
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json
      Link:
      - <http://dx.doi.org/10.1016/j.tree.2005.04.023>; rel="canonical", <https://api.elsevier.com/content/article/PII:S0169534705001308?httpAccept=text/xml>;
        versio[...]
- request:
    method: get
    uri: http://doi.org/10.1371/journal.pone.0035087
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://doi.org/10.1371/journal.pone.0035087
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 05 Oct 2023 20:43:45 GMT
- request:
    method: get
    uri: https://doi.org/10.1371/journal.pone.0035087
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://api.crossref.org/v1/works/10.1371%2Fjournal.pone.0035087/transform
    body:
      encoding: UTF-8
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="https://api.crossref.org/v1/works/10.1371%2Fjournal.pone.0035087/transform">https://api.crossref.org/v1/works/10.1371%2Fjournal.pone.0035087/transform</a></body></html>
  recorded_at: Thu, 05 Oct 2023 20:43:45 GMT
- request:
    method: get
    uri: https://api.crossref.org/v1/works/10.1371%2Fjournal.pone.0035087/transform
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json
      Link:
      - <http://dx.doi.org/10.1371/journal.pone.0035087>; rel="canonical", <http://dx.plos.org/10.1371/journal.pone.0035087>;
        version="vor"; rel="item", <http://creativecommons.org/licenses/by/4.0/>;
        rel="license"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
[...]
