---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/c3095752-2af0-40a4-a229-3ceb7424bce2
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"pkkw16ms8919y"'
      X-Matched-Path:
      - "/api/posts/[[...params]]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::q9hc8-1689023092238-8f72026f2bf3
    body:
      encoding: UTF-8
      string: '{"id":"c3095752-2af0-40a4-a229-3ceb7424bce2","doi":"https://doi.org/10.59350/kj95y-gp867","url":"https://www.ideasurg.pub/residency-visual-abstract","title":"The
        Residency Visual Abstract","summary":"My prototype for a Residency Visual
        AbstractThis tool represents my own ideas and is not currently in use or endorsed
        by any institution.Medical students applying to residency often have to grapple
        with an incredible amount of information when evaluating prospective training
        programs. The increased number of applications and interviews inherent to
        the Zoom era further exacerbates this issue. At the same time, programs need
        to find ways to communicate a great deal of information to applicants....","published_at":1680982354,"updated_at":1680982354,"indexed_at":1688982864,"authors":[{"url":null,"name":"Tejas
        S. Sathe, MD"}],"image":null,"tags":[],"language":"en","reference":[],"blog_id":"3cxcm20","blog_name":"I.D.E.A.S.","blog":{"id":"3cxcm20","title":"I.D.E.A.S.","description":"Innovation
        and Design Experiments in Academic Surgery (I.D.E.A.S.)","language":"en","favicon":"https://www.ideasurg.pub/favicon.png","feed_url":"https://www.ideasurg.pub/rss/","home_page_url":"https://www.ideasurg.pub/","user_id":"8498eaf6-8c58-4b58-bc15-27eda292b1aa","created_at":"2023-05-31T13:44:29+00:00","indexed_at":"2023-01-04","feed_format":"application/rss+xml","license":"https://creativecommons.org/licenses/by/4.0/legalcode","generator":"Ghost
        5.53","category":"Medical and Health Sciences","prefix":"10.59350","modified_at":"2023-06-03T04:54:30+00:00","version":"https://jsonfeed.org/version/1.1","backlog":false,"current_feed_url":null,"expired":null}}'
  recorded_at: Mon, 10 Jul 2023 21:04:52 GMT
recorded_with: VCR 6.2.0
