---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/5bb66e92-5cb9-4659-8aca-20e486b695c9
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"de3a467vbp1j8"'
      X-Matched-Path:
      - "/api/posts/[[...params]]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::g8hwc-1689023089548-ad26f56478e1
    body:
      encoding: UTF-8
      string: '{"id":"5bb66e92-5cb9-4659-8aca-20e486b695c9","doi":"https://doi.org/10.53731/4nwxn-frt36","url":"https://blog.front-matter.io/posts/does-it-compose","title":"Does
        it compose?","summary":"One question I have increasingly asked myself in the
        past few years. Meaning Can I run this open source software using Docker containers
        and a Docker Compose file?As the Docker project turned ten this spring, it
        has become standard practice to distribute open source software via Docker
        images and to provide a Docker Compose file to run the software together with
        other dependencies. The Awesome Compose project has collected many examples,
        and all you need is a docker-compose.ymlfile and a...","published_at":1684237016,"updated_at":1687084066,"indexed_at":1689007007,"authors":[{"url":"https://orcid.org/0000-0003-1419-2405","name":"Martin
        Fenner"}],"image":"https://images.unsplash.com/photo-1523351964962-1ee5847816c3?crop&#x3D;entropy&cs&#x3D;tinysrgb&fit&#x3D;max&fm&#x3D;jpg&ixid&#x3D;M3wxMTc3M3wwfDF8c2VhcmNofDUzfHxjb250YWluZXJ8ZW58MHx8fHwxNjg0MjMyMTQ0fDA&ixlib&#x3D;rb-4.0.3&q&#x3D;80&w&#x3D;2000","tags":["News"],"language":"en","reference":[],"blog_id":"f0m0e38","blog_name":"Front
        Matter","blog":{"id":"f0m0e38","title":"Front Matter","description":"The Front
        Matter Blog covers the intersection of science and technology since 2007.","language":"en","favicon":"https://blog.front-matter.io/favicon.png","feed_url":"https://blog.front-matter.io/atom-complete/","home_page_url":"https://blog.front-matter.io","user_id":"8498eaf6-8c58-4b58-bc15-27eda292b1aa","created_at":"2023-05-31T07:20:33+00:00","indexed_at":"2023-01-02","feed_format":"application/atom+xml","license":"https://creativecommons.org/licenses/by/4.0/legalcode","generator":"Ghost
        5.52","category":"Engineering and Technology","prefix":"10.53731","modified_at":"2023-07-05T19:22:17+00:00","version":"https://jsonfeed.org/version/1.1","backlog":false,"current_feed_url":"https://blog.front-matter.io/atom/","expired":null}}'
  recorded_at: Mon, 10 Jul 2023 21:04:49 GMT
recorded_with: VCR 6.2.0
