---
http_interactions:
- request:
    method: get
    uri: https://api.rogue-scholar.org/posts/153d65e1-f0e4-49a6-a969-33d2129800ba
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Fly-Request-Id:
      - 01HC0RYXVMTAF2CNZFHMPVJSA7-fra
    body:
      encoding: UTF-8
      string: '{"archive_url":null,"authors":[{"name":"Tejas S. Sathe","url":"https://orcid.org/0000-0003-0449-4469"}],"blog":{"api":true,"archive_prefix":null,"authors":null,"backlog":0,"canonical_url":null,"category":"clinicalMedicine","created_at":"2023-01-04","current_feed_url":null,"description":"Innovation
        and Design Experiments in Academic Surgery (I.D.E.A.S.)","favicon":"https://www.ideasurg.pub/favicon.png","feed_format":"application/rss+xml","feed_url":"https://www.ideasurg.pub/rss/","filter":null,"funding":null,"generator":"Ghost
        5.66","home_page_url":"https://www.ideasurg.pub","id":"3cxcm20","issn":"2993-1150","language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","modified_at":"2023-07-29T22:28:28+00:00","plan":"Starter","prefix":"10.59350","relative_url":null,"slug":"ideas","status":"active","title":"I.D.E.A.S.","use_api":null,"use_mastodon":false,"user_id":"4cecb4b8-58b5-49fe-9edb-6af638294ef5","version":"https://jsonfeed.org/version/1.1"},"blog_name":"I.D.E.A.S.","blog_slug":"ideas","doi":"https://doi.org/10.59350/ytvy2-59450","id":"153d65e1-f0e4-49a6-a969-33d2129800ba","image":"https://www.ideasurg.pub/content/images/2023/06/Frame-2-1.png","indexed_at":1690923223,"language":"en","published_at":1685768070,"reference":[],"relationships":[],"summary":"Students
        and residents aspiring for a career in academic surgery are looking for training
        programs that will help jumpstart their careers by exposing them to mentorship
        and opportunities to conduct research. While the gold standard of academic
        productivity (for the time being) remains peer-reviewed publications, conference
        posters and presentations are an important secondary metric.","tags":["Preprint"],"title":"How
        to Build an Academic Powerhouse: Let''s Study Who''s Doing it","updated_at":1685768070,"url":"https://www.ideasurg.pub/academic-powerhouse"}

        '
  recorded_at: Thu, 05 Oct 2023 20:37:41 GMT
recorded_with: VCR 6.2.0
