---
http_interactions:
- request:
    method: get
    uri: https://api.rogue-scholar.org/posts/5bb66e92-5cb9-4659-8aca-20e486b695c9
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Fly-Request-Id:
      - 01HC0RYXJJJG4F8TB6AH8M07ZR-fra
    body:
      encoding: UTF-8
      string: '{"archive_url":null,"authors":[{"name":"Martin Fenner","url":"https://orcid.org/0000-0003-1419-2405"}],"blog":{"api":true,"archive_prefix":null,"authors":null,"backlog":0,"canonical_url":null,"category":"computerAndInformationSciences","created_at":"2023-01-02","current_feed_url":"https://blog.front-matter.io/atom/","description":"The
        Front Matter Blog covers the intersection of science and technology since
        2007.","favicon":"https://blog.front-matter.io/favicon.png","feed_format":"application/atom+xml","feed_url":"https://blog.front-matter.io/atom-complete/","filter":null,"funding":null,"generator":"Ghost
        5.52","home_page_url":"https://blog.front-matter.io","id":"f0m0e38","issn":"2749-9952","language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","modified_at":"2023-10-04T10:36:32+00:00","plan":"Team","prefix":"10.53731","relative_url":null,"slug":"front_matter","status":"active","title":"Front
        Matter","use_api":true,"use_mastodon":true,"user_id":"8498eaf6-8c58-4b58-bc15-27eda292b1aa","version":"https://jsonfeed.org/version/1.1"},"blog_name":"Front
        Matter","blog_slug":"front_matter","doi":"https://doi.org/10.53731/4nwxn-frt36","id":"5bb66e92-5cb9-4659-8aca-20e486b695c9","image":"https://images.unsplash.com/photo-1523351964962-1ee5847816c3?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wxMTc3M3wwfDF8c2VhcmNofDUzfHxjb250YWluZXJ8ZW58MHx8fHwxNjg0MjMyMTQ0fDA&ixlib=rb-4.0.3&q=80&w=2000","indexed_at":1689007007,"language":"en","published_at":1684237016,"reference":[],"relationships":[],"summary":"One
        question I have increasingly asked myself in the past few years. Meaning Can
        I run this open source software \u00a0using Docker containers and a Docker
        Compose file? As the Docker project turned ten this spring, it has become
        standard practice to distribute open source software via Docker images and
        to provide a Docker Compose file to run the software together with other dependencies.","tags":["News"],"title":"Does
        it compose?","updated_at":1687084066,"url":"https://blog.front-matter.io/posts/does-it-compose"}

        '
  recorded_at: Thu, 05 Oct 2023 20:37:41 GMT
recorded_with: VCR 6.2.0
