---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/5561f8e4-2ff1-4186-a8d5-8dacb3afe414
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"10p8jql4uqx1ai"'
      X-Matched-Path:
      - "/api/posts/[[...params]]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::tkv5t-1689023087319-da88ab8eb283
    body:
      encoding: UTF-8
      string: '{"id":"5561f8e4-2ff1-4186-a8d5-8dacb3afe414","doi":"https://doi.org/10.59350/2shz7-ehx26","url":"https://libscie.org/ku-leuven-supports-researchequals","title":"KU
        Leuven supports ResearchEquals","summary":"KU Leuven is now an inaugural supporting
        member of ResearchEquals, sustaining and governing the development of modular
        publishing.As part of their commitment to Open Science, KU Leuven supports
        sustainable implementations of Open Access and Open Science through the KU
        Leuven Fund for Fair OA. The fund is usually only available to non-profits,
        but ResearchEquals’ governance convinced KU Leuven to support a for-profit
        initiative.“We don’t want to be too rigid in our approach...","published_at":1683614606,"updated_at":1683614606,"indexed_at":1689006804,"authors":[{"url":"https://ror.org/0342dzm54","name":"Liberate
        Science"}],"image":"https://libscie.org/content/images/2023/04/thank-you-1-.jpg","tags":["ResearchEquals"],"language":"en","reference":[],"blog_id":"h49ct36","blog_name":"Liberate
        Science","blog":{"id":"h49ct36","title":"Liberate Science","description":"Research
        as a commons","language":"en","favicon":"https://libscie.org/favicon.png","feed_url":"https://libscie.org/rss/","home_page_url":"https://libscie.org/","user_id":"8498eaf6-8c58-4b58-bc15-27eda292b1aa","created_at":"2023-05-31T14:08:03+00:00","indexed_at":"2023-01-04","feed_format":"application/rss+xml","license":"https://creativecommons.org/licenses/by/4.0/legalcode","generator":"Ghost
        5.49","category":"Social Sciences","prefix":"10.59350","modified_at":"2023-07-04T06:30:20+00:00","version":"https://jsonfeed.org/version/1.1","backlog":true,"current_feed_url":null,"expired":null}}'
  recorded_at: Mon, 10 Jul 2023 21:04:47 GMT
recorded_with: VCR 6.2.0
