---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/5561f8e4-2ff1-4186-a8d5-8dacb3afe414
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"o1gypfhay03hb"'
      X-Matched-Path:
      - "/api/posts/[[...params]]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::6rbj8-1694010279894-622b2a82ede7
    body:
      encoding: UTF-8
      string: '{"id":"5561f8e4-2ff1-4186-a8d5-8dacb3afe414","doi":"https://doi.org/10.59350/2shz7-ehx26","url":"https://libscie.org/ku-leuven-supports-researchequals","title":"KU
        Leuven supports ResearchEquals","summary":"KU Leuven is now an inaugural supporting
        member of ResearchEquals, sustaining and governing the development of modular
        publishing. As part of their commitment to Open Science, KU Leuven supports
        sustainable implementations of Open Access and Open Science through the KU
        Leuven Fund for Fair OA. The fund is usually only available to non-profits,
        but ResearchEquals’ governance convinced KU Leuven to support a for-profit
        initiative.","content_html":"<img src=\"https://libscie.org/content/images/2023/04/thank-you-1-.jpg\"
        alt=\"KU Leuven supports ResearchEquals\" /><p>KU Leuven is now an inaugural
        supporting member of ResearchEquals, sustaining and governing the development
        of modular publishing.</p><p>As part of their commitment to Open Science,
        KU Leuven supports sustainable implementations of Open Access and Open Science
        through the <a href=\"https://www.kuleuven.be/open-science/what-is-open-science/scho[...]
