---
http_interactions:
- request:
    method: get
    uri: https://api.rogue-scholar.org/posts/c3095752-2af0-40a4-a229-3ceb7424bce2
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Fly-Request-Id:
      - 01HC0RYXA2R7WAN6KKXY161JBK-fra
    body:
      encoding: UTF-8
      string: '{"archive_url":null,"authors":[{"name":"Tejas S. Sathe","url":"https://orcid.org/0000-0003-0449-4469"}],"blog":{"api":true,"archive_prefix":null,"authors":null,"backlog":0,"canonical_url":null,"category":"clinicalMedicine","created_at":"2023-01-04","current_feed_url":null,"description":"Innovation
        and Design Experiments in Academic Surgery (I.D.E.A.S.)","favicon":"https://www.ideasurg.pub/favicon.png","feed_format":"application/rss+xml","feed_url":"https://www.ideasurg.pub/rss/","filter":null,"funding":null,"generator":"Ghost
        5.66","home_page_url":"https://www.ideasurg.pub","id":"3cxcm20","issn":"2993-1150","language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","modified_at":"2023-07-29T22:28:28+00:00","plan":"Starter","prefix":"10.59350","relative_url":null,"slug":"ideas","status":"active","title":"I.D.E.A.S.","use_api":null,"use_mastodon":false,"user_id":"4cecb4b8-58b5-49fe-9edb-6af638294ef5","version":"https://jsonfeed.org/version/1.1"},"blog_name":"I.D.E.A.S.","blog_slug":"ideas","doi":"https://doi.org/10.59350/kj95y-gp867","id":"c3095752-2af0-40a4-a229-3ceb7424bce2","image":"https://www.ideasurg.pub/content/images/2023/04/Residency-Scorecard-Light-Mode--7-.png","indexed_at":1690924548,"language":"en","published_at":1680982354,"reference":[],"relationships":[],"summary":"My
        prototype for a Residency Visual AbstractThis tool represents my own ideas
        and is not currently in use or endorsed by any institution. Medical students
        applying to residency often have to grapple with an incredible amount of information
        when evaluating prospective training programs. The increased number of applications
        and interviews inherent to the Zoom era further exacerbates this issue.","tags":[],"title":"The
        Residency Visual Abstract","updated_at":1680982354,"url":"https://www.ideasurg.pub/residency-visual-abstract"}

        '
  recorded_at: Thu, 05 Oct 2023 20:37:40 GMT
recorded_with: VCR 6.2.0
