---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/6179ad80-cc7f-4904-9260-0ecb3c3a90ba
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"wzh4e4jhaxbem"'
      X-Matched-Path:
      - "/api/posts/[slug]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::r4svw-1687101833448-3467c5c4b7d4
    body:
      encoding: UTF-8
      string: '{"id":"https://doi.org/10.59350/ytvy2-59450","uuid":"6179ad80-cc7f-4904-9260-0ecb3c3a90ba","url":"https://www.ideasurg.pub/academic-powerhouse/","title":"How
        to Build an Academic Powerhouse: Let''s Study Who''s Doing it","summary":"A
        Data Exploration with Public Data from the Academic Surgical Congress","date_published":"2023-06-03T04:54:30Z","date_modified":null,"date_indexed":"2023-06-16T14:13:56.969774+00:00","authors":[{"url":null,"name":"Tejas
        S. Sathe, MD"}],"image":null,"content_html":"<p>Students and residents aspiring
        for a career in academic surgery are looking for training programs that will
        help jumpstart their careers by exposing them to mentorship and opportunities
        to conduct research. While the gold standard of academic productivity (for
        the time being) remains peer-reviewed publications, conference presentations
        are an important secondary metric. In addition to feeding eventual papers,
        conference talks allow trainees to[...]
