---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/5bb66e92-5cb9-4659-8aca-20e486b695c9
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e4xv56uae15vj"'
      X-Matched-Path:
      - "/api/posts/[[...params]]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::rkc42-1694010433881-0eb2a903600a
    body:
      encoding: UTF-8
      string: '{"id":"5bb66e92-5cb9-4659-8aca-20e486b695c9","doi":"https://doi.org/10.53731/4nwxn-frt36","url":"https://blog.front-matter.io/posts/does-it-compose","title":"Does
        it compose?","summary":"One question I have increasingly asked myself in the
        past few years. Meaning Can I run this open source software  using Docker
        containers and a Docker Compose file? As the Docker project turned ten this
        spring, it has become standard practice to distribute open source software
        via Docker images and to provide a Docker Compose file to run the software
        together with other dependencies.","content_html":" <p><img src=\"https://images.unsplash.com/photo-1523351964962-1ee5847816c3?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3wxMTc3M3wwfDF8c2VhcmNofDUzfHxjb250YWluZXJ8ZW58MHx8fHwxNjg0MjMyMTQ0fDA&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=2000\"
        /></p><p>One question I have increasingly asked myself in the past few years.
        Meaning </p><blockquote>Can I run this open source software  using Docker
        containers and a Docker Compose file?</blockquote><p>As the Docker project
        <a href=\"https://snyk.io/blog/the-docker-project-turns-10/\">turned ten this
        spring</a>, it has become standard practice to distribute open source software
        via Docker images and to provide a <a href=\"https://docs.docker.com/compose/\">Docker
        Compose</a> file to run the software together with other dependencies. The
        <a href=[...]
