---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/153d65e1-f0e4-49a6-a969-33d2129800ba
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"16sa8t9t6dbclv"'
      X-Matched-Path:
      - "/api/posts/[[...params]]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::9zbq2-1694010444502-66b984de748a
    body:
      encoding: UTF-8
      string: '{"id":"153d65e1-f0e4-49a6-a969-33d2129800ba","doi":"https://doi.org/10.59350/ytvy2-59450","url":"https://www.ideasurg.pub/academic-powerhouse","title":"How
        to Build an Academic Powerhouse: Let''s Study Who''s Doing it","summary":"Students
        and residents aspiring for a career in academic surgery are looking for training
        programs that will help jumpstart their careers by exposing them to mentorship
        and opportunities to conduct research. While the gold standard of academic
        productivity (for the time being) remains peer-reviewed publications, conference
        posters and presentations are an important secondary metric.","content_html":"<p>Students
        and residents aspiring for a career in academic surgery are looking for training
        programs that will help jumpstart their careers by exposing them to mentorship
        and opportunities to conduct research. While the gold standard of academic
        productivity (for the time being) remains peer-reviewed publications, conference
        posters and presentations are an important secondary metric. In addition to
        feeding eventual papers, conference talks allow[...]
