---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/2b3cdd27-5123-4167-9482-3c074392e2d2
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"rlwl6qviqb1bu"'
      X-Matched-Path:
      - "/api/posts/[[...params]]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::h8hbv-1689023092969-0c0ff4bb4099
    body:
      encoding: UTF-8
      string: '{"id":"2b3cdd27-5123-4167-9482-3c074392e2d2","doi":"https://doi.org/10.59350/tfahc-rp566","url":"https://blog.oa.works/nature-features-oa-reports-work-putting-oa-policy-into-practice","title":"Nature
        features OA.Report''s work putting OA policy into practice!","summary":"After
        a couple of years of working to support institutions implementing their OA
        policies, we''re so proud to see OA.Report, our development partner, and one
        of our collaborators featured in Nature. We appreciate Nature bringing attention
        to the progress being made in more effectively implementing OA policies.Read
        the full story on Nature''s website.Screenshot of the story on the Nature
        websiteFind out more about how OA.Report can help your organization on our
        website or in our recent...","published_at":1674558707,"updated_at":1674558707,"indexed_at":1688982864,"authors":[{"url":null,"name":"OA.Works"}],"image":"https://blog.oa.works/content/images/2023/01/nature-website-v2.png","tags":["OA.Report"],"language":"en","reference":[],"blog_id":"h7bpg11","blog_name":"OA.Works
        Blog","blog":{"id":"h7bpg11","title":"OA.Works Blog","description":"OA.Works
        Blog","language":"en","favicon":"https://blog.oa.works/favicon.png","feed_url":"https://blog.oa.works/rss/","home_page_url":"https://blog.oa.works/","user_id":"8498eaf6-8c58-4b58-bc15-27eda292b1aa","created_at":"2023-05-31T14:11:14+00:00","indexed_at":"2023-01-04","feed_format":"application/rss+xml","license":"https://creativecommons.org/licenses/by/4.0/legalcode","generator":"Ghost
        5.53","category":"Engineering and Technology","prefix":"10.59350","modified_at":"2023-07-03T15:34:01+00:00","version":"https://jsonfeed.org/version/1.1","backlog":true,"current_feed_url":null,"expired":null}}'
  recorded_at: Mon, 10 Jul 2023 21:04:53 GMT
recorded_with: VCR 6.2.0
