---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/efdacb04-bcec-49d7-b689-ab3eab0634bf
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"139wt2n3zw43d9"'
      X-Matched-Path:
      - "/api/posts/[[...params]]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::ddxbj-1694010278585-063d4d41a9e8
    body:
      encoding: UTF-8
      string: '{"id":"efdacb04-bcec-49d7-b689-ab3eab0634bf","doi":"https://doi.org/10.59350/zwdq7-waa43","url":"https://citationstyles.org/2020/07/11/seeking-public-comment-on-CSL-1-0-2","title":"Seeking
        Public Comment on CSL 1.0.2 Release","summary":"Over the past few months,
        Citation Style Language developers have worked to address a backlog of feature
        requests. This work will be reflected in two upcoming releases. The first
        of these, 1.0.2, is slated for release shortly. Its focus is on easy to implement,
        non-controversial additions, principally new item types, fields, and terms.","content_html":"<p>Over
        the past few months, Citation Style Language developers have worked to address
        a backlog of feature requests. This work will be reflected in two upcoming
        releases. The first of these, 1.0.2, is slated for release shortly. Its focus
        is on easy to implement, non-controversial additions, principally new item
        types, fields, and terms. We’re seeking public comment on the planned released
        from now until <strong>July 26, 2020, 12pm EDT</strong>.</p>\n\n<p>A non-technical
        summary of the release can be found in a <a href=\"https://docs.google.com/document/d/1wY1cOOamDYYh8VNW7h_uleqieBDGOa_LYsRiVdQy1RI/edit#heading=h.wsywjzy5t4j6\">google
        doc here</a>. For more technical details, you can follow the development on
        the <a href=\"https://github.com/orgs/citation-style-language/projects/3\">github
        project board</a>. We welcome feedback directly on the google doc, in specific
        github issues, or on our <a href=\"https://discourse.citationstyles.org/\">forums</a>.</p>\n\n<p>Tremendous
        thanks to Bruce D’Arcus, Denis Maier, and Brenton Wiernik, who did the bulk
        of the work of organizing proposals accumulated over the last 8 years and
        preparing the release.</p>\n\n<h2>Previewing CSL 1.1</h2>\n<p>CSL 1.1, slated
        for release later this year, will include more significant extensions of CSL
        functionality. While we’ll have a separate public comment period for this
        release, we’re happy for input on the ongoing discussions on github and the
        forums. In particular, we’re eager to hear from projects implementing CSL
        styles, both in a citeproc and in user-facing applications such as reference
        managers or citation formatters.</p>\n\n<p>This release will primarily add
        the following new features:</p>\n<ul>\n  <li>Full support for narrative citation
        styles (“Like Doe (2018)”).</li>\n  <li>Ability to specify more complex conditional
        logic.</li>\n  <li>Ability to independently format subtitles and main titles.</li>\n  <li>A
        new “related” attribute to express related reviewed and original items (still
        in discussion).</li>\n  <li>Improvements to the CSL input format(s):\n    <ul>\n      <li>Adopting
        the new EDTF ISO standard, which offers full support for date ranges, seasons,
        uncertain and approximate qualifiers, and decades and centuries.</li>\n      <li>A
        new “custom” property to add extension metadata.</li>\n      <li>New related
        modelling to match the new style attribute (as above, still in discussion).</li>\n      <li>An
        official YAML representation, which can be validated with the same JSON schemas.</li>\n    </ul>\n  </li>\n</ul>","published_at":1594425600,"updated_at":1594425600,"indexed_at":1693251839,"authors":[{"url":"https://orcid.org/0000-0001-8249-7388","name":"Sebastian
        Karcher"}],"image":null,"tags":[],"language":"en","reference":[],"relationships":[],"blog_id":"prmb582","blog_name":"Citation
        Style Language","blog_slug":"csl","blog":{"id":"prmb582","title":"Citation
        Style Language","description":"CitationStyles.org, home of the Citation Style
        Language (CSL), a popular open XML-based language to describe the formatting
        of citations and bibliographies.","language":"en","favicon":"https://citationstyles.org/assets/img/csl-logo-small-inverse-150.png","feed_url":"https://citationstyles.org/feed.xml","home_page_url":"https://citationstyles.org","user_id":"9812a172-7dd2-481a-a82a-50e6ac61da06","created_at":"2023-04-25","feed_format":"application/atom+xml","license":"https://creativecommons.org/licenses/by/4.0/legalcode","generator":"Jekyll
        3.9.3","category":"computerAndInformationSciences","prefix":"10.59350","modified_at":"2020-07-11T00:00:00+00:00","version":"https://jsonfeed.org/version/1.1","current_feed_url":null,"status":"active","issn":null,"backlog":0,"authors":null,"plan":"Starter","slug":"csl","use_mastodon":false}}'
  recorded_at: Wed, 06 Sep 2023 14:24:39 GMT
recorded_with: VCR 6.2.0
