---
http_interactions:
- request:
    method: get
    uri: https://api.rogue-scholar.org/posts/efdacb04-bcec-49d7-b689-ab3eab0634bf
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Fly-Request-Id:
      - 01HC0RZ7XRY9PFPXWERH5H3H16-fra
    body:
      encoding: UTF-8
      string: '{"archive_url":null,"authors":[{"name":["Sebastian Karcher"]}],"blog":{"api":false,"archive_prefix":null,"authors":null,"backlog":0,"canonical_url":null,"category":"computerAndInformationSciences","created_at":"2023-04-25","current_feed_url":null,"description":"CitationStyles.org,
        home of the Citation Style Language (CSL), a popular open XML-based language
        to describe the formatting of citations and bibliographies.","favicon":"https://citationstyles.org/assets/img/csl-logo-small-inverse-150.png","feed_format":"application/atom+xml","feed_url":"https://citationstyles.org/feed.xml","filter":null,"funding":null,"generator":"Jekyll
        3.9.3","home_page_url":"https://citationstyles.org","id":"prmb582","issn":null,"language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","modified_at":"2020-07-11T00:00:00+00:00","plan":"Starter","prefix":"10.59350","relative_url":"blog","slug":"csl","status":"active","title":"Citation
        Style Language","use_api":null,"use_mastodon":false,"user_id":"9812a172-7dd2-481a-a82a-50e6ac61da06","version":"https://jsonfeed.org/version/1.1"},"blog_name":"Citation
        Style Language","blog_slug":"csl","doi":"https://doi.org/10.59350/zwdq7-waa43","id":"efdacb04-bcec-49d7-b689-ab3eab0634bf","image":null,"indexed_at":1693251839,"language":"en","published_at":1594425600,"reference":[],"relationships":[],"summary":"Over
        the past few months, Citation Style Language developers have worked to address
        a backlog of feature requests. This work will be reflected in two upcoming
        releases. The first of these, 1.0.2, is slated for release shortly. Its focus
        is on easy to implement, non-controversial additions, principally new item
        types, fields, and terms. We\u2019re seeking public comment on the planned
        released from now until July 26, 2020, 12pm EDT.","tags":[],"title":"Seeking
        Public Comment on CSL 1.0.2 Release","updated_at":1594425600,"url":"https://citationstyles.org/2020/07/11/seeking-public-comment-on-CSL-1-0-2"}

        '
  recorded_at: Thu, 05 Oct 2023 20:37:51 GMT
recorded_with: VCR 6.2.0
