---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/a163e340-5b3c-4736-9ab0-8c54fdff6a3c
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"hpv2dd3pyd1jt"'
      X-Matched-Path:
      - "/api/posts/[slug]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::jwz7p-1687288639219-41a872c06d7b
    body:
      encoding: UTF-8
      string: "{\"id\":\"https://doi.org/10.59350/g6bth-b6f85\",\"uuid\":\"a163e340-5b3c-4736-9ab0-8c54fdff6a3c\",\"url\":\"https://lab.sub.uni-goettingen.de/welcome.html\",\"title\":\"Welcome
        to the Lab\",\"summary\":\"Welcome everyone! This is the place to read about
        projects, resources and all the things we deal with at our work on digital
        collections, databases, APIs, tools and esoteric programming languages we
        prefer to write in. It is not meant for a single subject, but covers all topics
        we \U0001F496. So I hope you don’t mind if the next post is about one of my
        adorable cute rabbits.\",\"date_published\":\"2017-01-01T00:00:01Z\",\"date_modified\":\"2017-01-01T00:00:01Z\",\"date_indexed\":\"2023-06-20T09:15:18+00:00\",\"authors\":[{\"url\":\"https://ror.org/05745n787\",\"name\":null}],\"image\":\"https://lab.sub.uni-goettingen.de/assets/images/Bibliothek_der_UNI_Goettingen-wikiCommons-Suhaknoke.webp\",\"content_html\":\"<p>Welcome
        everyone!</p> <p>This is the place to read about projects, resources and all
        the things we deal with at our work on digital collections, databases, APIs,
        tools and esoteric programming languages we prefer to write in. It is <em>not</em>
        meant for a single subject, but covers all topics we \U0001F496. So I hope
        you don’t mind if the next post is about one of my adorable cute rabbits.</p>\",\"tags\":[\"meta\"],\"language\":\"en\",\"references\":null,\"blog_id\":\"6hezn63\",\"blog\":{\"id\":\"6hezn63\",\"title\":\"lab.sub
        - Articles\",\"description\":\"Better sit thus, and observe thy strange things\",\"language\":\"en\",\"favicon\":null,\"feed_url\":\"https://lab.sub.uni-goettingen.de/atom.xml\",\"home_page_url\":\"https://lab.sub.uni-goettingen.de/\",\"user_id\":\"8498eaf6-8c58-4b58-bc15-27eda292b1aa\",\"created_at\":\"2023-06-11T08:09:50+00:00\",\"indexed_at\":\"2023-04-24\",\"feed_format\":\"application/atom+xml\",\"license\":\"https://creativecommons.org/licenses/by/4.0/legalcode\",\"generator\":\"Jekyll\",\"category\":\"Engineering
        and Technology\",\"prefix\":\"10.59350\",\"modified_at\":\"2023-06-01T00:00:01+00:00\",\"version\":\"https://jsonfeed.org/version/1.1\",\"backlog\":false,\"authors\":null}}"
  recorded_at: Tue, 20 Jun 2023 19:17:19 GMT
recorded_with: VCR 6.1.0
