---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/efdacb04-bcec-49d7-b689-ab3eab0634bf
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"27g5bun4gu1df"'
      X-Matched-Path:
      - "/api/posts/[[...params]]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::k2scp-1689023095925-56ecd54bbfbe
    body:
      encoding: UTF-8
      string: '{"id":"efdacb04-bcec-49d7-b689-ab3eab0634bf","doi":"https://doi.org/10.59350/zwdq7-waa43","url":"https://citationstyles.org/2020/07/11/seeking-public-comment-on-CSL-1-0-2","title":"Seeking
        Public Comment on CSL 1.0.2 Release","summary":"Over the past few months,
        Citation Style Language developers have worked to address a backlog of feature
        requests. This work will be reflected in two upcoming releases. The first
        of these, 1.0.2, is slated for release shortly. Its focus is on easy to implement,
        non-controversial additions, principally new item types, fields, and terms.
        We’re seeking public comment on the planned released from now until July 26,
        2020, 12pm EDT. A non-technical summary of the release can be found in a google...","published_at":1594425600,"updated_at":1594425600,"indexed_at":1689006804,"authors":[{"url":null,"name":"Sebastian
        Karcher"}],"image":null,"tags":[],"language":"en","reference":[],"blog_id":"prmb582","blog_name":"Citation
        Style Language","blog":{"id":"prmb582","title":"Citation Style Language","description":"CitationStyles.org,
        home of the Citation Style Language (CSL), a popular open XML-based language
        to describe the formatting of citations and bibliographies.","language":"en","favicon":null,"feed_url":"https://citationstyles.org/feed.xml","home_page_url":"https://citationstyles.org/","user_id":"8498eaf6-8c58-4b58-bc15-27eda292b1aa","created_at":"2023-05-31T08:18:29+00:00","indexed_at":"2023-04-25","feed_format":"application/atom+xml","license":"https://creativecommons.org/licenses/by/4.0/legalcode","generator":"Jekyll
        3.9.3","category":"Engineering and Technology","prefix":"10.59350","modified_at":"2020-07-11T00:00:00+00:00","version":"https://jsonfeed.org/version/1.1","backlog":false,"current_feed_url":null,"expired":null}}'
  recorded_at: Mon, 10 Jul 2023 21:04:56 GMT
recorded_with: VCR 6.2.0
