---
http_interactions:
- request:
    method: get
    uri: https://api.rogue-scholar.org/posts/2b105b29-acbc-4eae-9ff1-368803f36a4d
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Fly-Request-Id:
      - 01HC0RY9B2FEZRK8X25XGRDVTW-fra
    body:
      encoding: UTF-8
      string: '{"archive_url":null,"authors":[{"name":"Mark Rubin","url":null}],"blog":{"api":false,"archive_prefix":null,"authors":null,"backlog":0,"canonical_url":null,"category":"socialSciences","created_at":"2023-04-20","current_feed_url":null,"description":"Critical
        perspectives in metascience and the philosophy of science relating to open
        science, science reform, and the replication crisis.","favicon":"https://substackcdn.com/image/fetch/w_256,c_limit,f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F00187507-ddc5-4baa-9dae-79f9487d8bce_325x325.png","feed_format":"application/rss+xml","feed_url":"https://markrubin.substack.com/feed","filter":null,"funding":null,"generator":"Substack","home_page_url":"https://markrubin.substack.com","id":"ak4s224","issn":null,"language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","modified_at":"2023-09-09T22:05:00+00:00","plan":"Starter","prefix":"10.59350","relative_url":null,"slug":"markrubin","status":"active","title":"Critical
        Metascience","use_api":null,"use_mastodon":false,"user_id":"04a73ca4-9e60-4000-a0a0-087a13275eba","version":"https://jsonfeed.org/version/1.1"},"blog_name":"Critical
        Metascience","blog_slug":"markrubin","doi":"https://doi.org/10.59350/bbcsr-r4b59","id":"2b105b29-acbc-4eae-9ff1-368803f36a4d","image":"https://substack-post-media.s3.amazonaws.com/public/images/195477de-91ce-4a76-bae8-b6334fb5bcc7_500x379.jpeg","indexed_at":1688982864,"language":"en","published_at":1686086520,"reference":[{"doi":"https://doi.org/10.3386/w27250","key":"ref1"},{"doi":"https://doi.org/10.1371/journal.pbio.3000937","key":"ref2"},{"doi":"https://doi.org/10.1098/rsos.211037","key":"ref3"},{"doi":"https://doi.org/10.7554/eLife.67995","key":"ref4"},{"doi":"https://doi.org/10.31234/osf.io/5vfq6","key":"ref5"},{"key":"ref6","url":"https://latimes.com/opinion/op-ed/la-oe-0214-firestein-science-replication-failure-20160214-story.html"},{"key":"ref7","url":"https://psyarxiv.com/nj4es"},{"doi":"https://doi.org/10.1038/s41562-021-01203-8","key":"ref8"},{"doi":"https://doi.org/10.1177/0956797611430953","key":"ref9"},{"doi":"https://doi.org/10.1207/s15327965pli0102_1","key":"ref10"},{"doi":"https://doi.org/10.31234/osf.io/wxn58","key":"ref11"},{"doi":"https://doi.org/10.1016/j.tics.2019.07.009","key":"ref12"},{"doi":"https://doi.org/10.1525/collabra.24091","key":"ref13"},{"doi":"https://doi.org/10.1177%20/0956797611417632","key":"ref14"},{"doi":"https://doi.org/10.1177","key":"ref15"},{"doi":"https://doi.org/10.31222/osf.io/h8xjw","key":"ref16"},{"key":"ref17","url":"https://metascience.info/events/researchers-decision-making-navigating-ambiguity-in-research-practice"},{"key":"ref18","url":"https://osf.io/tqwgp"},{"key":"ref19","url":"https://en.wikipedia.org/wiki/there_are_unknown_unknowns"}],"relationships":[],"summary":"<strong>Abstract</strong>
        I discuss Van Drimmelen\u2019s (2023) Metascience2023 presentation on researchers\u2019
        decision making during the research process.","tags":["Metascience","Researcher
        Degrees Of Freedom","Open Science","Preregistration","Researcher Discretion"],"title":"The
        Preregistration Prescriptiveness Trade-Off and Unknown Unknowns in Science","updated_at":1686086520,"url":"https://markrubin.substack.com/p/the-preregistration-prescriptiveness"}

        '
  recorded_at: Thu, 05 Oct 2023 20:37:20 GMT
- request:
    method: get
    uri: https://doi.org/10.3386/w27250
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://api.crossref.org/v1/works/10.3386%2Fw27250/transform
    body:
      encoding: UTF-8
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="https://api.crossref.org/v1/works/10.3386%2Fw27250/transform">https://api.crossref.org/v1/works/10.3386%2Fw27250/transform</a></body></html>
  recorded_at: Thu, 05 Oct 2023 20:37:20 GMT
- request:
    method: get
    uri: https://api.crossref.org/v1/works/10.3386%2Fw27250/transform
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json
      Link:
      - <http://dx.doi.org/10.3386/w27250>; rel="canonical"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"institution":[{"name":"National Bureau of Economic Research","acronym":["NBER"],"place":["Cambridge,
        MA"]}],"indexed":{"date-parts":[[2023,7,19]],"date-time":"2023-07-19T19:51:15Z","timestamp":1689796275853},"publisher-location":"Cambridge,
        MA","reference-count":0,"publisher":"National Bureau of Economic Research","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.3386\/w27250","type":"report","created":{"date-parts":[[2020,6,2]],"date-time":"2020-06-02T01:54:11Z","timestamp":1591062851000},"source":"Crossref","is-referenced-by-count":6,"title":"Research
        Registries: Facts, Myths, and Possible Improvements","prefix":"10.3386","author":[{"given":"Eliot","family":"Abrams","sequence":"first","affiliation":[]},{"given":"Jonathan","family":"Libgober","sequence":"additional","affiliation":[]},{"given":"John","family":"List","sequence":"additional","affiliation":[]}],"member":"1960","published-online":{"date-parts":[[2020,5]]},"container-title":[],"original-title":[],"deposited":{"date-parts":[[2021,4,16]],"date-time":"2021-04-16T15:57:54Z","timestamp":1618588674000},"score":1,"resource":{"primary":{"URL":"http:\/\/www.nber.org\/papers\/w27250.pdf"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2020,5]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.3386\/w27250","relation":{},"published":{"date-parts":[[2020,5]]}}'
  recorded_at: Thu, 05 Oct 2023 20:37:21 GMT
- request:
    method: get
    uri: https://doi.org/10.1371/journal.pbio.3000937
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://api.crossref.org/v1/works/10.1371%2Fjournal.pbio.3000937/transform
    body:
      encoding: UTF-8
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="https://api.crossref.org/v1/works/10.1371%2Fjournal.pbio.3000937/transform">https://api.crossref.org/v1/works/10.1371%2Fjournal.pbio.3000937/transform</a></body></html>
  recorded_at: Thu, 05 Oct 2023 20:37:21 GMT
- request:
    method: get
    uri: https://api.crossref.org/v1/works/10.1371%2Fjournal.pbio.3000937/transform
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json
      Link:
      - <http://dx.doi.org/10.1371/journal.pbio.3000937>; rel="canonical", <https://dx.plos.org/10.1371/journal.pbio.3000937>;
        version="vor"; rel="item", <http://creativecommons.org/licenses/by/4.0/>;
        version="vor"; rel="license", <http://orcid.org/0000-0001-9024-337X>; title="Marjan
        Bakker"; rel="author", <http://orcid.org/0000-0003-4471-6396>; title="Elise
        A. V. Crompvoets"; rel="author", <http://orcid.org/0000-0003-1227-7042>; title="Courtney
        K. Soderberg"; rel="author", <http://orcid.org/0000-0003-2415-2933>; title="Jelte
        M. Wicherts"; rel="author"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"indexed":{"date-parts":[[2023,10,4]],"date-time":"2023-10-04T07:02:50Z","timestamp":1696402970109},"reference-count":67,"publisher":"Public
        Library of Science (PLoS)","issue":"12","license":[{"start":{"date-parts":[[2020,12,9]],"date-time":"2020-12-09T00:00:00Z","timestamp":1607472000000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"funder":[{"DOI":"10.13039\/501100000781","name":"European
        Research Council","doi-asserted-by":"publisher","award":["726361"]},{"DOI":"10.13039\/100009827","name":"Laura
        and John Arnold Foundation","doi-asserted-by":"publisher"},{"DOI":"10.13039\/501100011730","name":"Templeton
        World Charity Foundation","doi-asserted-by":"publisher"},{"DOI":"10.13039\/100000925","name":"John
        Templeton Foundation","doi-asserted-by":"publisher"},{"DOI":"10.13039\/501100013437","name":"Templeton
        Religion Trust","doi-asserted-by":"publisher"}],"content-domain":{"domain":["www.plosbiology.org"],"crossmark-restriction":false},"abstract":"<jats:p>Researchers
        face many, often seemingly arbitrary, choices in formulating hypotheses, designing
        protocols, collecting data, analyzing data, and reporting results. Opportunistic
        use of \u201cresearcher degrees of freedom\u201d aimed at obtaining statistical
        significance increases the likelihood of obtaining and publishing false-positive
        results and overestimated effect sizes. Preregistration is a mechanism for
        reducing such degrees of freedom by specifying designs and analysis plans
        before observing the research outcomes. The effectiveness of preregistration
        may depend, in part, on whether the process facilitates sufficiently specific
        articulation of such plans. In this preregistered study, we compared 2 formats
        of preregistration available on the OSF: Standard Pre-Data Collection Registration
        and Prereg Challenge Registration (now called \u201cOSF Preregistration,\u201d
        <jats:ext-link xmlns:xlink=\"http:\/\/www.w3.org\/1999\/xlink\" ext-link-type=\"uri\"
        xlink:href=\"http:\/\/osf.io\/prereg\/\" xlink:type=\"simple\">http:\/\/osf.io\/prereg\/<\/jats:ext-link>).
        The Prereg Challenge format was a \u201cstructured\u201d workflow with detailed
        instructions and an independent review to confirm completeness; the \u201cStandard\u201d
        format was \u201cunstructured\u201d with minimal direct guidance to give researchers
        flexibility for what to prespecify. Results of comparing random samples of
        53 preregistrations from each format indicate that the \u201cstructured\u201d
        format restricted the opportunistic use of researcher degrees of freedom better
        (Cliff\u2019s Delta = 0.49) than the \u201cunstructured\u201d format, but
        neither eliminated all researcher degrees of freedom. We also observed very
        low concordance among coders about the number of hypotheses (14%), indicating
        that they are often not clearly stated. We conclude that effective preregistration
        is challenging, and registration formats that provide effective guidance may
        improve the quality of research.<\/jats:p>","DOI":"10.1371\/journal.pbio.3000937","type":"journal-article","created":{"date-parts":[[2020,12,9]],"date-time":"2020-12-09T22:49:35Z","timestamp":1607554175000},"page":"e3000937","update-policy":"http:\/\/dx.doi.org\/10.1371\/journal.pbio.corrections_policy","source":"Crossref","is-referenced-by-count":32,"title":"Ensuring
        the quality and specificity of preregistrations","prefix":"10.1371","volume":"18","author":[{"ORCID":"http:\/\/orcid.org\/0000-0001-9024-337X","authenticated-orcid":true,"given":"Marjan","family":"Bakker","sequence":"first","affiliation":[]},{"given":"Coosje
        L. S.","family":"Veldkamp","sequence":"additional","affiliation":[]},{"given":"Marcel
        A. L. M.","family":"van Assen","sequence":"additional","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0003-4471-6396","authenticated-orcid":true,"given":"Elise
        A. V.","family":"Crompvoets","sequence":"additional","affiliation":[]},{"given":"How
        Hwee","family":"Ong","sequence":"additional","affiliation":[]},{"given":"Brian
        A.","family":"Nosek","sequence":"additional","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0003-1227-7042","authenticated-orcid":true,"given":"Courtney
        K.","family":"Soderberg","sequence":"additional","affiliation":[]},{"given":"David","family":"Mellor","sequence":"additional","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0003-2415-2933","authenticated-orcid":true,"given":"Jelte
        M.","family":"Wicherts","sequence":"additional","affiliation":[]}],"member":"340","published-online":{"date-parts":[[2020,12,9]]},"reference":[{"issue":"11","key":"pbio.3000937.ref001","doi-asserted-by":"crossref","first-page":"2600","DOI":"10.1073\/pnas.1708274114","article-title":"The
        preregistration revolution","volume":"115","author":"BA Nosek","year":"2018","journal-title":"Proc
        Natl Acad Sci U S A"},{"key":"pbio.3000937.ref002","doi-asserted-by":"crossref","first-page":"632","DOI":"10.1177\/1745691612463078","article-title":"An
        agenda for purely confirmatory research","volume":"7","author":"EJ Wagenmakers","year":"2012","journal-title":"Perspect
        Psychol Sci"},{"key":"pbio.3000937.ref003","doi-asserted-by":"crossref","unstructured":"Christensen
        G, Wang Z, Levy Paluck E, Swanson N, Birke D, Miguel E, et al. Open Science
        Practices are on the Rise: The State of Social Science (3S) Survey. UC Berkeley:
        Center for Effective Global Action. 2020. https:\/\/escholarship.org\/uc\/item\/0hx0207r.","DOI":"10.31222\/osf.io\/5rksu"},{"key":"pbio.3000937.ref004","doi-asserted-by":"crossref","first-page":"1250","DOI":"10.1056\/NEJMe048225","article-title":"Clinical
        trial registration: a statement from the [...]
- request:
    method: get
    uri: https://doi.org/10.1098/rsos.211037
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://api.crossref.org/v1/works/10.1098%2Frsos.211037/transform
    body:
      encoding: UTF-8
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="https://api.crossref.org/v1/works/10.1098%2Frsos.211037/transform">https://api.crossref.org/v1/works/10.1098%2Frsos.211037/transform</a></body></html>
  recorded_at: Thu, 05 Oct 2023 20:37:22 GMT
- request:
    method: get
    uri: https://api.crossref.org/v1/works/10.1098%2Frsos.211037/transform
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json
      Link:
      - <http://dx.doi.org/10.1098/rsos.211037>; rel="canonical", <https://royalsocietypublishing.org/doi/pdf/10.1098/rsos.211037>;
        version="vor"; type="application/pdf"; r[...]
- request:
    method: get
    uri: https://doi.org/10.7554/eLife.67995
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://api.crossref.org/v1/works/10.7554%2FeLife.67995/transform
    body:
      encoding: UTF-8
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="https://api.crossref.org/v1/works/10.7554%2FeLife.67995/transform">https://api.crossref.org/v1/works/10.7554%2FeLife.67995/transform</a></body></html>
  recorded_at: Thu, 05 Oct 2023 20:37:23 GMT
- request:
    method: get
    uri: https://api.crossref.org/v1/works/10.7554%2FeLife.67995/transform
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json
      Link:
      - <http://dx.doi.org/10.7554/elife.67995>; rel="canonical", <https://cdn.elifesciences.org/articles/67995/elife-67995-v2.pdf>;
        version="vor"; type="application/pdf"; [...]
- request:
    method: get
    uri: https://doi.org/10.31234/osf.io/5vfq6
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://api.crossref.org/v1/works/10.31234%2Fosf.io%2F5vfq6/transform
    body:
      encoding: UTF-8
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="https://api.crossref.org/v1/works/10.31234%2Fosf.io%2F5vfq6/transform">https://api.crossref.org/v1/works/10.31234%2Fosf.io%2F5vfq6/transform</a></body></html>
  recorded_at: Thu, 05 Oct 2023 20:37:24 GMT
- request:
    method: get
    uri: https://api.crossref.org/v1/works/10.31234%2Fosf.io%2F5vfq6/transform
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json
      Link:
      - <http://dx.doi.org/10.31234/osf.io/5vfq6>; rel="canonical", <https://creativecommons.org/licenses/by/4.0/legalcode>;
        rel="license"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"indexed":{"date-parts":[[2023,7,5]],"date-time":"2023-07-05T20:28:33Z","timestamp":1688588913945},"posted":{"date-parts":[[2019,12,18]]},"group-title":"PsyArXiv","reference-count":0,"publisher":"Center
        for Open Science","license":[{"start":{"date-parts":[[2019,12,18]],"date-time":"2019-12-18T00:00:00Z","timestamp":1576627200000},"content-version":"unspecified","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/legalcode"}],"content-domain":{"domain":[],"crossmark-restriction":false},"abstract":"<p>In
        light of the \u201creplication crisis,\u201d some advocate for stricter standards
        and greater tra[...]
- request:
    method: head
    uri: https://latimes.com/opinion/op-ed/la-oe-0214-firestein-science-replication-failure-20160214-story.html
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://www.latimes.com:443/opinion/op-ed/la-oe-0214-firestein-science-replication-failure-20160214-story.html
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 05 Oct 2023 20:37:25 GMT
- request:
    method: head
    uri: https://psyarxiv.com/nj4es
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
      Last-Modified:
      - Fri, 15 Sep 2023 22:47:59 GMT
      Etag:
      - '"6504df1f-1df2"'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 05 Oct 2023 20:37:26 GMT
- request:
    method: get
    uri: https://doi.org/10.1038/s41562-021-01203-8
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://api.crossref.org/v1/works/10.1038%2Fs41562-021-01203-8/transform
    body:
      encoding: UTF-8
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="https://api.crossref.org/v1/works/10.1038%2Fs41562-021-01203-8/transform">https://api.crossref.org/v1/works/10.1038%2Fs41562-021-01203-8/transform</a></body></html>
  recorded_at: Thu, 05 Oct 2023 20:37:26 GMT
- request:
    method: get
    uri: https://api.crossref.org/v1/works/10.1038%2Fs41562-021-01203-8/transform
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json
      Link:
      - <http://dx.doi.org/10.1038/s41562-021-01203-8>; rel="canonical", <https://www.nature.com/articles/s41562-021-01203-8.pdf>;
        version="vor"; type="application/p[...]
- request:
    method: get
    uri: https://doi.org/10.1177/0956797611430953
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://api.crossref.org/v1/works/10.1177%2F0956797611430953/transform
    body:
      encoding: UTF-8
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="https://api.crossref.org/v1/works/10.1177%2F0956797611430953/transform">https://api.crossref.org/v1/works/10.1177%2F0956797611430953/transform</a></body></html>
  recorded_at: Thu, 05 Oct 2023 20:37:27 GMT
- request:
    method: get
    uri: https://api.crossref.org/v1/works/10.1177%2F0956797611430953/transform
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json
      Link:
      - <http://dx.doi.org/10.1177/0956797611430953>; rel="canonical", <http://journals.sagepub.com/doi/pdf/10.1177/0956797611430953>;
        version="vor"; type="application[...]
- request:
    method: get
    uri: https://doi.org/10.1207/s15327965pli0102_1
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://api.crossref.org/v1/works/10.1207%2Fs15327965pli0102_1/transform
    body:
      encoding: UTF-8
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="https://api.crossref.org/v1/works/10.1207%2Fs15327965pli0102_1/transform">https://api.crossref.org/v1/works/10.1207%2Fs15327965pli0102_1/transform</a></body></html>
  recorded_at: Thu, 05 Oct 2023 20:37:28 GMT
- request:
    method: get
    uri: https://api.crossref.org/v1/works/10.1207%2Fs15327965pli0102_1/transform
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json
      Link:
      - <http://dx.doi.org/10.1207/s15327965pli0102_1>; rel="canonical", <http://www.tandfonline.com/doi/pdf/10.1207/s15327965pli0102_1>;
        version="vor"; rel="item"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"indexed":{"date-parts":[[2023,10,5]],"date-time":"2023-10-05T09:52:59Z","timestamp":1696499579080},"reference-count":114,"publisher":"Informa
        UK Limited","issue":"2","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1990,4]]},"DOI":"10.1207\/s15327965pli0102_1","type":"journal-article","created":{"date-parts":[[2006,3,17]],"date-time":"2006-03-17T08:48:55Z","timestamp":1142585335000},"page":"108-141","source":"Crossref","is-referenced-by-count":335,"title":"Appraising
        and Amending Theories: The Strategy of Lakatosian Defense and Two Principles
        that Warrant It","prefix":"10.1080","volume":"1","author":[{"given":"Paul
        E.","family":"Meehl","sequence":"first","affiliation[...]
- request:
    method: get
    uri: https://doi.org/10.31234/osf.io/wxn58
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://api.crossref.org/v1/works/10.31234%2Fosf.io%2Fwxn58/transform
    body:
      encoding: UTF-8
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="https://api.crossref.org/v1/works/10.31234%2Fosf.io%2Fwxn58/transform">https://api.crossref.org/v1/works/10.31234%2Fosf.io%2Fwxn58/transform</a></body></html>
  recorded_at: Thu, 05 Oct 2023 20:37:29 GMT
- request:
    method: get
    uri: https://api.crossref.org/v1/works/10.31234%2Fosf.io%2Fwxn58/transform
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json
      Link:
      - <http://dx.doi.org/10.31234/osf.io/wxn58>; rel="canonical", <https://creativecommons.org/licenses/by/4.0/legalcode>;
        rel="license", <http://orcid.org/0000-0001-[...]
- request:
    method: get
    uri: https://doi.org/10.1016/j.tics.2019.07.009
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://api.crossref.org/v1/works/10.1016%2Fj.tics.2019.07.009/transform
      Link:
      - "<https://dul.usage.elsevier.com/doi/>; rel=dul"
      - "<https://dul.usage.elsevier.com/doi/>; rel=dul"
    body:
      encoding: UTF-8
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="https://api.crossref.org/v1/works/10.1016%2Fj.tics.2019.07.009/transform">https://api.crossref.org/v1/works/10.1016%2Fj.tics.2019.07.009/transform</a></body></html>
  recorded_at: Thu, 05 Oct 2023 20:37:30 GMT
- request:
    method: get
    uri: https://api.crossref.org/v1/works/10.1016%2Fj.tics.2019.07.009/transform
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json
      Link:
      - <http://dx.doi.org/10.1016/j.tics.2019.07.009>; rel="canonical", <https://api.elsevier.com/content/article/PII:S1364661319301846?httpAccept=text/xml>;
        versio[...]
- request:
    method: get
    uri: https://doi.org/10.1525/collabra.24091
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://api.crossref.org/v1/works/10.1525%2Fcollabra.24091/transform
    body:
      encoding: UTF-8
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="https://api.crossref.org/v1/works/10.1525%2Fcollabra.24091/transform">https://api.crossref.org/v1/works/10.1525%2Fcollabra.24091/transform</a></body></html>
  recorded_at: Thu, 05 Oct 2023 20:37:31 GMT
- request:
    method: get
    uri: https://api.crossref.org/v1/works/10.1525%2Fcollabra.24091/transform
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json
      Link:
      - <http://dx.doi.org/10.1525/collabra.24091>; rel="canonical", <http://online.ucpress.edu/collabra/article-pdf/doi/10.1525/collabra.24091/464786/collabra_2021_7_1_24091.pd[...]
- request:
    method: get
    uri: https://doi.org/10.31222/osf.io/h8xjw
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://api.crossref.org/v1/works/10.31222%2Fosf.io%2Fh8xjw/transform
    body:
      encoding: UTF-8
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="https://api.crossref.org/v1/works/10.31222%2Fosf.io%2Fh8xjw/transform">https://api.crossref.org/v1/works/10.31222%2Fosf.io%2Fh8xjw/transform</a></body></html>
  recorded_at: Thu, 05 Oct 2023 20:37:31 GMT
- request:
    method: get
    uri: https://api.crossref.org/v1/works/10.31222%2Fosf.io%2Fh8xjw/transform
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json
      Link:
      - <http://dx.doi.org/10.31222/osf.io/h8xjw>; rel="canonical", <https://creativecommons.org/licenses/by-nc/4.0/legalcode>;
        rel="license", <http://orcid.org/0000-00[...]
- request:
    method: head
    uri: https://metascience.info/events/researchers-decision-making-navigating-ambiguity-in-research-practice
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Wpo-Cache-Status:
      - not cached
      Wpo-Cache-Message:
      - The request method was not GET (HEAD)
      X-Redirect-By:
      - WordPress
      Upgrade:
      - h2,h2c
[...]
