---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/2b105b29-acbc-4eae-9ff1-368803f36a4d
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"q6g5fpf9uqp4"'
      X-Matched-Path:
      - "/api/posts/[slug]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::sskn7-1687101837449-d00e04e7a361
    body:
      encoding: UTF-8
      string: '{"id":"https://doi.org/10.59350/bbcsr-r4b59","uuid":"2b105b29-acbc-4eae-9ff1-368803f36a4d","url":"https://markrubin.substack.com/p/the-preregistration-prescriptiveness","title":"The
        Preregistration Prescriptiveness Trade-Off and Unknown Unknowns in Science","summary":"Comments
        on Van Drimmelen (2023)","date_published":"2023-06-06T21:22:00Z","date_modified":null,"date_indexed":"1979-06-17T18:51:53+00:00","authors":[{"url":null,"name":"Mark
        Rubin"}],"image":"https://substack-post-media.s3.amazonaws.com/public/images/195477de-91ce-4a76-bae8-b6334fb5bcc7_500x379.jpeg","content_html":"<h4>Abstract</h4><p>I
        discuss Van Drimmelen&#8217;s (2023) Metascience2023 presentation on researchers&#8217;
        decision making during the research process. In particular, I consider his
        evidence that researchers&#8217; discretion over research decisions is unavoidable
        when they follow research plans that are either overdetermined (i.e., too
        prescriptive) or underdetermined (i.e., too vague). I argue that this evidence
        points to a <em>prescriptiveness trade-off</em> when writing preregistered
        plans: All other things being equal, plans that are more prescriptive are
        more likely to result in deviations that turn their confirmatory tests into
        exploratory tests, and plans that are less prescriptive are more likely to
        result in confirmatory tests that are susceptible to questionable research
        practices. I also consider Van Drimmelen&#8217;s idea that researchers may
        make unconscious, implicit decisions during the research process. I relate
        these im[...]
- request:
    method: head
    uri: https://doi.org/10.3386/w27250
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - http://www.nber.org/papers/w27250.pdf
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 18 Jun 2023 15:23:58 GMT
- request:
    method: head
    uri: https://doi.org/10.1371/journal.pbio.3000937
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://dx.plos.org/10.1371/journal.pbio.3000937
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 18 Jun 2023 15:23:58 GMT
- request:
    method: head
    uri: https://doi.org/10.1098/rsos.211037
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://royalsocietypublishing.org/doi/10.1098/rsos.211037
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 18 Jun 2023 15:23:58 GMT
- request:
    method: head
    uri: https://doi.org/10.7554/elife.67995
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://elifesciences.org/articles/67995
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 18 Jun 2023 15:23:59 GMT
- request:
    method: head
    uri: https://doi.org/10.31234/osf.io/5vfq6
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://osf.io/5vfq6
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 18 Jun 2023 15:23:59 GMT
- request:
    method: head
    uri: https://latimes.com/opinion/op-ed/la-oe-0214-firestein-science-replication-failure-20160214-story.html
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://www.latimes.com:443/opinion/op-ed/la-oe-0214-firestein-science-replication-failure-20160214-story.html
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 18 Jun 2023 15:24:00 GMT
- request:
    method: head
    uri: https://psyarxiv.com/nj4es
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
      Last-Modified:
      - Tue, 31 Jan 2023 02:21:53 GMT
      Etag:
      - '"63d87b41-1b9f"'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 18 Jun 2023 15:24:01 GMT
- request:
    method: head
    uri: https://doi.org/10.1038/s41562-021-01203-8
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://www.nature.com/articles/s41562-021-01203-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 18 Jun 2023 15:24:01 GMT
- request:
    method: head
    uri: https://doi.org/10.1177/0956797611430953
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - http://journals.sagepub.com/doi/10.1177/0956797611430953
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 18 Jun 2023 15:24:02 GMT
- request:
    method: head
    uri: https://doi.org/10.1207/s15327965pli0102_1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - http://www.tandfonline.com/doi/abs/10.1207/s15327965pli0102_1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 18 Jun 2023 15:24:02 GMT
- request:
    method: head
    uri: https://doi.org/10.31234/osf.io/wxn58
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://osf.io/wxn58
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 18 Jun 2023 15:24:02 GMT
- request:
    method: head
    uri: https://doi.org/10.1016/j.tics.2019.07.009
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://linkinghub.elsevier.com/retrieve/pii/S1364661319301846
      Link:
      - "<https://dul.usage.elsevier.com/doi/>; rel=dul"
      - "<https://dul.usage.elsevier.com/doi/>; rel=dul"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 18 Jun 2023 15:24:03 GMT
- request:
    method: head
    uri: https://doi.org/10.1525/collabra.24091
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://online.ucpress.edu/collabra/article/7/1/24091/117222/A-Call-for-Greater-Modesty-in-Psychology-and
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 18 Jun 2023 15:24:03 GMT
- request:
    method: head
    uri: https://doi.org/10.31222/osf.io/h8xjw
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://osf.io/h8xjw
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 18 Jun 2023 15:24:03 GMT
- request:
    method: head
    uri: https://metascience.info/events/researchers-decision-making-navigating-ambiguity-in-research-practice
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Wpo-Cache-Status:
      - not cached
      Wpo-Cache-Message:
      - The request method was not GET (HEAD)
      X-Redirect-By:
      - WordPress
      Upgrade:
      - h2,h2c
      Location:
      - https://metascience.info/events/researchers-decision-making-navigating-ambiguity-in-research-practice/
      Host-Header:
      - c2hhcmVkLmJsdWVob3N0LmNvbQ==
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 18 Jun 2023 15:24:05 GMT
- request:
    method: head
    uri: https://osf.io/tqwgp
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 308
      message: Permanent Redirect
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://osf.io/tqwgp/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 18 Jun 2023 15:24:05 GMT
- request:
    method: head
    uri: https://en.wikipedia.org/wiki/There_are_unknown_unknowns
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Last-Modified:
      - Thu, 08 Jun 2023 00:03:49 GMT
      Content-Type:
      - text/html; charset=UTF-8
      X-Client-Ip:
      - 2001:16b8:1867:2e00:c444:284:a9b0:81f7
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 18 Jun 2023 15:24:06 GMT
recorded_with: VCR 6.1.0
