---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/0022b9ef-525a-4a79-81ad-13411697f58a
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"to06o4i0f94jw"'
      X-Matched-Path:
      - "/api/posts/[slug]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::b696m-1686691912662-c11904ea33ee
    body:
      encoding: UTF-8
      string: '{"id":"https://doi.org/10.53731/ffbx660-083tnag","uuid":"0022b9ef-525a-4a79-81ad-13411697f58a","url":"https://syldavia-gazette.org/guinea-worms-chatgpt-neanderthals/","title":"Guinea
        Worms, ChatGPT, Neanderthals, Plagiarism, Tidyverse","summary":"Guinea worm
        disease reaches all-time low: only 13* human cases reported in 2022Only 13
        human cases of Guinea worm disease were reported worldwide in 2022. This Neglected
        Tropical Disease is on the WHO 2030...","date_published":"2023-02-01T14:56:00Z","date_modified":"2023-04-13T19:58:19Z","authors":[{"url":"https://orcid.org/0000-0003-1419-2405","name":"Martin
        Fenner"}],"image":"https://digitalpress.fra1.cdn.digitaloceanspaces.com/gtpg506/2023/04/gw-release-2023.jpg","content_html":"
        <h3 id=\"guinea-worm-disease-reaches-all-time-low-only-13-human-cases-reported-in-2022\"><a
        href=\"https://www.cartercenter.org/news/pr/2023/2022-guinea-worm-worldwide-cases-announcement.html?ref=syldavia-gazette.org\">Guinea
        worm disease reaches all-time low: only 13* human cases reported in 2022</a></h3><p>Only
        13 human cases of Guinea worm disease were reported worldwide in 2022. This
        Neglected Tropical Disease is on the WHO 2030 roadmap to become only the second
        human disease in history to be eradicated, after smallpox.</p><h3 id=\"chatgpt-is-fun-but-not-an-author\"><a
        href=\"https://doi.org/10.1126/science.adg7879?ref=syldavia-gazette.org\">ChatGPT
        is fun, but not an author</a></h3><p>The Editor-In-Chief of the <em>Science</em>
        journals explains their updated Editorial Policy specifying that text generated
        by ChatGPT (or any other AI tools) cannot be used in publications, nor can
        figures produced by such tools.</p><h3 id=\"meet-the-first-neanderthal-family\"><a
        href=\"https://leakeyfoundation.org/meet-the-first-neanderthal-family/?ref=syldavia-gazette.org\">Meet
        the first Neanderthal family</a></h3><p>A study published in October last
        year retrieved the DNA f[...]
- request:
    method: head
    uri: https://cartercenter.org/news/pr/2023/2022-guinea-worm-worldwide-cases-announcement.html
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Tue, 13 Jun 2023 21:31:53 GMT
- request:
    method: head
    uri: https://doi.org/10.1126/science.adg7879
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://www.science.org/doi/10.1126/science.adg7879
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 13 Jun 2023 21:31:54 GMT
- request:
    method: head
    uri: https://leakeyfoundation.org/meet-the-first-neanderthal-family
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Pingback:
      - ''
      X-Redirect-By:
      - WordPress
      Location:
      - https://leakeyfoundation.org/meet-the-first-neanderthal-family/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 13 Jun 2023 21:31:55 GMT
- request:
    method: head
    uri: https://retractionwatch.com/2022/12/30/university-to-investigate-adjunct-professor-after-allegations-of-plagiarism-and-legal-threats
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      X-Redirect-By:
      - WordPress
      Upgrade:
      - h2,h2c
      Location:
      - https://retractionwatch.com/2022/12/30/university-to-investigate-adjunct-professor-after-allegations-of-plagiarism-and-legal-threats/
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 13 Jun 2023 21:31:57 GMT
- request:
    method: head
    uri: https://doi.org/10.21105/joss.01686
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://joss.theoj.org/papers/10.21105/joss.01686
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 13 Jun 2023 21:31:58 GMT
recorded_with: VCR 6.1.0
