---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/954f8138-0ecd-4090-87c5-cef1297f1470
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"17rej3quke8fay"'
      X-Matched-Path:
      - "/api/posts/[slug]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::kwwbh-1686690869951-dc5cf8fb5ef7
    body:
      encoding: UTF-8
      string: '{"id":"https://doi.org/10.54900/zwm7q-vet94","uuid":"954f8138-0ecd-4090-87c5-cef1297f1470","url":"https://upstream.force11.org/the-research-software-alliance-resa/","title":"The
        Research Software Alliance (ReSA)","summary":"Research software is a key part
        of most research today. As University of Manchester Professor Carole Goble
        has said, \"software is the ubiquitous instrument of science.\" Creating and
        maintaining research...","date_published":"2023-04-18T10:36:52Z","date_modified":"2023-04-18T10:36:52Z","authors":[{"url":"https://orcid.org/0000-0001-5934-7525","name":"Daniel
        S. Katz"},{"url":null,"name":"Michelle Barker"}],"image":"https://upstream.force11.org/content/images/2023/04/resa-logo-7.png","content_html":"
        <p>Research software is a key part of most research today. As University of
        Manchester Professor Carole Goble has said, \"software is the ubiquitous instrument
        of science.\" Creating and maintaining research software is a human effort,
        and as Yanina Bellina, rOpenSci Community Manager, has said, \"the work of
        the people who develop and maintain research software is often hidden and
        needs to be recognized.\"</p><p>Studies of researchers at leading UK universities
        [<a href=\"https://www.software.ac.uk/blog/2014-12-04-its-impossible-conduct-research-without-software-say-7-out-10-uk-researchers?bw\">1</a>] and
        of postdoctoral researchers in the US [<a href=\"https://doi.org/10.6084/m9.figshare.5328442\">2</a>]
        have found that over 90% use research software, over 65% see research software
        as fundamental to their research, and 25-55% develop software as part of the
        research.</p><p>Research software, being ubiquitous, is difficult to concisely
        define. One recent attempt [<a href=\"https://doi.org/10.54900/9akm9y5-5ject5y\">3</a>]
        says that research software:</p><figure class=\"kg-card kg-image-card kg-card-hascaption\"><img
        src=\"https://upstream.force11.org/content/images/2023/04/rob-v2-table-6.jpg\"
        class=\"kg-image\" alt loading=\"lazy\" width=\"1080\" height=\"608\" srcset=\"https://upstream.force11.org/content/images/size/w600/2023/04/rob-v2-table-6.jpg
        600w, https://upstream.force11.org/content/images/size/w1000/2023/04/rob-v2-table-6.jpg
        1000w, https://upstream.force11.org/content/images/2023/04/rob-v2-table-6.jpg
        1080w\" sizes=\"(min-width: 720px) 720px\"><figcaption>Figure from <a href=\"https://doi.org/10.54900/9akm9y5-5ject5y\">https://doi.org/10.54900/9akm9y5-5ject5y</a></figcaption></figure><p>Once
        research software is developed, however, users can find bugs, users can want
        new features, and the underlying hardware and software on which the software
        is built (e.g., libraries, OS) can change. The research software needs to
        be manually maintained in response to these issues. In other words, research
        software is not a one-time investment, but requires ongoing maintenance.</p><p>Research
        software sustainability can be defined as occurring when the resources (people,
        funding, etc.) to enable maintenance are gathered and applied. </p><p>This
        is different from challenges for publications and datasets because while research
        software can similarly be a research result and research product, it has properties
        that differ from papers and datasets, and needs different policies and funding
        models.</p><h2 id=\"research-software-alliance-resa\">Research Software Alliance
        (ReSA)</h2><p>In response to these facts, the <a href=\"http://www.researchsoft.org/\">Research
        Software Alliance (ReSA)</a> was founded in 2019 by the <a href=\"https://ardc.edu.au/\">Australia
        Research Data Commons (ARDC)</a>, the <a href=\"https://alliancecan.ca/en\">Digital
        Research Alliance of Canada</a>, the <a href=\"https://www.ncsa.illinois.edu/\">National
        Center for Supercomputing [...]
- request:
    method: head
    uri: https://software.ac.uk/blog/2014-12-04-its-impossible-conduct-research-without-software-say-7-out-10-uk-researchers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Drupal-Dynamic-Cache:
      - UNCACHEABLE
      Content-Language:
      - en
      Last-Modified:
      - Tue, 13 Jun 2023 21:18:53 GMT
      Etag:
      - '"1686691133"'
      X-Generator:
      - Drupal 9 (https://www.drupal.org)
      X-Drupal-Cache:
      - MISS
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 13 Jun 2023 21:18:53 GMT
- request:
    method: head
    uri: https://doi.org/10.6084/m9.figshare.5328442.v3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://figshare.com/articles/journal_contribution/Track_1_Paper_Surveying_the_U_S_National_Postdoctoral_Association_Regarding_Software_Use_and_Training_in_Research/5328442/3
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 13 Jun 2023 21:18:54 GMT
- request:
    method: head
    uri: https://doi.org/10.54900/9akm9y5-5ject5y
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://upstream.force11.org/defining-the-roles-of-research-software
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 13 Jun 2023 21:18:54 GMT
- request:
    method: head
    uri: https://doi.org/10.5281/zenodo.7740084
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://zenodo.org/record/7740084
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 13 Jun 2023 21:18:55 GMT
[...]
- request:
    method: head
    uri: https://doi.org/10.15497/rda00052
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://zenodo.org/record/3932953#.Xx_f7Z4za70
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 13 Jun 2023 21:18:56 GMT
[...]
- request:
    method: head
    uri: https://doi.org/10.5281/zenodo.3699950
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://zenodo.org/record/3699950
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 13 Jun 2023 21:18:57 GMT
recorded_with: VCR 6.1.0
