---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/1c578558-1324-4493-b8af-84c49eabc52f
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"tvdd59lhlw1fo"'
      X-Matched-Path:
      - "/api/posts/[[...params]]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::th9z4-1689023087953-1eb831cc9663
    body:
      encoding: UTF-8
      string: '{"id":"1c578558-1324-4493-b8af-84c49eabc52f","doi":"https://doi.org/10.59350/kz04m-s8z58","url":"https://wisspub.net/2023/05/23/eu-mitgliedstaaten-betonen-die-rolle-von-wissenschaftsgeleiteten-open-access-modellen-jenseits-von-apcs","title":"EU-Mitgliedstaaten
        betonen die Rolle von wissenschaftsgeleiteten Open-Access-Modellen jenseits
        von APCs","summary":"Die EU-Wissenschaftsministerien haben sich auf ihrer
        heutigen Sitzung in Brüssel unter dem Titel “Council conclusions on high-quality,
        transparent, open, trustworthy and equitable scholarly publishing” (PDF der
        englischen Version, PDF der deutschen Version) mit den aktuellen Herausforderungen
        des wissenschaftlichen Publikationswesens befasst. Bereits im Vorfeld der
        Sitzung der Wissenschaftsministerien wurden verschiedene Versionen der Erklärung
        öffentlich diskutiert (siehe z.B. Science...","published_at":1684833413,"updated_at":1684833413,"indexed_at":1689006804,"authors":[{"url":"https://orcid.org/0000-0003-3334-2771","name":"Heinz
        Pampel"}],"image":null,"tags":["Open Access","Open Access Transformation","Open
        Science","EU"],"language":"de","reference":[],"blog_id":"34zkv26","blog_name":"wisspub.net","blog":{"id":"34zkv26","title":"wisspub.net","description":"Gemeinschaftsblog
        zu wissenschaftlicher Kommunikation im Netz.","language":"de","favicon":null,"feed_url":"https://wisspub.net/feed/atom/","home_page_url":"https://wisspub.net","user_id":"8498eaf6-8c58-4b58-bc15-27eda292b1aa","created_at":"2023-05-31T07:58:56+00:00","indexed_at":"2023-01-16","feed_format":"application/atom+xml","license":"https://creativecommons.org/licenses/by/4.0/legalcode","generator":"WordPress
        (.com)","category":"Engineering and Technology","prefix":"10.59350","modified_at":"2023-06-07T08:33:14+00:00","version":"https://jsonfeed.org/version/1.1","backlog":true,"current_feed_url":null,"expired":null}}'
  recorded_at: Mon, 10 Jul 2023 21:04:48 GMT
recorded_with: VCR 6.2.0
