---
http_interactions:
- request:
    method: get
    uri: https://api.rogue-scholar.org/posts/4e4bf150-751f-4245-b4ca-fe69e3c3bb24
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Fly-Request-Id:
      - 01HC0RYYJ1BHDECEE5AF3CR7XZ-fra
    body:
      encoding: UTF-8
      string: '{"archive_url":null,"authors":[{"name":"Matt Wedel","url":"http://10minuteastronomy.wordpress.com/"}],"blog":{"api":true,"archive_prefix":null,"authors":null,"backlog":1550,"canonical_url":null,"category":"earthAndRelatedEnvironmentalSciences","created_at":"2023-02-01","current_feed_url":null,"description":"SV-POW!  ...  All
        sauropod vertebrae, except when we''re talking about Open Access","favicon":null,"feed_format":"application/atom+xml","feed_url":"https://svpow.com/feed/atom/","filter":null,"funding":null,"generator":"WordPress.com","home_page_url":"https://svpow.com","id":"dkvra02","issn":null,"language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","modified_at":"2023-09-22T14:44:45+00:00","plan":"Team","prefix":"10.59350","relative_url":null,"slug":"svpow","status":"active","title":"Sauropod
        Vertebra Picture of the Week","use_api":true,"use_mastodon":false,"user_id":"04d03585-c8bb-40f2-9619-5076a5e0aed2","version":"https://jsonfeed.org/version/1.1"},"blog_name":"Sauropod
        Vertebra Picture of the Week","blog_slug":"svpow","doi":"https://doi.org/10.59350/hke8v-d1e66","id":"4e4bf150-751f-4245-b4ca-fe69e3c3bb24","image":"https://svpow.files.wordpress.com/2023/06/haplocanthosaurus-from-across-the-morrison-curtice-et-al-2023-fig-1.jpg?w=480","indexed_at":1688982864,"language":"en","published_at":1686340463,"reference":[{"key":"ref1","url":"https://sauroposeidon.files.wordpress.com/2010/04/foster-and-wedel-2014-haplocanthosaurus-from-snowmass-colorado.pdf"},{"key":"ref2","url":"https://sauroposeidon.files.wordpress.com/2010/04/wedel-taylor-2013-neural-spine-bifurcation-in-sauropods.pdf"},{"key":"ref3","url":"https://svpow.files.wordpress.com/2022/03/wedel-et-al-2021-expanded-neural-canals-in-caudal-vertebrae-of-haplocanthosaurus.pdf"}],"relationships":[],"summary":"Brian
        Curtice and Colin Boisvert are presenting our talk on this project at 2:00
        pm MDT this afternoon, at the 14th Symposium on Mesozoic Terrestrial Ecosystems
        and Biota (MTE14) in Salt Lake City, and the related paper is in the MTE14
        volume in The Anatomical Record.","tags":["MTE14","Barosaurus","Cervical","Conferences","Diplodocids"],"title":"New
        paper: Curtice et al. (2023) on the first <i>Haplocanthosaurus</i> from Dry
        Mesa","updated_at":1686340463,"url":"https://svpow.com/2023/06/09/new-paper-curtice-et-al-2023-on-the-first-haplocanthosaurus-from-dry-mesa"}

        '
  recorded_at: Thu, 05 Oct 2023 20:37:42 GMT
- request:
    method: head
    uri: https://sauroposeidon.files.wordpress.com/2010/04/foster-and-wedel-2014-haplocanthosaurus-from-snowmass-colorado.pdf
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/pdf
      Last-Modified:
      - Mon, 16 Mar 2015 08:57:22 GMT
      X-Orig-Src:
      - 01_mogdir
      X-Nc:
      - MISS ams 27 np
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 05 Oct 2023 20:37:42 GMT
- request:
    method: head
    uri: https://sauroposeidon.files.wordpress.com/2010/04/wedel-taylor-2013-neural-spine-bifurcation-in-sauropods.pdf
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/pdf
      Last-Modified:
      - Mon, 16 Sep 2013 07:34:33 GMT
      X-Orig-Src:
      - 01_mogdir
      X-Nc:
      - MISS ams 27 np
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 05 Oct 2023 20:37:42 GMT
- request:
    method: head
    uri: https://svpow.files.wordpress.com/2022/03/wedel-et-al-2021-expanded-neural-canals-in-caudal-vertebrae-of-haplocanthosaurus.pdf
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/pdf
      Last-Modified:
      - Tue, 29 Mar 2022 07:37:54 GMT
      X-Orig-Src:
      - 01_mogdir
      X-Nc:
      - MISS ams 16 np
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 05 Oct 2023 20:37:42 GMT
recorded_with: VCR 6.2.0
