---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/f3dc29da-0481-4f3b-8110-4c07260fca67
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"gmqvcvy0da4i4i"'
      X-Matched-Path:
      - "/api/posts/[[...params]]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::9lvr5-1694010280943-97263827a197
    body:
      encoding: UTF-8
      string: '{"id":"f3dc29da-0481-4f3b-8110-4c07260fca67","doi":"https://doi.org/10.59350/9gfjs-pey70","url":"https://flavoursofopen.science/grundlagen-fur-die-entwicklung-einer-open-scholarship-strategie","title":"Grundlagen
        für die Entwicklung einer Open Scholarship-Strategie","summary":"<strong>Versionshistorie</strong>
        Version 1.0 — 16. Oktober 2017 – Erste Version des Dokuments. Version 1.1
        — 06. Juni 2018 – Website erstellt.","content_html":"<img loading=\"lazy\"
        width=\"2400\" height=\"2400\" src=\"https://flavoursofopen.science/wp-content/uploads/2019/01/mark-konig-ECGv8s2IPG0-unsplash-scaled.jpg\"
        srcset=\"https://flavoursofopen.science/wp-content/uploads/2019/01/mark-konig-ECGv8s2IPG0-unsplash-scaled.jpg
        2400w, https://flavoursofopen.science/wp-content/uploads/2019/01/mark-konig-ECGv8s2IPG0-unsplash-300x300.jpg
        300w, https://flavoursofopen.science/wp-content/uploads/2019/01/mark-konig-ECGv8s2IPG0-unsplash-1024x1024.jpg
        1024w, https://flavoursofopen.science/wp-content/uploads/2019/01/mark-konig-ECGv8s2IPG0-unsplash-150x150.jpg
        150w, https://flavoursofopen.science/wp-content/uploads/2019/01/mark-konig-ECGv8s2IPG0-unsplash-768x768.jpg
        768w, https://flavoursofopen.science/wp-content/uploads/2019/01/mark-konig-ECGv8s2IPG0-unsplash-1536x1536.jpg
        1536w, https://flavoursofopen.science/wp-content/uploads/2019/01/mark-konig-ECGv8s2IPG0-unsplash-2048x2048.jpg
        2048w\" />\n<h4>Versionshistorie</h4>\n\n\n\n<ul>\n<li>Version 1.0 — 16. Oktober
        2017 – Erste Version des Dokuments.</li>\n\n\n\n<li>Version 1.1 — 06. Juni
        2018 – Website erstellt.</li>\n\n\n\n<li>Version 1.2 — Vervollständigter erster
        Entwurf (30. Juli 2018) <a href=\"https://doi.org/10.5281/zenodo.1323437\"
        target=\"_blank\"><img src=\"https://zenodo.org/badge/DOI/10.5281/zenodo.1323437.svg\"
        alt=\"DOI\" /></a></li>\n\n\n\n<li>Version 2.1 — Vollständig überarbeitete
        zweite Version (31. Januar, 2019), in englischer Sprache veröffentlicht unter
        DOI <a href=\"https://doi.org/10.31222/osf.io/b4v8p\" target=\"_blank\">10.31222/osf.io/b4v8p</a>,
        auf deutsch veröffentlicht unter DOI <a href=\"https://doi.org/10.31235/osf.io/hu9sj\"
        target=\"_blank\">10.31235/osf.io/hu9sj</a></li>\n</ul>\n\n\n\n<p>Beachte,
        dass Versionen dieses Dokuments auch in anderen Sprachen wie <a href=\"https://github.com/Open-Scholarship-Strategy/indexed/blob/master/translations/spanish/index_es.md\"
        target=\"_blank\">Spanisch</a>, <a href=\"https://sainsterbuka.readthedocs.io/en/latest/?fbclid=IwAR2eJ0xOMQdkbIbGt639frHFv0PdwK44HesXAsWBgVNXiXU1oZQRdn7TPrA\"
        target=\"_blank\">Indonesisch</a> und natürlich <a href=\"https://open-scholarship-strategy.github.io/site/\"
        target=\"_blank\">im englischen Original</a> existieren.</p>\n\n\n\n<h3>Inhaltsverzeichnis</h3>\n\n\n\n<ul>\n<li><a
        href=\"#1-zweck-dieses-dokuments\">Zweck dieses Dokuments</a></li>\n\n\n\n<li><a
        href=\"#2-strategie\">Strategie</a>\n<ul>\n<li><a href=\"#2-1-kurzfristige-strategie-2-jahre\">Kurzfristige
        Strategie, &gt;2 Jahre</a></li>\n\n\n\n<li><a href=\"#2-2-mittelfristige-strategie-2-5-jahre\">Mittelfristige
        Strategie, 2-5 Jahre</a></li>\n\n\n\n<li><a href=\"#2-3-langfristige-strategie-5-10-jahre\">Langfristige
        Strategie, 5[...]
- request:
    method: head
    uri: http://oerstrategy.org/home/read-the-doc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html
      Location:
      - http://www.oerstrategy.org/home/read-the-doc
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 06 Sep 2023 14:24:42 GMT
- request:
    method: get
    uri: https://doi.org/10.1101/110825
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://api.crossref.org/v1/works/10.1101%2F110825/transform
    body:
      encoding: UTF-8
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="https://api.crossref.org/v1/works/10.1101%2F110825/transform">https://api.crossref.org/v1/works/10.1101%2F110825/transform</a></body></html>
  recorded_at: Wed, 06 Sep 2023 14:24:43 GMT
- request:
    method: get
    uri: https://api.crossref.org/v1/works/10.1101%2F110825/transform
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json
      Link:
      - <http://dx.doi.org/10.1101/110825>; rel="canonical", <https://syndication.highwire.org/content/doi/10.1101/110825>;
        version="vor"; rel="item"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"institution":[{"name":"bioRxiv"}],"indexed":{"date-parts":[[2023,8,28]],"date-time":"2023-08-28T13:31:01Z","timestamp":1693229461258},"posted":{"date-parts":[[2017,2,23]]},"group-title":"Scientific
        Communication and Education","reference-count":21,"publisher":"Cold Spring
        Harbor Laboratory","content-domain":{"domain":[],"crossmark-restriction":false},"accepted":{"date-parts":[[2017,4,27]]},"abstract":"<jats:p>On
        November 18-19, 2016, the Human Frontier Science Program Organization (HFSPO)
        hosted a meeting of senior managers of key data resources and leaders of several
        major funding organizations to discuss the challenges associated with sustaining
        biological and biomedical (i.e., life sciences) data resources and associated
        infrastructure. A strong consensus emerged from the group that core data resources
        for the life sciences should be supported through a coordinated international
        effort(s) that better ensure long-term sustainability and that appropriately
        align funding with scientific impact. Ideally, funding for such data resources
        should allow for access at no charge, as is presently the usual (and preferred)
        mechanism. Below, the rationale for this vision is described, and some important
        considerations for developing a new international funding model to support
        core data resources for the life sciences are presented.<\/jats:p>","DOI":"10.1101\/110825","type":"posted-content","created":{"date-parts":[[2017,2,24]],"date-time":"2017-02-24T01:10:11Z","timestamp":1487898611000},"source":"Crossref","is-referenced-by-count":11,"title":"Towards
        Coordinated International Support of Core Data Resources for the Life Sciences","prefix":"10.1101","author":[{"given":"W.","family":"Anderson","sequence":"first","affiliation":[]},{"given":"R.","family":"Apweiler","sequence":"additional","affiliation":[]},{"given":"A.","family":"Bateman","sequence":"additional","affiliation":[]},{"given":"G.A.","family":"Bauer","sequence":"additional","affiliation":[]},{"given":"H.","family":"Berman","sequence":"additional","affiliation":[]},{"given":"J.A.","family":"Blake","sequence":"additional","affiliation":[]},{"given":"N.","family":"Blomberg","sequence":"additional","affiliation":[]},{"given":"S.K.","family":"Burley","sequence":[...]
- request:
    method: get
    uri: https://doi.org/10.1371/journal.pmed.1002276
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://api.crossref.org/v1/works/10.1371%2Fjournal.pmed.1002276/transform
    body:
      encoding: UTF-8
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="https://api.crossref.org/v1/works/10.1371%2Fjournal.pmed.1002276/transform">https://api.crossref.org/v1/works/10.1371%2Fjournal.pmed.1002276/transform</a></body></html>
  recorded_at: Wed, 06 Sep 2023 14:24:44 GMT
- request:
    method: get
    uri: https://api.crossref.org/v1/works/10.1371%2Fjournal.pmed.1002276/transform
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json
      Link:
      - <http://dx.doi.org/10.1371/journal.pmed.1002276>; rel="canonical", <http://dx.plos.org/10.1371/journal.pmed.1002276>;
        version="vor"; rel="item", <http://creativecommons.org/licenses/by/4.0/>;
        version="vor"; rel="license", <http://orcid.org/0000-0002-7118-7744>; title="Jaykumar
        Menon"; rel="author", <http://orcid.org/0000-0001-9296-5130>; title="Zakir
        Thomas"; rel="author", <http://orcid.org/0000-0001-7096-4751>; title="Matthew
        H. Todd"; rel="author", <http://orcid.org/0000-0002-4510-0385>; title="John
        Wilbanks"; rel="author"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"indexed":{"date-parts":[[2023,8,26]],"date-time":"2023-08-26T00:18:57Z","timestamp":1693009137905},"reference-count":48,"publisher":"Public
        Library of Science (PLoS)","issue":"4","license":[{"start":{"date-parts":[[2017,4,18]],"date-time":"2017-04-18T00:00:00Z","timestamp":1492473600000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"content-domain":{"domain":["www.plosmedicine.org"],"crossmark-restriction":false},"DOI":"10.1371\/journal.pmed.1002276","type":"journal-article","created":{"date-parts":[[2017,4,18]],"date-time":"2017-04-18T17:26:16Z","timestamp":1492536376000},"page":"e1002276","update-policy":"http:\/\/dx.doi.org\/10.1371\/journal.pmed.corrections_policy","source":"Crossref","is-referenced-by-count":24,"title":"An
        open source pharma roadmap","prefix":"10.1371","volume":"14","author":[{"given":"Manica","family":"Balasegaram","sequence":"first","affiliation":[]},{"given":"Peter","family":"Kolb","sequence":"additional","affiliation":[]},{"given":"John","family":"McKew","sequence":"additional","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0002-7118-7744","authenticated-orcid":true,"given":"Jaykumar","family":"Menon","sequence":"additional","affiliation":[]},{"given":"Piero","family":"Olliaro","sequence":"additional","affiliation":[]},{"given":"Tomasz","family":"Sablinski","sequence":"additional","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0001-9296-5130","authenticated-orcid":true,"given":"Zakir","family":"Thomas","sequence":"additional","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0001-7096-4751","authenticated-orcid":true,"given":"Matthew
        H.","family":"Todd","sequence":"additional","affiliation":[]},{"given":"Els","family":"Torreele","sequence":"additional","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0002-4510-0385","authenticated-orcid":true,"given":"John","family":"Wilbanks","sequence":"additional","affiliation":[]}],"member":"340","published-online":{"date-parts":[[2017,4,18]]},"reference":[{"key":"ref1","doi-asserted-by":"publisher","first-page":"191","DOI":"10.1038\/nrd3681","article-title":"Diagnosing
        the decline in pharmaceutical R&amp;D efficiency","volume":"11","author":"JW
        Scannell","year":"2012","journal-title":"Nat Rev Drug Discov"},{"issue":"5","key":"ref2","doi-asserted-by":"publisher","first-page":"e1001218","DOI":"10.1371\/journal.pmed.1001218","article-title":"Innovation
        and access to medicines for neglected populations: could a treaty address
        a broken pharmaceutical R&amp;D system?","volume":"9","author":"S Moon","year":"2012","journal-title":"PLoS
        Med"},{"issue":"2","key":"ref3","doi-asserted-by":"publisher","first-page":"e14","DOI":"10.1371\/journal.pmed.0020014","article-title":"The
        courage to change the rules: a proposal for an essential health R&amp;D treaty","volume":"2","author":"N
        Dentico","year":"2005","journal-title":"PLoS Med"},{"key":"ref4","unstructured":"Incentivising
        research and development for the diseases of poverty (2005) Working paper
        of the WHO Commission on Intellectual Property Rights, Innovation and Public
        Health (CIPIH). <ext-link xmlns:xlink=\"http:\/\/www.w3.org\/1999\/xlink\"
        ext-link-type=\"uri\" xlink:href=\"http:\/\/www.who.int\/intellectualproperty\/submissions\/IncentivisingRD.pdf\"
        xlink:type=\"simple\">http:\/\/www.who.int\/intellectualproperty\/submissions\/IncentivisingRD.pdf<\/ext-link>.
        Accessed Feb 16th 2017."},{"key":"ref5","doi-asserted-by":"publisher","first-page":"2","DOI":"10.1186\/2001-1326-2-2","article-title":"Public-private
        partnerships as driving forces in the quest for innovative medicines","volume":"2","author":"M
        Goldman","year":"2013","journal-title":"Clin Transl Med"},{"key":"ref6","article-title":"Product
        Development Partners[...]
- request:
    method: head
    uri: https://cyber.harvard.edu/hoap/good_practices_for_university_open-access_policies
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Last-Modified:
      - Wed, 06 Sep 2023 14:24:46 GMT
      Location:
      - https://cyber.harvard.edu/hoap/Good_practices_for_university_open-access_policies
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 06 Sep 2023 14:24:46 GMT
- request:
    method: head
    uri: https://cyber.harvard.edu/hoap/how_to_make_your_own_work_open_access
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Last-Modified:
      - Wed, 06 Sep 2023 14:24:47 GMT
      Location:
      - https://cyber.harvard.edu/hoap/How_to_make_your_own_work_open_access
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 06 Sep 2023 14:24:47 GMT
- request:
    method: get
    uri: https://doi.org/10.3389/fnhum.2013.00291
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://api.crossref.org/v1/works/10.3389%2Ffnhum.2013.00291/transform
    body:
      encoding: UTF-8
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="https://api.crossref.org/v1/works/10.3389%2Ffnhum.2013.00291/transform">https://api.crossref.org/v1/works/10.3389%2Ffnhum.2013.00291/transform</a></body></html>
  recorded_at: Wed, 06 Sep 2023 14:24:47 GMT
- request:
    method: get
    uri: https://api.crossref.org/v1/works/10.3389%2Ffnhum.2013.00291/transform
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json
      Link:
      - <http://dx.doi.org/10.3389/fnhum.2013.00291>; rel="canonical"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"indexed":{"date-parts":[[2023,9,6]],"date-time":"2023-09-06T13:11:51Z","timestamp":1694005911458},"reference-count":0,"publisher":"Frontiers
        Media SA","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.3389\/fnhum.2013.00291","type":"journal-article","created":{"date-parts":[[2013,6,24]],"date-time":"2013-06-24T04:33:47Z","timestamp":1372048427000},"source":"Crossref","is-referenced-by-count":183,"title":"Deep
        impact: unintended consequences of journal rank","prefix":"10.3389","volume":"7","author":[{"given":"Bj\u00f6rn","family":"Brembs","sequence":"first","affiliation":[]},{"given":"Katherine","family":"Button","sequence":"additional","affiliation":[]},{"given":"Marcus","family":"Munaf\u00f2","sequence":"additional","affiliation":[]}],"member":"1965","published-online":{"date-parts":[[2013]]},"container-title":"Frontiers
        in Human Neuroscience","original-title":[],"deposited":{"date-parts":[[2015,2,18]],"date-time":"2015-02-18T14:39:43Z","timestamp":1424270383000},"score":1,"resource":{"primary":{"URL":"http:\/\/journal.frontiersin.org\/article\/10.3389\/fnhum.2013.00291\/abstract"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2013]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.3389\/fnhum.2013.00291","relation":{"has-review":[{"id-type":"doi","id":"10.3410\/f.722257223.793538375","asserted-by":"object"},{"id-type":"doi","id":"10.3410\/f.722257223.793573377","asserted-by":"object"}]},"ISSN":["1662-5161"],"subject":["Behavioral
        Neuroscience","Biological Psychiatry","Psychiatry and Mental health","Neurology","Neuropsychology
        and Physiological Psychology"],"container-title-short":"Front. Hum. Neurosci.","published":{"date-parts":[[2013]]}}'
  recorded_at: Wed, 06 Sep 2023 14:24:48 GMT
- request:
    method: head
    uri: https://theguardian.com/science/2017/jun/27/profitable-business-scientific-publishing-bad-for-science
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Retry-After:
      - '0'
      Location:
      - https://www.theguardian.com/science/2017/jun/27/profitable-business-scientific-publishing-bad-for-science
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 06 Sep 2023 14:24:49 GMT
- request:
    method: head
    uri: https://capetowndeclaration.org/sign-the-declaration
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://www.capetowndeclaration.org/sign-the-declaration
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 06 Sep 2023 14:24:49 GMT
- request:
    method: get
    uri: https://doi.org/10.3233/ISU-170839
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://api.crossref.org/v1/works/10.3233%2FISU-170839/transform
    body:
      encoding: UTF-8
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="https://api.crossref.org/v1/works/10.3233%2FISU-170839/transform">https://api.crossref.org/v1/works/10.3233%2FISU-170839/transform</a></body></html>
  recorded_at: Wed, 06 Sep 2023 14:24:50 GMT
- request:
    method: get
    uri: https://api.crossref.org/v1/works/10.3233%2FISU-170839/transform
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json
      Link:
      - <http://dx.doi.org/10.3233/isu-170839>; rel="canonical", <https://content.iospress.com/download?id=10.3233/ISU-170839>;
        version="vor"; rel="item", <https://creativecommons.org/licenses/by-nc/4.0/>;
        rel="license"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"indexed":{"date-parts":[[2023,7,5]],"date-time":"2023-07-05T19:35:51Z","timestamp":1688585751260},"reference-count":0,"publisher":"IOS
        Press","issue":"3","license":[{"start":{"date-parts":[[2017,11,7]],"date-time":"2017-11-07T00:00:00Z","timestamp":1510012800000},"content-version":"unspecified","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by-nc\/4.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2017,11,7]]},"DOI":"10.3233\/isu-170839","type":"journal-article","created":{"date-parts":[[2017,10,17]],"date-time":"2017-10-17T16:22:16Z","timestamp":1508257336000},"page":"271-274","source":"Crossref","is-referenced-by-count":4,"title":"Open
        Access policies and Science Europe: State of play","prefix":"10.3233","volume":"37","author":[{"given":"Amanda","family":"Crowfoot","sequence":"first","affiliation":[{"name":"Science
        Europe, Brussels, Belgium. E-mail:\u00a0office@scienceeurope.org"}]}],"member":"7437","container-title":"Information
        Services &amp; Use","original-title":[],"link":[{"URL":"https:\/\/content.iospress.com\/download?id=10.3233\/ISU-170839","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2019,12,3]],"date-time":"2019-12-03T10:54:14Z","timestamp":1575370454000},"score":1,"resource":{"primary":{"URL":"https:\/\/www.medra.org\/servlet\/aliasResolver?alias=iospress&doi=10.3233\/ISU-170839"}},"subtitle":[],"editor":[{"given":"Chris","family":"Armbruster","sequence":"additional","affiliation":[]}],"short-title":[],"issued":{"date-parts":[[2017,11,7]]},"references-count":0,"journal-issue":{"issue":"3"},"URL":"http:\/\/dx.doi.org\/10.3233\/ISU-170839","relation":{},"ISSN":["1875-8789","0167-5265"],"subject":["Library
        and Information Sciences","Computer Science Applications","Information Systems"],"container-title-short":"ISU","published":{"date-parts":[[2017,11,7]]}}'
  recorded_at: Wed, 06 Sep 2023 14:24:50 GMT
- request:
    method: head
    uri: https://go-fair.org/fair-principles
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Redirect-By:
      - WordPress
      Location:
      - https://www.go-fair.org/fair-principles/
      X-Httpd:
      - '1'
      Host-Header:
      - 8441280b0c35cbc1147f8ba998a563a7
      X-Proxy-Cache-Info:
      - DT:1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 06 Sep 2023 14:24:51 GMT
- request:
    method: get
    uri: https://doi.org/10.1126/scitranslmed.aai9055
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://api.crossref.org/v1/works/10.1126%2Fscitranslmed.aai9055/transform
    body:
      encoding: UTF-8
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="https://api.crossref.org/v1/works/10.1126%2Fscitranslmed.aai9055/transform">https://api.crossref.org/v1/works/10.1126%2Fscitranslmed.aai9055/transform</a></body></html>
  recorded_at: Wed, 06 Sep 2023 14:24:52 GMT
- request:
    method: get
    uri: https://api.crossref.org/v1/works/10.1126%2Fscitranslmed.aai9055/transform
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json
      Link:
      - <http://dx.doi.org/10.1126/scitranslmed.aai9055>; rel="canonical", <https://syndication.highwire.org/content/doi/10.1126/scitranslmed.aai9055>;
        version="vor"; r[...]
- request:
    method: head
    uri: https://openpharma.blog/2017/08/14/when-will-preprints-take-off-in-medicine
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Pingback:
      - https://www.openpharma.blog/xmlrpc.php
      X-Redirect-By:
      - WordPress
      Location:
      - https://www.openpharma.blog/blog/news/when-will-preprints-take-off-in-medicine/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 06 Sep 2023 14:24:54 GMT
- request:
    method: get
    uri: https://doi.org/10.1017/CBO9781316161012
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://api.crossref.org/v1/works/10.1017%2FCBO9781316161012/transform
    body:
      encoding: UTF-8
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="https://api.crossref.org/v1/works/10.1017%2FCBO9781316161012/transform">https://api.crossref.org/v1/works/10.1017%2FCBO9781316161012/transform</a></body></html>
  recorded_at: Wed, 06 Sep 2023 14:24:54 GMT
- request:
    method: get
    uri: https://api.crossref.org/v1/works/10.1017%2FCBO9781316161012/transform
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json
      Link:
      - <http://dx.doi.org/10.1017/cbo9781316161012>; rel="canonical", <https://www.cambridge.org/core/terms>;
        rel="license"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"indexed":{"date-parts":[[2023,9,6]],"date-time":"2023-09-06T13:04:42Z","timestamp":1694005482272},"edition-number":"1","reference-count":0,"publisher":"Cambridge
        University Press","isbn-type":[{"value":"9781316161012","type":"electronic"},{"value":"9781107097896","type":"print"},{"value":"9781107484016","type":"print"}],"license":[{"start":{"date-parts":[[2014,11,26]],"date-time":"2014-11-26T00:00:00Z","timestamp":1416960000000},"content-version":"unspecified","delay-in-days":0,"URL":"https:\/\/www.cambridge.org\/core\/terms"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2014,11,27]]},"abstract":"<jats:p>If
        you work in a university, yo[...]
- request:
    method: get
    uri: https://doi.org/10.16995/olh.46
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://api.crossref.org/v1/works/10.16995%2Folh.46/transform
    body:
      encoding: UTF-8
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="https://api.crossref.org/v1/works/10.16995%2Folh.46/transform">https://api.crossref.org/v1/works/10.16995%2Folh.46/transform</a></body></html>
  recorded_at: Wed, 06 Sep 2023 14:24:56 GMT
- request:
    method: get
    uri: https://api.crossref.org/v1/works/10.16995%2Folh.46/transform
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json
      Link:
      - <http://dx.doi.org/10.16995/olh.46>; rel="canonical", <http://olh.openlibhums.org/articles/10.16995/olh.46/galley/2/download/>;
        version="vor"; rel="item", <http://creativeco[...]
- request:
    method: get
    uri: https://doi.org/10.1007/978-3-319-00026-8_2
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://api.crossref.org/v1/works/10.1007%2F978-3-319-00026-8_2/transform
    body:
      encoding: UTF-8
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="https://api.crossref.org/v1/works/10.1007%2F978-3-319-00026-8_2/transform">https://api.crossref.org/v1/works/10.1007%2F978-3-319-00026-8_2/transform</a></body></html>
  recorded_at: Wed, 06 Sep 2023 14:24:58 GMT
- request:
    method: get
    uri: https://api.crossref.org/v1/works/10.1007%2F978-3-319-00026-8_2/transform
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json
      Link:
      - <http://dx.doi.org/10.1007/978-3-319-00026-8_2>; rel="canonical", <http://link.springer.com/content/pdf/10.1007/978-3-319-00026-8_2>;
        version="vor"; rel="item"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"indexed":{"date-parts":[[2023,9,5]],"date-time":"2023-09-05T13:15:46Z","timestamp":1693919746053},"publisher-location":"Cham","reference-count":48,"publisher":"Springer
[...]
