---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/f3dc29da-0481-4f3b-8110-4c07260fca67
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"xhyqdztkms4zv"'
      X-Matched-Path:
      - "/api/posts/[[...params]]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::x9cxv-1688502788686-0b1ffa96daf5
    body:
      encoding: UTF-8
      string: '{"id":"273fcd5f-95b3-4436-9998-acdacdb1323b","uuid":"f3dc29da-0481-4f3b-8110-4c07260fca67","url":"https://flavoursofopen.science/grundlagen-fur-die-entwicklung-einer-open-scholarship-strategie","title":"Grundlagen
        für die Entwicklung einer Open Scholarship-Strategie","summary":"Versionshistorie
        Version 1.0 — 16. Oktober 2017 – Erste Version des Dokuments. Version 1.1
        — 06. Juni 2018 – Website erstellt. Version 1.2 — Vervollständigter erster
        Entwurf (30. Juli 2018) Version 2.1 — Vollständig überarbeitete zweite Version
        (31. Januar, 2019), in englischer Sprache veröffentlicht unter DOI 10.31222/osf.io/b4v8p,
        auf deutsch veröffentlicht unter DOI 10.31235/osf.io/hu9sj Beachte, dass Versionen
        dieses Dokuments auch in...","date_published":"2019-01-31T00:01:19+00:00","date_modified":"2023-06-19T20:37:51+00:00","date_indexed":"2023-07-02T19:16:56+00:00","authors":[{"url":"https://orcid.org/0000-0002-3158-3136","name":"Tobias
        Steiner"}],"image":null,"tags":["Open Scholarship"],"language":"de","references":[{"key":"ref1","url":"http://oerstrategy.org/home/read-the-doc"},{"doi":"https://doi.org/10.1101/110825","key":"ref2"},{"doi":"https://doi.org/10.1371/journal.pmed.1002276","key":"ref3"},{"key":"ref4","url":"https://cyber.harvard.edu/hoap/Good_practices_for_university_open-access_policies"},{"key":"ref5","url":"https://cyber.harvard.edu/hoap/How_to_make_your_own_work_open_access"},{"key":"ref6","url":"https://dx.doi.org/10.3389/fnhum.2013.00291"},{"key":"ref7","url":"https://theguardian.com/science/2017/jun/27/profitable-business-scientific-publishing-bad-for-scienc[...]
- request:
    method: head
    uri: http://oerstrategy.org/home/read-the-doc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html
      Location:
      - http://www.oerstrategy.org/home/read-the-doc
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:09 GMT
- request:
    method: head
    uri: https://doi.org/10.1101/110825
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - http://biorxiv.org/lookup/doi/10.1101/110825
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:09 GMT
- request:
    method: head
    uri: https://doi.org/10.1371/journal.pmed.1002276
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://dx.plos.org/10.1371/journal.pmed.1002276
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:09 GMT
- request:
    method: head
    uri: https://cyber.harvard.edu/hoap/Good_practices_for_university_open-access_policies
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Last-Modified:
      - Tue, 11 Apr 2023 20:22:48 GMT
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:10 GMT
- request:
    method: head
    uri: https://cyber.harvard.edu/hoap/How_to_make_your_own_work_open_access
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Last-Modified:
      - Mon, 15 May 2023 16:54:06 GMT
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:10 GMT
- request:
    method: head
    uri: https://theguardian.com/science/2017/jun/27/profitable-business-scientific-publishing-bad-for-science
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Retry-After:
      - '0'
      Location:
      - https://www.theguardian.com/science/2017/jun/27/profitable-business-scientific-publishing-bad-for-science
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:11 GMT
- request:
    method: head
    uri: https://capetowndeclaration.org/sign-the-declaration
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://www.capetowndeclaration.org/sign-the-declaration
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:11 GMT
- request:
    method: head
    uri: https://doi.org/10.3233/isu-170839
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://www.medra.org/servlet/aliasResolver?alias=iospress&doi=10.3233/ISU-170839
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:11 GMT
- request:
    method: head
    uri: https://go-fair.org/fair-principles
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Redirect-By:
      - WordPress
      Location:
      - https://www.go-fair.org/fair-principles/
      X-Httpd:
      - '1'
      Host-Header:
      - 8441280b0c35cbc1147f8ba998a563a7
      X-Proxy-Cache-Info:
      - DT:1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:11 GMT
- request:
    method: head
    uri: https://doi.org/10.1126/scitranslmed.aai9055
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://www.science.org/doi/10.1126/scitranslmed.aai9055
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:12 GMT
- request:
    method: head
    uri: https://openpharma.blog/2017/08/14/when-will-preprints-take-off-in-medicine
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Pingback:
      - https://www.openpharma.blog/xmlrpc.php
      X-Redirect-By:
      - WordPress
      Location:
      - https://www.openpharma.blog/blog/news/when-will-preprints-take-off-in-medicine/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:12 GMT
- request:
    method: head
    uri: https://doi.org/10.1017/cbo9781316161012
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://www.cambridge.org/core/product/identifier/9781316161012/type/book
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:13 GMT
- request:
    method: head
    uri: https://doi.org/10.16995/olh.46
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://olh.openlibhums.org/article/id/4400/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:13 GMT
- request:
    method: head
    uri: https://doi.org/10.1007/978-3-319-00026-8_2
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - http://link.springer.com/10.1007/978-3-319-00026-8_2
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:13 GMT
- request:
    method: head
    uri: https://doi.org/10.1007/s10961-014-9375-6
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - http://link.springer.com/10.1007/s10961-014-9375-6
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:13 GMT
- request:
    method: head
    uri: http://jonathanfurner.info/docs/furnerInPress-a.pdf
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/pdf
      Last-Modified:
      - Thu, 18 Dec 2014 21:57:42 GMT
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:13 GMT
- request:
    method: head
    uri: https://doi.org/10.1136/bmjopen-2017-015997
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://bmjopen.bmj.com/lookup/doi/10.1136/bmjopen-2017-015997
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:14 GMT
- request:
    method: head
    uri: https://doi.org/10.1002/leap.1228
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://onlinelibrary.wiley.com/doi/10.1002/leap.1228
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:14 GMT
- request:
    method: head
    uri: https://web.archive.org/web/20220808134259/https://www.semantic-web-journal.net/content/reasonable-semantic-web
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-Archive-Orig-Date:
      - Mon, 08 Aug 2022 13:42:59 GMT
      X-Archive-Orig-X-Crawler-Transfer-Encoding:
      - chunked
      X-Archive-Orig-Connection:
      - keep-alive
      X-Archive-Orig-Server:
      - Apache
      X-Archive-Orig-X-Content-Type-Options:
      - nosniff
      - nosniff
      X-Archive-Orig-X-Drupal-Cache:
      - MISS
      X-Archive-Orig-Expires:
      - Sun, 19 Nov 1978 05:00:00 GMT
      X-Archive-Orig-Cache-Control:
      - public, max-age=0
      X-Archive-Orig-Content-Language:
      - en
      X-Archive-Orig-X-Frame-Options:
      - SAMEORIGIN
      X-Archive-Orig-Permissions-Policy:
      - interest-cohort=()
      X-Archive-Orig-X-Generator:
      - Drupal 7 (http://drupal.org)
      X-Archive-Orig-Link:
      - </content/reasonable-semantic-web>; rel="canonical",</node/31>; rel="shortlink"
      X-Archive-Orig-Etag:
      - '"1659966179-1"'
      X-Archive-Orig-Last-Modified:
      - Mon, 08 Aug 2022 13:42:59 GMT
      X-Archive-Orig-Vary:
      - Cookie,Accept-Encoding
      X-Archive-Orig-X-Crawler-Content-Encoding:
      - gzip
      X-Archive-Orig-Content-Length:
      - '49743'
      X-Archive-Guessed-Content-Type:
      - text/html
      X-Archive-Guessed-Charset:
      - utf-8
      Memento-Datetime:
      - Mon, 08 Aug 2022 13:42:59 GMT
      Link:
      - <https://www.semantic-web-journal.net/content/reasonable-semantic-web>; rel="original",
        <https://web.archive.org/web/timemap/link/https://www.semantic-web-journal.net/content/reasonable-semantic-web>;
        rel="timemap"; type="application/link-format", <https://web.archive.org/web/https://www.semantic-web-journal.net/content/reasonable-semantic-web>;
        rel="timegate", <https://web.archive.org/web/20110504161516/http://www.semantic-web-journal.net:80/content/reasonable-semantic-web>;
        rel="first memento"; datetime="Wed, 04 May 2011 16:15:16 GMT", <https://web.archive.org/web/20220716002041/http://www.semantic-web-journal.net/content/reasonable-semantic-web>;
        rel="prev memento"; datetime="Sat, 16 Jul 2022 00:20:41 GMT", <https://web.archive.org/web/20220808134259/https://www.semantic-web-journal.net/content/reasonable-semantic-web>;
        rel="memento"; datetime="Mon, 08 Aug 2022 13:42:59 GMT", <https://web.archive.org/web/20220813204532/https://www.semantic-web-journal.net/content/reasonable-semantic-web>;
        rel="next memento"; datetime="Sat, 13 Aug 2022 20:45:32 GMT", <https://web.archive.org/web/20230401011015/https://www.semantic-web-journal.net/content/reasonable-semantic-web>;
        rel="last memento"; datetime="Sat, 01 Apr 2023 01:10:15 GMT"
      X-Archive-Src:
      - CC-MAIN-2022-33-1659882570827.41-0006/CC-MAIN-20220808122331-20220808152331-00132.warc.gz
      X-App-Server:
      - wwwb-app213
      X-Ts:
      - '200'
      X-Tr:
      - '1594'
      X-Location:
      - All
      X-Rl:
      - '0'
      X-Na:
      - '0'
      X-Page-Cache:
      - MISS
      X-Nid:
      - "-"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:16 GMT
- request:
    method: head
    uri: https://web.archive.org/web/20190727193223/https://ec.europa.eu/info/designing-next-research-and-innovation-framework-programme/what-shapes-next-framework-programme_en
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-Archive-Orig-X-Content-Type-Options:
      - nosniff
      X-Archive-Orig-Etag:
      - '"1564255391-1"'
      X-Archive-Orig-Content-Language:
      - en
      X-Archive-Orig-X-Frame-Options:
      - SAMEORIGIN
      X-Archive-Orig-Content-Security-Policy:
      - child-src 'self' *.youtube.com *.vimeo.com *.dailymotion.com *.europa.eu europa.eu
        youtube.com *.dailymotion.com *.vimeo.com *.amazonaws.com *.arcgis.com *.arte.tv
        *.babahh.com *.bbc.co.uk *.blitzvideoserver.de *.bpb.de *.brightcove.com *.btv.bg
        *.cc.cec *.cimo.fi *.cjelozivotno-ucenje.hr *.cnbc.com *.coe.int *.communi-k.eu
        *.compareyourcountry.org *.crp.education *.cy2012.eu *.dacast.com *.dcdn.lt
        debategraph.org digital-agenda-data.eu *.disaster[...]
[...]
- request:
    method: head
    uri: https://danielskatzblog.wordpress.com/2016/10/25/clash-of-cultures-why-all-science-isnt-open-science
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Hacker:
      - If you're reading this, you should visit automattic.com/jobs and apply to
        join the fun, mention this header.
      Host-Header:
      - WordPress.com
      X-Pingback:
      - https://danielskatzblog.wordpress.com/xmlrpc.php
      X-Redirect-By:
      - WordPress
      Location:
      - https://danielskatzblog.wordpress.com/2016/10/25/clash-of-cultures-why-all-science-isnt-open-science/
      X-Ac:
      - 5.ams _dfw MISS
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:19 GMT
- request:
    method: head
    uri: https://doi.org/10.12688/f1000research.17425.1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://f1000research.com/articles/7-1926/v1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:19 GMT
- request:
    method: head
    uri: https://doi.org/10.5281/zenodo.1147025
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://zenodo.org/record/1147025
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:19 GMT
- request:
    method: head
    uri: https://arxiv.org/abs/1801.08992
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 06 Mar 2018 01:19:46 GMT
      Etag:
      - '"Tue, 06 Mar 2018 01:19:46 GMT"'
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:20 GMT
- request:
    method: head
    uri: https://doi.org/10.1073/pnas.1421412111
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://pnas.org/doi/full/10.1073/pnas.1421412111
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:20 GMT
- request:
    method: head
    uri: https://doi.org/10.7287/peerj.preprints.2689v1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://peerj.com/preprints/2689v1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:20 GMT
- request:
    method: head
    uri: https://doi.org/10.1371/journal.pbio.1002614
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://dx.plos.org/10.1371/journal.pbio.1002614
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:20 GMT
- request:
    method: head
    uri: https://doi.org/10.7554/elife.16800
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://elifesciences.org/articles/16800
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:21 GMT
- request:
    method: head
    uri: https://web.archive.org/web/20200715115043/https://libereurope.eu/wp-content/uploads/2018/07/SO_A4_2018_05-EN_print.pdf
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-App-Server:
      - wwwb-app222
      X-Ts:
      - '200'
      X-Tr:
      - '160'
      X-Rl:
      - '0'
      X-Na:
      - '0'
      X-Page-Cache:
      - BYPASS
      X-Nid:
      - "-"
      X-Location:
      - _pdf
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:21 GMT
[...]
- request:
    method: head
    uri: https://techdirt.com/articles/20170804/05454537924/elsevier-continues-to-build-monopoly-solution-all-aspects-scholarly-communication.shtml
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://www.techdirt.com/articles/20170804/05454537924/elsevier-continues-to-build-monopoly-solution-all-aspects-scholarly-communication.shtml
      X-Ac:
      - 1.ams _atomic_ams BYPASS
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:22 GMT
- request:
    method: head
    uri: https://doi.org/10.4000/rfsic.3220
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - http://journals.openedition.org/rfsic/3220
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:22 GMT
- request:
    method: head
    uri: https://sustainingknowledgecommons.org/2018/02/06/doaj-apc-information-as-of-jan-31-2018
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Hacker:
      - If you're reading this, you should visit automattic.com/jobs and apply to
        join the fun, mention this header.
      Host-Header:
      - WordPress.com
      X-Redirect-By:
      - WordPress
      Location:
      - https://sustainingknowledgecommons.org/2018/02/06/doaj-apc-information-as-of-jan-31-2018/
      X-Ac:
      - 3.ams _dfw EXPIRED
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:23 GMT
- request:
    method: head
    uri: https://nature.com/articles/s41562-016-0021
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://www.nature.com/articles/s41562-016-0021
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:23 GMT
- request:
    method: head
    uri: https://doi.org/10.1002/asi.23741
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://onlinelibrary.wiley.com/doi/10.1002/asi.23741
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:23 GMT
- request:
    method: head
    uri: https://etag.ee/wp-content/uploads/2017/03/Open-Science-in-Estonia-Principles-and-Recommendations-final.pdf
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 17 Apr 2017 07:21:36 GMT
      Etag:
      - '"a4a17-54d57a4354000"'
      Content-Type:
      - application/pdf
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:23 GMT
[...]
- request:
    method: head
    uri: https://routledge.com/Virtues-of-Openness-Education-Science-and-Scholarship-in-the-Digital/Peters-Roberts/p/book/9781594516863
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
      Location:
      - https://www.routledge.com/Virtues-of-Openness-Education-Science-and-Scholarship-in-the-Digital/Peters-Roberts/p/book/9781594516863
    body:
      encoding: ISO-8859-1
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:24 GMT
- request:
    method: head
    uri: https://mitpress.mit.edu/books/metadata
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://mitpress.mit.edu/9780262528511
      Ki-Cache-Type:
      - None
      Ki-Cf-Cache-Status:
      - BYPASS
      Ki-Edge:
      - v=20.0.0;mv=2.0.3
      X-Edge-Location-Klb:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:24 GMT
- request:
    method: head
    uri: http://knowledgegap.org/index.php/sub-projects/rent-seeking-and-financialization-of-the-academic-publishing-industry/preliminary-findings
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      X-Redirect-By:
      - WordPress
      Upgrade:
      - h2,h2c
      Location:
      - http://knowledgegap.org/index.php/sub-projects/rent-seeking-and-financialization-of-the-academic-publishing-industry/preliminary-findings/
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:27 GMT
- request:
    method: head
    uri: https://poynder.blogspot.com/2017/02/copyright-immoveable-barrier-that-open.html
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Last-Modified:
      - Mon, 03 Jul 2023 07:33:43 GMT
      Etag:
      - '"3c81bca3-ab03-4206-9345-1a064f7dde72"'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:27 GMT
- request:
    method: head
    uri: https://sr.ithaka.org/blog/the-center-for-open-science-alternative-to-elsevier-announces-new-preprint-services-today
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - https://sr.ithaka.org/blog/the-center-for-open-science-alternative-to-elsevier-announces-new-preprint-services-today/
      X-Pantheon-Styx-Hostname:
      - styx-fe3-b-565b75cfd6-frchr
      X-Pingback:
      - https://sr.ithaka.org/xmlrpc.php
      X-Redirect-By:
      - WordPress
      X-Styx-Req-Id:
      - 2db628e9-1aa6-11ee-b00c-c6e014766515
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:27 GMT
- request:
    method: head
    uri: http://lchc.ucsd.edu/MCA/Mail/xmcamail.2012_08.dir/pdfMrgHgzULhA.pdf
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lchc.ucsd.edu/MCA/Mail/xmcamail.2012_08.dir/pdfMrgHgzULhA.pdf
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: ISO-8859-1
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:28 GMT
[...]
- request:
    method: head
    uri: https://doi.org/10.6084/m9.figshare.c.3943972.v7
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://figshare.com/collections/How_to_make_your_work_100_Open_Access_for_free_and_legally_multi-lingual_/3943972/7
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:29 GMT
- request:
    method: head
    uri: https://doi.org/10.31222/osf.io/796tu
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://osf.io/796tu
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:29 GMT
[...]
- request:
    method: head
    uri: https://doi.org/10.19173/irrodl.v13i4.1313
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - http://www.irrodl.org/index.php/irrodl/article/view/1313
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:29 GMT
[...]
- request:
    method: head
    uri: https://doi.org/10.5334/bam
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - http://www.ubiquitypress.com/site/books/10.5334/bam/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:30 GMT
- request:
    method: head
    uri: https://doi.org/10.1038/sdata.2016.18
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://www.nature.com/articles/sdata201618
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:30 GMT
[...]
- request:
    method: head
    uri: https://doi.org/10.1038/nchem.1149
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://www.nature.com/articles/nchem.1149
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 04 Jul 2023 20:33:30 GMT
recorded_with: VCR 6.2.0
