---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/4e4bf150-751f-4245-b4ca-fe69e3c3bb24
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"wiyxni2oct1py"'
      X-Matched-Path:
      - "/api/posts/[[...params]]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::lbzhl-1689023086570-3ba8fddd13e3
    body:
      encoding: UTF-8
      string: '{"id":"4e4bf150-751f-4245-b4ca-fe69e3c3bb24","doi":"https://doi.org/10.59350/hke8v-d1e66","url":"https://svpow.com/2023/06/09/new-paper-curtice-et-al-2023-on-the-first-haplocanthosaurus-from-dry-mesa","title":"New
        paper: Curtice et al. (2023) on the first Haplocanthosaurus from Dry Mesa","summary":"Haplocanthosaurus
        tibiae and dorsal vertebrae. Curtice et al. (2023: fig. 1). Brian Curtice
        and Colin Boisvert are presenting our talk on this project at 2:00 pm MDT
        this afternoon, at the 14th Symposium on Mesozoic Terrestrial Ecosystems and
        Biota (MTE14) in Salt Lake City, and the related paper is in the MTE14 volume
        in The Anatomical Record. Here’s the citation and a direct link to the paper:
        Curtice, B., Wedel, M.J., Wilhite, D.R., and Boisvert, C. 2023. New material
        of...","published_at":1686340463,"updated_at":1686340463,"indexed_at":1688982864,"authors":[{"url":null,"name":"Matt
        Wedel"}],"image":null,"tags":["#MTE14","Barosaurus","cervical","conferences","diplodocids"],"language":"en","reference":[{"key":"ref1","url":"https://sauroposeidon.files.wordpress.com/2010/04/foster-and-wedel-2014-haplocanthosaurus-from-snowmass-colorado.pdf"},{"key":"ref2","url":"https://sauroposeidon.files.wordpress.com/2010/04/wedel-taylor-2013-neural-spine-bifurcation-in-sauropods.pdf"},{"key":"ref3","url":"https://svpow.files.wordpress.com/2022/03/wedel-et-al-2021-expanded-neural-canals-in-caudal-vertebrae-of-haplocanthosaurus.pdf"}],"blog_id":"dkvra02","blog_name":"Sauropod
        Vertebra Picture of the Week","blog":{"id":"dkvra02","title":"Sauropod Vertebra
        Picture of the Week","description":"SV-POW!  ...  All sauropod vertebrae,
        except when we''re talking about Open Access","language":"en","favicon":null,"feed_url":"https://svpow.com/feed/atom/","home_page_url":"https://svpow.com","user_id":"8498eaf6-8c58-4b58-bc15-27eda292b1aa","created_at":"2023-05-31T14:28:02+00:00","indexed_at":"2023-02-01","feed_format":"application/atom+xml","license":"https://creativecommons.org/licenses/by/4.0/legalcode","generator":"WordPress
        (.com)","category":"Natural Sciences","prefix":"10.59350","modified_at":"2023-06-26T10:33:26+00:00","version":"https://jsonfeed.org/version/1.1","backlog":true,"current_feed_url":null,"expired":null}}'
  recorded_at: Mon, 10 Jul 2023 21:04:47 GMT
- request:
    method: head
    uri: https://sauroposeidon.files.wordpress.com/2010/04/foster-and-wedel-2014-haplocanthosaurus-from-snowmass-colorado.pdf
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/pdf
      Last-Modified:
      - Mon, 16 Mar 2015 08:57:22 GMT
      X-Orig-Src:
      - 01_mogdir
      X-Nc:
      - MISS ams 26 np
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Tue, 11 Jul 2023 05:54:10 GMT
- request:
    method: head
    uri: https://sauroposeidon.files.wordpress.com/2010/04/wedel-taylor-2013-neural-spine-bifurcation-in-sauropods.pdf
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/pdf
      Last-Modified:
      - Mon, 16 Sep 2013 07:34:33 GMT
      X-Orig-Src:
      - 01_mogdir
      X-Nc:
      - MISS ams 26 np
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Tue, 11 Jul 2023 05:54:10 GMT
- request:
    method: head
    uri: https://svpow.files.wordpress.com/2022/03/wedel-et-al-2021-expanded-neural-canals-in-caudal-vertebrae-of-haplocanthosaurus.pdf
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/pdf
      Last-Modified:
      - Tue, 29 Mar 2022 07:37:54 GMT
      X-Orig-Src:
      - 01_mogdir
      X-Nc:
      - MISS ams 16 np
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Tue, 11 Jul 2023 05:54:10 GMT
recorded_with: VCR 6.2.0
