---
http_interactions:
- request:
    method: get
    uri: https://api.rogue-scholar.org/posts/1c578558-1324-4493-b8af-84c49eabc52f
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Fly-Request-Id:
      - 01HC0RYY3MYW4VDW8CYTAH436W-fra
    body:
      encoding: UTF-8
      string: '{"archive_url":null,"authors":[{"name":"Heinz Pampel","url":"https://orcid.org/0000-0003-3334-2771"}],"blog":{"api":true,"archive_prefix":null,"authors":null,"backlog":0,"canonical_url":null,"category":"socialSciences","created_at":"2023-01-16","current_feed_url":null,"description":"Gemeinschaftsblog
        zu wissenschaftlicher Kommunikation im Netz.","favicon":null,"feed_format":"application/atom+xml","feed_url":"https://wisspub.net/feed/atom/","filter":null,"funding":null,"generator":"WordPress.com","home_page_url":"https://wisspub.net","id":"34zkv26","issn":null,"language":"de","license":"https://creativecommons.org/licenses/by/4.0/legalcode","modified_at":"2023-07-13T08:19:22+00:00","plan":"Team","prefix":"10.59350","relative_url":null,"slug":"wisspub","status":"active","title":"wisspub.net","use_api":true,"use_mastodon":true,"user_id":"dbffda7d-f391-48fb-a6d2-d4a284c59c8d","version":"https://jsonfeed.org/version/1.1"},"blog_name":"wisspub.net","blog_slug":"wisspub","doi":"https://doi.org/10.59350/kz04m-s8z58","id":"1c578558-1324-4493-b8af-84c49eabc52f","image":"https://wisspub.files.wordpress.com/2023/05/bildschirmc2adfoto-2023-05-23-um-11.05.39.png?w=723","indexed_at":1689006804,"language":"de","published_at":1684833413,"reference":[],"relationships":[],"summary":"Die
        EU-Wissenschaftsministerien haben sich auf ihrer heutigen Sitzung in Br\u00fcssel
        unter dem Titel \u201cCouncil conclusions on high-quality, transparent, open,
        trustworthy and equitable scholarly publishing\u201d (PDF der englischen Version,
        PDF der deutschen Version)\u00a0mit den aktuellen Herausforderungen des wissenschaftlichen
        Publikationswesens befasst.","tags":["Open Access","Open Access Transformation","Open
        Science"],"title":"EU-Mitgliedstaaten betonen die Rolle von wissenschaftsgeleiteten
        Open-Access-Modellen jenseits von APCs","updated_at":1684833413,"url":"https://wisspub.net/2023/05/23/eu-mitgliedstaaten-betonen-die-rolle-von-wissenschaftsgeleiteten-open-access-modellen-jenseits-von-apcs"}

        '
  recorded_at: Thu, 05 Oct 2023 20:37:41 GMT
recorded_with: VCR 6.2.0
