---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/4e4bf150-751f-4245-b4ca-fe69e3c3bb24
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"l4l17zxt1eckc"'
      X-Matched-Path:
      - "/api/posts/[[...params]]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::58jl5-1694010436581-0c62532a3639
    body:
      encoding: UTF-8
      string: '{"id":"4e4bf150-751f-4245-b4ca-fe69e3c3bb24","doi":"https://doi.org/10.59350/hke8v-d1e66","url":"https://svpow.com/2023/06/09/new-paper-curtice-et-al-2023-on-the-first-haplocanthosaurus-from-dry-mesa","title":"New
        paper: Curtice et al. (2023) on the first Haplocanthosaurus from Dry Mesa","summary":"<em>Haplocanthosaurus</em>
        tibiae and dorsal vertebrae. Curtice et al. (2023: fig. 1).  Brian Curtice
        and Colin Boisvert are presenting our talk on this project at 2:00 pm MDT
        this afternoon, at the 14th Symposium on Mesozoic Terrestrial Ecosystems and
        Biota (MTE14) in Salt Lake City, and the related paper is in the MTE14 volume
        in The Anatomical Record.","content_html":"\n<div><a href=\"https://svpow.files.wordpress.com/2023/06/haplocanthosaurus-from-across-the-morrison-curtice-et-al-2023-fig-1.jpg\"><img
        src=\"https://svpow.files.wordpress.com/2023/06/haplocanthosaurus-from-across-the-morrison-curtice-et-al-2023-fig-1.jpg?w=480\"
        width=\"480\" height=\"199\" srcset=\"https://svpow.files.wordpress.com/2023/06/haplocanthosaurus-from-across-the-morrison-curtice-et-al-2023-fig-1.jpg?w=480
        480w, https://svpow.files.wordpress.com/2023/06/haplocantho[...]
- request:
    method: head
    uri: https://sauroposeidon.files.wordpress.com/2010/04/foster-and-wedel-2014-haplocanthosaurus-from-snowmass-colorado.pdf
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/pdf
      Last-Modified:
      - Mon, 16 Mar 2015 08:57:22 GMT
      X-Orig-Src:
      - 01_mogdir
      X-Nc:
      - MISS hhn 26 np
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 06 Sep 2023 14:27:17 GMT
- request:
    method: head
    uri: https://sauroposeidon.files.wordpress.com/2010/04/wedel-taylor-2013-neural-spine-bifurcation-in-sauropods.pdf
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/pdf
      Last-Modified:
      - Mon, 16 Sep 2013 07:34:33 GMT
      X-Orig-Src:
      - 01_mogdir
      X-Nc:
      - MISS hhn 26 np
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 06 Sep 2023 14:27:17 GMT
- request:
    method: head
    uri: https://svpow.files.wordpress.com/2022/03/wedel-et-al-2021-expanded-neural-canals-in-caudal-vertebrae-of-haplocanthosaurus.pdf
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/pdf
      Last-Modified:
      - Tue, 29 Mar 2022 07:37:54 GMT
      X-Orig-Src:
      - 01_mogdir
      X-Nc:
      - MISS hhn 16 np
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 06 Sep 2023 14:27:18 GMT
recorded_with: VCR 6.2.0
