---
http_interactions:
- request:
    method: get
    uri: https://rogue-scholar.org/api/posts/5d95d90d-ff59-4c8b-b7f8-44e6b45fd593
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"215twlqxlm94s"'
      X-Matched-Path:
      - "/api/posts/[[...params]]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - fra1::iad1::7jz6k-1694010210452-1a90d9f3e3f3
    body:
      encoding: UTF-8
      string: '{"id":"5d95d90d-ff59-4c8b-b7f8-44e6b45fd593","doi":"https://doi.org/10.59350/tpa8t-j6292","url":"https://www.samuelmoore.org/2023/04/20/how-to-cultivate-good-closures-scaling-small-and-the-limits-of-openness","title":"How
        to cultivate good closures: ‘scaling small’ and the limits of openness","summary":"<em>Text
        of a talk given to the COPIM end-of-project conference: <strong>“Scaling Small:
        Community-Owned Futures for Open Access Books”,</strong> April 20th 2023</em>  Open
        access publishing has always had a difficult relationship with smoothness
        and scale.","content_html":"\n<p><em>Text of a talk given to the COPIM end-of-project
        conference: <strong><a href=\"https://scalingsmall.pubpub.org/\">“Scaling
        Small: Community-Owned Futures for Open Access Books”</a>,</strong> April
        20th 2023</em></p>\n\n\n\n<p>Open access publishing has always had a difficult
        relationship with smoothness and scale. Openness implies seamlessness, limitlessness
        or structureless-ness – or the idea that the removal of price and permission
        barriers is what’s needed to allow research to reach its full potential. The
        drive for seamlessness is on display in much of the push for <a href=\"htt[...]
