---
http_interactions:
- request:
    method: get
    uri: https://api.rogue-scholar.org/posts/5d95d90d-ff59-4c8b-b7f8-44e6b45fd593
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Fly-Request-Id:
      - 01HC0RZ07SM9D6FJWVW0EMJDPB-fra
    body:
      encoding: UTF-8
      string: '{"archive_url":null,"authors":[{"name":"Samuel Moore"}],"blog":{"api":true,"archive_prefix":null,"authors":[{"name":"Samuel
        Moore"}],"backlog":0,"canonical_url":true,"category":"socialSciences","created_at":"2023-01-05","current_feed_url":null,"description":"publishing,
        technology, commons","favicon":"https://www.samuelmoore.org/wp-content/uploads/2019/02/cropped-cropped-cropped-roAorange-icon-2-32x32.png","feed_format":"application/atom+xml","feed_url":"https://www.samuelmoore.org/feed/atom/","filter":null,"funding":null,"generator":"WordPress
        6.3.1","home_page_url":"https://www.samuelmoore.org","id":"gr1by89","issn":null,"language":"en","license":"https://creativecommons.org/licenses/by/4.0/legalcode","modified_at":"2023-06-19T09:01:51+00:00","plan":"Starter","prefix":"10.59350","relative_url":null,"slug":"samuelmoore","status":"active","title":"Samuel
        Moore","use_api":true,"use_mastodon":false,"user_id":"c58a77c3-88d4-49ca-88ab-4f3de88301d8","version":"https://jsonfeed.org/version/1.1"},"blog_name":"Samuel
        Moore","blog_slug":"samuelmoore","doi":"https://doi.org/10.59350/tpa8t-j6292","id":"5d95d90d-ff59-4c8b-b7f8-44e6b45fd593","image":"https://www.samuelmoore.org/wp-content/uploads/2023/04/EYJIDW1.jpg","indexed_at":1689006804,"language":"en","published_at":1681997840,"reference":[],"relationships":[],"summary":"<em>Text
        of a talk given to the COPIM end-of-project conference: <strong>\u201cScaling
        Small: Community-Owned Futures for Open Access Books\u201d,</strong> April
        20th 2023</em>  Open access publishing has always had a difficult relationship
        with smoothness and scale.","tags":["Open Access"],"title":"How to cultivate
        good closures: \u2018scaling small\u2019 and the limits of openness","updated_at":1687165311,"url":"https://www.samuelmoore.org/2023/04/20/how-to-cultivate-good-closures-scaling-small-and-the-limits-of-openness"}

        '
  recorded_at: Thu, 05 Oct 2023 20:37:43 GMT
recorded_with: VCR 6.2.0
