---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1101/097196
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"institution":[{"name":"bioRxiv"}],"indexed":{"date-parts":[[2023,1,13]],"date-time":"2023-01-13T05:44:11Z","timestamp":1673588651470},"posted":{"date-parts":[[2016,12,28]]},"group-title":"Scientific
        Communication and Education","reference-count":26,"publisher":"Cold Spring
        Harbor Laboratory","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"accepted":{"date-parts":[[2017,10,9]]},"abstract":"<jats:title>Abstract<\/jats:title><jats:p>This
        article presents a practical roadmap for scholarly data repositories to implement
        data citation in accordance with the Joint Declaration of Data Citation Principles,
        a synopsis and harmonization of the recommendations of major science policy
        bodies. The roadmap was developed by the Repositories Expert Group, as part
        of the Data Citation Implementation Pilot (DCIP) project, an initiative of
        FORCE11.org and the NIH BioCADDIE (<jats:ext-link xmlns:xlink=\"http:\/\/www.w3.org\/1999\/xlink\"
        ext-link-type=\"uri\" xlink:href=\"https:\/\/biocaddie.org\">https:\/\/biocaddie.org<\/jats:ext-link>)
        program. The roadmap makes 11 specific recommendations, grouped into three
        phases of implementation: a) required steps needed to support the Joint Declaration
        of Data Citation Principles, b) recommended steps that facilitate article\/data
        publication workflows, and c) optional steps that further improve data citation
        support provided by data repositories.<\/jats:p>","DOI":"10.1101\/097196","type":"posted-content","created":{"date-parts":[[2016,12,29]],"date-time":"2016-12-29T06:10:15Z","timestamp":1482991815000},"source":"Crossref","is-referenced-by-count":15,"title":["A
        Data Citation Roadmap for Scholarly Data Repositories"],"prefix":"10.1101","author":[{"ORCID":"http:\/\/orcid.org\/0000-0003-1419-2405","authenticated-orcid":false,"given":"Martin","family":"Fenner","sequence":"first","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0003-1304-1939","authenticated-orcid":false,"given":"Merc\u00e8","family":"Crosas","sequence":"additional","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0001-5212-7052","authenticated-orcid":false,"given":"Jeffrey","family":"Grethe","sequence":"additional","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0002-9377-0797","authenticated-orcid":false,"given":"David","family":"Kennedy","sequence":"additional","affiliation":[]},{"ORCID":"http:\/\/orci[...]
- request:
    method: get
    uri: https://doi.org/ra/10.1101
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.1101",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 12 Mar 2023 19:25:02 GMT
recorded_with: VCR 6.1.0
