---
http_interactions:
- request:
    method: get
    uri: https://doi.pangaea.de/10.1594/PANGAEA.836178
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Cid:
      - d87eb8727875c001f87732a972a43312
      Link:
      - <https://doi.org/10.1594/PANGAEA.836178>;rel="cite-as", <https://doi.pangaea.de/10.1594/PANGAEA.836178?format=metadata_dif>;rel="describedby";type="application/vnd.nasa.dif-metadata+xml",
        <https://doi.pangaea.de/10.1594/PANGAEA.836178?format=metadata_jsonld>;rel="describedby";type="application/ld+json",
        <https://doi.pangaea.de/10.1594/PANGAEA.836178?format=metadata_datacite4>;rel="describedby";type="application/vnd.datacite.datacite+xml",
        <https://doi.pangaea.de/10.1594/PANGAEA.836178?format=citation_ris>;rel="describedby";type="application/x-research-info-systems",
        <https://doi.pangaea.de/10.1594/PANGAEA.836178?format=citation_text>;rel="describedby";type="text/x-bibliography",
        <https://doi.pangaea.de/10.1594/PANGAEA.836178?format=metadata_panmd>;rel="describedby";type="application/vnd.pangaea.metadata+xml",
        <https://doi.pangaea.de/10.1594/PANGAEA.836178?format=metadata_iso19139>;rel="describedby";type="application/vnd.iso19139.metadata+xml",
        <https://doi.pangaea.de/10.1594/PANGAEA.836178?format=citation_bibtex>;rel="describedby";type="application/x-bibtex",
        <https://store.pangaea.de/Publications/JohanssonE_et_al_2014/johansson_etal-2014.zip>;rel="item";type="application/zip",
        <https://orcid.org/0000-0002-6553-8982>;rel="author", <https://orcid.org/0000-0001-6058-1466>;rel="author"
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\n<meta charset=\"UTF-8\">\r\n<meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1, minimum-scale=1,
        maximum-scale=1, user-scalable=no\">\r\n<link rel=\"stylesheet\" href=\"//fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,700,700italic,600italic,300,300italic,800,800italic\">\n<link
        rel=\"stylesheet\" href=\"//www.pangaea.de/assets/v.a07178c340e5ef1cabfe93b78f306ceb/bootstrap-24col/css/bootstrap.min.css\">\n<link
        rel=\"stylesheet\" href=\"//www.pangaea.de/assets/v.a07178c340e5ef1cabfe93b78f306ceb/css/pangaea.css\">\n<!--[if
        lte IE 9]>\r\n<style>#topics-pulldown-wrapper label:after { display:none;
        }</style>\r\n<![endif]-->\r\n<link rel=\"shortcut icon\" href=\"//www.pangaea.de/assets/v.a07178c340e5ef1cabfe93b78f306ceb/favicon.ico\">\r\n<link
        rel=\"icon\" href=\"//www.pangaea.de/assets/v.a07178c340e5ef1cabfe93b78f306ceb/favicon.ico\"
        type=\"image/vnd.microsoft.icon\">\r\n<link rel=\"image_src\" type=\"image/png\"
        href=\"https://www.pangaea.de/assets/social-icons/pangaea-share.png\">\r\n<meta
        property=\"og:image\" content=\"https://www.pangaea.de/assets/social-icons/pangaea-share.png\">\r\n<script
        type=\"text/javascript\" src=\"//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js\"></script>\n<script
        type=\"text/javascript\" src=\"//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js\"></script>\n<script
        type=\"text/javascript\" src=\"//cdnjs.cloudflare.com/ajax/libs/jquery.appear/0.4.1/jquery.appear.min.js\"></script>\n<script
        type=\"text/javascript\" src=\"//cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js\"></script>\n<script
        type=\"text/javascript\" src=\"//www.pangaea.de/assets/v.a07178c340e5ef1cabfe93b78f306ceb/bootstrap-24col/js/bootstrap.min.js\"></script>\n<script
        type=\"text/javascript\" src=\"//www.pangaea.de/assets/v.a07178c340e5ef1cabfe93b78f306ceb/js/datacombo-min.js\"></script>\n<title>Johansson,
        E et al. (2014): Hydrological and meteorological investigations in a lake
        near Kangerlussuaq, west Greenland</title>\n<meta name=\"title\" content=\"Hydrological
        and meteorological investigations in a lake near Kangerlussuaq, west Greenland\"
        />\n<meta name=\"author\" content=\"Johansson, Emma; Berglund, Sten; Lindborg,
        Tobias; Petrone, Johannes; van As, Dirk; Gustafsson, Lars-Göran; Näslund,
        Jens-Ove; Laudon, Hjalmar\" />\n<meta name=\"[...]
