---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/members/4374
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1696466957315,"primary-name":"eLife
        Sciences Publications, Ltd","counts":{"current-dois":22741,"backfile-dois":28286,"total-dois":51027},"breakdowns":{"dois-by-issued-year":[[2023,8158],[2022,7328],[2021,7255],[2020,6186],[2019,4848],[2017,4118],[2018,4058],[2016,3512],[2015,2808],[2014,1786],[2013,811],[2012,159]]},"prefixes":["10.7554"],"coverage":{"affiliations-current":0.8376940328041863,"similarity-checking-current":0.0,"descriptions-current":0.0,"ror-ids-current":0.4925465019128446,"funders-backfile":0.3052039878385067,"licenses-backfile":0.9999646468217493,"funders-current":0.2229013675739853,"affiliations-backfile":0.9898182846637913,"resource-links-backfile":0.3481227462348865,"orcids-backfile":0.8474863890263735,"update-policies-current":0.2433050437535728,"ror-ids-backfile":0.002333309764547833,"orcids-current":0.7908623191592278,"similarity-checking-backfile":0.0,"references-backfile":0.3392137453157039,"descriptions-backfile":0.0,"award-numbers-backfile":0.2866082160786255,"update-policies-backfile":0.0714487732447147,"licenses-current":1.0,"award-numbers-current":0.2156457499670199,"abstracts-backfile":0.34048645973273,"resource-links-current":0.2433050437535728,"abstracts-current":0.3094850710171057,"references-current":0.2367969746273251},"prefix":[{"name":"eLife
        Sciences Publications, Ltd.","value":"10.7554"}],"id":4374,"tokens":["elife","sciences","publications","ltd"],"counts-type":{"all":{"peer-review":34061,"journal-article":15382,"journal":1,"component":143802,"posted-content":1584},"backfile":{"peer-review":18437,"journal-article":9849},"current":{"peer-review":15624,"journal-article":5533,"posted-content":1584}},"coverage-type":{"all":{"peer-review":{"last-status-check-time":1696466957315,"affiliations":0.8925750858753413,"abstracts":0.0,"orcids":0.7939285399724025,"licenses":1.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"ror-ids":0.2386306919937759,"update-policies":0.0,"resource-links":0.0,"descriptions":0.0},"journal-article":{"last-status-check-time":1696466957315,"affiliations":0.9795215186581719,"abstracts":0.9806917175919906,"orcids":0.882655051358731,"licenses":0.9999349889481212,"references":0.9738655571447146,"funders":0.8907814328435834,"similarity-checking":0.0,"award-numbers":0.8458587959953192,"ror-ids":0.2040696918476141,"update-policies":0.4910934858926017,"resource-links":0.9998699778962424,"descriptions":0.0},"journal":{"last-status-check-time":1696466957315,"affiliations":0.0,"a[...]
- request:
    method: get
    uri: https://doi.org/ra/10.7554
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "DOI": "10.7554",
            "RA": "Crossref"
          }
        ]
  recorded_at: Thu, 05 Oct 2023 21:11:09 GMT
recorded_with: VCR 6.2.0
