---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.5005/jp/books/12414_3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,3,30]],"date-time":"2022-03-30T03:38:02Z","timestamp":1648611482713},"reference-count":0,"publisher":"Jaypee
        Brothers Medical Publishers (P) Ltd.","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.5005\/jp\/books\/12414_3","type":"book-chapter","created":{"date-parts":[[2016,1,20]],"date-time":"2016-01-20T23:44:05Z","timestamp":1453333445000},"page":"27-27","source":"Crossref","is-referenced-by-count":0,"title":["Physical
        Examinations"],"prefix":"10.5005","author":[{"given":"Ashis","family":"Saha","sequence":"first","affiliation":[]}],"member":"2914","published-online":{"date-parts":[[2015]]},"container-title":["Clinical
        Methods and Interpretation in Medicine"],"original-title":[],"deposited":{"date-parts":[[2019,8,3]],"date-time":"2019-08-03T10:10:08Z","timestamp":1564827008000},"score":1,"resource":{"primary":{"URL":"https:\/\/www.jaypeedigital.com\/book\/9789351526285\/chapter\/ch2"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2015]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.5005\/jp\/books\/12414_3","relation":{},"published":{"date-parts":[[2015]]}}}'
  recorded_at: Sun, 12 Mar 2023 22:21:09 GMT
- request:
    method: get
    uri: https://doi.org/ra/10.5005
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "DOI": "10.5005",
            "RA": "Crossref"
          }
        ]
  recorded_at: Sun, 12 Mar 2023 22:21:09 GMT
recorded_with: VCR 6.1.0
